/*------------------------------------*\
  _btn.scss
  ___
  按鈕
\*------------------------------------*/


/*------------------------------------*\
  btn
\*------------------------------------*/
.btn {
  @extend %last-no-margin;
  display: inline-block;
  text-align: center;
  border-radius: 40px;
  cursor: pointer;
  @include transition();
  &:active {
    opacity: 0.6;
  }
  // disabled
  &:disabled {
    background-color: #d4d4d4;
    cursor: default;
    &:hover, &:active {
      opacity: 1;
    }
  }
}

/*------------------------------------*\
  按鈕尺寸
  height 52
\*------------------------------------*/
.btn-dialog {
  @extend .btn;
  // @include transition();
  flex: 1 1 auto;
  min-width: 240px;
  height: 52px;
  margin-right: 12px;
  padding: 8px 20px;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  &:disabled {
    cursor: default;
    background-color: #aaa;
    &:hover,
    &:active {
      background: #aaa;
    }
  }
  @include screen-width($width-mid) {
    height: 40px;
    font-size: 16px;
    line-height: 24px;
  }
}
%btn-main {
  padding: 8px;
  font-size: 20px;
  line-height: 32px;
  @include screen-width($width-mid) {
    font-size: 14px;
    line-height: 20px;
  }
}

/*------------------------------------*\
  btn box
\*------------------------------------*/
.btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &.tL { justify-content: flex-start; }
  &.tR { justify-content: flex-end; }

  
  @include screen-width($width-mid) {
    &.md-block {
      display: block;
      .btn {
        display: block;
        margin: 0 0 12px;
        &:nth-last-child(1) {
          margin: 0;
        }
      }
    }
  }

  @include web-only {
    .web-order-1 { order: 1; margin-right: 12px; }
    .web-order-2 { order: 2; margin: 0;}
  }
}

/*------------------------------------*\
  btn - color
\*------------------------------------*/
.btn-primary {
  color: #fff;
  background-color: #6CCF53;
  @extend %link-action;
  &.loading {
    opacity: 0.6;
    .loading-text {
      position: relative;
      padding-right: 26px;
      @include transition(padding);
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;
        background: url(../images/inner/searchFunc-load-1.png);
        animation: loading_spin .8s linear 0s infinite;
      }
    }
  }
}
.btn-secondary {
  color: #fff;
  background-color: #FFBD35;
  @extend %link-action;
}
.btn-danger {
  color: #fff;
  background-color: #EF5A5A;
  @extend %link-action;
}
.btn-cancel {
  color: #707070;
  background-color: #eaeaea;
  @extend %link-action;
  @include screen-width($width-mid) {
    &,
    &:hover,
    &:active {
      background-color: #fff;
    }
  }
}
.btn-gray {
  color: #fff;
  background-color: #d4d4d4;
  @extend %link-action;
}
.btn-back {
  color: #5bb350;
  background-color: #eaeaea;
  @extend %link-action;
}
// .btn-line
.btn-line {
  color: #333;
  border: solid 1px #494949;
  @extend %link-action;
}




/*------------------------------------*\
  btn - 看更多
\*------------------------------------*/
.btn-more {
  padding: 8px 36px 8px 8px;
  font-size: 20px;
  line-height: 32px;
  color: #707070;
  background: url(../images/icon-link-1.svg) right 8px center no-repeat;
  background-size: 28px;
  @include transition();
  // span {
  //   @include transition(border);
  //   border-bottom: solid 1px transparent;
  // }
  // &:hover span {
  //   border-bottom: solid 1px;
  // }
  &:hover {
    color: #5bb350;
    background: url(../images/icon-link-3.svg) right 8px center no-repeat;
    background-size: 28px;
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
    @include screen-width($width-mid) {
      padding: 10px 32px 10px 8px;
      font-size: 14px;
      line-height: 20px;
    }
    @include screen-width($width-mobile) {
      padding: 2px 24px 2px 0;
    }

  // white
  &--white {
    @extend .btn-more;
    color: #fff;
    background: url(../images/icon-link-2.svg) right 8px center no-repeat;
    background-size: 28px;
    &:hover {
      color: #fff;
      background: url(../images/icon-link-2.svg) right 8px center no-repeat;
      background-size: 28px;
    }
  }
  // primary
  &--primary {
    @extend .btn-more;
    color: #5bb350;
    background: url(../images/icon-link-3.svg) right 8px center no-repeat;
    background-size: 28px;
    &:hover {
      color: #5bb350;
      background: url(../images/icon-link-3.svg) right 8px center no-repeat;
      background-size: 28px;
    }
  }

}
.btn-more, .btn-more--white {
  @include screen-width($width-mid) {
    &, &:hover {
      background-position: right 8px center;
      background-size: 24px;
    }
  }
  @include screen-width($width-mobile) {
    &, &:hover {
      background-position: right center;
      background-size: 24px;
    }
  }
}




/*------------------------------------*\
  btn - 看更多
\*------------------------------------*/
.btn-store {
  height: 40px;
  padding: 8px 20px 8px 52px;
  font-weight: 500;
  border-radius: 20px;
  @extend %link-action;
  &-love {
    color: #5BB350;
    background: #eaeaea url(../images/inner/btn-shop-love.svg) left 20px center no-repeat;
    &.on {
      color: #EF5A5A;
      background-image: url(../images/btn-love-on.svg);
      background-size: 28px;
    }
  }
  &-buy {
    color: #fff;
    background: #6CCF53 url(../images/inner/btn-shop-buy.svg) left 20px center no-repeat;
    ;
  }
  &-notice {
    color: #fff;
    background: #FFBD35 url(../images/inner/btn-shop-notice.svg) left 20px center no-repeat;
    ;
  }
  &.disabled {
    cursor: default;
    background-color: #d4d4d4;
    &:hover, &:active {
      opacity: 1;
    }
  }
}






