/*------------------------------------*\
  _chip.scss
  ___
  標籤按鈕
\*------------------------------------*/
.chip {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 20px;
}

/*------------------------------------*\
  chip - 搜尋紀錄
\*------------------------------------*/
.chip-log,
.chip-hot,
.chip-fold {
  background: #eaeaea;
  @include transition();
  &:hover {
    background: #b7b7b7;
  }
  &:active {
    opacity: 0.6;
  }
  @include screen-width($width-mid) {
    font-size: 14px;
    line-height: 20px;
  }
}
.chip-log {
  position: relative;
  padding: 8px 36px 8px 12px;
  .close {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url(../images/inner/inner-chip-close-1.svg) center center;
    background-size: 100%;
    @include transition();
    &:hover {
      background: url(../images/inner/inner-chip-close-2.svg) center center;
      background-size: 100%;
    }
  }
    @include screen-width($width-mid) {
      padding: 4px 26px 4px 16px;
      .close {
        width: 16px;
        height: 16px;
        top: 6px;
        right: 6px;
      }
    }
}
// 清除
.chip-clear {
  padding: 7px 12px;
  border: 1px solid #EAEAEA;
  @extend %link-action;
}


/*------------------------------------*\
  chip - 熱門
\*------------------------------------*/
.chip-hot {
  padding: 8px 12px;
  .text {
    &::before {
      content: "＃";
    }
  }
    @include screen-width($width-mid) {
      padding: 4px 16px;
    }
}



/*------------------------------------*\
  chip - 摺疊
  ---
  目前僅搜尋使用
\*------------------------------------*/
.chip-fold { display: none; }
@include screen-width($width-mobile) {
  .chip-box--fold {
    position: relative;
    height: 80px;
    overflow: hidden;
    padding-right: 32px;
    @include transition();
  }
  .chip-fold {
    display: block;
    width: 32px;
    height: 28px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #eaeaea url(../images/inner/inner-chip-fold.svg) center center no-repeat;
    background-size: 16px;
    &:hover {
      background: #b7b7b7 url(../images/inner/inner-chip-fold.svg) center center no-repeat;
        background-size: 16px;
    }
  }
  .chip-box--fold.open {
    height: 'auto';
    padding-right: 0;
    .chip-fold {
      display: none;
    }
  }
}




/*------------------------------------*\
  搜尋結果篩選 filter-box
\*------------------------------------*/
.filter-box {
  display: flex;
  flex-wrap: wrap;
  height: 56px;
  padding: 8px 16px 0;
  .chip {
    flex: 0 0 auto;
    margin: 0 12px 8px 0;
  }
  @include screen-width($width-mid) {
    &.md-none {
      display: none;
    }
  }
}


