/*------------------------------------*\
  _index_bannerSwiper.scss
  ___
  index頁 header 下方 banner
  持有點數選單
\*------------------------------------*/
.headBanner {
  position: relative;
  z-index: 2;
  margin-bottom: 8px;
}

.bannerSwiper {
  .pagesize {
    display: flex;
    justify-content: center;
  }
  .imgbox img {
    margin: 0 auto;
  }
}

// 切換
.bannerSwiper-switch {
  position: absolute;
  z-index: 10;
  top: 50%;
  right: calc(50% + 444px);
  transform: translateY(-50%);
  min-width: 216px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  @media all and (max-width: 1350px) {
    right: auto;
    left: 16px;
  }
  @include screen-width($width-max) {
    display: none;
  }
  .swiper-slide {
    position: relative;
    cursor: pointer;
    padding: 14px 8px;
    color: #494949;
    font-size: 16px;
    line-height: 24px;
    border: 2px solid transparent;
    &:nth-child(1) {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }
    &:nth-last-child(1) {
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }
    @include transition();
    &:hover {
      background: #D6ECD3;
    }
    &:active {
      background: #fff;
      border-color: #5bb350;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -3px;
      left: -2px;
      right: -2px;
      height: 1px;
      background-color: #d4d4d4;
    }
  }
  .swiper-slide-thumb-active {
    background: #fff;
    border-color: #5bb350;
  }
}

.bannerSwiper-main {
  .swiper-pagination {
    display: none;
  }
}


/*------------------------------------*\
  持有點數
\*------------------------------------*/
.hamiPointNav {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: calc(50% + 384px);
  transform: translateY(-50%);
  width: 276px;
  height: 320px;
  background: linear-gradient(100.48deg, rgba(249, 249, 249,1) 7.71%, rgba(255, 255, 255, 0.67) 95.77%);
  border-radius: 16px;
    @media all and (max-width: 1350px) {
      left: auto;
      right: 16px;
    }
    @include screen-width($width-max) {
      top: 0;
      right: 0;
      z-index: 10;
      transform: translateY(0);
      border-radius: 0;
    }
    @include screen-width($width-mid) {
      position: static;
      width: 100%;
      height: auto;
      display: flex;
      border-radius: 16px;
    }
    @include screen-width($width-mobile) {
      display: block;
    }

  &-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 10px;
    padding: 14px 12px 12px;
      @include screen-width($width-mid) {
        flex: 0 0 auto;
        display: flex;
        grid-column-gap: 0px;
        padding: 16px;
      }
      @include screen-width($width-mobile) {
        padding: 5px 16px 12px;
      }
  }
}
// title
.hamiPointNav-title {
  padding: 20px 10px 0 55px;
  background: url(../images/index-bannerArea/index-hamiPointNav-bg.png) left top no-repeat;
  @include screen-width($width-mid) {
    padding: 16px 10px 0 48px;
  }
  .num {
    @extend .font-eng;
    font-size: 36px;
    line-height: 40px;
    color: #5bb350;
    @include screen-width($width-mid) {
      font-size: 32px;
    }
  }
  .icon-hami {
    width: 20px;
    height: 20px;
    margin-right: 4px;
      @include screen-width($width-mobile) {
        width: 16px;
        height: 16px;
      }
  }
    @include screen-width($width-mid) {
      flex: 1 1 auto;
    }
}

// btn
.hamiPointNav-btn {
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
  border: 1px solid #EDEDED;
  border-radius: 8px;
  @extend %last-no-margin, %link-action;
    @include screen-width($width-mid) {
      width: 72px;
      height: 72px;
      margin-right: 8px;
      font-size: 12px;
      line-height: 20px;
    }
    @include screen-width($width-mobile) {
      flex: 1 1 auto;
      width: 100%;
      margin-right: 10px;
    }
    @include screen-width($width-small) {
      margin-right: 8px;
    }
  &:hover {
    color: #5bb350;
    border-color: #5bb350;
  }
  .icon {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto 4px;
    @include transition();
      @include screen-width($width-mid) {
        width: 28px;
        height: 28px;
      }
  }
}
@for $i from 1 through 5 {
  .hamiPointNav-btn .icon-#{$i} {
    background: url(../images/index-contentSide/index-contentSide-icon-#{$i}.svg) center center no-repeat;
    background-size: 100%;
  }
  .hamiPointNav-btn:hover .icon-#{$i},
  .hamiPointNav-btn:active .icon-#{$i} {
    background: url(../images/index-contentSide/index-contentSide-icon-#{$i}-on.svg) center center no-repeat;
    background-size: 100%;
  }
}

// 未登入
.hamiPointNav--login {
  .hamiPointNav-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url(../images/index-bannerArea/index-hamiPointNav-login-bg.png) left top no-repeat;
    background-size: auto;
    padding: 0 12px;
    @include screen-width($width-mid) {
      display: block;
      width: 100%;
    }
  }
  .hamiPointNav-text {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .text span {
      display: block;
    }
    @include screen-width($width-mid) {
      padding: 16px 36px 8px;
      .text {
        font-size: 16px;
        line-height: 24px;
        span { display: inline; }
      }
    }
  }
  .hamiPointNav-loginbtn {
    flex: 0 0 auto;
    padding: 8px 0;
    text-align: right;
    border-top: solid 1px #d4d4d4;
    .btn {
      display: inline-block;
      padding: 8px 36px 8px 8px;
      font-size: 20px;
      line-height: 32px;
      background: url(../images/icon-link-1.svg) right 6px center no-repeat;
      @include screen-width($width-mid) {
        padding: 0 24px 0 0;
        font-size: 14px;
        line-height: 24px;
        background-position: right center;
        background-size: 24px;
      }
    }
  }
}


/*------------------------------------*\
  RWD
\*------------------------------------*/
@include screen-width($width-max) {
  .headBanner {
    // display: flex;
    
  }
  .bannerSwiper-main {
    .swiper-slide {
      padding-right: 276px;
    }
    .imgbox img {
      width: auto;
      max-width: unset;
      height: 320px;
    }
  }
}

@include screen-width($width-mid) {
  .headBanner {
    // padding: 0 16px;
  }
  .bannerSwiper {
    // display: none;
    
    &-main {
      &.swiper {
        padding: 16px 0 15px;
      }
      .swiper-slide,
      .pagesize {
        padding: 0;
      }
      .swiper-slide {
        border-radius: 16px;
        overflow: hidden;
      }
      .imgbox {
        img {
          width: 100%;
          // max-width: unset;
          height: auto;
        }
      }
      .swiper-pagination {
        display: block;
        bottom: 4px;
        .swiper-pagination-bullet {
          @include transition();
          &::after {
            content: "";
            display: block;
            width: 8px;
            height: 6px;
            background: transparent;
            border-radius: 3px;
            @include transition(background-color);
          }
        }
        .swiper-pagination-bullet-active {
          width: 15px;
        }
      }
    }
  }
  .hamiPointNav {
    max-width: calc(100% - 32px);
    margin: 0 16px;
  }
}




