/*------------------------------------*\
  _index_storePromo.scss
  ___
  商店活動
  商店VIP禮遇
\*------------------------------------*/

// 商店活動
.storeTicket {
  padding: 16px 0;
  &-area {
    padding: 0 0 32px;
  }
  &-inner {
    position: relative;
      z-index: 2;
    margin: 0 20px;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
  }
  // JS
  .swiper {
    padding: 8px 0 8px 8px;
  }
  .swiper-slide {
    width: auto;
  }
}

// banner
.storeTicket-banner {
  @extend %imgbox;
  margin-bottom: -15px;
}

// 文字+圖
.storeTicket-desc {
  position: relative;
  .textbox {
    position: relative;
    z-index: 3;
    height: 145px;
    display: flex;
    flex-direction: column;
    padding: 10px 0 7px 32px;
  }
  .title {
    @extend .fs-h2;
    margin-bottom: 8px;
    font-weight: 500;
  }
  .desc {
    @extend .fs-h4;
    flex: 1 1 auto;
  }
  // star
  .decoIcon {
    width: 22px;
    height: 22px;
  }
  // link
  .goto {
    position: relative;
    .link {
      position: relative;
      display: inline-block;
      font-size: 20px;
      line-height: 32px;
      padding-right: 19px;
      background: url(../images/index-storePromo/storePromo-link.svg) right bottom no-repeat;
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 20px;
        height: 100%;
        background: url(../images/index-storePromo/storePromo-link-2.svg) left bottom repeat-x;
      }
    }
    .decoIcon {
      position: absolute;
      top: -7px;
      left: -12px;
    }
  }
  // img
  .decoImg {
    position: absolute;
    top: 0;
    right: 0;
    &-bg {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: 357px;
      height: 144px;
      margin-top: 16px;
      border-top-left-radius: 60px;
    }
    &-img {
      @extend %imgbox;
      width: 360px;
      height: 160px;
      position: relative;
      z-index: 2;
      img {
        object-position: left top;
      }
    }
    .decoIcon {
      position: absolute;
      top: 16px;
      left: 0;
    }
  }
}

// VIP
@each $name, $value in $vipColor {
  $deco: map-get($value, deco);
  $bg: map-get($value, bg);
  .storeTicket.vip-#{$name} {
    .storeTicket-area {
      background-color: $bg;
    }
    .decoIcon {
      color: $deco;
    }
    .decoImg-bg {
      background-color: $deco;
    }
    .decoImg-img {
      background: url(../images/index-storePromo/storePromo-vip-#{$name}.svg) left top no-repeat;
      background-size: auto 100%;
      @include screen-width($width-mid) {
        background-position: left -24px top -4px;
        height: 124px;
      }
      @include screen-width($width-xs) {
        top: 11px;
        height: 90px;
        background-position: left -7px top;
      }
    }
  }
}

// mid
@include screen-width($width-mid) {
  .storeTicket {
    &-area {
      padding: 0 0 16px;
    }
    &-inner {
      margin: 0 8px;
    }
  }
  .storeTicket-desc {
    .textbox {
      height: 106px;
      padding: 16px 0 6px 12px;
    }
    .title {
      margin-bottom: 4px;
    }
    .desc {
      line-height: 20px;
    }
    .decoIcon {
      transform: scale(0.727);
      transform-origin: left top;
    }
    .goto {
      .link {
        padding-right: 11px;
        font-size: 14px;
        line-height: 20px;
      }
      .decoIcon {
        top: -1px;
        left: -8px;
      }
    }
    .decoImg {
      .decoIcon {
        top: 9px;
        left: auto;
        right: 195px;
      }
    }
    .decoImg-bg {
      width: 216px;
      height: 111px;
      margin-top: 9px;
    }
    .decoImg-img {
      width: 200px;
      height: auto;
    }
  }
}

// mobile
@include screen-width($width-mobile) {
  .storeTicket {
    &-area {
    }

    &-inner {
      margin: 0 6px;
    }
  }
  .storeTicket-desc {
    .textbox {
      padding-bottom: 10px;
    }
    .goto {
      .link {
        padding-right: 19px;
        font-size: 12px;
      }
      .decoIcon {
      }
    }
    .decoImg .decoIcon {
      right: 138px;
    }
    .decoImg-bg {
      width: 159px;
    }
    .decoImg-img {
      width: 168px;
      height: 120px;
    }
  }
}
@include screen-width($width-xs) {
  .storeTicket-desc {
    .decoImg .decoIcon {
      top: 20px;
      right: 99px;
    }
    .decoImg-bg {
      margin-top: 20px;
      width: 120px;
    }
    .decoImg-img {
      width: 120px;
    }
  }
}



/*------------------------------------*\
  多商店
\*------------------------------------*/
@each $name,
$value in $themePromoColor {
  $dark: map-get($value, text);
  $light: map-get($value, bg);
  .storePromo-area.theme-#{$name} {
    background: linear-gradient(to bottom, $dark 0%, $light 50%, $dark 100%);
  }
}
.storePromo {
  padding: 12px 0;
}
.storePromo-title {
  color: #fff;
  .textbox {
    display: block;
    height: auto;
    padding: 24px 32px 16px;
  }
  .desc {
    margin-bottom: 12px;
  }
  .goto {
    .link {
      background: url(../images/index-storePromo/storePromo-link-3.svg) right bottom no-repeat;
      &::after {
        background: url(../images/index-storePromo/storePromo-link-4.svg) left bottom repeat-x;
      }
    }
  }
}
.storePromo-inner {
  .storeTicket {
    padding: 16px;
  }
  .storeTicket-area {
    padding: 0;
    border-radius: 16px;
    overflow: hidden;
  }
  .storeTicket-desc {
    margin-bottom: -15px;
    padding-bottom: 15px;
    .textbox {
      padding: 10px 24px 7px;
    }
  }
  .storeTicket-inner {
    margin: 0;
    border-radius: 8px;
  }
}
.storePromo-btn {
  padding: 20px 12px 24px;
  .btn {
    @extend %link-action, .fs-h3;
    display: block;
    padding: 8px 0px;
    font-weight: 500;
    background: #fff;
  }
}

// mid
@include screen-width($width-mid) {
  .storePromo-title {
    .textbox {
      padding: 16px 16px 24px;
    }
  }
  .storePromo-inner {
    .storeTicket {
      padding: 8px;
    }
    .storeTicket-desc .textbox {
      padding: 16px 12px 10px;
    }
    .decoImg-img img {
      object-fit: contain;
      object-position: left bottom;
    }
  }
  .storePromo-btn {
    padding: 8px 8px 20px;
    .btn {
      padding: 10px 0px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}


/*------------------------------------*\
  多商店 - 左右兩欄
\*------------------------------------*/
.storeColumn {
  padding: 16px 12px;
  @include screen-width($width-mobile) {
    padding: 8px;
  }
  &-area {
    background-color: #fff;
    border-radius: 16px;
  }
  &-main {
    display: flex;
    align-items: stretch;
  }
}
// title
.storeColumn-title {
  flex: 0 0 auto;
  width: 454px;
  margin: 8px;
  border-radius: 8px;
}
// title - banner
.storeColumn-banner {
  @extend %imgbox;
  position: relative;
  img {
    border-radius: 8px;
    overflow: hidden;
  }
  .textbox {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    padding: 8px;
    text-align: center;
  }
  .title {
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
  }
  .desc {
    font-size: 16px;
    line-height: 24px;
  }
}
// title - banner text
.storeColumn-bannerText {
  @extend .storeColumn-banner;
  img {
  }
  .textbox {
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
  }
  .title {
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
  }
  .desc {
    font-size: 16px;
    line-height: 24px;
  }
}
// title - png text
.storeColumn-desc {
  @extend .storeColumn-banner;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  .decoImg {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
  }
  img {
    position: relative;
    z-index: 3;
    object-fit: contain;
    object-position: center bottom;
  }
  .decoImg-bg {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    width: 120%;
    height: 110%;
    border-radius: 250px;
  }
}

// inner
.storeColumn-inner {
  max-width: calc(100% - 470px);
  padding: 24px 18px 24px 8px;
  .swiper {
    margin-bottom: 5px;
  }
}
.storeColumn .storePromo-btn {
  padding: 0 14px;
  .btn {
    display: block;
    background-color: #eaeaea;
    .btn-more {
      color: #333;
      &:hover {
        color: #333;
        background: url(../images/icon-link-1.svg) right center no-repeat;
        background-size: 24px;
      }
    }
  }
}


// 商品連結
.storeColumn-link {
  @extend .prodBox;
  display: flex;
  margin-bottom: 16px;
  .storeColumn-link-img {
    flex: 0 0 auto;
    width: 108px;
    height: 108px;
    overflow: hidden;
    margin-right: 8px;
  }
  .storeColumn-link-text {
    width: calc(100% - 108px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .prodBox-name {
    flex: 0 0 auto;
    white-space: normal;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.storeColumn-foot {
  display: none;
  position: relative;
  padding: 8px;
  .storePromo-btn {
    padding: 0;
  }
  .swiper-pagination {
    bottom: auto;
    top: -10px;
    .swiper-pagination-bullet {
      width: 4px;
      height: 4px;
      transition: 0.2s;
    }
    .swiper-pagination-bullet-active {
      width: 8px;
    }
  }
}

@include screen-width($width-mid) {
  // title
  .storeColumn-title {
    width: 158px;
    .textbox {
      .title {
        font-size: 16px;
        line-height: 24px;
      }
      .desc {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .storeColumn-desc {
    .decoImg-bg {
      width: 208px;
      height: 184px;
      bottom: -51px;
    }
    img {
      bottom: 24px;
    }
  }
  .storeColumn-bannerText {
    img {
      object-fit: contain;
      object-position: center bottom;
    }
    .textbox {
      background: none;
    }
  }
  // inner
  .storeColumn-inner {
    max-width: calc(100% - 174px);
    padding: 8px 12px 8px 4px;
    .swiper {
      margin-bottom: 0;
    }
  }
  
  .storePromo-btn {
    // padding: 0;
    font-size: 14px;
    line-height: 20px;
    .btn {
      padding: 6px 0;
      .btn-more, .btn-more:hover {
        background-size: 24px;
        background-position: right center;
      }
    }
  }
  
  .storeColumn-link {
    margin-bottom: 8px;
    &:nth-last-child(1) {
      margin-bottom: 4px;
    }
    .storeColumn-link-img {
      width: 80px;
      height: 80px;
    }
    .storeColumn-link-text {
      width: calc(100% - 80px);
    }
    .prodBox-name {
      font-size: 14px;
      line-height: 20px;
    }
    .text-price .num {
      font-size: 16px;
      line-height: 1.5em;
    }
  }
}

@include screen-width($width-mobile) {
  // title
  .storeColumn-title {
    width: 132px;
    margin-right: 4px;
  }
  .storeColumn-desc {
    .decoImg-bg {
      bottom: -100px;
    }
    img {
      bottom: 0;
    }
    .textbox {
      top: 0;
      padding-top: 24px;
    }
  }
  .storeColumn-inner {
    max-width: calc(100% - 144px);
    padding-right: 8px;
    padding-left: 0;
    .storePromo-btn {
      display: none;
    }
  }
  .storeColumn-foot {
    display: block;
  }
  .storeColumn-link {
    .prodBox-name {
      font-size: 14px;
    }
    .text-price {
      .num {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}