/*------------------------------------*\
  inner頁 AWD
\*------------------------------------*/
@use '../base/variables' as *;
@use '../frame/_mobile' as *;



.wrapper {
  padding-top: 50px;
}

// header
header {
  box-shadow: none;
  height: 50px;
  justify-content: space-between;
  &.ty-scroll {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .05);
  }
  .pagesize {
    height: 50px;
    justify-content: space-between;
    padding: 0 10px;
  }
  .m-func {
    display: flex;
    align-items: center;
    gap: 0 4px;
  }
}
.headLogo-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  img {
    height: 34px;
  }
  .text {
    font-size: 1.125em;
    font-weight: 500;
    color: #000;
  }
  &.hide { display: none; }
}
.headLogo-link.pointNum {
  display: none;
}

.headNav-list {
  display: none;
}


// 置頂點數
.topArea_point {
  text-align: center;
  font-weight: 700;
  .pagesize {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .pointNum {
    display: inline-block;
    font-size: 20px;
    line-height: 24px;
    vertical-align: text-bottom;
    margin-left: 8px;
  }
}


// pop
.popup.ty-bot {
  transition: all 0.3s ease-in-out;
  .popup-wrapper {
    justify-content: flex-end;
    padding: 80px 0 0;
  }
  .popup-content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-end;
    max-width: 600px;
    max-height: calc(100% - 80px);
    border-radius: 8px 8px 0 0;
    padding: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    @include screen($width-mobile) {
      max-width: 100%;
    }
  }
  .popup-head {
    padding: 24px 48px 16px;
    .popup-close {
      top: 24px; right: 24px;
    }
  }
  .popup-inner {
    padding: 0 24px 24px;
  }
  .popup-foot {
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
  }
  &.open {
    .popup-content {
      transform: translateY(0);
    }
  }
}



// 置底區塊
.mBotArea {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 16px 0;
  background: #fff;
  border-radius: 16px 16px 0 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}
// 商品數量
.setNumRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 8px;
  .inputbox {
    width: 45%;
    max-width: 140px;
  }
  .pointText {
    flex: 0 0 auto;
    font-size: 20px;
      line-height: 24px;
  }
  .pointNum {
    color: $text-color;
  }
}



// btn
.ty-selectRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  @include screen($width-xs) {
    grid-template-columns: 1fr 1fr;
  }
  .btn--select {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}



// list
.selectList {
  list-style: none;
  padding: 0;
  li {
    border-bottom: solid 1px #d9d9d9;
    &:nth-last-child(1) {
      border-bottom: none;
    }
  }
  a {
    display: block;
    padding: 12px 0;
  }
  .on {
    font-weight: 700;
    color: $color-main;
  }
}



// bgArea
.bgArea {
  padding: 16px 20px;
  background-color: #f9f9f9;
  &_block {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, .05);
  }
}



// 快速入口
.linkBrandSlide {
  @extend %swiperPagi;
  position: relative;
  padding: 24px 0;
  .swiper {
    padding: 24px 20px;
  }
  .swiper-slide {
    height: unset;
  }
  .swiper-pagination {
    position: absolute;
    top: auto;
    bottom: 8px;
  }
}
.linkBrandList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px 12px;
  @include screen($width-xs) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.linkBrand {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  img {
    display: block;
    width: 32px; height: 32px;
    border-radius: 8px;
    margin: 0 auto 4px;
  }
}



// memberProduct
.memberProduct-list {
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 0;
  @include screen($width-small) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.memberProduct-item.ty-sale,
.memberProduct-item.ty-traded {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0;
  position: relative;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  .imgCover--float {
    padding-top: 100%;
    border-radius: 8px 8px 0 0;
    width: revert; height: revert;
    img {
      transition: none;
      transform: none;
    }
  }
  .textbox {
    padding: 8px;
    .title {
      flex: 1 1 auto;
      -webkit-line-clamp: 2;
      font-size: 1rem;
      @include screen($width-mobile) {
        font-size: 14px;
      }
    }
  }
  .pointNum {
    font-size: 12px;
    line-height: 16px;
    color: $text-color;
    background-size: auto 100%;
    padding-left: 20px;
  }
}

.productSlideArea {
  padding-top: 16px;
  background-color: #FFFAF7;
  .topBn {
    padding: 16px 0;
  }
}
.productSlide {
  .swiper {
    padding: 16px 20px;
  }
  .swiper-slide {
    width: auto;
    height: auto;
  }
  .memberProduct-item {
    width: 130px;
    height: 100%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  }
}


// 品牌
.brandIcon {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  &.size-l {
    width: 120px; height: 120px;
  }
}

.memberProduct-item.ty-product {
  display: block;
  box-shadow: none;  
  .infobox {
    font-size: 12px;
    .ty-icon {
      padding-left: 20px;
      background-size: auto 16px;
    }
  }
}



// 商品
.m_descArea {
  font-size: 15px;
  line-height: 1.6em;
  padding: 16px 0;
  border-bottom: solid 1px $color-devider;
  &:last-child {
    border-bottom: none;
  }
}



