/*------------------------------------*\
  必要CSS檔
  ---
  如果SASS編譯出現子資料夾的檔案，請檢查設定
  "savePath": "~/../../css" //輸出資料夾
\*------------------------------------*/


/*------------------------------------*\
  此頁樣式
\*------------------------------------*/
@use "page/_index" as *;
