/*------------------------------------*\
  index頁
\*------------------------------------*/
@use '../base' as *;
@use '../parts/input' as *;
@use '../parts/btn' as *;
@use '../parts/indexCard' as *;

:root {
  --margin-block: 70px;
}
@include screen($width-mobile) {
  :root {
    --margin-block: 60px;
  }
}


// page
.wrapper.bg--index {
  background-image: url(../images/index-bg-01.svg);
  background-position: top 400px center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  @include screen($width-mobile) {
    background-position: top calc(270px + 46.6vw) center;
    background-size: auto 430px;
  }
  @include screen($width-small) {
    background-position: top calc(320px + 46.6vw) center;
    background-size: auto 430px;
  }
  .container {
    overflow: hidden;
  }
}



// title
.indexTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  @include screen($width-mobile) {
    margin-bottom: 12px;
  }
  &-title {
    font-size: 2em; font-weight: 700; color: $color-main;
    @include screen($width-mobile) {
      font-size: 1.5em; line-height: 1.5;
    }
    &.ty-icon {
      padding-left: 40px;
      @include screen($width-mobile) {
        padding-left: 28px;
      }
    }
    &.icon-hot {
      background: url(../images/indextitle-hot.svg) left center no-repeat;
    }
    &.icon-event {
      background: url(../images/indextitle-event.svg) left center no-repeat;
    }
    @include screen($width-mobile) {
      &.icon-hot,
      &.icon-event {
        background-size: 24px 24px;
      }
    }
  }
  .more {
    @extend %btnHover;
    display: block;
    font-weight: 500; color: $color-main;
    padding: 12px 24px;
    .text {
      padding-right: 24px;
      background: url(../images/indextitle-more.svg) right center no-repeat;
      background-size: auto 1em;
    }
  }
  &.top {
    .more {
      font-size: 1.5em;
      .text {
        padding-right: 32px;
      }
    }
  }
  @include screen($width-mobile) {
    .more,
    &.top .more {
      font-size: 0.875em;
      line-height: 1.5rem;
      padding: 0;
      .text {
        padding-right: 20px;
      }
    }
  }
}



/*------------------------------------*\
  banner
\*------------------------------------*/
.wrapper.bg--index .topBn {
  margin-bottom: 40px;
}



/*------------------------------------*\
  search
\*------------------------------------*/
.searchArea.ty--index {
  margin-bottom: 48px;
  .searchBox {
    margin-bottom: 24px;
    @include screen($width-mobile) {
      margin-bottom: 16px;
    }
  }
}
.searchTag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 16px;
  @include screen($width-mobile) {
    flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // align-items: center;
    gap: 12px;
  }
  &-title {
    text-align: center;
    font-size: 1.25em;
    line-height: 1.5em;
    color: $color-main;
    padding: 0 24px;
    @include screen($width-mobile) {
      flex: 0 0 100%;
      // grid-column-start: 1;
      // grid-column-end: 5;
    }
  }
  .btn--tag {
    color: #666;
    background-color: #f0f0f0;
    transition: all 0.2s ease-in-out;
    &:hover,&:focus {
      color: #fff;
      background-color: $color-main;
    }
  }
  @include screen($width-mobile) {
    .btn--tag {
      // flex: 1 1 auto;
      min-width: calc(25% - 12px);
    }
  }
  @include screen($width-small) {
    .btn--tag {
      // flex: 0 0 auto;
      min-width: calc(50% - 6px);
    }
  }
}




/*------------------------------------*\
  card
\*------------------------------------*/



// .cardInfo {
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-end;
//   line-height: 1.5em;
//   color: $text-gray;
//   @include screen($width-mobile) {
//     font-size: 13px;
//     line-height: 20px;
//   }
//   .view {
//     flex: 0 0 auto;
//     padding-left: 24px;
//     background: url(../images/infobox-view.svg) left center no-repeat;
//     @include screen($width-mobile) {
//       padding-left: 20px;
//       background-size: 16px 16px;
//     }
//   }
//   .time {
//     flex: 0 0 auto;
//     padding-left: 24px;
//     background: url(../images/infobox-time.svg) left center no-repeat;
//     @include screen($width-mobile) {
//       padding-left: 20px;
//       background-size: 16px 16px;
//     }
//   }
// }



/*------------------------------------*\
  卡片
\*------------------------------------*/
// 最新
.newestCard {
  &-area {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: stretch;
    gap: 0 24px;
    margin-bottom: var(--margin-block);
    @include screen($width-mid) {
      gap: 0 16px;
    }
    @include screen($width-mobile) {
      flex-direction: column;
      gap: 16px 0;
    }
  }
  &-row {
    flex: 1 1 50%;
    @include web-only {
      padding: 0 8px;
    }
  }
}



// 熱門+活動
.eventRow {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: stretch;
  gap: 0 24px;
  margin-bottom: var(--margin-block);
  &::before {
    content: "";
    display: block;
    width: 760px;
    height: 760px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translate(-60%,-25%);
    background: url(../images/index-bg-03.svg);
    background-size: cover;
    @include screen($width-mobile) {
      width: 100vw;
      height: 100vw;
      transform: translate(-50%, -35%);
    }
  }
  @include screen($width-mobile) {
    flex-direction: column;
    gap: var(--margin-block) 0;
    margin-bottom: 50px;
  }
  &-item {
    flex: 1 1 auto;
    position: relative;
    z-index: 2;
  }
  &-hot {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  &-event {
    flex: 0 0 auto;
    width: 32%;
    min-width: 320px;
    padding: 0 16px;
    @include screen($width-mobile) {
      width: 100%;
      min-width: auto;
      padding: 0;
    }
    .indexTitle .more {
      padding-left: 0;
      padding-right: 0;
    }
  }
}



// hot
.hotCard-list {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}



// event
.eventCard-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px 0;
}



// life
.lifeCard-area {
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-40%);
    width: 50%;
    padding-top: 100%;
    background: url(../images/index-bg-02.svg) right top no-repeat;
    background-size: 100% auto;
  }
  &-inner {
    position: relative;
    z-index: 2;
    padding: 48px 0 var(--margin-block);
    background-color: #EFF9F9;
    clip-path: ellipse(130% 100% at 50% 100%);
    @include screen($width-mobile) {
      padding-top: 20px;
      clip-path: ellipse(200% 100% at 50% 100%);
    }
  }
  .indexTitle {
    justify-content: center;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.lifeCard-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 32px;
  @include screen($width-mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @include screen($width-small) {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}






