/*------------------------------------*\
  index頁
\*------------------------------------*/
@use '../base' as *;
@use '../parts/input' as *;
@use '../parts/btn' as *;
@use '../parts/indexCard' as *;




// page
.container {
  // padding-bottom: 60px;
  padding-bottom: 40px;
  &--old {
    padding-bottom: 0;
  }
}




// title
.pagetitle {
  text-align: center;
  font-size: 2.5em;
  line-height: 1.5;
  font-weight: 700;
  color: $text-dark;
  @include screen($width-mobile) {
    font-size: 1.5em;
  }
  &.ty-inner {
    color: $color-main;
    margin-bottom: 40px;
    @include screen($width-mobile) {
      margin-bottom: 24px;
    }
  }
}

.blockTitle {
  font-size: 2.25em;
  line-height: 1.5;
  font-weight: 700;
}

.boxTitle {
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 700;
  &.fs-l {
    font-size: 2em;
  }
}

.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


// box
.hlBox {
  padding: 24px 16px;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}


// table
.table--stripe {
  th, td {
    padding: 12px 8px;
  }
  thead th {
    font-size: 1.125em;
    line-height: 1.875rem;
    font-weight: 700;
    color: #fff;
    background-color: #75B7B6;
    &:first-child {
      border-radius: 8px 0 0 0;
    }
    &:last-child {
      border-radius: 0 8px 0 0;
    }
  }
  tbody {
    tr {
      border-bottom: solid 1px $color-devider;
      &:nth-child(even) {
        background-color: #F3F8F8;
      }
    }
  }
}



// list
.ul-dot {
  list-style-type: disc;
  padding-left: 2em;
}
.ol-custom {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 0;
  & > li {
    display: flex;
    align-items: flex-start;
  }
  .num {
    flex: 0 0 auto;
    min-width: calc(2em - 5px);
    text-align: right;
  }
  .text {
    flex: 1 1 auto;
  }
}


/*------------------------------------*\
  articleHead
\*------------------------------------*/
.articleHead {
  background-color: #DFEBEB;
  background-image: url(../images/articleHead-bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  &.bg-event { background-image: url(../images/articleHead-bg-event.png); }
  &.bg-invest { background-image: url(../images/articleHead-bg-invest.png); }
  &.bg-life { background-image: url(../images/articleHead-bg-life.png); }
  @include screen($width-mobile) {
    background-image: none !important;
    .pagesize {
      display: none;
    }
  }
  @include screen($width-small) {
    background-image: none !important;
  }
  .pagetitle {
    padding: 48px 0 24px;
    @include screen($width-mobile) {
      padding: 24px 0;
    }
  }
  .searchBox {
    margin-bottom: 48px;
    @include screen($width-mobile) {
      margin-bottom: 24px;
    }
  }
  &-nav {
    a {
      position: relative;
      display: block;
      text-align: center;
      font-size: 1.5em; line-height: 1.5; font-weight: 700;
      padding: 12px 0 16px;
      @include web-only {
        @include transition(color);
        &:hover, &:focus {
          color: $color-main;
        }
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        border-radius: 4px 4px 0 0;
        @include transition(background-color);
      }
    }
    .on {
      color: $color-main;
      &::after {
        background-color: $color-main;
      }
    }
    @include screen($width-mid) {
      a {
        font-size: 1.25em;
      }
    }
    @include screen($width-mobile) {
      .pagesize {
        display: block;
        padding: 0;
      }
      .swiper-slide {
        width: auto;
      }
      .swiper-button-prev,
      .swiper-button-next {
        top: 0;
        width: 50px;
        height: 100%;
        &::after {
          top: 13px;
          width: 24px;
          height: 24px;
        }
      }
      .swiper-button-prev {
        background: linear-gradient(to left, rgba(#dfebeb, 0) 0%, rgba(#dfebeb, 1) 75%, rgba(#dfebeb, 1) 100%);
      }
      .swiper-button-next {
        background: linear-gradient(to right, rgba(#dfebeb, 0) 0%, rgba(#dfebeb, 1) 75%, rgba(#dfebeb, 1) 100%);
      }
      a {
        font-size: 1.125em; line-height: 2rem; font-weight: 500;
        padding: 7px 16px 11px;
      }
    }
  }
}
.articleHead .articleHead-nav {
  background: linear-gradient(to bottom, rgba(223, 235, 235, 0) 0%, rgba(223, 235, 235, 1) 100%);
}



/*------------------------------------*\
  文章列表
\*------------------------------------*/
.articleList-area {
  padding: 48px 0 12px;
  @include screen($width-mobile) {
    padding: 24px 0 0;
  }
  .typeNav {
    margin-bottom: 48px;
    @include screen($width-mobile) {
      margin-bottom: 24px;
    }
    .swiper-slide {
      margin-right: 16px;
      @include screen($width-mobile) {
        margin-right: 8px;
      }
    }
  }
}
.articleList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 40px;
  margin-bottom: 24px;
  @include screen($width-xl-wide) {
    gap: 24px 24px;
  }
  @include screen($width-xl) {
    grid-template-columns: 1fr;
  }
  @include screen($width-mobile) {
    grid-template-columns: 1fr 1fr;
    gap: 24px 24px;
    margin-bottom: 0;
  }
  @media screen and (max-width: 680px) {
    grid-template-columns: 1fr;
  }
  &-item {
    position: relative;
    display: flex;
    gap: 0 16px;
    @include web-only {
      .title {
        @include transition(color);
      }
      &:hover, &:focus {
        .title {
          color: $color-main;
        }
      }
    }
    @include screen($width-xl-wide) {
      gap: 0 10px;
    }
    @include screen($width-mobile) {
      gap: 0 6px;
      .tagBtn-box { display: none; }
      .cardInfo {
        font-size: 12px;
      }
      .cardInfo-sub {
        gap: 0 4px;
      }
    }
    @include screen($width-xs) {
      .cardInfo {
        font-size: 11px;
      }
    }

    .title,
    .desc {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .title {
      font-size: 1.25em; line-height: 1.4; font-weight: 700;
      color: $text-dark;
      height: 2.8em;
      margin: 8px 0 4px;
      @include screen($width-xl-wide) {
        margin: 4px 0 0;
      }
      @include screen($width-mobile) {
        font-size: 1em; line-height: 1.5;
        height: 3em;
        margin: 0 0 2px;
      }
    }
    .desc {
      line-height: 1.5em; 
      height: 3em;
      margin-bottom: 8px;
      @include screen($width-xl-wide) {
        margin-bottom: 4px;
      }
      @include screen($width-mobile) {
        display: none;
      }
    }
    .itemInfo {
      display: flex;
      justify-content: space-between;
    }
    
  }
  &-text {
    flex: 1 1 auto;

    align-self: flex-start;

  }
  .cover {
    @extend .imgCover;
    position: relative;
    flex: 0 0 auto;
    width: 306px; height: 172px;
    border-radius: 8px;
    overflow: hidden;
    img { width: 100%; height: 100%; }
    @include screen($width-xl-wide) {
      width: 284px; height: 160px;
    }
    @include screen($width-mobile) {
      width: 124px; height: 70px;
    }
  } 
}
.articleList.ty-event {
  @include screen($width-mobile) {
    .articleList-item {
      flex-direction: column;
      align-items: stretch;
      gap: 8px;
      
    }
    .articleList-text {
      width: 100%;
    }
    .cover {
      width: 100%;
      height: 0;
      padding-top: 56.25%;
      img {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
      }
    }
  }
  @media screen and (max-width: 680px) {
    .articleList-item .title {
      height: auto;
    }
  }
}

.cardInfo {
  flex-wrap: wrap;
  color: $text-notice;
  // @media screen and (max-width: 350px) {
  //   justify-content: flex-end;
  // }
  &-text {
    flex: 1 1 auto;
    display: flex;
    gap: 0 8px;
  }
  &-sub {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    gap: 0 8px;
    @media screen and (max-width: 350px) {
      gap: 0 4px;
    }
  }
}

.typeNav {
  @include screen($width-mobile) {
    margin: 0 -20px;
    .swiper {
      padding-left: 20px;
    }
  }
  .swiper-slide {
    width: auto;
  }
  .btn {
    font-size: 1.25em; line-height: 1.8; font-weight: 500;
    color: $text-gray;
    padding: 2px 24px;
    background: $color-devider;
    border-radius: 20px;
    @include screen($width-mobile) {
      font-size: 1em; line-height: 1.5;
      padding: 4px 24px;
    }
  }
  .on {
    color: #fff;
    background: $color-main;
    cursor: default;
    &:hover, &:focus {
      opacity: 1;
    }
  }
}



// 文章內頁
.cardInfo.ty-article {
  margin-bottom: 20px;
  @include screen($width-mobile) {
    flex-direction: column;
    align-items: stretch;
    gap: 16px 0;
  }
  .cardInfo-text {
    gap: 0 10px;
  }
  .cardInfo-sub {
    @include screen($width-mobile) {
      justify-content: space-between;
    }
    .star { background-image: url(../images/old/ico-star-on.svg); }
    .view { background-image: url(../images/infobox-view-article.svg); }
    .mark { background-image: url(../images/btn-icon-mark.svg); }
    .share { background-image: url(../images/infobox-view-share.svg); }
    span {
      padding-left: 24px;
      background-size: auto 20px;
      background-position: left center;
      background-repeat: no-repeat;
    }
  }
  
  .func-box {
    display: flex;
    gap: 0 10px;
    a {
      @extend %btnHover;
      width: 28px;
      height: 28px;
      border-radius: 50%;
    }
    .icon-save {
      background-image: url(../images/infobox-func-save.svg);
    }
    .icon-share {
      background-image: url(../images/infobox-func-share.svg);
    }
    a {
      background-size: auto 100%;
    }
  }
}
.articinner {
  @include screen($width-mobile) {
    .tagBtn-box {
      margin: 8px 0;
    }
  }
  .btn-box.ty-subscribe {
    display: none;
    justify-content: flex-start;
    padding-top: 16px;
    @include screen($width-mobile) {
      display: flex;
      justify-content: center;
      padding-top: 0;
      .btn {
        flex: 1 1 auto;
        max-width: 200px;
      }
    }
    @include screen($width-small) {
      .btn { max-width: 100%; }
    }
    &.ty-noComment {
      display: flex;
    }
  }
  .hotCard-rank {
    width: 24px;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    margin: 0;
    &::before {
      width: 20px; height: 20px;
      top: -12px; right: -3px;
    }
    &.top-1 { color: #FFD451; }
    &.top-2 { color: #9f9f9f; }
    &.top-3 { color: #9C6500; }
  }
}





/*------------------------------------*/
/*麵包屑*/
.bread_crumb {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.375em;
  color: $text-gray;
  padding: 15px 0;
  margin-bottom: 20px;
  &.mb-0 {
    margin-bottom: 0;
  }
  li + li::before {
    content: ">";
    margin: 0 5px;
  }
}



/*------------------------------------*\
  換頁
\*------------------------------------*/
.pager { 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  list-style: none;
  @include screen($width-mobile) {
    display: none;
    &.m-show { display: flex; }
  }
  a {
    flex: 0 0 auto;
    display: block;
    min-width: 36px;
    height: 36px;
    font-size: 1.125em;
    line-height: 36px;
    color: $text-gray;
    text-align: center;
    transition: color 0.2s ease-in-out;
    &:hover, &:focus {
      color: $color-main;
    }
    &.on {
      font-weight: 500;
      color: $color-main;
    }
  }
  &-num {
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    list-style: none;
  }
  &-func {
    background: url(../images/pager-arrow.svg) center center no-repeat;
    &.disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
  .prev {
    transform: rotate(-180deg);
  }
  @include screen($width-mobile) {
    .prev, .next {
      margin: 0;
    }
  }
}





/*------------------------------------*\
  登入
\*------------------------------------*/
$loginbtn-name: ('line', 'fb', 'google', 'apple');
@each $i in $loginbtn-name {
  .loginbtn .#{$i} {
    background-image: url(../images/loginbtn-#{$i}.png);
  }
}
.loginbtn {
  display: flex;
  justify-content: center;
  gap: 0 24px;
  margin-bottom: 60px;
  @include screen($width-small) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 16px;
    max-width: 200px;
    margin: 0 auto;
    padding: 32px 0;
  }
  .bt {
    flex: 0 0 auto;
    display: block;
    width: 90px;
    height: 90px;
    box-sizing: content-box;
    border-radius: 50%;
    border: solid 1px $color-devider;
    background-position: center center;
    background-size: 100% 100%;
  }
}





// policy
.policyArea {
  line-height: 28px;
  background-color: #F9F9F9;
  padding: 24px 10px 24px 24px;
  border-radius: 16px;
  margin-bottom: 40px;
  @include screen($width-mobile) {
    padding: 20px 5px 20px 16px;
  }
  &-inner {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
    @include screen($width-mobile) {
      padding-right: 11px;
    }
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #D9D9D9;
      border-radius: 3px;
    }
  }

  h2 {
    font-weight: 700;
  }
  ul {
    list-style: disc;
    padding-left: 2em;
  }
}


// table
.policyTable {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  text-align: center;
  font-weight: 500;
  @include screen($width-mobile) {
    font-size: 15px;
    line-height: 20px;
  }
  @include screen($width-xs) {
    font-size: 14px;
  }
  th {
    color: #fff;
    padding: 10px;
    background-color: #1C9C9F;
    .word {
      display: inline-block;
    }
    @include screen($width-mobile) {
      padding: 8px 5px;
      .sub {
        font-size: 12px;
      }
    }
    @include screen($width-xs) {
      padding: 8px 2px;
    }
  }
  .th-strong {
    background-color: $color-main;
  }
  th, td {
    border: solid 1px #f9f9f9;
  }
  &.ty-border {
    border-bottom: solid 1px #f0f0f0;
    th, td {
      border-color: #f0f0f0;
    }
  }
}



/*------------------------------------*\
  會員
\*------------------------------------*/
.memberArea {
  background-color: #F9F9F9;
  .pagetitle {
    margin-bottom: 40px;
    @include screen($width-mobile-m) {
      margin-bottom: 24px;
    }
  }
  @include screen($width-mobile) {
    .swiper-button-prev {
      background: linear-gradient(to left, rgba(#f9f9f9, 0) 0%, rgba(#f9f9f9, 1) 75%, rgba(#f9f9f9, 1) 100%);
    }
    .swiper-button-next {
      background: linear-gradient(to right, rgba(#f9f9f9, 0) 0%, rgba(#f9f9f9, 1) 75%, rgba(#f9f9f9, 1) 100%);
    }
  }
}
.memberHead {
  min-height: 200px;
  background: #fff url(../images/memberArea-bg-img.svg) right bottom;
  background-repeat: no-repeat;
  background-size: auto contain;
  border-radius: 8px;
  box-shadow: 4px 4px 15px 0 rgba(0,0,0, 0.05);
  margin-bottom: 48px;
  @include screen($width-xl) {
    background-position: right -20px bottom;
    background-size: auto 180px;
  }
  @include screen($width-mobile) {
    background-size: auto 150px;
    margin-bottom: 30px;
    background: #fff;
  }
  &-inner {
    padding: 20px 180px 20px 120px;
    border-radius: 8px;
    background: url(../images/memberArea-bg-round.svg) left top no-repeat;
    background-size: auto;
    @include screen($width-mid) {
      padding-left: 50px;
    }
    @include screen($width-mobile) {
      padding: 24px 30px;
      background-size: 110px auto;
    }
    @include screen($width-mobile-m) {
      padding: 20px;
    }
    @include screen($width-xs) {
      padding: 20px 12px;
    }
  }
  &-text {
    display: flex;
    gap: 0 40px;
    margin-bottom: 16px;
    @include screen($width-mid) {
      gap: 0 20px;
    }
    @include screen($width-mobile) {
      display: block;
      margin-bottom: 16px;
    }
  }
  .name {
    font-size: 1.5em;
    font-weight: 700;
    padding-left: 6px;
  }
  .copyBox {
    display: flex;
    gap: 0 8px;
    color: #666;
  }
  .copyBtn {
    @extend %btnHover;
    font-size: 14px;
    line-height: 22px;
    color: $color-main;
    padding: 0 7px 0 27px;
    background: url(../images/btn-copyBtn.svg) left 8px center no-repeat;
    border: solid 1px;
    border-radius: 8px;
  }
  .btn-box {
    justify-content: flex-start;
    gap: 16px;
    @include screen($width-mobile) {
      gap: 8px;
    }
  }
  .btn {
    min-width: 150px;
    @include screen($width-mobile) {
      min-width: 0;
      flex: 1 1 calc(50% - 8px);
    }
    @include screen($width-xs) {
      flex: 1 1 100%;
    }
  }
}
.memberHead-text {
  .in-1 {
    flex: 1 1 45%;
    position: relative;
    min-width: 316px;
    margin-right: 40px;
    .title {
      font-size: 1.125em;
      line-height: 2.5rem;
      font-weight: 500;
      margin-bottom: 16px;
    }
    @include screen($width-xl) {
      flex: 1 1 50%;
    }
    @include screen($width-mobile) {
      min-width: 0;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin: 0;
      .copyBox { 
        order: 1; 
        align-self: flex-end; 
        margin-bottom: 16px; 
      }
      .title { 
        order: 2; 
        font-size: 1em;
        line-height: 1.875em;
        margin-bottom: 24px;
      }
    }
  }
  .in-2 {
    flex: 1 1 55%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px 0;
    margin-bottom: -48px;
    .title {
      font-weight: 500;
      margin-bottom: 4px;
      .text {
        position: relative;
        // &::after {
        //   content: "";
        //   display: block;
        //   width: 36px;
        //   height: 36px;
        //   position: absolute;
        //   bottom: 0;
        //   right: -40px;
        //   background: url(../images/memberHead-deco-bulb.svg);
        //   background-size: 100% 100%;
        //   transform: rotate(15deg);
        //   @include screen($width-mobile-m) {
        //     content: none;
        //   }
        // }
      }
    }
    .pointNum {
      font-size: 2em;
      line-height: 1em;
      font-weight: 700;
      color: $color-main;
      padding: 0 8px 0 36px;
      background: url(../images/icon-pointNum-2.png) left center no-repeat;
      background-size: auto 32px;
    }
    .notice {
      display: inline-block;
      font-size: 14px;
      line-height: 24px;
      color: #666;
    }
    @include screen($width-xl) {
      flex: 1 1 50%;
      .notice {
        display: block;
      }
    }
    @include screen($width-mobile) {
      gap: 16px 0;
      margin-bottom: 0;
      .section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
      .title {
        line-height: 2rem;
      }
      .text {
        flex: 0 0 auto;
        text-align: right;
        margin-bottom: 0;
      }
      .pointNum {
        font-size: 1.5em;
        line-height: 2rem;
        background-size: auto 24px;
        padding: 0 0 0 28px;
      }
    }
  }
  .in-2.only {
    @include screen($width-mobile-m) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .text {
        flex: 1 1 auto;
        text-align: right;
      }
    }
    .title {
      margin-bottom: 8px;
      @include screen($width-mobile-m) {
        flex: 0 0 auto;
        margin-bottom: 0;
      }
      .text {
        position: relative;
        // &::after {
        //   content: "";
        //   display: block;
        //   width: 36px;
        //   height: 36px;
        //   position: absolute;
        //   bottom: 0;
        //   right: -40px;
        //   background: url(../images/memberHead-deco-bulb.svg);
        //   background-size: 100% 100%;
        //   transform: rotate(15deg);
        //   @include screen($width-mobile-m) {
        //     content: none;
        //   }
        // }
      }
    }
  }
}
.memberArea-main {
  padding: 48px 0 12px;
  &.pt-s {
    padding-top: 24px;
  }
  @include screen($width-mobile) {
    padding: 24px 0 0;
  }
}

.emptyBox {
  text-align: center;
  padding-top: 250px;
  background: url(../images/emptyBox-bg.svg) top 40px center no-repeat;
  @include screen($width-mobile) {
    padding-top: 208px;
    background-size: 120px auto;
  }
  &-title {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 40px;
    @include screen($width-mobile) {
      font-size: 1.25em;
    }
  }
  &.noIcon {
    background: none;
    padding-top: 40px;
  }
}

// 收藏清單
.bookmarkList {
  list-style: none;
  border-top: solid 1px $color-devider;
  margin-bottom: 24px;
  padding-left: 0;
  li {
    display: flex;
    font-size: 1.125em;
    line-height: 1.875rem;
    padding-left: 8px;
    border-bottom: solid 1px $color-devider;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: #F3F8F8;
    }
  }
  h2 {
    flex: 1 1 auto;
    display: block;
  }
  a {
    display: block;
  }
  .link {
    flex: 1 1 auto;
    display: flex;
    gap: 0 16px;
    padding: 16px 8px 16px 12px;
    @include screen($width-mobile) {
      padding: 8px 8px 8px 12px;
    }
  }
  .text {
    flex: 1 1 auto;
    font-weight: 500;
  }
  .time {
    flex: 0 0 auto;
    color: $text-gray;
    @include screen($width-mobile) {
      display: none;
    }
  }
  .bt-mark {
    width: 24px;
    height: 30px;
    flex: 0 0 auto;
    background-image: url(../images/btn-icon-mark.svg);
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 16px 0;
    transition: background-image 0.2s ease-in-out;
    &.marked {
      background-image: url(../images/btn-icon-mark--on.svg);
      &:hover {
        background-image: url(../images/btn-icon-mark.svg);
      }
    }
    @include screen($width-mobile) {
      margin: 8px 0; 
    }
  }
}

// 商城
.memberProduct-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-bottom: 24px;
  @include screen($width-xl) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include screen($width-mobile) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  @include screen($width-mobile-m) {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  // @include screen($width-mobile-m) {
  //   grid-template-columns: repeat(2, 1fr);
  // }
  // @include screen($width-small) {
  //   grid-template-columns: repeat(1, 1fr);
  // }
}
$memberProduct-icon:('gift', 'time', 'info');
@each $n in $memberProduct-icon {
  .memberProduct-item .ty-icon.icon-#{$n} {
    background-image: url(../images/member-product-icon-#{$n}.svg);
  }
}
.memberProduct-item {
  @include web-only{
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    &:hover {
      .imgCover--float img {
        transform: scale(1.05);
      }
    }
  }
  @include screen($width-mobile) {
    display: grid;
    grid-template-columns: 110px auto;
    gap: 8px;
  }
  .imgCover--float {
    padding-top: 100%;
    border-radius: 8px 8px 0 0;
    img {
      @include transition(transform);
      object-fit: contain;
    }
    @include screen($width-mobile) {
      padding: 0;
      width: 110px; height: 110px;
      border-radius: 8px;
    }
  }
  .textbox {
    padding: 16px;
    @include screen($width-mobile) {
      padding: 0;
    }
  }
  .title {
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 700;
    min-height: calc(1.5em * 2);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 8px;
    @include screen($width-mobile) {
      min-height: auto;
      -webkit-line-clamp: 1;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 4px;
    }
  }
  .infobox {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px 0;
    @include screen($width-mobile) {
      font-size: 12px;
      line-height: 16px;
      gap: 2px 0;
    }
    .ty-icon {
      padding-left: 28px;
      background-size: 24px auto;
      background-position: left top;
      background-repeat: no-repeat;
      @include screen($width-mobile) {
        padding-left: 20px;
        background-size: 16px auto;
      }
    }
    .ty-notice {
      list-style: none;
      padding-left: 0;
      font-size: 0.875em;
      line-height: 1.25rem;
      li {
        position: relative;
        padding-left: 20px;
        &::before {
          content: "";
          display: block;
          width: 4px;
          height: 4px;
          position: absolute;
          top: 8px;
          left: 8px;
          background-color: $text-placeholder;
          border-radius: 50%;
        }
      }
    }
    .icon-gift {
      .color-notice {
        min-height: 1.5em;
        @include screen($width-mobile) {
          font-size: 11px;
          min-height: 16px;
        }
      }
    }
  }
  .btn-box {
    padding: 0 16px 16px;
    @include screen($width-mobile) {
      grid-column: 1 / 3;
      padding: 0;
    }
  }
  .btn {
    display: block;
    width: 100%;
    color: #fff;
    font-size: 1.25em;
    line-height: 1.2em;
    font-weight: 500;
    padding: 12px 8px;
    border-radius: 8px;
    background-color: #75B7B6;
    @include screen($width-mobile) {
      font-size: 1.125em;
    }
  }
  .btn.btn--disabled {
    @extend .btn--disabled;
  }
  .pointNum {
    padding-left: 28px;
    background: url(../images/icon-pointNum-2.png) left center no-repeat;
    background-size: auto 24px;
  }
  // ty
  &.ty-sale {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    @include screen($width-mobile) {
      display: grid;
    }
    .imgCover--float {
      flex: 0 0 auto;
    }
    .textbox {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      padding: 16px 16px 12px;
      .title {
        flex: 0 0 auto;
      }
      @include screen($width-mobile) {
        padding: 0;
      }
    }
  }
}


// 評論
.reviewList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 24px;
  li {
    border-radius: 8px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-item {
    position: relative;
    background: url(../images/reviewList-icon.svg) left 19px top 19px no-repeat;
    background-size: 24px auto;
    padding: 16px 16px 16px 50px;
    @include screen($width-mobile) {
      padding: 8px 12px 8px 36px;
      background-position: left 8px top 8px;
    }
    &:hover {
      .title {
        color: $color-main;
      }
    }
  }
  .title {
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 16px;
    @include transition(color);
    @include screen($width-mobile) {
      font-size: 1.125em;
      line-height: 1.5rem;
      font-weight: 700;
      margin-bottom: 12px;
    }
  }
  .editbox {
    margin-bottom: 16px;
    @include screen($width-mobile) {
      margin-bottom: 8px;
    }
  }
  // info
  .infobox {
    display: flex;
    gap: 8px 16px;
    @include screen($width-mobile) {
      flex-wrap: wrap;
    }
    &-comment {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      gap: 0 16px;
      @include screen($width-mobile) {
        flex: 0 0 auto;
        width: 100%;
      }
      @include screen($width-small) {
        flex-direction: column;
        align-items: stretch;
        gap: 8px 0;
      }
    }
  }
  .artic_rate {
    display: flex;
    align-items: center;
    gap: 0 4px;
  }
  .ico-star {
    display: block;
    width: 24px;
    height: 24px;
    background: url("../images/old/ico-star.svg") no-repeat;
    background-size: cover;
    &.on {
      background: url("../images/old/ico-star-on.svg") no-repeat;
      background-size: cover;
    }
    &.half {
      background: url("../images/old/ico-star-half.svg") no-repeat;
      background-size: cover;
    }
    background-size: cover;
    @include screen($width-small) {
      width: 16px;
      height: 16px;
    }
  }

  .btn_discribe {
    display: flex;
    gap: 0 8px;
    @include screen($width-xs) {
      gap: 0 4px;
    }
    span {
      flex: 0 0 auto;
      display: block;
      padding: 2px 8px;
      font-size: 0.875rem;
      line-height: 1.25rem;
      border-radius: 4px;
      color: #fff;
      background: #62acac;
      @include screen($width-xs) {
        padding: 2px 6px;
      }
    }
  }
  .time {
    font-size: 0.875em;
    line-height: 1.25rem;
    color: $text-gray;
    @include screen($width-mobile) {
      flex: 0 0 auto;
      width: 100%;
      text-align: right;
    }
  }
}

// 紀錄
.table--stripe.ty-record {
  th {
    text-align: left;
    &.tC { text-align: center; }
  }
  @include screen($width-mobile) {
    th, td {
      font-size: 0.9375em;
      line-height: 1.5rem;
      padding: 8px 4px;
    }
    td {
      min-width: 68px;
      font-size: 15px;
      line-height: 24px;
    }
  }
}


// 會員 搜尋
.searchPanel {
  @extend .hlBox, .mb-3x;
  @include screen($width-mobile) {
    padding: 0;
    box-shadow: none;
    .formbox-flex {
      gap: 8px;
    }
    .formbox {
      gap: 8px;
    }
  }
}




// 文章輪播
.atricleSlide {
  position: relative;
  z-index: 2;
  margin: 32px auto 8px;
  padding: 0 24px;
  @include screen($width-mobile) {
    margin: 0;
    padding: 0 0;
    .swiper-button-prev,
    .swiper-button-next {
      width: 20px; height: 20px;
      top: calc(50% - 10px);
    }
    .swiper-button-prev::after {
      left: 2px;
    }
    .swiper-button-next::after {
      right: 2px;
    }
    .newestCard.sub .title {
      padding-left: 0;
    }
  }
  .swiper {
    padding: 24px 16px;
    overflow: hidden;
    @include screen($width-mobile) {
      padding: 24px 20px;
    }
  }
  
}
.atricleSlide-title {
  @extend %swiperPagi;
  position: relative;
  .swiper-pagination {
    width: auto;
    align-items: center;
  }
}






// ------------------------------------
// JS
// ------------------------------------
.ui-datepicker {
  margin: 8px 0;
  padding: 8px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
  font-family: inherit;
  &.ui-widget-content {
    border: solid 1px $color-devider;
  }
  // header
  .ui-datepicker-header {
    padding: 8px 0;
    background: none;
    border: none;
  }
  .ui-datepicker-title {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
  }
  .ui-datepicker-prev,
  .ui-datepicker-next {
    width: 24px; height: 24px;
    top: 8px;
    background: url(../images/select-main.svg);
    cursor: pointer;
    &.ui-state-hover {
      border: none;
    }
    .ui-icon { display: none; }
  }
  .ui-datepicker-prev {
    left: 0;
    transform: rotate(90deg);
  }
  .ui-datepicker-next {
    right: 0;
    transform: rotate(-90deg);
  }
  // table
  table {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
  }
  th {
    font-weight: 400;
    color: #666;
    height: 32px;
    padding: 0;
    background-color: $color-devider;
    &:first-child { border-radius: 4px 0 0 4px; }
    &:last-child { border-radius: 0 4px 4px 0; }
  }
  tbody {
    position: relative;
    top: 4px;
  }
  td {  
    text-align: center;
    height: auto;
    padding: 0;
    .ui-state-default {
      width: 36px; height: 36px;
      line-height: 36px;
      text-align: center;
      border: none;
      background: none;
      padding: 0;
      border-radius: 18px;
      transition: background-color 0.2s ease-in-out;
    }
    .ui-state-hover {
      background-color: rgba(#5daaaa, 0.1);
    }
    .ui-state-highlight {
      color: $color-main;
      font-weight: 500;
    }
    .ui-state-active {
      color: #fff;
      background-color: $color-main;
    }
  }
}



// chip
.bgChip-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}
.bgChip {
  padding: 4px;
  border-radius: 4px;
  &.ty-main {
    color: $color-main;
    background-color: #CDE2E3;
  }
}


// vote
.voteList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  @include screen($width-mobile) {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  @include screen($width-small) {
    grid-template-columns: 1fr;
  }
  &-item {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    &:hover {
      .imgCover--float img {
        transform: scale(1.05);
      }
    }
  }
  &-text {
    padding: 16px;
  }
  .imgCover--float {
    padding-top: 52.25%;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    img {
      transition: transform 0.2s ease-in-out;
    }
  }
  .title {
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 700;
    min-height: 3em;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 16px;
  }
  .btn-box {
    @extend .vertical;
  }
  .btn {
    @extend .size-ml;
    font-weight: 700;
  }
}

// voteInner
.voteInner {
  display: grid;
  grid-template-columns: auto 40%;
  align-items: flex-start;
  gap: 40px;
  @include screen($width-mobile) {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  &-vote {
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 16px;
    .btn-box {
      @include screen($width-small) {
        display: grid;
        grid-template-columns: 1fr;
      }
    }
  }
}

.voteOption {
  .radio {
    padding: 16px;
    border-bottom: solid 1px #d9d9d9;
    &:last-child {
      border-bottom: none;
    }
    @include screen($width-mobile) {
      padding: 12px;
    }
  }
}

.voteResult {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  list-style: none;
  padding: 0 16px;
  @include screen($width-mobile) {
    padding: 0;
  }
  .title {
    font-weight: 700;
    margin-bottom: 4px;
  }
  .votNum {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 4px;
  }
  .per {
    color: $text-placeholder;
  }
  .win {
    color: $color-main;
    .per {
      color: $color-main;
    }
    .bar-on {
      background-color: $color-main;
    }
  }
}

.bar {
  flex: 1 1 auto;
  display: flex;
  width: 100%;
  height: 8px;
  background-color: #f0f0f0;
  &-on {
    height: 8px;
    border-radius: 2px;
    background-color: #d9d9d9;
  }
}




