/*------------------------------------*\
  必要CSS檔
  ---
  如果SASS編譯出現子資料夾的檔案，請檢查設定
  "savePath": "~/../../css" //輸出資料夾
\*------------------------------------*/


/*------------------------------------*\
  此頁樣式
\*------------------------------------*/
// @use "_old" as *;

@use '../base' as *;
// @use '../parts/input' as *;
// @use '../parts/btn' as *;
// @use '../parts/indexCard' as *;

.memberArea {
  background-color: #F9F9F9;
  .pagetitle {
    margin-bottom: 40px;
    @include screen($width-mobile-m) {
      margin-bottom: 24px;
    }
  }
  @include screen($width-mobile) {
    .swiper-button-prev {
      background: linear-gradient(to left, rgba(#f9f9f9, 0) 0%, rgba(#f9f9f9, 1) 75%, rgba(#f9f9f9, 1) 100%);
    }
    .swiper-button-next {
      background: linear-gradient(to right, rgba(#f9f9f9, 0) 0%, rgba(#f9f9f9, 1) 75%, rgba(#f9f9f9, 1) 100%);
    }
  }
}
.memberHead {
  min-height: 200px;
  background: #fff url(../images/memberArea-bg-img.svg) right bottom;
  background-repeat: no-repeat;
  background-size: auto contain;
  border-radius: 8px;
  box-shadow: 4px 4px 15px 0 rgba(0,0,0, 0.05);
  margin-bottom: 48px;
  @include screen($width-mobile) {
    background-size: auto 150px;
  }
  @include screen($width-mobile-m) {
    margin-bottom: 30px;
    background: #fff;
  }
  &-inner {
    padding: 30px 200px 30px 120px;
    border-radius: 8px;
    background: url(../images/memberArea-bg-round.svg) left top no-repeat;
    background-size: auto;
    @include screen($width-mobile) {
      padding: 30px 100px 30px 60px;
      background-size: 110px auto;
    }
    @include screen($width-mobile-m) {
      padding: 20px;
    }
    @include screen($width-xs) {
      padding: 20px 12px;
    }
  }
  &-text {
    display: flex;
    margin-bottom: 16px;
    @include screen($width-mobile-m) {
      display: block;
      margin-bottom: 24px;
    }
  }
  .in {
    flex: 1 1 auto;
  }
  .title {
    font-size: 1.125em;
    line-height: 2.5rem;
    font-weight: 500;
    @include screen($width-mobile-m) {
      font-size: 1em;
      line-height: 1.875em;
    }
  }
  .name {
    font-size: 1.5em;
    font-weight: 700;
    padding-left: 6px;
    @include screen($width-mobile-m) {
      // display: block;
      // padding: 8px 0 0;
    }
  }
  .pointNum {
    font-size: 2em;
    line-height: 2.5rem;
    font-weight: 700;
    color: $color-main;
    padding-left: 40px;
    background: url(../images/icon-pointNum-2.png) left center no-repeat;
    background-size: auto 36px;
    @include screen($width-mobile) {
      font-size: 30px;
      line-height: 32px;
      background-size: auto 32px;
      padding-left: 36px;
    }
    @include screen($width-xs) {
      font-size: 1.5em;
      padding-left: 28px;
      background-size: auto 1.5rem;
    }
  }
  .copyBox {
    display: flex;
    gap: 0 8px;
    color: #666;
    @include screen($width-mobile-m) {
      // position: absolute;
      // top: 3px;
      // right: 0;
      // font-size: 0.875em;
      // line-height: 1.5rem;
    }
  }
  .copyBtn {
    @extend %btnHover;
    font-size: 14px;
    line-height: 22px;
    color: $color-main;
    padding: 0 7px 0 27px;
    background: url(../images/btn-copyBtn.svg) left 8px center no-repeat;
    border: solid 1px;
    border-radius: 8px;
  }
  .btn-box {
    justify-content: flex-start;
    gap: 16px;
    @include screen($width-mobile-m) {
      gap: 8px;
    }
  }
  .btn {
    min-width: 150px;
    @include screen($width-mobile-m) {
      min-width: 0;
      flex: 1 1 calc(50% - 8px);
    }
    @include screen($width-xs) {
      flex: 1 1 100%;
    }
  }
}
.memberHead-text {
  .in-1 {
    position: relative;
    @include screen($width-mobile-m) {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      .copyBox { order: 1; align-self: flex-end; margin-bottom: 24px; }
      .title { order: 2; }
    }
    .title {
      margin-bottom: 16px;
    }
  }
  .in-2 {
    display: block;
    @include screen($width-mobile-m) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .text {
        flex: 1 1 auto;
        text-align: right;
      }
    }
    .title {
      margin-bottom: 8px;
      @include screen($width-mobile-m) {
        flex: 0 0 auto;
        margin-bottom: 0;
      }
      .text {
        position: relative;
        // &::after {
        //   content: "";
        //   display: block;
        //   width: 36px;
        //   height: 36px;
        //   position: absolute;
        //   bottom: 0;
        //   right: -40px;
        //   background: url(../images/memberHead-deco-bulb.svg);
        //   background-size: 100% 100%;
        //   transform: rotate(15deg);
        //   @include screen($width-mobile-m) {
        //     content: none;
        //   }
        // }
      }
    }
  }
}
.memberArea-main {
  padding: 48px 0 12px;
  &.pt-s {
    padding-top: 24px;
  }
  @include screen($width-mobile) {
    padding: 24px 0 0;
  }
}


