/*------------------------------------*\
  popup
\*------------------------------------*/
.popup {
  display: none;
}
.openPopup .popup {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 140px 20px 40px;
  background: rgba($color: #000000, $alpha: 0.6);
  z-index: 2000;
  @include screen($width-mobile) {
    padding: 90px 15px 20px;
  }
}
.openPopup .wrapper {
  position: fixed;
  width: 100%;
}
.popup-area {
  flex: 0 0 auto;
  position: relative;
  z-index: 2001;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  background: $white;
  &.w-m {
    max-width: 500px;
    .popup-title {
      background: #fffaee;
      h2{
        font-size: 24px;
        color: #a70057;
      }
    }
    .popup-inner{
      .inner-pd{
        padding: 40px;
        @include screen($width-mobile) {
          padding: 20px 15px;
        }
      }
    }
  }
}
.popup-close {
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 24px;
  width: 32px;
  height: 32px;
  background: url(../images/frame/header-close.svg) center center no-repeat;
  background-size: 75%;
  @include screen($width-mobile) {
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
  }
}
.popup-banner {
  a {
    display: block;
  }
  img {
    display: block;
    width: 100%;
  }
}
.popup-title {
  position: relative;
  padding: 18px 60px;
  text-align: center;
  background: $color-main-dark;
  h2 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    color: $white;
  }
}
// .popup_inner {
//   padding: 30px 20px;
//   &.padding-s {
//     padding: 15px 20px;
//   }
//   &.border-b {
//     border-bottom: solid 1px #eee;
//   }
// }

/*------------------------------------*\
  公告
\*------------------------------------*/
.popup .announceArea{
  position: relative;
  padding: 16px 24px 16px 136px;

  &.notitle {
    padding-left: 24px;
    @include screen($width-mobile) {
      padding-left: 0;
    }
  }
  .announceArea_title {
    min-height: 138px;
  }
  .announceArea_list {
    flex: 1 1 auto;
  }

  @include screen($width-mobile) {
    padding: 0;
    .announceArea_title {
      position: static;
      display: block;
      width: 100%;
      padding: 4px;
      text-align: center;
      font-size: 18px;
      line-height: 24px;
      min-height: auto;
      span {
        display: inline;
      }
    }
    .announceArea_list {
      padding: 10px 15px;
    }
  }
}