/*------------------------------------*\
  inner-404.scss
  ---
  404é é¢
\*------------------------------------*/
@import "base/_variables";
@import "base/_reset";
@import "parts/_inner_header";
@import "page/_inner-404";



