@use '../base/variables' as *;

/*------------------------------------*\
  popup
\*------------------------------------*/
.popup {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  background-color: rgba(0,0,0,0.4);
  opacity: 0;
  transition: opacity 0.4s;
  &-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2002;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
  &-content {
    position: relative;
    flex: 0 0 auto;
    z-index: 2002;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 24px;
    background: $white;
    border-radius: 20px;
    border: solid 1px #cfcfcf;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.25);
    &.w-wide {
      max-width: 900px;
    }
  }
  &-area {
    max-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
  }
  &.open {
    position: fixed;
    z-index: 2000;
    opacity: 1;
    overflow-y: auto;
  }
  &-close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    width: 24px;
    height: 24px;
    background: url(../images/popup-close.svg) center center no-repeat;
    background-size: 24px 24px;
    @include transition(opacity);
    &:hover, &:focus {
      opacity: 0.75;
    }
  }
  &-head {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 16px;
    margin-bottom: 20px;
    border-bottom: solid 1px $color-devider;
  }
  &-title {
    flex: 1 1 auto;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    padding: 0 24px;
  }
  &-inner {
    flex: 0 1 auto;
    line-height: 28px;
    overflow-y: auto;
  }
  &-foot {
    flex: 0 0 auto;
    padding-top: 40px;
  }
  a.underLine{
    text-decoration: underline;
    color: $color-main-600;
  }
}


.popup-foot-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  @include screen($width-mobile) {
    flex-direction: column;
  }
  .btn {
    flex: 0 1 50%;
    font-weight: 500;
    padding: 12px;
    border-radius: 8px;
    @include screen($width-mobile) {
      padding: 8px 12px;
    }
  }
}


// search
.popup.ty-search {
  @include web-only {
    display: none;
  }
  top: 50px;
  .popup-wrapper {
    top: 50px;
    justify-content: flex-start;
    padding: 0;
  }
  .popup-content {
    max-width: 100%;
    border-radius: 0;
    border: 0;
    border-top: solid 1px $color-devider;
    padding: 10px;
    box-shadow: none;
  }
  .header-search {
    width: 100%; height: auto;
    margin: 0;
    .inner {
      width: 100%;
      position: static;
      padding: 0 2px 0 15px;
      border-width: 1px;
      border-color: $text-placeholder;
    }
  }
}


