/*------------------------------------*\
  _common.scss
  基礎全站變數
\*------------------------------------*/



/*------------------------------------*\
  間距
\*------------------------------------*/
.mb-0 { margin-bottom: 0; }
.mb-x5 { margin-bottom: 4px; }
.mb-1x { margin-bottom: 8px; }
.mb-2x { margin-bottom: 16px; }
.mb-3x { margin-bottom: 24px; }
.mb-4x { margin-bottom: 32px; }

.mb-1 { margin-bottom: 10px; }
.mb-2 { margin-bottom: 20px; }
.mb-3 { margin-bottom: 30px; }
.mb-4 { margin-bottom: 40px; }

.mr-1x { margin-right: 8px; }
.mr-2x { margin-right: 16px; }

@include screen($width-mobile) {
  .m-mb-2 { margin-bottom: 20px !important; }
}


/*------------------------------------*\
  font-size
\*------------------------------------*/
.fs-s { font-size: 0.875rem; } // 14
.fs-ms { font-size: 0.9375rem; } // 15
.fs-m { font-size: 1rem; } // 16
.fs-l { font-size: 1.125rem; } // 18
.fs-xl { font-size: 1.25rem; } // 20
.fs-xxl { font-size: 1.5rem; } // 24

.lh-s { line-height: 1.25; }
.lh-m { line-height: 1.5; }
.lh-l { line-height: 1.875; }

.fs-l.lh-l { line-height: 1.667; }
.fs-xxl.lh-l { line-height: 1.25; }

@include screen($width-mobile) {
  .fs-l { font-size: 1rem; }
  .fs-xl { font-size: 1.125rem; }

  .m-fs-m { font-size: 1rem; }

  .m-lh-l { line-height: 1.875; }
}


// font-weight
.fw-normal { font-weight: 400; }
.fw-mid { font-weight: 500; }
.fw-bold { font-weight: 700; }
@include screen($width-mobile) {
  .m-fw-mid { font-weight: 500; }
}

// align
.tL { text-align: left; }
.tR { text-align: right; }
.tC { text-align: center; }
@include screen($width-mid) {
  .mid-tC { text-align: center; }
}

.v-m { vertical-align: middle; }

.text-ellipsis {
  overflow: hidden; 
  text-overflow : ellipsis; 
  white-space : nowrap;
}


/*------------------------------------*\
  title
\*------------------------------------*/
.innerTitle {
  @extend .mb-3;
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 700;
  color: $text-dark;
  &.mb-0 { margin-bottom: 0; }
  &.mb-1x { @extend .mb-1x; }
  &.mb-2 { @extend .mb-2; }
  &.color-main { color: $color-main; }
  &--s {
    @extend .innerTitle;
    font-size: 18px;
    line-height: 1.5rem;
    margin-bottom: 20px;
  }
  &--l {
    @extend .innerTitle;
    font-size: 24px;
    line-height: 1.25em;
  }
  &--xl {
    @extend .innerTitle;
    font-size: 30px;
    line-height: 1.2em;
  }
}



/*------------------------------------*\
  img
\*------------------------------------*/
.imgbox {
  display: block;
  img {
    display: block;
    max-width: 100%;
  }
  &--full {
    @extend .imgbox; 
    img {
      width: 100%;
    }
  }
  &.tC {
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.round img {
    border-radius: 16px;
  }
}
.qrbox {
  @extend .imgbox;
  width: 110px;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px #c0cdd4;
}



/*------------------------------------*\
  editbox
\*------------------------------------*/
.editbox {
  p {
    min-height: 20px;
  }
}



/*------------------------------------*\
  JS元件
\*------------------------------------*/
// JS_swiper
.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  margin: 0;
  background: url(../images/slide-arrow.png) center center no-repeat;
  background-size: auto 55%;
  &::after {
    content: none;
  }
  &.swiper-button-disabled {
    background: url(../images/slide-arrow-disabled.png) center center no-repeat;
    background-size: auto 55%;
  }
  @include screen($width-mobile) {
    width: 30px;
    height: 30px;
    top: calc(50% - 15px);
    background-size: auto 42%;
    &.swiper-button-disabled {
      background-size: auto 42%;
    }
  }
}
.swiper-button-prev {
  transform: scale(-1);
}

.slideNav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .swiper-pagination {
    position: static;
    width: auto;
    font-size: 20px;
    font-weight: 700;
    color: #bebebe;
    margin: 0 14px;
  }
  .swiper-pagination-current {
    color: $color-main;
  }
  .swiper-button-next, 
  .swiper-button-prev {
    position: static;
    width: 32px;
    height: 32px;
    margin: 0;
    background-size: auto 14px;
    &::after {
      content: none;
    }
  }
  @include screen($width-mobile) {
  }
}


// custom scroll
.mCSB_inside > .mCSB_container {
  margin-right: 18px;
}
.mCSB_draggerContainer {
  width: 6px;
  background: #e4e9ec;
}
.mCSB_scrollTools {
  width: 6px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
  margin: 0 auto;
  background: #8d8d8d !important;
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: #8d8d8d;
}
.mCSB_scrollTools .mCSB_draggerRail {
  display: none;
}



/*------------------------------------*\
  活動
\*------------------------------------*/
.eventLink-slide {
  position: relative;
  .swiper-button-prev,
  .swiper-button-next {
    top: calc(32.25% - 20px);
  }
  .swiper-button-prev {
    left: -44px;
  }
  .swiper-button-next {
    right: -44px;
  }
  @media all and (max-width: 1480px) {
    .swiper-button-prev,
    .swiper-button-next {
      top: calc(32.25% - 15px);
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    }
    .swiper-button-prev {
      left: -20px;
    }
    .swiper-button-next {
      right: -20px;
    }
  }
}
.eventLink {
  .cover {
    position: relative;
    padding-top: 64.5%;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .name {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    color: $text-dark;
    display: -webkit-box; 
    overflow:hidden; 
    text-overflow : ellipsis; 
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    @include transition(color);
  }
  .time {
    display: block;
    color: $color-main;
    padding-top: 12px;
    @include screen($width-mobile) {
      font-size: 18px;
    }
  }
  &:hover, &:focus {
    .name {
      color: $color-main;
    }
  }
}






