/*------------------------------------*\
  index頁
\*------------------------------------*/
.bg-index {
  position: relative;
  z-index: 2;
  margin-bottom: 90px;
  background-color: #000;
  @include screen-width($width-max) {
    margin-bottom: 50px;
  }
  @include screen-width($width-mobile) {
    margin-bottom: 40px;
  }
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    background: url(../images/index-discount-bg-1.png) center bottom no-repeat;
    background-size: 100% 100%;
    @include screen-width($width-mobile) {
      background-size: 100% auto;
    }
  }
  &::before {
    top: -49px;
  }
  &::after {
    bottom: -49px;
    transform: rotate(180deg);
  }
}


/*------------------------------------*\
  主視覺
\*------------------------------------*/
.kvArea {
  height: 515px;
  position: relative;
  @extend .bg-stripes;
  @include screen-width($width-max) {
    // height: 32.638vw;
    height: 36vw;
  }
    @include screen-width($width-mobile) {
      height: 50vw;
    }
  &-cover {
    display: block;
    position: relative;
    z-index: 3;
    img {
      display: block;
      width: 100%;
      max-width: 1463px;
      // height: 575px;
      object-fit: none;
      object-position: top center;
      margin: 0 auto;
      @include screen-width($width-max) {
        object-fit: contain;
      }
    }
  }
  &-pop {
    @extend .imgbox;
    position: absolute;
    z-index: 4;
    top: 10px;
    left: calc(50vw + 270px);
    opacity: 0;
    @include screen-width($width-max) {
      top: 0;
      left: auto;
      right: 11vw;
      width: 20vw;
    }
    &.JS_animated {
      animation: slide-in-fwd-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation-delay: 1.65s;
    }
  }
}
@mixin ballSize($size) {
  width: #{$size}vw;
  height: #{$size}vw;
}
.ballBox {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // background: url(../images/index-kv-ball.png) center top 150px no-repeat;
  &.JS_animated {
    display: block;
    .ball {
      animation-name: bounce;
      animation-duration: 1.6s;
      animation-fill-mode: forwards;
    }
  }
  .ball {
    opacity: 0;
    position: absolute;
    @include ballSize(13.4); // 193px
    background: radial-gradient(farthest-corner at 30% 30%, #FFF7CF 0%, #FFD600 40%, #D69A00 100%);
    border-radius: 50%;
    filter: drop-shadow(0 -0.04vw 3.48vw rgba(0,0,0,0.25));
    // black
    &--2,
    &--8 {
      background: radial-gradient(farthest-corner at 30% 30%, #5C5C5C 0%, #000 100%);
    }
  }
}
// each ball
.ballBox {
  .ball {
    &--1 {
      @include ballSize(15.14);
      left: -4.8vw;
      bottom: 7.5vw;
    }
    &--2 {
      @include ballSize(12.5);
      left: 2vw;
      bottom: 3.6vw;
      animation-delay: 0.6s;
    }
    &--3 {
      left: -3.88vw;
      bottom: -1.8vw;
    }
    &--4 {
      @include ballSize(16.53);
      left: 61vw;
      bottom: -3vw;
    }
    &--5 {
      left: 73vw;
      bottom: -3vw;
    }
    &--6 {
      left: 7.5vw;
      bottom: -3.5vw;
    }
    &--7 {
      @include ballSize(13.4);
      left: 83.5vw;
      bottom: -2vw;
    }
    &--8 {
      @include ballSize(10.5);
      right: -3.5vw;
      bottom: 7.5vw;
    }
    &--9 {
      @include ballSize(10.5);
      left: 6%;
      bottom: -2.6vw;
    }
    &--10 {
      @include ballSize(17.64);
      left: 12vw;
      bottom: 0vw;
    }    
    &--11 {
      @include ballSize(15.14);
      right: 2vw;
      bottom: 5vw;
    }
    &--12 {
      right: -6vw;
      bottom: -2vw;
    }
    &--13 {
      @include ballSize(17.64);
      left: 48vw;
      bottom: 0vw;
    }
    &--14 {
      @include ballSize(17.64);
      left: 23vw;
      bottom: -3vw;
    }
    &--15 {
      left: 36.4vw;
      bottom: -2.4vw;
    }
    // animation
    &--1, &--7, &--14 {
      animation-delay: 0.2s;
    }
    &--2, &--8, &--10, &--13, &--15 {
      animation-delay: 0.4s;
    }
    &--12 {
      animation-delay: 0.6s;
    }
    &--3, &--4, &--11 {
      animation-delay: 0.9s;
    }
    &--7, &--9, &--10, &--8 {
      animation-duration: 0.8s;
    }
  }
}
// animation
@keyframes bounce {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes slide-in-fwd-bottom {
  0% {
    transform: translateZ(-1400px) translateY(400px) scale(0.2);
    opacity: 0;
  }
  80% {
    transform: translateZ(0) translateY(0) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateZ(0) translateY(0) scale(1);
    opacity: 1;
  }
}


/*------------------------------------*\
  拉霸 數字w63.18 h79.17
\*------------------------------------*/
.barArea {
  // min-height: 420px;
  position: relative;
  padding: 10px 0 24px;
  background: url(../images/index-discount-bg-2.png) top center no-repeat;
  background-size: contain;
  @include screen-width($width-mobile) {
    background: none;
  }
  .pagesize {
    background: url(../images/index-discount-bg-3.png) center top 40px no-repeat;
      background-size: 100% auto;
  }
  .mainTitle {
    margin-bottom: 24px;
    filter: drop-shadow(0 -6px 16px rgba(0, 0, 0, 0.25));
  }
}
.priceBar {
  img {
    @extend .imgTC;
  }
  &-card {
    @include screen-width($width-mobile) {
      padding: 0 2vw;
    }
  }
  // bar
  &-bar {
    width: fit-content;
    margin: 0 auto;
    position: relative;
    margin-top: -65px;
    @include screen-width($width-large) {
      margin-top: -6vw;
    }
    @include screen-width($width-mobile) {
      margin-top: -5.6vw;
    }
    img {
      filter: drop-shadow(0 -8px 20px rgba(0,0,0,0.25));
    }
  }
  &-num {
    position: absolute;
    // width: 63px;
    // height: 79px;
    width: 6.37%;
    height: 64.76%;
    top: 19%;
    background-image: url(../images/bar-num-unknown.png);
    background-position: top center;
    background-size: 100% auto;
    animation: barNumUnknown 2.5s infinite linear;
  }
  .num-1,
  .num-3 {
    animation: barNumUnknown 2s infinite linear;
  }
  .num-1 {
    left: 38.5%;
  }
  .num-2 {
    left: 48.1%;
  }
  .num-3 {
    left: 57.75%;
  }
  .num-4 {
    left: 67.32%;
  }
  .count .priceBar-num {
    background-image: url(../images/bar-num-count.png);
    background-size: 100% auto;
    background-position-y: -11%;
    animation: none;
    animation: barNum 5.2s 1 cubic-bezier(0.5, 0.6, 0.8, 1);
    &.num-1, &.num-3 {
      animation: barNum 4.5s 1 cubic-bezier(0.5, 0.6, 0.8, 1);
    }
  }
  
  .link {
    position: absolute;
    top: 25%;
    right: 2%;
    width: 16.78%;
    height: 50%;
  }
}
@keyframes barNumUnknown {
  0% {
    background-position-y: 0%;
  }
  100% {
    background-position-y: 100%;
  }
}
@keyframes barNum {
  0% {
    background-position-y: -100%;
  }
  100% {
    background-position-y: 100%;
  }
}

/*------------------------------------*\
  活動
\*------------------------------------*/
.eventArea {
  padding-top: 50px;
  @include screen-width($width-mobile) {
    padding-top: 30px;
  }
  
  &--row {
    @extend .eventArea;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 120px;
    @include screen-width($width-mobile) {
      display: block;
      margin-bottom: 90px;
      padding-top: 30px;
    }
    .eventBox {
      flex: 0 0 auto;
      width: calc(50% - 20px);
      @include screen-width($width-large) {
        width: calc(50% - 12px);
      }
      @include screen-width($width-mobile) {
        width: 100%;
      }
    }
  }
}
.eventBox {
  @extend .bg-primary, .box-radius;
  position: relative;
  padding: 27px 32px 20px;
  @include screen-width($width-mobile) {
    padding: 10px;
  }
  &-tag {
    position: absolute;
    top: -25px;
    left: -13px;
    width: 131px;
    height: 131px;
    @include screen-width($width-large) {
      width: 100px;
      height: 100px;
    }
    @include screen-width($width-mid) {
      top: -20px;
      left: -10px;
      width: 82px;
      height: 82px;
    }
    @include screen-width($width-mobile) {
      top: -11px;
      left: -5px;
      width: 42px;
      height: 42px;
    }
    img {
      max-width: 100%;
    }
  }
  .mainTitle {
    margin-bottom: 10px;
    @include screen-width($width-mobile) {
      margin-bottom: 0;
      line-height: 1em;
    }
  }
  .subTitle {
    margin-bottom: 8px;
  }
  .noticeBox {
    margin-bottom: 25px;
    @include screen-width($width-mobile) {
      margin-bottom: 10px;
    }
  }
  .notice {
    text-align: center;
    font-size: 1.375rem;
    font-weight: 600;
    color: #615009;
  }
  .hr-line {
    margin: 20px 0;
    @include screen-width($width-mobile) {
      margin: 10px 0;
    }
  }
  // btn
  .btn-box {
    margin-bottom: -10px;
    @include screen-width($width-mobile) {
      display: block;
    }
  }
  .btn-social {
    display: block;
    margin: 0 6px 10px;
    padding: 12px 20px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    background-color: #000;
    border-radius: 23px;
    @include screen-width($width-mobile) {
      margin: 0 8px 10px;
      font-size: 0.75rem;
      line-height: 1rem;
      padding: 10px;
    }
    &.line {
      color: #000;
      background-color: #00D115;
    }
    &.fb {
      background-color: #2C73FF;
    }
  }
}
.eventBox-1,
.eventBox-3 {
  &::after {
    content: "";
    display: block;
    position: absolute;
  }
}



// 問答item
.queEntry {
  &-item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 4px;
    text-align: center;
    color: #fff;
    font-weight: 900;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    
    a {
      border-radius: 20px;
    }
    &.end::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.84) url(../images/queEvent-end.png) center center no-repeat;
      background-size: 100% auto;
      @include screen-width($width-mobile) {
        background-size: 125px auto;
      }
    }
    &.done::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.84) url(../images/queEvent-done.svg) center center no-repeat;
      @include screen-width($width-mobile) {
        background-size: 56px;
      }
    }
    .cover {
      display: none;
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.84);
      &.show {
        display: block;
      }
      &.done {
        background-image: url(../images/queEvent-done.svg);
        background-position: center center;
        background-repeat: no-repeat;
      }
      &.end {
        font-size: 2.25rem;
        color: #ccc;
        &.show {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  &-inner {
    background-color: #fff;
    border: solid 4px #fff;
    border-radius: 20px;
    overflow: hidden;
  }
  &-type,
  &-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
  }
  &-type {
    min-height: 57px;
    font-size: 1.25rem;
    line-height: 1.2em;
    background-color: #3E007C;
    border-radius: 20px 20px 0 0;
    @include screen-width($width-mobile) {
      min-height: 33px;
      font-size: 0.75rem;
    }
  }
  &-name {
    flex: 1 1 auto;
    min-height: 108px;
    font-size: 1.625rem;
    line-height: 1.2em;
    background: linear-gradient(to bottom, #9A36FF 0%, #7E00FF 100%);
    border-radius: 0 0 20px 20px;
    @include screen-width($width-mobile) {
      min-height: 62px;
      font-size: 0.9375rem;
    }
  }

}

// 問答難度
.eventBox-1 {
  padding-left: 64px;
  padding-right: 64px;
  padding-bottom: 42px;
  @include screen-width($width-large) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include screen-width($width-mobile) {
    padding: 10px;
    .eventBox-tag {
      top: -20px;
      left: -10px;
    }
  }
  &::after {
    top: 50px;
    left: 105px;
    width: 131px;
    height: 155px;
    background: url(../images/index-eventBox-deco-1.png);
    background-size: 100% auto;
    @include screen-width($width-large) {
      left: 65px;
      width: 110px;
      height: 130px;
    }
    @include screen-width($width-mid) {
      width: 62px;
      height: 72px;
    }
    @include screen-width($width-mobile) {
      width: 31px;
      height: 36px;
      top: -7px;
      left: 26px;
    }
  }

  .inner-1 {
    padding: 0 36px;
    @include screen-width($width-mobile) {
      padding: 0 8px;
    }
  }
}
.eventBox-1 .spinWheel {
  position: absolute;
  top: -30px;
  right: -30px;
  filter: drop-shadow(0 -8px 20px rgba(0, 0, 0, 0.4));
  @include screen-width($width-mid) {
    top: auto;
    bottom: -10px;
    right: 10px;
  }
  .wheel {
    width: 220px;
    filter: drop-shadow(0 -5px 0 #5501ad);
    @include screen-width($width-large) {
      width: 200px;
    }
    @include screen-width($width-mid) {
      width: 220px;
    }
    @include screen-width($width-mobile) {
      width: 110px;
    }
    img {
      animation: wheel 4s infinite linear;
    }
  }
}
@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.star {
  display: inline;
  padding-left: 29px;
  background: url(../images/queEvent-star.svg) center center no-repeat;
  @include screen-width($width-mobile) {
    padding-left: 16px;
    background-size: 12px;
  }
}
.queEntry {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  @include screen-width($width-large) {
    gap: 16px;
  }
  @include screen-width($width-mid) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include screen-width($width-mobile) {
    gap: 8px 10px;
  }
  @include screen-width($width-small) {
    grid-template-columns: repeat(2, 1fr);
  }
  a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    &:hover ~ .queEntry-type,
    &:hover ~ .queEntry-name {
      opacity: 0.7;
    }
  }
  .queEntry-item {
    &.end,
    &.done {
      a:hover ~ .queEntry-type,
      a:hover ~ .queEntry-name {
        opacity: 1;
      }
    }
  }
  .queEntry-type,
  .queEntry-name {
    @include transition(opacity);
  }
  @include screen-width($width-large) {
    .queEntry-type .text {
      display: block;
      margin-bottom: 4px;
    }
  }
  @include screen-width($width-mobile) {
    .queEntry-type .text {
      display: inline;
    }
  }
}

// Lucky7
.eventProgress {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 12px;
  padding: 0 26px;
  @include screen-width($width-large) {
    padding: 0 0;
  }
  &.sucess {
    @extend .imgbox;
  }
  .queEntry-item {
    flex: 1 1 50%;
    width: auto;
    max-width: 210px;
  }
  .plus {
    flex: 0 0 auto;
    align-self: center;
    width: 56px;
    height: 56px;
    margin: 0 8px;
    background: url(../images/queEvent-plus.svg);
  } 
}

// 
.eventBox-2 {
  @include screen-width($width-mobile) {
    margin-bottom: 24px;
  }
}

// 推坑碼
.eventBox-3 {
  &::after {
    top: -21px;
    right: -29px;
    width: 154px;
    height: 110px;
    background: url(../images/index-eventBox-deco-2.png);
    background-size: 100% auto;
    @include screen-width($width-large) {
      right: -15px;
      width: 100px;
      height: 71px;
    }
    @include screen-width($width-mid) {
      top: -15px;
      right: -5px;
      width: 64px;
      height: 46px;
    }
  }
  .codeBox {
    input,
    .linkLog {
      display: block;
      width: 300px;
      height: 60px;
      margin: 0 auto;
      text-align: center;
      font-weight: 900;
      background-color: #fff;
      border-radius: 6px;
      @include screen-width($width-mobile) {
        height: 48px;
      }
    }
    input {
      font-size: 2.5rem;
      line-height: 60px;
      @include screen-width($width-mobile) {
        font-size: 1.25rem;
        line-height: 48px;
      }
    }
    .linkLog {
      font-size: 2rem;
      line-height: 60px;
      color: #7c7c7c;
      @include screen-width($width-mobile) {
        font-size: 1.25rem;
        line-height: 48px;
      }
    }
    &.end {
      padding: 60px;
      text-align: center;
      @include screen-width($width-mobile) {
        padding: 8px 0;
        img {
          width: auto;
          height: 24px;
        }
      }
    }
  }
}




/*------------------------------------*\
  影音電視
\*------------------------------------*/
.videoArea {
  margin-bottom: 120px;
  @include screen-width($width-mobile) {
    margin-bottom: 90px;
  }
  .btn-m {
    display: inline-block;
    width: 210px;
    padding: 16px;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.4em;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 30px;
    @include transition(background-color);
    &:hover {
      background-color: rgba(255, 255, 255, 0.25);
    }
    @include screen-width($width-mobile) {
      width: 140px;
      padding: 10px 16px;
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }
}
.videoMarquee {
  position: relative;
  height: 355px;
  margin: 40px 0;
  color: #fff;
  @include screen-width($width-mobile) {
    height: 274px;
    margin: 17px 0;
  }
  &-block {
    display: inline-block;
  }
  &-item {
    display: block;
    padding: 0 7px;
    @include screen-width($width-mobile) {
      padding: 0 5px;
    }
    &:nth-child(1) {
      position: relative;
      left: -130px;
      margin-bottom: 16px;
      @include screen-width($width-mobile) {
        left: -100px;
        margin-bottom: 12px;
      }
    }
  }
  .imgbox {
    width: 256px;
    height: 145px;
    margin-bottom: 4px;
    overflow: hidden;
    border-radius: 8px;
    @include screen-width($width-mobile) {
      width: 190px;
      height: 107px;
      border-radius: 6px;
    }
    img {
      display: block;
      width: 256px;
      object-fit: cover;
    }
  }
  .name {
    display: block;
    font-size: 0.75rem;
    line-height: 1rem;
  }
    .type {
      display: inline-block;
      padding: 1px 5px;
      font-size: 0.75rem;
      line-height: 1rem;
      color: #50E3C2;
      border: solid 1px;
      border-radius: 4px;
      transform-origin: left center;
      transform: scale(0.833);
    }
    .text {
      position: relative;
      left: -2px;
    }

  .swiper {
    &-wrapper {
      transition-timing-function: linear !important;
    }
    &-slide {
      width: auto;
    }
  }
}



/*------------------------------------*\
  方案
\*------------------------------------*/
.planArea {
  padding-bottom: 60px;
  .areaTitle {
    margin-bottom: 42px;
    @include screen-width($width-mobile) {
      margin-bottom: 10px;
    }
  }
  &-subTitle {
    padding-top: 16px;
    text-align: center;
    font-size: 1.875rem;
    font-weight: 700;
    color: #F1DEB9;
    @include screen-width($width-mobile) {
      font-size: 1.125rem;
    }
    .num {
      margin: 0 8px;
      padding: 0 3px;
      font-size: 2.375rem;
      line-height: 1.1em;
      font-weight: 900;
      letter-spacing: -0.5px;
      color: #000;
      background: url(../images/index-planArea-num.svg);
      background-size: 100% 100%;
      @include screen-width($width-mobile) {
        margin: 0 4px;
        padding: 0 2px;
        font-size: 1.5rem;
      }
    }
  }
}
.planList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  @include screen-width($width-large) {
    gap: 16px;
  }
  @include screen-width($width-mid) {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 30px;
  }
  @include screen-width($width-mobile) {
    display: block;
  }
  &-item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    background: linear-gradient(to right, #C0B084 0%, #A77F4B 100%);
    border-radius: 20px;
    @include screen-width($width-mobile) {
      margin-bottom: 0;
    }
  }
  .title {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #000;
    @include screen-width($width-mobile) {
      img {
        height: 30px;
      }
    }
  }
  .num {
    margin-bottom: 10px;
    font-size: 1.372rem;
    line-height: 2.625rem;
    font-weight: 700;
    @include screen-width($width-mobile) {
      font-size: 1rem;
      line-height: 1.875rem;
    }
    strong {
      font-size: 2.3125rem;
      @include screen-width($width-mobile) {
        font-size: 1.625rem;
      }
    }
  }
  .subtitle {
    width: fit-content;
    margin-bottom: 10px;
    padding: 12px 16px;
    line-height: 1.15em;
    color: #F2D4A4;
    background: linear-gradient(to right, #000 0%, #282828 50%, #0B0B0B 100%);
    border-radius: 60px;
    @include screen-width($width-mobile) {
      padding: 10px 14px;
      font-size: 0.875rem;
    }
  }
  .featureUl {
    flex: 1 1 auto;
    list-style: none;
    li {
      margin-bottom: 10px;
      padding-left: 18px;
      font-size: 0.9375rem;
      line-height: 1.15em;
      font-weight: 700;
      padding-left: 1.3em;
      background: url(../images/index-planArea-tick.png) left top no-repeat;
      background-size: auto 1em;
      @include screen-width($width-mobile) {
        font-size: 0.75rem;
      }
    }
  }
  .errMsg {
    position: absolute;
    left: 20px;
    right: 20px;
    top: calc(100% + 8px);
    font-size: 1.125rem;
    font-weight: 700;
    color: #FA5E5E;
    @include screen-width($width-mobile) {
      position: static;
      padding-bottom: 30px;
      font-size: 0.75rem;
      p {
        padding-top: 10px;
      }
    }
  }
}
.planList-form {
  min-height: 111px;
  @include screen-width($width-mobile) {
    min-height: 0;
  }
  .btn-subscribe {
    display: block;
    height: 60px;
    margin-bottom: 8px;
    font-size: 1.25rem;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(135deg, #fff5dd 0%, #FFEAAF 35%, #A77F4B 100%);
    background-size: 200% auto;
    background-position: right center;
    border: solid 1px #000;
    @include transition(background);
    @include screen-width($width-mobile) {
      height: 40px;
      line-height: 40px;
      font-size: 0.75rem;
    }
    &:hover,
    &:active {
      background-position: center center;
    }
    &.disabled {
      color: #3A3A38;
      background: linear-gradient(135deg, #95825e 0%, #826d51 100%);
      border: none;
      cursor: default;
    }
  }
  .codeBox {
    display: flex;
    align-items: center;
    input {
      display: block;
      box-sizing: border-box;
      flex: 1 1 auto;
      width: calc(100% - 90px);
      height: 43px;
      margin-right: 10px;
      padding: 0 20px;
      font-size: 1.25rem;
      font-weight: 700;
      border-radius: 22px;
      box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.55);
      @include screen-width($width-mobile) {
        height: 40px;
        line-height: 40px;
        font-size: 0.75rem;
      }
    }
    ::placeholder {
      color: #acacac;
    }      
    .submit {
      display: block;
      width: 80px;
      font-size: 1.25rem;
      line-height: 43px;
      text-align: center;
      color: #fff;
      font-weight: 500;
      background: linear-gradient(to bottom, #454545 0%, #000 100%);
      border-radius: 22px;
      @include screen-width($width-mobile) {
        height: 40px;
        line-height: 40px;
        font-size: 0.75rem;
      }
    }
  }
  .codeMsg {
    text-align: center;
    font-size: 1.0625rem;
    line-height: 1.375rem;
    font-weight: 700;
    color: #68512A;
  }
}



/*------------------------------------*\
  注意事項
\*------------------------------------*/
.noticeArea {
  padding-bottom: 32px;
  .contentBox {
    padding: 60px 72px;
    @include screen-width($width-mobile) {
      padding: 30px 20px;
    }
  }
  .mainTitle {
    margin-bottom: 40px;
    @include screen-width($width-mobile) {
      margin-bottom: 30px;
    }
  }
}
.noticeArea_desc {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 40px;
  .block {
    margin-bottom: 20px;
    &-title {
      padding-left: 0.9em;
      font-size: 1.25rem;
      line-height: 1.4em;
      background: url(../images/index-notice-title.png) top 4px left no-repeat;
    }
    &-subtitle {
      @extend .color-primary;
      font-size: 1rem;
      line-height: 1.4em;
    }
  }
  .descPoint-title {
    position: relative;
    &::before {
      content: "● ";
    }
  }
  .descPoint {
    list-style: none;
    li {
      padding-left: 1rem;
      &::before {
        content: "l ";
      }
    }
  }
}
.noticeArea_notice {
  color: #B3B3B3;
  .title {
    margin-bottom: 8px;
    line-height: 1.75em;
  }
}
.noticeLi {
  padding-left: 1.5em;
  li {
    font-size: 0.75rem;
    line-height: 1.4em;
  }
}


/*------------------------------------*\
  toTop
\*------------------------------------*/
.btnTop {
  display: none;
  position: fixed;
  z-index: 10;
  left: calc(50% + 660px);
  bottom: 120px;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: url(../images/btn-top.png);
  background-size: 100% 100%;
  filter: drop-shadow(0 -8px 21px rgba(0,0,0,0.25));
  @media screen and (max-width: 1480px) {
    left: auto;
    right: 10px;
  }
  @include screen-width($width-mobile) {
    bottom: 40px;
    width: 39px;
    height: 39px;
  }
}











