@import "base/reset";
@import "base/mixin";
@import "base/global";
@import "base/common";

/*title*/
.title {
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-wrap: wrap;
  margin-bottom: $space;
  h2 {
    font-size: 1.75rem;
    line-height: 1.75rem;
    font-weight: 500;
    color: $color-red;
    padding-right: 70px;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    &::before {
      content: "";
      width: 60px;
      height: 1px;
      background-color: $color-red;
      position: absolute;
      right: 0;
      top: 12px;
    }
  }
  p{
    line-height: 30px;
  }
  a {
    &.more {
      color: $color-main;
      position: relative;
      padding-right: 20px;
      font-weight: 500;
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        background: url(../images/arrow-more.svg) center no-repeat;
        background-size: 20px;
        filter: brightness(0.2);
        position: absolute;
        top: 0;
        right: 0;
      }
      &:hover {
        color: $color-red;
      }
      &:hover::before {
        filter: brightness(1);
      }
    }
  }
  &.toLeft {
    justify-content: start;
  }
  @include screen-width($mobile-width) {
    margin-bottom: $space;
    &.m-wrap {
      flex-wrap: wrap;
    }
    h2 {
      font-size: 1.375rem;
    }
  }

  @include screen-width($small-width) {
    &.m-wrap {
      flex-wrap: wrap;
    }
    h2 {
      font-size: 1.1rem;
    }
  }
}

.pagesize {
  &.two-col {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    & > div {
      width: calc(50% - 20px);
      margin-left: 40px;
    }
    & > div:first-child {
      margin-left: 0;
    }
    @include screen-width($pad-width) {
      & > div {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
      }
      & > div:last-child {
        margin: 0;
      }
    }
  }
}
/*主要資訊*/
section {
  &.main-info {
    padding: 0 0 $space * 2;
    @include screen-width($mobile-width) {
      padding-bottom: $space;
      margin-bottom: $space;
    }
  }
}
.main-info {
  margin-bottom: $space * 3;
  position: relative;
  z-index: 999;
  .leftBx {
    width: 450px;
    background: #fff;
    border-radius: $b-radius;
    overflow: hidden;
    min-height: 480px;
    margin-top: -100px;
    .midBx {
      min-height: 320px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .imgbox {
        width: 100%;
        padding-top: 20px;
      }
    }
    .txtBx {
      color: #fff;
      line-height: 70px;
      font-size: 24px;
      text-align: center;
      margin-bottom: 20px;
      background-color: #bb1100;
      position: relative;
      &::after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 10px 0 10px;
        border-color: #bb1000 transparent transparent transparent;
        position: absolute;
        bottom: -12px;
        left: 50%;
        margin-left: -10px;
      }

      @include screen-width($mobile-width) {
        background-color: #eb483f;
        &::after {
          border-color: #eb483f transparent transparent transparent;
        }
      }
    }
    .user-info {
      width: 100%;
      max-height: 290px;
      overflow-y: auto;
      margin-bottom: $space;
      li {
        padding: 12px 8px;
        border-top: 1px solid #d2d2d2;
        color: $color-main;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1.1rem;
        position: relative;
        &.line {
          border-bottom: 1px solid #d2d2d2;
        }
        .tit {
          font-weight: 500;
          letter-spacing: 1px;
          text-align: left;
          .car-num {
            font-size: 1.75rem;
            line-height: 1.75rem;
            padding: 10px 0;
            @include screen-width($mobile-width) {
              padding: 0;
            }
          }
        }
        .txt {
          text-align: right;
          .fsize-3xl {
            line-height: 2.25rem;
          }
        }
        a{
          &:hover{background-color: rgba($color:$color-red, $alpha: .05);}
        }
      }
      & > li:first-child {
        border: none;
      }
      @include screen-width($small-width) {
        li{
          justify-content: center;
          .txt{
            width: 100%; text-align: center; padding-top: 10px;
          }
        }
      }
    }
    .detail-info {
      width: 100%;
      height: 186px;
      background-color: #f5f5f5;
      padding: 6px 20px;
      margin-bottom: $space;
      overflow-y: auto;
      li {
        padding: 10px 0;
        border-top: 1px solid #d2d2d2;
        color: $color-main;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1.1rem;
        .tit {
          font-weight: 500;
          letter-spacing: 1px;
          color: $color-red;
        }
        .txt {
          text-align: right;
          font-size: 1rem;
        }
      }
      & > li:first-child {
        border: none;
      }
    }
  }
  .rightBx {
    width: calc(100% - 500px);
    margin-top: -30px;
    font-size: 1.1rem;
    .whiteBx {
      background: #fff;
      border-radius: $b-radius;
      margin-bottom: $space;
      padding: 20px;
      font-weight: 500;
      p {
        letter-spacing: 1px;
      }
    }
    .marquee {
      height: 60px;
      overflow: hidden;
      padding: 0;
      li {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 60px;
        background:#fff url(../images/ic-marquee.png) 10px 10px no-repeat;
        background-size: 40px;
        padding-left: 50px;
        a {
          padding: 10px 0;
          color: $color-main;
        }
        @include screen-width($mobile-width) {
          background-position: 8px center;
        }
      }
    }
    .parking-link {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      li {
        text-align: center;
        position: relative;
        width: 33%;
        border-left: 1px solid #ece8e8;
        .imgbox {
          width: 80px;
          height: 80px;
          margin: 0 auto 10px;
        }
        h3 {
          color: $color-main;
          font-size: 1.1rem;
          line-height: 1.4rem;
        }
        a {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          display: block;
        }
        &:hover {
          img {
            transform: scale(1.1, 1.1);
            @extend %transition-time;
          }
          h3 {
            color: $color-red;
          }
        }
      }
      & > li:first-child {
        border: none;
      }
    }
    .adBx{
      border-radius: 4px;
    overflow: hidden;
    a{
      &.cover{
        position: absolute; top: 0; right: 0; left: 0; bottom: 0;
      }
      }
    }
  }
  @include screen-width($mid-width) {
    .leftBx {
      width: 380px;
      margin-top: -20px;
      .logBx {
        padding: 0 $space;
      }
    }
    .rightBx {
      width: calc(100% - 400px);
    }
  }

  @include screen-width($mobile-width) {
    .topBx {
      width: 100%;
      margin-top: -20px;
      margin-bottom: $space;
      a {
        background-color: #eb483f;
        color: #fff;
        font-size: 1.1rem;
        text-align: center;
        height: 50px;
        line-height: 50px;
        border-radius: $b-radius;
        display: block;
      }
    }
    .leftBx {
      width: 100%;
      margin-bottom: $space;
      min-height: auto;
      .midBx {
        min-height: auto;
        .imgbox {
          padding-top: 0;
        }
      }
    }
    .rightBx {
      width: 100%;
      margin-top: 0;
      font-size: 1.1rem;
      .marquee {
        height: 50px;
        li {
          height: 50px;
          line-height: 50px;
        }
      }
    }
  }
}



/*重點資訊*/
.focus-info {
  margin-top: -10px;
  .focusBx {
    padding: $space 10px 10px;
    background-color: #fff;
    border-radius: $b-radius;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
      border-radius: 8px;
      z-index: -1;
    }
    h3 {
      color: #6e6e6e;
      font-size: 1.25rem;
      text-align: center;
    }
    .ic-focus {
      width: 100%;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 60px;
        height: 60px;
      }
    }
    &_list {
      li {
        border-top: 1px solid #eee;
        font-weight: 500;
        a {
          padding: 10px;
          color: #6e6e6e;
          display: block;
          &:hover {
            color: $color-orange;
          }
        }
      }
      & > li:first-child {
        border: none;
      }
      @include screen-width($pad-width) {
        padding: 0 10px;
        li {
          a {
            text-align: center;
          }
        }
      }
      @include screen-width($mobile-width) {
        padding: 0 20px;
      }
    }
    &:hover {
      @extend %transition-time;
      &::before {
        box-shadow: 0 0 10px rgba($color: #c6cfd7, $alpha: 1);
      }
      h3 {
        color: $color-darkblue;
      }

      .focusBx_list {
        li {
          a {
            color: #000;
            &:hover {
              color: $color-orange;
            }
          }
        }
      }
    }
  }

  .swiper-container {
   width: 1280px;
    margin: 0 auto;
    padding: 10px 60px;
    position: relative;
    &::before {
      content: "";
      width: 50px;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #fff;
      z-index: 9;
    }
    &::after {
      content: "";
      width: 50px;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: #fff;
      z-index: 9;
    }
    @include screen-width($pad-width) {
      width: 100%;
      max-width: inherit;
      padding: 10px 10px;
      &::before,
      &::after {
        display: none;
      }
    }
  }
  .swiper-wrapper {
    & > .swiper-slide:nth-child(n + 1) {
      .ic-focus {
        background: url(../images/ic-focus-clip-1.png) center no-repeat;
      }
    }
    & > .swiper-slide:nth-child(2n + 1) {
      .ic-focus {
        background: url(../images/ic-focus-clip-2.png) center no-repeat;
      }
    }
    & > .swiper-slide:nth-child(3n + 1) {
      .ic-focus {
        background: url(../images/ic-focus-clip-3.png) center no-repeat;
      }
    }
    & > .swiper-slide:nth-child(4n + 1) {
      .ic-focus {
        background: url(../images/ic-focus-clip-4.png) center no-repeat;
      }
    }
  }
  @include screen-width($mobile-width) {
    margin: 0 10px;
  }
}
.swiper-space{
  .swiper-container {
    /*max-width: 1280px;*/
  width: 1280px;
    margin: 0 auto;
    padding: 10px 60px;
    position: relative;
    &::before {
      content: "";
      width: 50px;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #fff;
      z-index: 9;
    }
    &::after {
      content: "";
      width: 50px;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: #fff;
      z-index: 9;
    }
    @include screen-width($large-width) {
      width: 100%;
    }
    @include screen-width($mid-width) {
      width: 100%;
      padding: 10px 10px;
      &::before,
      &::after {
        display: none;
      }
    }
  }
}


/*活動資訊*/
.event-more {
  .swiper-container {
    overflow: visible;
  }
  .swiper-slide {
    width: auto;
    a {
      padding: 0 20px 0 0;
      color: #6e6e6e;
      display: block;
      font-size: 1.1rem;
      font-weight: 500;
      &.all {
        color: #000;
      }
      &:hover {
        color: $color-red;
      }
    }
  }

  @include screen-width($mobile-width) {
    width: 100%;
    margin-top: 10px;
    .swiper-container {
      overflow: hidden;
    }
  }
}

.actBx {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  &_list {
    border-radius: $b-radius;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.1);
    position: relative;
    overflow: hidden;
    &:hover {
      box-shadow: 0 0 10px rgba($color: #c6cfd7, $alpha: 1);
      .imgbox {
        overflow: hidden;
        img {
          transform: scale(1.1, 1.1);
          @extend %transition-time;
          opacity: 0.8;
        }
      }
      h3 {
        color: $color-red;
      }
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
    }
    .txtbox {
      padding: $space;
      .act-tag {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        .act-name {
          color: $color-darkblue;
        }
        .act-date {
          color: #c0c0c0;
        }
      }
      h3 {
        font-size: 1.1rem;
      }
    }
  }
  @include screen-width($mobile-width) {
    flex-wrap: wrap;
    &_list {
      .txtbox {
        padding: 10px;
        margin: 0;
        .act-date {
          font-size: 0.6rem;
        }
      }
    }
  }
}

/* 新聞、活動列表 */
.newsBx {
  position: relative;
  &_list {
    li {
      padding: $space * 1.4 0;
      position: relative;
      display: flex;
      border-bottom: 1px solid #ddd;
      .date {
        color: $color-grey;
        font-size: 1rem;
        margin-right: 10px;
        min-width: 100px;
      }
      p {
        color: $color-main;
        font-size: 1.125rem;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &.focus {
          color: $color-red;
        }
      }
      a {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: block;
      }
      &:hover {
        p {
          color: $color-orange;
          @extend %transition-time;
        }
      }
    }
    @include screen-width($mobile-width) {
      li {
        flex-wrap: wrap;
        padding: 10px 0;
        .date {
          margin-bottom: 6px;
          margin-right: 0;
          width: 100%;
        }
      }
    }
  }
}

.eventBx {
  .title {
    margin-bottom: $space * 1.5;
  }
  &_list {
    li {
      position: relative;
      border-radius: $b-radius;
      border: 1px solid #ddd;
      margin-bottom: 24px;
      height: 50px;
      line-height: 50px;
      padding: 0 10px;
      p {
        color: $color-main;
        font-size: 1.125rem;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &.focus {
          color: $color-red;
        }
      }
      a {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: block;
      }
      &:hover {
        p {
          color: $color-orange;
          @extend %transition-time;
        }
      }
    }
  }
  @include screen-width($mobile-width) {
    .title {
      margin-bottom: $space;
    }
    &_list {
      li {
        margin-bottom: $space;
      }
    }
  }
}

/*今日路況、油價*/
.today-info {
  padding-top: $space * 3;
  @include screen-width($mid-width) {
    padding: $space * 2 0;
  }
}
.today {
  padding: 0 40px 0 200px;
  min-height: 160px;
  &.road {
    background: url(../images/ic-today-road.png) 20px center no-repeat;
    border-right: 1px solid #ddd;
    min-width: 480px;
    a {
      &.check-traffic {
        background-color: $color-red;
        color: $color-white;
        text-align: center;
        font-size: 1.125rem;
        line-height: 50px;
        border-radius: $b-radius;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .ic {
          width: 30px;
          height: 30px;
          background: url(../images/btn-ic-traffic.png) center no-repeat;
          display: inline-block;
          margin-right: 10px;
        }
        &:hover {
          background-color: $color-black;
        }
      }
    }
  }
  &.oil {
    background: url(../images/ic-today-oil.png) 20px center no-repeat;
    .oil-price {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        display: flex;
        justify-content: start;
        align-items: flex-end;
        width: 48%;
        min-height: 40px;
        margin-top: 20px;
        & > div {
          padding-right: 10px;
        }
        & > div:last-child {
          padding-right: 0;
        }
        .txt {
          color: $color-grey;
          line-height: 1rem;
        }
        .name {
          color: $color-black;
          font-size: 2.5rem;
          line-height: 2rem;
          font-weight: bold;
          &.s-width {
            font-size: 1.375rem;
            line-height: 1.375rem;
            padding-top: 10px;
            padding-right: 10px;
          }
        }
        .price {
          color: $color-red;
          font-size: 1.875rem;
          font-weight: bold;
        }
        .line {
          border-right: 1px dashed #999;
          margin-right: 10px;
        }
      }
    }
  }
  @include screen-width($mid-width) {
    padding: 0 20px 0 120px;
    &.road {
      min-width: 360px;
      background-size: 100px;
      background-position: 0 bottom;
    }
    &.oil {
      background-size: 100px;
      background-position: 10px bottom;
    }
  }
  @include screen-width($pad-width) {
    padding: 0 20px 0 160px;
    &.road {
      min-width: 100%;
      background-size: 100px;
      background-position: 10px center;
      border-right: none;
      border-bottom: 1px solid #ddd;
      margin-bottom: 20px;
      a {
        &.check-traffic {
          margin-bottom: 20px;
        }
      }
    }
    &.oil {
      background-size: 100px;
      background-position: 10px center;
    }
  }
  @include screen-width($mobile-width) {
    padding: 0 0 0 120px;
    &.road {
      min-width: 100%;
      background-size: 100px;
      background-position: 10px center;
      border-right: none;
      border-bottom: 1px solid #ddd;
      margin-bottom: 20px;
    }
    &.oil {
      background-size: 100px;
      background-position: 0 center;
      .oil-price {
        li {
          width: 100%;
          margin-top: 10px;
          .txt {
            font-size: 0.6rem;
          }
          .name {
            font-size: 2rem;
            line-height: 2rem;
            &.s-width {
              font-size: 1.25rem;
              line-height: 1.25rem;
              padding-right: 8px;
            }
          }
          .price {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
