@charset "UTF-8";
/*reset*/
body, header, footer, section, article, picture, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset,
input, textarea, p, blockquote, iframe, button, a {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
  letter-spacing: 0.1px;
  text-decoration: none;
  border: 0;
  word-wrap: break-word;
}

html,
body {
  height: 100%;
}

body {
  color: #1a1b29;
  background: #ffffff;
  font: 16px/140% 'Arial', 'Noto Sans TC','Microsoft JhengHei', 'PingFang', sans-serif;
}

input, button, textarea, select, optgroup, option, a, button {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: none;
}

a,
button {
  color: inherit;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-size: 1em;
  line-height: 1.5em;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

ul li {
  padding: 0;
}

ol {
  margin: 0;
  padding-left: 1.4em;
}

table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

/*reset end*/
/*思源黑體*/
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: normal;
  src: local(""), url("../fonts/noto-sans-tc-v11-latin_chinese-traditional-regular.woff2") format("woff2"), url("../fonts/noto-sans-tc-v11-latin_chinese-traditional-regular.woff") format("woff");
  /* Chrome 6+,Firefox 3.6+,IE 9+,Safari 5.1+ */
  font-display: swap;
}

/* noto-sans-tc-regular - latin_chinese-traditional */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/noto-sans-tc-v11-latin_chinese-traditional-500.woff") format("woff2"), url("../fonts/noto-sans-tc-v11-latin_chinese-traditional-500.woff") format("woff");
  /* Chrome 6+,Firefox 3.6+,IE 9+,Safari 5.1+ */
  font-display: swap;
}

/*jf金萱那提2.0*/
@font-face {
  font-family: 'jf font';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/jf-jinxuanlatte-2.0-heavy.otf") format("woff2"), url("../fonts/jf-jinxuanlatte-2.0-heavy.otf") format("woff2");
  /* Chrome 6+,Firefox 3.6+,IE 9+,Safari 5.1+ */
  font-display: swap;
}

/*樣式設定
.class {
  @include mid-width() {
  }
}*/
footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page, #pageMenu, #pageMenu .hasSub button, .pageMenu-btn .line, .goTop.hide, .newsBx_list li:hover p, .eventBx_list li:hover p {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*color*/
/*font*/
input[type="text"],
input[type="password"],
select {
  width: 100%;
  min-width: 0;
  height: 48px;
  line-height: 48px;
  border: solid 1px #2c3e50;
  border-radius: 5px;
}

input[type="text"],
input[type="password"] {
  padding: 0 15px;
  background: #fff;
}

input[type="text"]:disabled,
input[type="password"]:disabled {
  background: #f0f0f0;
  border: none;
}

input::-webkit-input-placeholder {
  color: #333;
}

input::-moz-placeholder {
  color: #333;
}

input:-ms-input-placeholder {
  color: #333;
}

input:-moz-placeholder {
  color: #333;
}

select {
  width: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0 35px 0 15px;
  color: #666;
  background: #fff url(../images/arrow_01.png) right 13px center no-repeat;
  background-size: auto 12px;
}

select::-ms-expand {
  display: none;
}

select option {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select option:hover {
  color: #fff;
  background-color: #666;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 15px;
}

input[type="checkbox"] + label span {
  vertical-align: middle;
}

input[type="checkbox"] + label .icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background: #e9ebed;
  border-radius: 5px;
}

input[type="checkbox"]:checked + label .icon {
  background: #eee url(../images/check_01.png) center no-repeat;
  background-size: 70%;
  border: 0;
}

input[type="checkbox"]:disabled + label .text {
  color: #a0a0a0;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 15px;
}

input[type="radio"] + label span {
  cursor: pointer;
  vertical-align: middle;
}

input[type="radio"] + label .icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 2px 5px 2px 0;
  background: #fff;
  background-size: 15px;
  border: solid 1px #2c3e50;
  border-radius: 24px;
}

input[type="radio"]:checked + label .icon::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 14px;
  height: 14px;
  background: #2c3e50;
  border-radius: 50%;
}

input[type="checkbox"] + label.inline,
input[type="radio"] + label.inline {
  display: inline-block;
  margin: 0;
}

/*-------------------------------- 頁面 --------------------------------*/
.page {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
}

.pagesize {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@media all and (max-width: 1024px) {
  .pagesize {
    padding: 0 20px;
    max-width: 1000px;
  }
}

@media all and (max-width: 768px) {
  .pagesize {
    padding: 0 10px;
  }
}

.container {
  position: relative;
}

/*header*/
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 80px;
  padding: 16px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header .pagesize {
  max-width: 1390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  display: block;
  width: 100px;
  height: 48px;
  background: url(../images/logo.png) left center no-repeat;
  background-size: auto 100%;
}

header .topMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .topMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .topMenu ul li {
  padding: 0 0 0 30px;
  margin-left: 30px;
  border-left: 2px solid #f1efef;
}

header .topMenu ul li a {
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 500;
  color: #1b1b1b;
  display: block;
  position: relative;
}

header .topMenu ul li a:hover {
  color: #bb1100;
}

header .topMenu ul li.location a {
  padding-left: 30px;
  background: url(../images/ic-location.png) 0 4px no-repeat;
  background-size: 30px;
}

header .topMenu ul li.member a {
  padding-left: 30px;
  background: url(../images/ic-user.png) 0 center no-repeat;
  background-size: 30px;
}

header .topMenu ul > li:first-child {
  border: none;
}

@media all and (max-width: 768px) {
  header .topMenu {
    padding-right: 40px;
  }
  header .topMenu ul {
    border-right: 2px solid #f1efef;
  }
  header .topMenu ul li {
    padding: 0;
    margin: 0;
  }
  header .topMenu ul li a {
    line-height: 0;
    font-size: 0;
    overflow: hidden;
  }
  header .topMenu ul li.location a, header .topMenu ul li.member a {
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    background-position: center;
  }
}

header .search {
  margin-left: 20px;
}

header .search a.ic {
  width: 40px;
  height: 40px;
  background: url(../images/ic-search.png) center no-repeat;
  background-size: 24px;
  display: block;
}

/*menu*/
.page_cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -2;
}

.openmenu {
  position: fixed;
}

.page.openmenu .page_cover {
  z-index: 1001;
}

/* menu */
#pageMenu {
  position: fixed;
  z-index: 9999;
  width: 80%;
  height: 100vh;
  background: #1b1b1b;
}

#pageMenu ul {
  list-style: none;
}

#pageMenu ul li {
  border-bottom: 1px solid #626262;
}

#pageMenu ul li > a {
  display: block;
  min-height: 50px;
  padding: 16px 50px 16px 20px;
  color: #eb483f;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 500;
}

#pageMenu .hasSub {
  position: relative;
}

#pageMenu .hasSub ul {
  background-color: #313131;
}

#pageMenu .hasSub ul a {
  color: #fff;
  font-size: 1rem;
  padding-left: 40px;
}

#pageMenu .hasSub ul li ul {
  background-color: #434343;
}

#pageMenu .hasSub ul li ul li {
  border: none;
}

#pageMenu .hasSub ul li ul li a {
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-weight: normal;
  padding: 10px 50px 10px 60px;
  min-height: 40px;
  position: relative;
}

#pageMenu .hasSub ul li ul li a::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
  top: 16px;
  left: 44px;
}

#pageMenu .hasSub button {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: url(../images/arrow-w.svg) center center no-repeat;
  background-size: auto 32px;
  cursor: pointer;
  outline: none;
  border: none;
}

#pageMenu .hasSub.open > button {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.openmenu ~ #pageMenu {
  opacity: 1;
}

/* menu_按鈕 */
.pageMenu-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  display: none;
}

@media all and (max-width: 768px) {
  .pageMenu-btn {
    display: block;
  }
}

.pageMenu-btn .line {
  display: block;
  position: absolute;
  left: 4px;
  width: 20px;
  height: 2px;
  background-color: #000;
  border-radius: 2px;
}

.pageMenu-btn .line01 {
  top: 7px;
}

.pageMenu-btn .line02 {
  top: 14px;
}

.pageMenu-btn .line03 {
  top: 21px;
}

/* menu_按鈕_展開 */
.openmenu .pageMenu-btn .line01 {
  width: 24px;
  top: 14px;
  left: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.openmenu .pageMenu-btn .line02 {
  display: none;
}

.openmenu .pageMenu-btn .line03 {
  width: 24px;
  top: 14px;
  left: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.show-left.openmenu {
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
}

.show-left ~ #pageMenu {
  top: 0;
  left: -80%;
}

.show-left.openmenu ~ #pageMenu {
  left: 0;
}

.show-right.openmenu {
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
}

.show-right ~ #pageMenu {
  left: auto;
  right: -80%;
}

.show-right.openmenu ~ #pageMenu {
  right: 0;
}

.show-up ~ #pageMenu {
  top: -100%;
  left: 0;
  width: 100%;
  height: auto;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
}

.show-up.openmenu ~ #pageMenu {
  top: 0;
}

.show-up.openmenu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.searchBx {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #626262;
}

.searchBx_box {
  border-radius: 5px;
  background-color: #404040;
  padding-right: 40px;
  position: relative;
}

.searchBx input[type="text"] {
  background-color: transparent;
  color: #fff;
  line-height: 40px;
  height: 40px;
  border: none;
}

.searchBx input::-webkit-input-placeholder {
  color: #fff;
}

.searchBx input::-moz-placeholder {
  color: #fff;
}

.searchBx input:-ms-input-placeholder {
  color: #fff;
}

.searchBx input:-moz-placeholder {
  color: #fff;
}

.searchBx .go {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: url(../images/ic-search-w.png) center no-repeat;
  background-size: 24px;
}

.bt-btn {
  width: 100%;
  padding: 20px;
}

.bt-btn a {
  border-radius: 4px;
  line-height: 40px;
  background-color: #bb1100;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  display: block;
}

/*------------------------------------------*/
/*footer*/
footer {
  color: #ffffff;
}

footer a {
  display: block;
}

footer a img {
  vertical-align: top;
}

footer .footer-top {
  background: url(../images/bg-footer-top.jpg) center no-repeat;
  background-size: cover;
  padding: 48px 0;
}

footer .footer-top .serveBx {
  font-family: "Noto Sans TC";
  padding: 0 50px 0 100px;
  border-left: 1px solid #fff;
}

footer .footer-top .serveBx.map {
  background: url(../images/ic-ft-location.png) 25px 0 no-repeat;
  background-size: 50px;
}

footer .footer-top .serveBx.call {
  background: url(../images/ic-ft-call.png) 25px 0 no-repeat;
  background-size: 50px;
}

footer .footer-top .serveBx h3 {
  font-size: 1.375rem;
  font-weight: normal;
}

footer .footer-top .serveBx p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 16px;
}

footer .footer-top .serveBx a {
  display: inline-block;
  border-radius: 4px;
  background-color: #bb1100;
  text-align: center;
  font-size: 1rem;
  width: 100px;
  line-height: 1rem;
  padding: 8px 10px 10px;
}

footer .footer-top .serveBx a:hover {
  background-color: #1b1b1b;
}

footer .footer-top .pagesize > .serveBx:first-child {
  border-left: none;
}

@media all and (max-width: 1024px) {
  footer .footer-top .serveBx {
    padding: 0 20px 0 100px;
  }
  footer .footer-top .serveBx h3 {
    font-size: 1.25rem;
  }
  footer .footer-top .serveBx p {
    font-size: 0.9rem;
    font-weight: normal;
    line-height: 1.4rem;
  }
}

@media all and (max-width: 768px) {
  footer .footer-top {
    padding: 32px 0 16px;
  }
  footer .footer-top .serveBx {
    border-left: none;
    border-top: 1px solid #fff;
    padding: 20px 0 20px 50px;
    width: 100%;
  }
  footer .footer-top .serveBx.map {
    background-position-x: 0;
    background-size: 36px;
  }
  footer .footer-top .serveBx.call {
    background-position: 0 20px;
    background-size: 36px;
  }
  footer .footer-top .pagesize > .serveBx:first-child {
    border: none;
    padding-top: 0;
  }
}

footer .footer-sitemap {
  color: #fff;
  background: url(../images/bg-footer-sitemap.jpg) center no-repeat;
  background-size: cover;
  height: 40px;
  overflow: hidden;
}

footer .footer-sitemap.open {
  height: auto;
  overflow: auto;
}

footer .footer-sitemap.open .sitemap-toggle::before {
  content: "收合";
}

footer .footer-sitemap.open .sitemap-toggle::after {
  content: "";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

footer .footer-sitemap .sitemap-toggle {
  position: absolute;
  top: 0;
  right: 20px;
  width: 80px;
  height: 30px;
  background-color: #535353;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

footer .footer-sitemap .sitemap-toggle::before {
  content: "展開";
  width: 80px;
  height: 30px;
  font-size: 0.875rem;
  line-height: 30px;
  color: #fff;
  padding: 0 30px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}

footer .footer-sitemap .sitemap-toggle::after {
  content: "";
  background: url(../images/ic-ft-arw.png) center no-repeat;
  background-size: 14px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}

footer .footer-sitemap .pagesize {
  padding-top: 48px;
  padding-bottom: 40px;
}

footer .footer-sitemap .pagesize .ft-tit {
  position: absolute;
  top: 0;
  left: 16px;
  line-height: 40px;
  font-size: 0.875rem;
}

footer .footer-sitemap .sitemapBx {
  min-width: 160px;
}

footer .footer-sitemap .sitemapBx h3 {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 16px;
}

footer .footer-sitemap .sitemapBx .sitemap-list a {
  font-family: "Microsoft JhengHei";
  color: #a0a0a0;
  padding: 2px 0;
  display: block;
}

footer .footer-sitemap .sitemapBx .sitemap-list a:hover {
  color: #fff;
}

footer .footer-sitemap .sitemapBx .sitemap-list a.tB {
  font-weight: 800;
  font-family: "Noto Sans TC";
}

footer .footer-sitemap .sitemapBx .sitemap-list.two-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-sitemap .sitemapBx .sitemap-list.two-col li {
  width: 50%;
}

footer .footer-sitemap .sitemapBx .link-list li {
  margin-bottom: 10px;
}

footer .footer-sitemap .sitemapBx .link-list li:hover {
  opacity: 0.8;
}

footer .footer-sitemap .sitemapBx .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

footer .footer-sitemap .sitemapBx .footer-social li:hover {
  opacity: 0.8;
}

@media all and (max-width: 768px) {
  footer .footer-sitemap .pagesize {
    padding: 38.4px 16px 16px;
  }
  footer .footer-sitemap .sitemapBx {
    min-width: 100%;
    padding-top: 16px;
    text-align: center;
  }
  footer .footer-sitemap .sitemapBx h3 {
    margin-bottom: 10px;
  }
  footer .footer-sitemap .sitemapBx .sitemap-list a {
    font-size: 1rem;
    padding: 6px 0;
  }
  footer .footer-sitemap .sitemapBx .sitemap-list.two-col li {
    width: 100%;
  }
  footer .footer-sitemap .sitemapBx .footer-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer-sitemap .sitemapBx .footer-social li {
    margin: 0 5px;
  }
}

footer .footer-bottom {
  background-color: #000;
  padding: 20px 0;
  text-align: center;
  font-family: 'Microsoft JhengHei';
}

footer .footer-bottom .footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

footer .footer-bottom .footer-link li {
  position: relative;
}

footer .footer-bottom .footer-link li::before {
  content: "";
  width: 1px;
  height: 16px;
  background-color: #bfbfbf;
  position: absolute;
  top: 6px;
  left: 0;
}

footer .footer-bottom .footer-link li a {
  font-size: 1rem;
  color: #fff;
  padding: 4px 10px;
}

footer .footer-bottom .footer-link li a:hover {
  color: #bfbfbf;
}

footer .footer-bottom .footer-link > li:first-child::before {
  display: none;
}

footer .footer-bottom p {
  color: #a0a0a0;
  font-size: 0.8rem;
}

footer .links {
  margin-bottom: 10px;
}

footer .links li {
  padding: 0 20px;
}

@media all and (max-width: 768px) {
  footer {
    font-size: 12px;
  }
  footer .links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .links li {
    padding: 0 10px;
  }
}

@media all and (max-width: 768px) and (max-width: 480px) {
  footer .links li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33%;
            flex: 1 1 33%;
  }
}

/*goTop*/
.goTop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 999;
  opacity: 1;
}

.goTop .goTopBtn {
  position: relative;
  padding-top: 25px;
  color: #ffffff;
  font-size: 1.125rem;
  background-color: rgba(49, 49, 49, 0.9);
  border-radius: 100%;
  width: 60px;
  height: 60px;
  text-align: center;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
  display: block;
}

.goTop .goTopBtn::before {
  content: "";
  background: url(../images/ic-ft-arw.png) center no-repeat;
  background-size: 14px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 20px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.goTop .goTopBtn:hover {
  background-color: #bb1100;
}

.goTop.hide {
  opacity: 0;
}

@media all and (max-width: 768px) {
  .goTop {
    bottom: 40px;
    right: 20px;
  }
}

/*popup*/
.popup {
  display: none;
}

.popup.open {
  display: block;
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /*background: rgba(0, 0, 0, 0.9);*/
  z-index: 999;
}

.popup.open ~ .wrapper {
  position: fixed;
  width: 100%;
}

/*title*/
.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.title h2 {
  font-size: 1.75rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #bb1100;
  padding-right: 70px;
  margin-right: 20px;
  display: inline-block;
  position: relative;
}

.title h2::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #bb1100;
  position: absolute;
  right: 0;
  top: 12px;
}

.title a.more {
  color: #1a1b29;
  position: relative;
  padding-right: 20px;
  font-weight: 500;
}

.title a.more::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/arrow-more.svg) center no-repeat;
  background-size: 20px;
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
  position: absolute;
  top: 0;
  right: 0;
}

.title a.more:hover {
  color: #bb1100;
}

.title a.more:hover::before {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.title.toLeft {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media all and (max-width: 768px) {
  .title.m-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .title h2 {
    font-size: 1.375rem;
  }
}

@media all and (max-width: 480px) {
  .title.m-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .title h2 {
    font-size: 1.1rem;
  }
}

section {
  padding: 48px 0;
}

section.bg-red {
  background-color: #bb1100;
}

section.bg-grey {
  background-color: #f2f2f2;
}

/* common use */
.tL {
  text-align: left;
}

.tR {
  text-align: right;
}

.tC {
  text-align: center;
}

.vM {
  vertical-align: middle;
}

.tM {
  font-weight: 500;
}

.tLight {
  font-weight: 300;
}

.tB {
  font-weight: bold;
}

.fL {
  float: left;
}

.fR {
  float: right;
}

.clr {
  clear: both;
}

.web {
  display: block;
}

.mobile {
  display: none;
}

@media all and (max-width: 768px) {
  .web {
    display: none;
  }
  .mobile {
    display: block;
  }
}

/*字體大小*/
.fsize-xs {
  font-size: 12px !important;
}

.fsize-s {
  font-size: 14px;
}

.fsize-m {
  font-size: 16px;
}

.fsize-ml {
  font-size: 18px;
}

.fsize-l {
  font-size: 20px;
}

.fsize-xl {
  font-size: 22px;
}

.fsize-2xl {
  font-size: 24px;
}

.fsize-3xl {
  font-size: 30px;
}

/*字型*/
.jf {
  font-family: 'jf font';
}

/*間距*/
.Mb-0 {
  margin-bottom: 0 !important;
}

.Mb-1 {
  margin-bottom: 16px !important;
}

.Mb-15 {
  margin-bottom: 24px !important;
}

.Mb-2 {
  margin-bottom: 32px !important;
}

.Mb-25 {
  margin-bottom: 40px !important;
}

.Mb-3 {
  margin-bottom: 48px;
}

@media all and (max-width: 768px) {
  .m-Mb-0 {
    margin-bottom: 0 !important;
  }
  .m-Mb-1 {
    margin-bottom: 16px !important;
  }
}

/*-------------------------------- 共用 --------------------------------*/
/*area*/
.mainArea {
  position: relative;
}

/*----------------- element -----------------*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex.top {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex.s-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media all and (max-width: 1000px) {
  .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .flex.m-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.imgbox {
  position: relative;
}

.imgbox img {
  display: block;
  max-width: 100%;
}

.imgbox a {
  display: block;
  padding: 0;
}

.imgbox.full img {
  width: 100%;
}

.imgbox.tC img {
  margin: 0 auto;
}

picture a.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

picture a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/*title*/
.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.title h2 {
  font-size: 1.75rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #bb1100;
  padding-right: 70px;
  margin-right: 20px;
  display: inline-block;
  position: relative;
}

.title h2::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #bb1100;
  position: absolute;
  right: 0;
  top: 12px;
}

.title a.more {
  color: #1a1b29;
  position: relative;
  padding-right: 20px;
  font-weight: 500;
}

.title a.more::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/arrow-more.svg) center no-repeat;
  background-size: 20px;
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
  position: absolute;
  top: 0;
  right: 0;
}

.title a.more:hover {
  color: #bb1100;
}

.title a.more:hover::before {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.title.toLeft {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media all and (max-width: 768px) {
  .title.m-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .title h2 {
    font-size: 1.375rem;
  }
}

@media all and (max-width: 480px) {
  .title.m-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .title h2 {
    font-size: 1.1rem;
  }
}

.pagesize.two-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pagesize.two-col > div {
  width: calc(50% - 40px);
  margin-left: 40px;
}

.pagesize.two-col > div:first-child {
  margin-left: 0;
}

@media all and (max-width: 1000px) {
  .pagesize.two-col > div {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .pagesize.two-col > div:last-child {
    margin: 0;
  }
}

/*活動資訊*/
.event-more li {
  display: inline-block;
}

.event-more li a {
  color: #6e6e6e;
  display: block;
  padding: 0 10px;
  font-size: 1.1rem;
  font-weight: 500;
}

.event-more li a.all {
  color: #000;
}

.event-more li a:hover {
  color: #bb1100;
}

.actBx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.actBx_list {
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.actBx_list .txtbox {
  padding: 16px;
}

.actBx_list .txtbox .act-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actBx_list .txtbox h3 {
  font-size: 1.1rem;
}

/* 新聞、活動列表 */
.newsBx {
  position: relative;
}

.newsBx_list li {
  padding: 22.4px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ddd;
}

.newsBx_list li .date {
  color: #6e6e6e;
  font-size: 1rem;
  margin-right: 10px;
}

.newsBx_list li p {
  color: #1a1b29;
  font-size: 1.125rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.newsBx_list li p.focus {
  color: #bb1100;
}

.newsBx_list li a {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
}

.newsBx_list li:hover p {
  color: #e49347;
}

@media all and (max-width: 768px) {
  .newsBx_list li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px 0;
  }
  .newsBx_list li .date {
    margin-bottom: 6px;
    margin-right: 0;
    width: 100%;
  }
}

.eventBx .title {
  margin-bottom: 24px;
}

.eventBx_list li {
  position: relative;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 24px;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
}

.eventBx_list li p {
  color: #1a1b29;
  font-size: 1.125rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.eventBx_list li a {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
}

.eventBx_list li:hover p {
  color: #e49347;
}

@media all and (max-width: 768px) {
  .eventBx .title {
    margin-bottom: 16px;
  }
  .eventBx_list li {
    margin-bottom: 16px;
  }
}

/*今日路況、油價*/
.today {
  padding: 0 40px 0 200px;
  min-height: 160px;
}

.today.road {
  background: url(../images/ic-today-road.png) 20px center no-repeat;
  border-right: 1px solid #ddd;
  min-width: 480px;
}

.today.road a.check-traffic {
  background-color: #bb1100;
  color: #ffffff;
  text-align: center;
  font-size: 1.125rem;
  line-height: 50px;
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.today.road a.check-traffic .ic {
  width: 30px;
  height: 30px;
  background: url(../images/btn-ic-traffic.png) center no-repeat;
  display: inline-block;
  margin-right: 10px;
}

.today.road a.check-traffic:hover {
  background-color: #000;
}

.today.oil {
  background: url(../images/ic-today-oil.png) 20px center no-repeat;
}

.today.oil .oil-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.today.oil .oil-price li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 48%;
  min-height: 40px;
  margin-top: 20px;
}

.today.oil .oil-price li > div {
  padding-right: 10px;
}

.today.oil .oil-price li > div:last-child {
  padding-right: 0;
}

.today.oil .oil-price li .txt {
  color: #6e6e6e;
  line-height: 1rem;
}

.today.oil .oil-price li .name {
  color: #000;
  font-size: 2.5rem;
  line-height: 2rem;
  font-family: "jf font";
}

.today.oil .oil-price li .name.s-width {
  font-size: 1.375rem;
  line-height: 1.375rem;
  padding-top: 10px;
  padding-right: 10px;
}

.today.oil .oil-price li .price {
  color: #bb1100;
  font-size: 1.875rem;
  font-family: "jf font";
}

.today.oil .oil-price li .line {
  border-right: 1px dashed #999;
  margin-right: 10px;
}

@media all and (max-width: 1024px) {
  .today {
    padding: 0 20px 0 120px;
  }
  .today.road {
    min-width: 360px;
    background-size: 100px;
    background-position: 0 bottom;
  }
  .today.oil {
    background-size: 100px;
    background-position: 10px bottom;
  }
}

@media all and (max-width: 1000px) {
  .today {
    padding: 0 20px 0 160px;
  }
  .today.road {
    min-width: 100%;
    background-size: 100px;
    background-position: 10px center;
    border-right: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }
  .today.road a.check-traffic {
    margin-bottom: 20px;
  }
  .today.oil {
    background-size: 100px;
    background-position: 10px center;
  }
}

@media all and (max-width: 768px) {
  .today {
    padding: 0 0 0 120px;
  }
  .today.road {
    min-width: 100%;
    background-size: 100px;
    background-position: 10px center;
    border-right: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }
  .today.oil {
    background-size: 100px;
    background-position: 0 center;
  }
  .today.oil .oil-price li {
    width: 100%;
    margin-top: 10px;
  }
  .today.oil .oil-price li .txt {
    font-size: 0.6rem;
  }
  .today.oil .oil-price li .name {
    font-size: 2rem;
    line-height: 2rem;
  }
  .today.oil .oil-price li .name.s-width {
    font-size: 1.25rem;
    line-height: 1.25rem;
    padding-right: 8px;
  }
  .today.oil .oil-price li .price {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=index.css.map */