// ------------------------------------
// btn
// ------------------------------------
@use '../base' as *;



// btn
.btn {
  font-size: 0.875em;
  line-height: 1rem;
  display: inline-block;
  text-align: center;
  border-radius: 48px;
  padding: 11px 23px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border 0.2s ease-in-out;
  &.disabled {
    cursor: not-allowed;
  }
  .icon-l { padding-left: 24px; }
  
  // size
  &.h-m {
    padding: 9px 15px;
  }
  &.h-s {
    padding: 7px 15px;
  }
  &.h-l, &.h-chk {
    font-size: 1em;
    line-height: 1.125;
    padding: 14px 31px;
  }
  &.w-chk {
    flex: 0 1 auto;
    width: 100%;
    max-width: 240px;
    &.h-l {
      font-weight: 700;
    }
  }
  &.w-m {
    min-width: 120px;
  }
  &.f-1 { flex: 1 1 50%; }
  &.px-s {
    padding-left: 15px; padding-right: 15px;
  }

  // theme
  // main
  &.ty-main,
  &.ty-line-main.selected,
  &.ty-line-main.active {
    color: #fff;
    background-color: $color-primary;
    border: solid 1px $color-primary;
    &.disabled {
      opacity: 0.65;
      @include web-only {
        &:hover {
          background-color: $color-primary;
          border-color: $color-primary;
        }
        &:focus { outline: none; }
      }
    }
  }
  &.ty-line-main {
    color: $color-primary;
    background-color: #fff;
    border: solid 1px $color-primary;
    &.disabled {
      opacity: 0.65;
      @include web-only {
        &:hover {
          color: $color-primary;
          background-color: #fff;
          border-color: $color-primary;
        }
        &:focus { outline: none; }
      }
    }
  }
  &.ty-main,
  &.ty-line-main,
  &.ty-line-main.selected {
    @include web-only {
      &:hover {
        color: #fff;
        background-color: $color-primary-700;
        border-color: $color-primary-700;
      }
      &:focus {
        outline: 4px solid rgba($color-primary, 0.65);
      }
    }
  }
  &.ty-line-main.selected {
    @include screen($width-mobile) {
      color: $color-primary;
      background-color: $color-primary-100;
    }
  }
  // cancel
  &.ty-cancel {
    color: #fff;
    background-color: $color-gray-600;
    border: solid 1px $color-gray-600;
    &.disabled {
      opacity: 0.65;
      @include web-only {
        &:hover {
          background-color: $color-gray-600;
          border-color: $color-gray-600;
        }
        &:focus { outline: none; }
      }
    }
  }
  &.ty-line-cancel {
    color: $color-gray-700;
    border: solid 1px $color-gray-700;
    &.disabled {
      opacity: 0.65;
      @include web-only {
        &:hover {
          color: $color-gray-700;
          background-color: #fff;
          border-color: $color-gray-700;
        }
        &:focus { outline: none; }
      }
    }
  }
  &.ty-cancel,
  &.ty-line-cancel {
    @include web-only {
      &:hover {
        color: #fff;
        background-color: $color-gray-700;
        border-color: $color-gray-700;
      }
      &:focus {
        outline: 4px solid rgba(#000, 0.25);
      }
    }
  }
  &.ty-line-cancel-light {
    color: $color-gray-600;
    border: solid 1px $color-gray-600;
    &.disabled {
      opacity: 0.65;
      @include web-only {
        &:hover {
          color: $color-gray-600;
          background-color: #fff;
          border-color: $color-gray-600;
        }
        &:focus { outline: none; }
      }
    }
  }
  &.ty-line-filter {
    color: #888;
    background-color: #fff;
    border: solid 1px #ccc;
    &.disabled {
      opacity: 0.65;
      @include web-only {
        &:hover {
          color: #888;
          background-color: #fff;
          border-color: #ccc;
        }
        &:focus { outline: none; }
      }
    }
    &.active {
      color: #fff;
      background-color: $color-primary;
      border: solid 1px $color-primary;
      &.disabled {
        opacity: 0.65;
        @include web-only {
          &:hover {
            background-color: $color-primary;
            border-color: $color-primary;
          }
          &:focus { outline: none; }
        }
      }
    }
  }
  // second
  &.ty-line-second {
    color: $color-second;
    background-color: #fff;
    border: solid 1px $color-second;
    &.disabled {
      opacity: 0.65;
      @include web-only {
        &:hover {
          color: $color-second;
          background-color: #fff;
          border-color: $color-second;
        }
        &:focus { outline: none; }
      }
    }
    @include web-only {
      &:hover {
        color: #fff;
        background-color: $color-second;
        border-color: $color-second;
      }
      &:focus {
        outline: 4px solid rgba($color-second, 0.65);
      }
    }
  }
  // main
  &.ty-strong {
    color: #fff;
    background-color: $color-strong;
    border: solid 1px $color-strong;
    @include web-only {
      &:hover {
        color: #fff;
        background-color: $color-strong;
        border-color: $color-strong;
      }
      &:focus {
        outline: 4px solid rgba($color-strong, 0.4);
      }
    }
    &.disabled {
      opacity: 0.65;
      @include web-only {
        &:hover {
          background-color: $color-strong;
          border-color: $color-strong;
        }
        &:focus { outline: none; }
      }
    }
  }

}

// icon
$btn-iconText: (
  'filter',
);
@each $name in $btn-iconText {
  .btn .icon.icon-#{$name} {
    background-image: url(../eCNT_images/input-icon-#{$name}.svg);
  }
}
.btn {
  .icon {
    background-size: 20px;
    background-repeat: no-repeat;
    &.ty-l{ padding-left: 24px; background-position: left center; }
    &.ty-r{ padding-right: 24px; background-position: right center; }
  }
  &.h-l , &.h-chk { 
    .icon {
      background-size: 24px;
      &.ty-l{ padding-left: 28px; }
      &.ty-r{ padding-right: 28px; }
    }
  }
  &.h-s .icon { 
    background-size: 16px;
    &.ty-l{ padding-left: 20px; }
    &.ty-r{ padding-right: 20px; }
  }
}


// box
.btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px 8px;
  &.ty-row { flex-wrap: nowrap; }
  &.tL { justify-content: flex-start; }
  &.tR { justify-content: flex-end; }
  .order-1,
  .order-2,
  .order-3 { order: revert !important; }
  @include screen($width-mobile) {
    &.m-vertical {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .order-1 { order: 1 !important; }
      .order-2 { order: 2 !important; }
      .order-3 { order: 3 !important; }
    }
  }
}

.btn-boxTitle {
  color: $color-gray-700;
  margin-bottom: 10px;
}



