/*------------------------------------*\
  _btn.scss
  ___
  按鈕
\*------------------------------------*/
@use "sass:map";
@use '../base/variables' as *;

/*------------------------------------*\
  按鈕顏色
\*------------------------------------*/
@each $name, $value in $btn-theme {
  $class: map.get($value, class);
  $color: map.get($value, color);
  $bg: map.get($value, bg);
  // $bg-hover: map.get($value, bg-hover);
  .btn--#{$class} {
    color: $color;
    background: $bg;
  }
};

.btn--line {
  color: $color-main;  
  border: solid 1px $color-main;
}



/*------------------------------------*\
  btn
\*------------------------------------*/
.btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px 20px;
  &.tL { justify-content: flex-start; }
  &.tR { justify-content: flex-end; }
  &.gap-s {
    gap: 8px;
  }
  &.vertical {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
  }
}

.btn {
  @extend %btnHover;
  display: inline-block;
  text-align: center;
  // icon
  &.ty-icon {
    .icon {
      padding-left: 28px;
      @include screen($width-small) {
        padding-left: 24px;
      }
    }
  }
  &.ty-tag {
    &:hover, &:focus {
      opacity: 1;
    }
  }
}

// icon
$btn-icon: ('rights', 'edit', 'mark-white', 'share');
@each $n in $btn-icon {
  .btn.ty-icon .icon-#{$n} {
    background-image: url(../images/btn-icon-#{$n}.svg);
  }
}
.btn.ty-icon {
  .icon-mark-white.on {
    background-image: url(../images/btn-icon-mark-white--on.svg);
  }
  .icon {
    background-position: left center;
    background-size: auto 24px;
    background-repeat: no-repeat;
  }
}

// type
.btn--tag {
  @extend .btn;
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 2px 24px;
  border-radius: 20px;
  @include screen($width-mobile) {
    font-size: 1em;
    padding: 4px 24px;
  }
}

/*------------------------------------*\
  按鈕尺寸
  height 40 50
\*------------------------------------*/
.btn {
  &.size-chk { // height 60
    min-width: 200px;
    font-size: 1.5em;
    line-height: 1.5;
    padding: 12px 24px;
    border-radius: 8px;
    @include screen($width-mobile) {
      width: 100%;
      font-size: 1.25em;
      padding: 9px 6px;
    }
  }
  &.size-s { // height 32
    padding: 4px 6px;
    border-radius: 16px;
    min-width: 72px;
    &.ty-icon {
      padding-left: 12px; padding-right: 12px;
      .icon { background-size: auto 20px; }
    }
  }
  &.size-m { // height 36
    padding: 6px;
    border-radius: 8px;
  }
  &.size-ml { // height 48
    font-size: 1.25em;
    line-height: 1.5;
    padding: 9px 10px;
    border-radius: 8px;
  }
  &.size-xl { // height 52
    min-width: 200px;
    padding: 14px;
    border-radius: 8px;
  }
  &.f-1 {
    flex: 1 1 auto;
  }
  // &.round-l { // height 40
  //   font-size: 1.25em;
  //   line-height: 1.5;
  //   padding: 5px 24px;
  //   border-radius: 20px;
  // }
}

.btn--line {
  &.size-ml {
    padding: 8px 10px;
  }
}


// .btn-s {
//   font-size: 14px;
//   padding: 2px;
//   padding-bottom: 2px;
// }
// .btn-text {
//   display: inline-block;
//   min-width: 0;
//   padding: 0 8px;
//   border: solid 1px;
//   border-radius: 6px;
// }


// // 有icon
// .btn-iconText {
//   min-width: 120px;
//   padding-left: 20px;
//   padding-right: 10px;
//   .text {
//     display: inline-block;
//     padding-right: 30px;
//   }
// }
// $btn-iconText: (
//   'download', 'more',
// );
// @each $name in $btn-iconText {
//   .btn-iconText .icon-#{$name} {
//     background: url(../images/btn-icon-#{$name}.png) right center no-repeat;
//     background-size: auto 30px;
//   }
// }
// .btn--line-main {
//   &.btn-iconText .icon-more {
//     background: url(../images/btn-icon-more-main.png) right center no-repeat;
//     background-size: auto 30px;
//   }
// }




// $btn-iconSmall: (
//   "share": $color-main,
//   "file": #c93,
//   "word": #a72d92,
//   "pdf": #12527e,
// );
// @each $name, $color in $btn-iconSmall {
//   .btn-icon.icon-#{$name} {
//     color: $color;
//     .icon {
//       background: url(../images/btn-icon-#{$name}.png) right -1px center no-repeat;
//       background-size: auto 30px;
//     }
//   }
// }

// .btn-icon {
//   @extend .btn-text;
//   display: inline-block;
//   font-size: 15px;
//   font-weight: 500;
//   min-width: 30px;
//   height: 30px;
//   padding: 0;
//   .icon {
//     display: inline-block;
//     height: 28px;
//     min-width: 28px;
//   }
//   .text {
//     margin: 0 6px 0 12px;
//     padding-right: 30px;
//   }
// }




// tag
.tagBtn-box {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  @include screen($width-mid) {
    gap: 0 8px;
  }
}
.tagBtn {
  display: inline-block;
  font-size: 0.875em; line-height: 1.5rem; font-weight: 700;
  color: $color-main;
  padding: 0 8px;
  &::before {
    content: "＃";
  }
  @include screen($width-mid) {
    padding: 0;
  }
  @include screen($width-mobile) {
    font-size: 13px; line-height: 20px;
  }
}



// viewSwitch
$viewSwitch-icon: ('new', 'hot');
@each $n in $viewSwitch-icon {
  .viewSwitch .icon.#{$n} {
    background-image: url(../images/viewSwitch-#{$n}.svg);
  }
  .viewSwitch .on .icon.#{$n} {
    background-image: url(../images/viewSwitch-#{$n}-on.svg);
  }
  @include web-only {
    .viewSwitch a {
      &:hover, &:focus {
        .icon.#{$n} {
          background-image: url(../images/viewSwitch-#{$n}-on.svg);
        }
      }
    }
  }
}
.viewSwitch {
  display: flex;
  justify-content: center;
  align-items: center;
  &.j-end {
    justify-content: flex-end;
  }
  &-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 4px;
    padding: 4px;
    background-color: $color-devider;
    border-radius: 24px;
    @include screen($width-small) {
      gap: 0 2px;
    }
  }
  a {
    display: block;
    font-size: 1.25em; line-height: 1.2; font-weight: 500;
    color: $text-gray;
    padding: 8px 20px;
    border-radius: 20px;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    @include web-only {
      &:hover, &:focus {
        color: $color-main;
      }
    }
    @include screen($width-mobile) {
      font-size: 1em; line-height: 1.5;
      padding: 8px 12px;
    }
    @include screen($width-small) {
      font-size: 0.9375em;
      padding: 8px 10px;
    }
  }
  .icon {
    padding-left: 28px;
    background-position: left center;
    background-repeat: no-repeat;
    @include web-only {
      transition: color 0.2s ease-in-out, background-image 0.2s ease-in-out;
    }
    @include screen($width-small) {
      padding-left: 20px;
      background-size: 16px auto;
    }
  }
  .on {
    color: $color-main;
    background-color: #fff;
  }
  &.size-m {
    a {
      font-size: 1em;
      padding: 4px 12px;
      @include screen($width-mobile) {
        padding: 4px 8px;
      }
    }
    .viewSwitch-inner {
      gap: 0;
    }
  }
}



// ------------------------------------
// 篩選區塊
// ------------------------------------
.btn--select {
  text-align: center;
  font-size: 1.25em;
  line-height: 1.5;
  font-weight: 500;
  color: $text-gray;
  background-color: $color-devider;
  border: solid 1px $color-devider;
  border-radius: 20px;
  padding: 4px 24px;
  transition: all 0.2s ease-in-out;
  @include screen($width-mobile) {
    font-size: 1em;
    padding: 5px 8px;
  }
  &:hover, &:focus {
    border-color: $color-main;
  }
  &.on {
    color: #fff;
    background: $color-main;
    border-color: $color-main;
  }
  &.highlight {
    color: $color-main;
    background-color: #fff;
    border-color: $color-main;
    &:hover, &:focus {
      background-color: rgba($color: $color-main, $alpha: 0.05);
    }
  }
}
.btn--select.size-s {
  font-size: 1em;
  line-height: 1.5;
  padding: 3px 6px;
  border-radius: 16px;
  min-width: 72px;
}
.btn--select.ty-trigger {
  font-size: 1.25em;
  line-height: 1.5;
  font-weight: 500;
  color: $color-main;
  background-color: #fff;
  border: solid 1px $color-main;
  border-radius: 20px;
  padding: 4px 24px;
  @include screen($width-mobile) {
    font-size: 1em;
    padding: 3px 20px;
  }
  .select {
    padding-right: 29px;
    background: url(../images/select-main.svg) right center no-repeat;
    background-size: auto 24px;
    @include screen($width-mobile) {
      padding-right: 24px;
      background-size: auto 18px;
    }
  }
  &.open {
    color: #fff;
    background-color: $text-placeholder;
    border-color: $text-placeholder;
    .select {
      background: url(../images/select-close-white.svg) right center no-repeat;
      @include screen($width-mobile) {
        background-size: auto 18px;
      }
    }
  }
}

.filterFloat {
  position: relative;
  &-inner {
    background-color: #fff;
    padding: 40px 24px;
    border: solid 1px $text-placeholder;
    border-radius: 5px;
    @include screen($width-mobile) {
      padding: 40px 16px 20px;
    }
    .btn-box {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 20px 20px;
      @include screen($width-mid) {
        grid-template-columns: repeat(4, 1fr);
      }
      @include screen($width-mobile) {
        grid-template-columns: repeat(3, 1fr);
        align-items: flex-start;
        gap: 10px 10px;
      }
      @include screen($width-xs) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  .fold-hide {
    position: absolute;
    top: calc(100% + 2px);
    left: 5px;
    right: 5px;
    z-index: 2;
    @include screen($width-mobile) {
      top: calc(100% + 10px);
      left: 0;
      right: 0;
    }
  }
  .btn-close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 14px;
    background: url(../images/popup-close.svg);
    background-size: 100% 100%;
  }
}


