// base & reset
@import "_variables";

/*------------------------------------*\
  body
\*------------------------------------*/
body {
  font-family: 'Open Sans', Helvetica, Arial, Sans-serif;
}



/*------------------------------------*\
  frame
\*------------------------------------*/
@media all and (max-width: 1200px) and (min-width: 1024.01px) {
  header .headerLogo {
    width: 268px;
    height: 48px;
  }
  .headerNav a {
    font-size: 18px;
  }
}

@media all and (max-width: 1024px) and (min-width: 768px) {
  header .headerLogo {
    width: 200px;
    height: 36px;
  }
  .headerNav a {
    padding: 0 6px;
    font-size: 15px;
  }
  .headerLink.lang {
    width: 42px;
    font-size: 15px;
  }
}



/*------------------------------------*\
  common
\*------------------------------------*/

.msgNotion-title {
  padding-left: 0;
  .text {
    font-size: 40px;
    font-weight: 700;
    @include screen-width($screen-mobile) {
      font-size: 32px;
    }
    @include screen-width($screen-s) {
      font-size: 24px;
    }
  }
  @include screen-width($screen-s) {
    text-align: left;
  }
}
.msgNotion::after {
  @include screen-width($screen-mobile) {
    width: calc(70vw + 60px);
  }
  @include screen-width($screen-s) {
    width: 280px;
  }
}


.featureList li {
  text-align: left;
}