/*------------------------------------*\
  _indexCard
  ___
  文章卡片
\*------------------------------------*/
@use '../base' as *;



%indexCard {
  position: relative;
  @include web-only {
    @include transition(box-shadow);
    .cardImg img {
      @include transition(transform);
    }
    &:hover {
      box-shadow: 4px 4px 15px 0 rgba(0, 125, 125, 0.2);
      .cardImg img {
        transform: scale(1.05);
      }
    }    
  }
  .title {
    font-weight: 700;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.newestCard,
.hotCard,
.lifeCard {
  @include web-only {
    .title {
      @include transition(color);
    }
    &:hover {
      .title {
        color: $color-main;
      }
    }
  }
}



/*------------------------------------*\
  卡片
\*------------------------------------*/
// 最新文章
.newestCard {
  @extend %indexCard;
  padding: 12px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 4px 4px 15px 0 rgba(0,0,0,0.05);
  margin-bottom: 16px;
  @include screen($width-mobile) {
    margin-bottom: 8px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &-inner {
    display: flex;
    align-items: center;
    gap: 0 16px;
    @include screen($width-mobile) {
      gap: 0 8px;
    }
  }
  .cardImg {
    @extend .imgCover--float !optional;
    flex: 0 0 auto;
    width: 37.2%;
    padding-top: 21%;
    min-height: 120px;
    border-radius: 8px;
    overflow: hidden;
  }
  &-text {
    flex: 1 1 auto;
  }
  .tagBtn-box {
    margin-bottom: 8px;
  }
  .title {
    font-weight: 700;
    margin-bottom: 16px;
  }
  @include web-only {
    .newestCard-img img {
      @include transition(transform);
    }
    &:hover {
      .newestCard-img img {
        transform: scale(1.05);
      }
    }
  }

  &.main {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    article {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
    }
    .newestCard-text {
      flex: 1 1 auto;
      display: flex;
        flex-direction: column;
      &-main {
        flex: 1 1 auto;
      }
    }
    .cardImg {
      width: 100%;
      height: 298px;
      margin-bottom: 10px;
      @include screen($width-mobile) {
        height: 0;
        padding-top: 56.25%;
        margin-bottom: 8px;
      }
    }
    .title {
      font-size: 21px; line-height: 32px;
      @include screen($width-mobile) {
        font-size: 1.25em; line-height: 1.5;
        margin-bottom: 8px;
      }
    }
    @include screen($width-mobile) {
      .tagBtn-box {
        margin-bottom: 16px;
      }
    }
  }
  &.sub {
    .title {
      font-size: 1.125em;
      line-height: 1.5em;
      @include screen($width-mobile) {
        font-size: 1em;
        margin-bottom: 4px;
      }
    }
    @include screen($width-mobile) {
      .cardImg {
        padding-top: 0;
        width: 33%;
        min-height: 0;
        img {
          position: static;
        }
      }
      .tagBtn-box {
        margin-bottom: 0;
      }
    }
    @include screen($width-small) {
      .cardImg {
        width: 150px;
      }
    }
  }
}



// 熱門文章
.hotCard {
  @extend %indexCard;
  position: relative;
  box-shadow: none !important;
  &-devider {
    height: 2px;
    background-color: #eee;
    margin: 16px 0;
    @include screen($width-mobile) {
      margin: 10px 0;
    }
  }
  &-inner {
    display: flex;
    align-items: center;
  }
  &-text {
    flex: 1 1 auto;
  }
  .cardImg {
    @extend .imgCover--float;
    flex: 0 0 auto;
    width: 40%;
    height: 180px;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 80% 100%);
    border-radius: 8px;
    .cover-lock {
      padding-right: 12%;
    }
    @include screen($width-mid) {
      height: 150px;
    }
    @include screen($width-mobile) {
      width: 35%;
      height: 120px;
    }
    @include screen($width-small) {
      width: 170px;
      height: 100px;
    }
  }
  &-rank {
    position: relative;
    flex: 0 0 auto;
    display: block;
    width: 36px;
    text-align: center;
    font-size: 40px; line-height: 1.5; font-weight: 500;
    color: $text-gray;
    margin-right: 24px;
    @include screen($width-mobile) {
      font-size: 32px;
      width: 28px;
      margin-right: 8px;
    }
    &.top::before {
      content: "";
      display: block;
      position: absolute;
      top: -10px;
      right: -10px;
      width: 32px;
      height: 32px;
      transform: rotate(25deg);
      @include screen($width-mobile) {
        top: -10px;
        right: -2px;
        width: 24px;
        height: 24px;
      }
    }
    &.top-1::before {
      background: url(../images/index-hotTop-1.svg) center center no-repeat;
    }
    &.top-2::before {
      background: url(../images/index-hotTop-2.svg) center center no-repeat;
    }
    &.top-3::before {
      background: url(../images/index-hotTop-3.svg) center center no-repeat;
    }
    &.top::before {
      background-size: auto 100%;
    }
  }
  .title {
    font-size: 1.5em; line-height: 1.5; font-weight: 700;
    margin: 32px 0 24px;
    @include screen($width-mobile) {
      font-size: 1em;
      margin: 0 0 8px;
    }
  }
  .cardInfo {
    flex-wrap: wrap;
    @include screen($width-mobile) {
      flex-direction: column;
      align-items: stretch;
      .tagBtn-box {
        height: 20px;
        overflow: hidden;
      }
    }
  }
  
  @include web-only {
    .cardImg img {
      @include transition(transform);
    }
    &:hover {
      .cardImg img {
        transform: scale(1.05);
      }
    }
  }
}



// 活動
.eventCard {
  @extend %indexCard;
  background-color: #F9F9F9;
  border-radius: 24px;
  box-shadow: 4px 4px 15px 0 rgba(0,0,0,0.1);
  .cardImg {
    @extend .imgCover--float;
    padding-top: 60%;
    position: relative;
    border-radius: 24px 24px 0 0;
    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 21px;
      left: 0;
      z-index: 5;
      width: 42px;
      height: 42px;
      background: url(../images/index-eventcard-cover.svg) left bottom  no-repeat;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 21px;
      background-color: #f9f9f9;
      border-radius: 0 21px 0 0;
    }
  }
  &-text {
    padding: 0 16px 24px;
  }
  .title {
    font-size: 1.25em; line-height: 1.5em; font-weight: 700;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 6px;
    @include screen($width-mobile) {
      font-size: 1em;
    }
  }
  .desc {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 16px;
    @include screen($width-mobile) {
      font-size: 0.875em;
      line-height: 1.25rem;
    }
  }
  .bt {
    @extend %btnHover !optional;
    line-height: 1.5; font-weight: 700; color: #fff;
    background-color: $color-main;
    padding: 6px 12px;
    border-radius: 8px;
  }
}



// 亮點生活
.lifeCard {
  @extend %indexCard;
  flex: 0 1 25%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.05);
  &:nth-child(even) {
    margin-top: 110px;
    @include screen($width-mid) {
      margin-top: 0;
    }
  }
  .cardImg {
    @extend .imgCover--float;
    padding-top: 100%;
    border-radius: 8px 8px 0 0;
    @include screen($width-mobile) {
      padding-top: 56.25%;
    }
  }
  &-text {
    padding: 16px;
  }
  .title {
    height: 3em;
    margin-bottom: 16px;
  }
}


