// ------------------------------------
// 天地
// ------------------------------------
@use '../base' as *;



// ------------------------------------
// page
.page {
  width: 100%;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  color: #333;
  background: #f7f7f7;
  @include screen($width-mobile) {
    background: #fff;
  }
}

.pagesize {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.container {
  max-width: 100%;
  padding: 0;
}



// ------------------------------------
// header
.header {
  background-color: #d70c18;
  .pagesize {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 60px;
    @include screen($width-mobile) {
      padding: 0 10px;
      justify-content: center;
    }
  }
}

.header-logo {
  width: 144px;
  height: 28px;
  background: url(../eCNT_images/header_logo.png) center center no-repeat;
  background-size: auto 100%;
  @include screen($width-mobile) {
    width: 124px;
    height: 24px;
  }
  .logo {
    display: block;
    font-size: 0;
    line-height: 0;
    color: transparent;
    width: 100%;
    height: 100%;
  }
}

.pageMenu-btn {
  display: none;
}

.header .headBtn {
  display: block;
  width: 44px;
  height: 44px;
  background-size: 24px auto;
  background-position: center center;
  background-repeat: no-repeat;
  &.ty--menu {
    background-image: url(../eCNT_images/header-btn-menu.svg);
    @include screen($width-mobile) {
      position: absolute;
      left: 10px;
      top: calc(50% - 22px);
    }
  }
}



// ------------------------------------
// footer
.footer {
  font-size: 0.75em;
  line-height: 1.5;
  font-weight: 500;
}

.footer .f_t {
  background-color: #ebebeb;
  color: #555;
  text-align: center;
  padding: 13px 0;
  
  p {
    display: inline-block;
    &::after {
      content: "｜";
      display: inline-block;
    }
    &:last-child:after {
      display: none;
    }
  }
}

.footer .f_b {
  background: linear-gradient(to right, #d70c18 50%, #d9d9d9 50%);
  color: #fff;
  .f_b_in {
    display: flex;
    height: 56px;
  }
  .f_b_in > div:nth-child(1) {
    width: 74.75%;
    background-color: #d70c18;
    display: flex;
    align-items: center;
  }
  .f_b_in > div:nth-child(2) {
    display: flex;
    align-items: center;
    padding-left: 24px;
  }
}

.footer .f_b .f_b_in img.f_logo {
  width: 142px;
  height: 20px;
}

.footer .f_b .f_b_in>div:nth-child(1) span {
  margin-left: 0.25rem;
}

@include screen($width-m) {
  /*footer*/
  .footer .f_t {
    padding: 15px 0;
  }

  .footer .f_t p {
    display: inline;
    line-height: 1.5;
  }

  .footer .f_b .f_b_in>div:nth-child(1) {
    width: 100%;
    justify-content: center;
  }

  .footer .f_b .f_b_in>div:nth-child(1) span {
    display: none;
  }

  .footer .f_b {
    background: #d70c18;
  }

  .footer .f_b .f_b_in>div:nth-child(2) {
    display: none;
  }

  .footer {
    .f_b {
      .f_b_in {
        height: 25px;
        font-size: 11px;
      }
    }
  }
}

@include screen($width-mobile) {
  /*footer*/
  .footer .f_t p:nth-child(1) {
    display: block;
  }

  .footer .f_t p:nth-child(1)::after {
    display: none;
  }
}

@include screen($width-s) {
  .footer .f_t p {
    display: block;
    &::after {
      display: none;
    }
  }
}



// ------------------------------------
// floatBtn 右側浮動按鈕
.floatNav {
  position: fixed;
  z-index: 900;
  bottom: 150px;
  right: 10px;
  // display: none;
  a {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &-top {
    display: block;
    width: 40px;
    height: 40px;
    background: #000 url(../eCNT_images/floatNav-top.svg) center center no-repeat;
    background-size: 32px 32px;
    border-radius: 20px;
    opacity: 0.5;
    transition: 0.2s ease-in-out;
    &:hover, &:active {
      opacity: 0.85;
    }
    @include screen($width-mobile) {
      width: 32px;
      height: 32px;
    }
  }
}



// ------------------------------------
/*popup*/
.popup {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  background-color: rgba(0,0,0,0.4);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  &-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2002;
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
  &-content {
    position: relative;
    flex: 0 0 auto;
    z-index: 2002;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.25);
    &.w-l {
      max-width: 996px;
    }
  }
  &-area {
    max-height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    @include screen($width-mobile) {
      max-height: calc(100vh - 140px);
    }
  }
  &.open {
    position: fixed;
    z-index: 2000;
    opacity: 1;
    overflow-y: auto;
  }
  &-close {
    display: block;
    position: absolute;
    top: calc(50% - 16px);
    right: 16px;
    z-index: 3;
    width: 32px; height: 32px;
    opacity: 0.5;
    background: url(../eCNT_images/popup-close.svg) center center no-repeat;
    background-size: 100% auto;
    transition: opacity 0.2s ease-in-out;
    &:hover, &:focus {
      opacity: 0.35;
    }
    @include screen($width-mobile) {
      top: calc(50% - 12px);
      width: 24px; height: 24px;
    }
  }
  &-head {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    position: relative;
    color: #000;
    padding: 20px 48px;
    &.bg-main-700 {
      background-color: $color-primary-700;
      border-bottom: none;
      border-radius: 8px 8px 0 0;
      .popup-title {
        color: #fff;
      }
      .popup-close {
        background: url(../eCNT_images/popup-close-white.svg) center center no-repeat;
        background-size: 24px auto;
      }
    }
    @include screen($width-mobile) {
      border-bottom: solid 1px $color-devider;
      padding: 16px 40px;
    }
  }
  &-title {
    flex: 1 1 auto;
    text-align: center;
    font-size: 1.25em;
    line-height: 2rem;
    font-weight: 700;
    color: #000;
    @include screen($width-mobile) {
      line-height: 1.25;
    }
  }
  &-inner {
    flex: 0 1 auto;
    overflow-y: auto;
    padding: 16px 24px;
    @include screen($width-mobile) {
      padding: 20px;
    }
    &.pd-l {
      padding: 48px;
      @include screen($width-mobile) {
        padding: 24px 20px;
      }
    }
    @include web-only {
      &.px-l {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
  &-foot {
    flex: 0 0 auto;
    padding: 20px;
    @include screen($width-mobile) {
      padding: 16px;
      .btn-box {
        flex-wrap: nowrap;
      }
      .btn {
        font-size: 1em;
        line-height: 1.125;
        padding: 14px 31px;
      }
    }
  }

}

@mixin pop_ty_bottom {
  .popup-wrapper {
    justify-content: flex-end;
    padding: 80px 0 0;
  }
  .popup-content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-end;
    max-height: calc(100dvh - 80px);
    border-radius: 8px 8px 0 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    @include screen($width-mobile) {
      max-width: 100%;
    }
  }
  .popup-foot {
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
  }
  &.open {
    .popup-content {
      transform: translateY(0);
    }
  }
}
.popup.ty-bot,
.popup.ty-mainAreaNav {
  @include pop_ty_bottom;
}

@include screen($width-mobile) {
  .popup.m-bot {
    @include pop_ty_bottom;
  }
}


// ------------------------------------
.titleBn {
  background-color: #f0e8d8;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  .pagesize {
    height: 140px;
    display: flex;
    align-items: center;
    @include screen($width-mobile) {
      height: 0;
    }
  }
  h2 {
    font-size: 2em;
    line-height: 1.25;
    font-weight: 700;
    @include screen($width-mobile) {
      font-size: 0;
    }
  }
}



// ------------------------------------
.mainArea {
  &.hasNav {
    .mainArea-content {
      padding-top: 0;
    }
  }
  @include screen($width-mobile) {
    .m-pt-0 { padding-top: 0; }
    .m-bg { background-color: #F7F7F7; }
  }
  &-content {
    padding-top: 48px;
    padding-bottom: 48px;
    @include screen($width-mobile) {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
  &-bg {
    background: #fff;
    padding: 48px;
    border-radius: 20px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    &.pd-0 {
      padding: 0;
    }
    @include screen($width-m) {
      padding: 48px 24px;
    }
    @include screen($width-mobile) {
      padding: 24px 0;
      box-shadow: none;
      overflow: visible;
      &.hasBot { padding-bottom: 16px; }
    }
  }
  &-section {
    background: #fff;
    padding: 48px;
    &:first-child { border-radius: 20px 20px 0 0 ; }
    &:last-child { border-radius: 0 0 20px 20px; }
    // &.ty-shadow {
    //   box-shadow: 0 0 30px -15px rgba(0, 0, 0, 0.1);
      // &:last-child {
      //     box-shadow: 0 -15px 30px -15px rgba(0, 0, 0, 0.1);
      // }
    // }
    @include screen($width-m) {
      padding: 48px 24px;
    }
    @include screen($width-mobile) {
      padding: 24px 0;
      &.ty-shadow {
        box-shadow: none;
      }
    }
  }
  &-inner {
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    &.w-m { max-width: 720px; }
    &.w-s { max-width: 600px; }
    &.w-xs { max-width: 560px; }
  }
  .mainBox {
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
  }
  &-bot {
    max-width: 1040px;
    margin: -16px auto 0;
    // padding: 32px 20px 12px;
    padding: 0 20px 48px;
    &.w-full {
      max-width: 1240px;
      padding: 0 20px 48px;
    }
    @include screen($width-mobile) {
      padding: 0 20px 16px;
      margin: 0 auto;
      &.m-bg {
        padding-top: 16px;
      }
    }
  }
}
.mainBox {
  padding-top: 24px;
  padding-bottom: 24px;
  @include screen($width-mobile) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
// 置中
.container.ty-vCenter {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  .titleBn {
    flex: 0 0 auto;
  }
  .mainArea {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    &.ty-stretsh {
      align-items: stretch;
      .mainArea-content,
      .pagesize,
      .mainArea-bg {
        flex: 1 1 auto;
        display: grid;
        grid-template-columns: 1fr;
      }
      .mainArea-bg {
        align-items: center;
      }
    }
  }
}

// nav
.mainArea-nav {
  position: relative;
  padding: 23px 0;
  @include screen($width-mobile) {
    padding: 0;
    border-bottom: solid 1px $color-gray-300;
    box-shadow: 0 4px 8px 0 rgba(#C4C4C7, 0.2);
    .pagesize {
      padding: 0;
    }
  }
  // & + .mainArea-content {
  //   padding-top: 0;
  // }

  .pagesize .swiper {
    padding: 0 16px;
    @include screen($width-mobile) {
      padding: 0 56px 0 12px;
    }
    .swiper-slide {
      width: auto;
    }
  }

  .nav-link {
    display: block;
    font-weight: 700;
    color: $color-gray-700;
    padding: 10px 20px;
    transition: color .2s ease-in-out, background-image .2s ease-in-out;
    &:hover, &.on {
      color: $color-primary;
    }
    @include screen($width-mobile) {
      padding: 18px 12px;
      &.on {
        background-color: $color-primary-100;
      }
    }
  }
  .hasSub {
    padding-right: 48px;
    background-image: url(../eCNT_images/icon-select.svg);
    background-position: right 20px center;
    background-repeat: no-repeat;
    @include screen($width-mobile) {
      padding-right: 40px;
      background-position: right 12px center;
    }
  }
  .hasSub.on, .hasSub:hover {
    background-image: url(../eCNT_images/icon-select-on.svg);
  }
  .hasSub.openSub {
    background-image: url(../eCNT_images/icon-select-open.svg);
  }
  .openSub.on, .openSub:hover {
    background-image: url(../eCNT_images/icon-select-on-open.svg);
  }
  .openSub.on {
    color: $color-primary;
  }

  .btn-mAll {
    display: none;
    @include screen($width-mobile) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      width: 56px;
      height: 60px;
      color: $color-gray-700;
      background: #fff url(../eCNT_images/nav-icon-all.svg) center top 13px no-repeat;
      text-align: center;
      box-shadow: 0 -4px 10px 0 rgba(#000, 0.15);
      .text {
        display: inline-block;
        font-size: 0.75em;
        line-height: 1.4;
        padding-top: 32px;
      }
    }
  }

}
// nav-sub
.mainArea-navSub {
  display: none;
  position: absolute;
  z-index: 99;
  top: 68px;
  transform: translateX(20px);
  @include screen($width-mobile) {
    // display: none;
    top: 61px;
    left: 0 !important;
    transform: translateX(0);
  }

  .inner {
    // min-width: 200px;
    max-height: calc(100vh - 290px);
    overflow-y: auto;
    padding: 24px 24px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    @include screen($width-mobile) {
      min-width: auto;
      width: 100vw;
      max-height: calc(100vh - 120px);
      padding: 10px 0;
      border-radius: 0;
      box-shadow: 0 4px 8px 0 rgba(#C4C4C7, 0.2);
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    @include screen($width-mobile) {
      display: flex;
      flex-wrap: wrap;
      gap: 8px 0;
    }
    li {
      padding: 8px 0;
      @include screen($width-mobile) {
        flex: 0 0 33.3%;
        padding: 0 8px 0 0;
      }
      @include screen($width-ms) {
        flex: 0 0 50%;
      }
    }
    a {
      display: block;
      font-weight: 500;
      color: $color-gray-700;
      padding: 8px 0;
      &:active, &.on {
        color: $color-primary;
      }
    }
  }

  .swiper {
    a {
      display: block;
      text-align: center;
      font-weight: 500;
      color: $color-gray-700;
      padding: 8px 0;
      &:active, &.on {
        color: $color-primary;
      }
    }
  }
  @include web-only {
    .swiper-wrapper {
      flex-direction: column;
      gap: 16px 0;
    }
  }
  @include screen($width-mobile) {
    .swiper {
      padding: 0 20px;
    }
    .swiper-slide {
      width: auto;
      a {
        font-size: 14px;
      }
    }
  }
  
}
// nav-m
.popup.ty-mainAreaNav {
  @include web-only {
    display: none;
  }
  .popup-inner {
    padding: 0;
  }
}
.mainAreaNav-mList {
  padding: 0;
  margin: 0;
  a {
    display: block;
    position: relative;
    padding: 12px 20px;
  }
  & > li {
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      height: 1px;
      background-color: $color-devider;
    }
  }
  .nav-link {
    background-position: right 20px center;
    background-repeat: no-repeat;
    &.on {
      color: $color-primary;
      background-color: $color-primary-100;
    }
  }
  .folder {
    .nav-link {
      background-image: url(../eCNT_images/icon-select.svg);
    }
    .on {
      background-image: url(../eCNT_images/icon-select-on.svg);
    }
  }
  .open {
    .fold-btn {
      background-image: url(../eCNT_images/icon-select-open.svg);
    }
    .on {
      background-image: url(../eCNT_images/icon-select-on-open.svg);
    }
  }

  .ly-2 {
    list-style: none;
    padding: 0 20px;
    a {
      padding: 12px 10px;
    }
  }

  &.ty-tab {
    .nav-link {
      font-size: 0.875em;
    }
    .on {
      font-size: 1rem;
      background: transparent url(../eCNT_images/input-checkbox-active.svg) right 16px center no-repeat;
      background-size: 24px auto;
    }
  }
}





// ------------------------------------
//  mainArea-nav 其他內容
// ------------------------------------
.stepbox {
  padding: 14px 0;
  @include screen($width-mobile) {
    background-color: #f4f4f4;
    box-shadow: none;
    border: none;
    padding: 12px 0;
  }
  &-inner {
    @extend .pagesize !optional;
    display: flex;
    justify-content: center;
  }
  .step {
    min-width: 140px;
    position: relative;
    text-align: center;
    color: $color-gray;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 11px;
      right: 50%;
      width: 100%;
      height: 2px;
      background-color: $color-primary;
    }
    &:nth-child(1)::before { content: none; }
    @include screen($width-mobile) {
      flex: 1 1 33.3%;
      min-width: 0;
    }
  }
  .icon {
    position: relative;
    z-index: 2;
    width: 24px;
    height: 24px;
    margin: 0 auto 16px;
    background: url(../eCNT_images/steps-done.svg);
    background-size: 100% 100%;
    border-radius: 50%;
    @include screen($width-mobile) {
      margin-bottom: 10px;
    }
    &-inner {
      width: 40px;
      height: 40px;
      padding: 8px;
      background-color: #fff;
      border-radius: 50%;
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }
  .text {
    @extend .fs-m !optional;
    font-weight: 500;
    @include screen($width-mobile) {
      padding: 0 4px;
    }
  }
  // status
  .on,
  .on ~ .step {
    .icon {
      background: none;
      &::before {
        content: "";
        display: block;
        width: 22px;
        height: 22px;
        position: absolute;
        top: 1px;
        left: 1px;
        border-radius: 50%;
      }
    }
  }
  .on {
    &::before {
      background-color: $color-primary;
    }
    .icon {
      margin-bottom: 14px;
      @include screen($width-mobile) {
        margin-bottom: 8px;
      }
      &::before {
        background: $color-primary;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: calc(50% - 7px);
        left: calc(50% - 7px);
        width: 14px;
        height: 14px;
        background-color: #fff;
        border-radius: 50%;
      }
    }
    .text {
      font-size: revert;
      line-height: 1.5;
      font-weight: 700;
      color: $color-primary;
      border-color: $color-primary;
    }
  }
  .on ~ .step {
    &::before {
      background-color: $color-devider;
    }
    .icon {
      width: 22px;
      height: 22px;
      margin-top: 1px;
      &::before {
        background: $color-devider;
      }
    }
  }
}

.tabNav {
  padding: 48px 0 32px;
  @include screen($width-mobile) {
    padding: 48px 20px 8px;
    box-shadow: none;
    border: none;
  }
  &-inner {
    @extend .pagesize;
    display: flex;
    justify-content: center;
    border-radius: 4px;
  }
  &-item {
    flex: 0 1 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    text-align: center;
    line-height: 1.25em;
    color: $color-gray-700;
    background-color: #fff;
    border: solid 1px #ccc;
    border-right: none;
    padding: 2px 4px;
    transition: color 0.2s ease-in-out;
    &:first-child { border-radius: 4px 0 0 4px; }
    &:last-child { border-radius: 0 4px 4px 0; border-right: solid 1px #ccc; }
    &:hover, &:focus {
      color: $color-primary;
    }
    @include screen($width-mobile) {
      line-height: 1.125em;
    }
  }
  .on {
    color: #fff;
    background-color: $color-primary;
    border-color: $color-primary;
    &:last-child { border-color: $color-primary; }
  }

  .iconText {
    gap: 0 4px;
  }
}


