@charset "UTF-8";
// base & reset
@import "base/_lang-en";



/*------------------------------------*\
  index
\*------------------------------------*/

.kvArea-textBox {
  padding-top: 0;
  padding-left: 0;
  background-image: none;
  .title {
    font-size: 54px;
    line-height: 1.5em;
    font-weight: 500;
    color: $primary-300;
    @include screen-width($screen-mobile) {
      font-size: 12vw;
      line-height: 1.4em;
      span {
        display: block;
      }
    }
  }
  p {
    padding-left: 8vw;
    line-height: 1.6em;
    text-align: justify;
    text-shadow: 0em 0em 1em rgba(0,0,0,0.4);
  }
}
@include screen-width($screen-mobile) {
  .kvArea-text .pagesize {
    padding-top: 0;
    background-image: none;
  }
  
}


.groupRow {
  &-item {
    @extend %fs-l;
  }
  &-inner {
    padding: 0 60px 30px;
  }
  .title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  p {
    font-size: 1rem;
  }
  
  @include screen-width($screen-lg) {
    margin: 0 -40px;
  }
  @include screen-width($screen-md) {
    &-inner {
      padding: 0 40px 30px;
    }
    p {
      font-size: 15px;
      line-height: 1.6em;
    }
    .title {
      font-size: 16px;
    }
    .icon {
      margin-bottom: 10px;
    }
  }
  @include screen-width($screen-mobile) {
    max-width: 360px;
    margin: 0 auto;
    &-inner {
      padding: 20px 40px;
    }
    p {
      font-size: 1rem;
    }
    .title {
      font-size: 18px;
      margin-bottom: 0;
    }
  }
  @media all and (max-width: 450px) {
    max-width: 320px;
    &-inner {
      justify-content: center;
    }
  }
  @include screen-width($screen-xs) {
    &-inner {
      padding: 20px 20px;
    }
    .title {
      font-size: 1rem;
    }
  }
}



