@charset "UTF-8";
// base & reset
@import "base/_lang-en";



/*------------------------------------*\
  inner
\*------------------------------------*/
.about-inner {
  text-align: justify;
  @media all and (min-width: 768px) {
    font-size: 20px;
    line-height: 2em;
  }
}

.groupArea-title h3 {
  @media all and (min-width: 768px) {
    width: 190px;
    font-size: 32px;
  }
  @media all and (max-width: 1024px) and (min-width: 768px) {
    width: 170px;
    font-size: 28px;
  }
}

@media all and (min-width: 768px) {
  .tabBox {
    gap: 0 30px;
  }
}

@media all and (max-width: 1024px) and (min-width: 768px) {
  .tabBox--group a {
    font-size: 18px;
  }
  .groupItem-text .title {
    font-size: 24px;
  }
  .groupArea-list {
    gap: 40px 30px;
  }
}

@include screen-width($screen-mobile) {
  .groupArea-title h3 span {
    display: inline-block;
    margin-right: 0.4em;
  }
}