/*------------------------------------*\
  _frame
  天地共通設定
\*------------------------------------*/
.font-eng { font-family: 'Play', sans-serif; }

/*------------------------------------*\
  文字大小、標題
\*------------------------------------*/
.fs-h2 { 
  font-size: 24px; line-height: 1.5em;
  @include screen-width($width-mid) { font-size: 16px; line-height: 1.5em; }
}
.fs-h3 { 
  font-size: 20px; line-height: 1.6em;
  @include screen-width($width-mid) { font-size: 14px; line-height: 1.25rem; }
}
.fs-h4 { 
  font-size: 16px; line-height: 1.5em;
  @include screen-width($width-mid) { font-size: 14px; line-height: 1.25rem; }
  @include screen-width($width-mobile) { font-size: 12px; line-height: 1.25rem; }
}
.text-notice { 
  font-size: 14px; line-height: 1.25rem; 
  @include screen-width($width-mid) { font-size: 14px; line-height: 1.25rem; }
  @include screen-width($width-mobile) { font-size: 12px; line-height: 1.6em; }
}
h1 { font-size: 28px; line-height: 1.285em; }
h2 { @extend .fs-h2; }
h3 { @extend .fs-h3; }
h4 { @extend .fs-h4; }

@include screen-width($width-mid) {
  h1 { font-size: 20px; line-height: 1.2em; }
}

// ------------------------------------
// 排版
.tB { font-weight: 500; }
.tBold { font-weight: 700; }

.tC { text-align: center; }
.tR { text-align: right; }

// ------------------------------------
// 間距
.mb-1 { margin-bottom: 8px; }
.mb-1-5 { margin-bottom: 12px; }
.mb-2 { margin-bottom: 16px; }
.mb-4 { margin-bottom: 32px; }
.mb-end { margin-bottom: 40px; }
.pb-1 { padding-bottom: 8px; }
.px-1-5 { padding-left: 12px; padding-right: 12px; }
@include screen-width($width-mid) {
  .md-mb-0 { margin-bottom: 0; }
  .md-mb-1 { margin-bottom: 8px; }
  .mb-end { margin-bottom: 36px; }
  .md-pb-1 { padding-bottom: 8px; }
}


// ------------------------------------
// link
.text-link {
  @extend %link-action;
  &:hover {
    color: #5bb350;
  }
}



/*------------------------------------------------------*/

/*------------------------------------*\
  頁面
\*------------------------------------*/
body {
  scroll-behavior: smooth;
  color: #333;
  background: #5bb350;
}
.wrapper {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: #e5e5e5;
  padding-top: 44px;
  @include screen-width($width-mid) {
    padding-top: 52px;
  }
}

// 頁面寬度
.pagesize {
  margin: 0 auto;
  // max-width: 1320px;  
  max-width: 1192px;
  padding: 0 30px;
}



/*------------------------------------------------------*/

/*------------------------------------*\
  天地框架
\*------------------------------------*/
// ------------------------------------
// header
// ------------------------------------
@include screen-width($width-mid) {
  .headBg {
    position: relative;
    background: linear-gradient(180deg, #5bb350 0%, rgba(108, 207, 83, 0) 83.84%);
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
    }
    &::before {
      width: 148px;
      height: 148px;
      left: -45px;
      top: 139px;
      background: radial-gradient(50% 50% at 50% 50%, rgba(255, 242, 121, 0.48) 0%, rgba(255, 242, 121, 0) 100%);
    }
    &::after {
      width: 263px;
      height: 263px;
      right: -79px;
      top: 49px;
      background: radial-gradient(50% 50% at 50% 50%, rgba(255, 237, 80, 0.6) 0%, rgba(255, 242, 121, 0) 100%);
    }
  }
}
.headArea {
  .pagesize {
    padding: 0 30px;
    @include screen-width($width-mid) {
      padding: 0 16px;
    }
  }
}
.header-top {
  height: 96px;
  .pagesize-inner {
    display: flex;
    padding-top: 20px;
    align-items: center;
  }
}
.header-logo {
  flex: 0 0 auto;
  margin-right: 40px;
  &-img {
    display: block;
    width: 160px;
    height: 54px;
    background: url(../images/header/header-logo.png) center center no-repeat;
  }
}
.header-search {
  flex: 1 1 auto;
  &-box {
    margin-bottom: 4px;
    @include screen-width($width-mid) {
      margin: 0;
    }
  }
}




/*------------------------------------*\
  搜尋輸入框
\*------------------------------------*/
.searchInput {
  display: flex;
  align-items: center;
  padding: 2px;
  overflow: hidden;
  background-color: #fff;
  border: solid 2px #84C67C;
  border-radius: 35px;
  input:placeholder-shown { font-weight: 300; }
  input::placeholder { color: #959595; }
  input::-webkit-input-placeholder { color: #959595; }
  input::-moz-placeholder { color: #959595; }
  input:-ms-input-placeholder { color: #959595; }
  input:-moz-placeholder { color: #959595; }
  &-inner {
    flex: 1 1 auto;
    position: relative;
  }
  &-input {
    @extend .fs-h3;
    min-width: 0;
    width: 100%;
    height: 32px;
    padding: 0 44px 0 20px;
    &.icon-find {
      padding-left: 40px;
      background: url(../images/inner/inner-search-2.svg) left 8px center no-repeat;
    }
  }
  &-inputBtn {
    position: absolute;
    right: 0;
    top: -4px;
    width: 40px;
    height: 40px;
    background: url(../images/input-cancel.svg) center center no-repeat;
    background-size: 44px;
  }
  // 搜尋
  &-btn {
    flex: 0 0 auto;
    display: block;
    min-width: 96px;
    text-align: center;
    font-size: 20px;
    line-height: 36px;
    font-weight: 500;
    color: #fff;
    background: #6CCF53;
    border-radius: 26px;
    @include transition();
    &:hover {
      color: rgba(255,255,255,0.8);
    }
    &:active {
      color: #fff;
      opacity: 0.6;
    }
  }
  // chip
  &-chip {
    flex: 0 0 auto;
  }
  .chip-cancel {
    height: 28px;
    padding: 4px 26px 4px 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    background: #EAEAEA url(../images/inner/inner-chip-close-m.svg) right 8px center no-repeat;
    border-radius: 18px;
  }
    @include screen-width($width-mid) {
      height: 36px;
      border-color: #fff;
      margin-bottom: 0;
      padding: 4px;
      border: none;
      &-inner { height: 24px; }
      &-input {
        height: 24px;
        line-height: 24px;
        padding: 0 36px 0 6px;
        &.icon-find {
          padding-left: 28px;
          background-size: 24px;
          background-position: left center;
        }
      }
      &-inputBtn {
        width: 36px;
        height: 36px;
        top: -6px;
      }
      // 搜尋
      &-btn {
        min-width: 90px;
        font-size: 14px;
        line-height: 24px;
      }
    }
    @include screen-width($width-mobile) {
      margin: 0;
      // 搜尋
      &-btn {
        min-width: 60px;
      }
    }
}
// 熱門搜尋
.header-searchHot {
  height: 28px;
  overflow: hidden;
  color: #959595;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  &-title {
    margin-right: -10px;
    padding: 4px 0;
  }
  &-item {
    display: inline-block;
    padding: 4px 8px;
    @include transition();
    @extend %link-action;
    &:hover {
      color: #5bb350;
    }
  }
}



/*------------------------------------*\
  PC 置頂會員header headerPC
\*------------------------------------*/
.headerPc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  height: 44px;
  color: #707070;
  background: #eaeaea;
    @include screen-width($width-mid) {
      // display: none;
      height: 52px;
      .m-none {
        display: none;
      }
    }
  .pagesize {
    display: flex;
    background: #eaeaea;
    @include screen-width($width-mid) {
      padding: 0;
    }
  }
  &-inner {
    display: flex;
  }
  &-logbox {
    flex: 0 0 auto;
  }
  // item
  .text {
    padding: 10px 12px;
  }
  .header-logo-img {
    flex: 0 0 auto;
    height: 36px;
    margin-top: 4px;
    @include screen-width($width-mid) {
      width: 40px;
      height: 40px;
      margin-top: 2px;
      background: url(../images/header/header-logo-m-2.svg);
    }
  }
  // content
  &-head,
  &-scroll {
    flex-grow: 1;
    position: relative;
    z-index: 2;
    background: #eaeaea; 
    @include screen-width($width-mid) {
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 8px;
    }
    @include screen-width($width-xs) {
      padding-left: 4px;
    }
  }
  &-scroll {
    display: none;
  }
  &-login {
    flex: 0 0 auto;
  }
  &-cover.open {
    position: fixed;
    top: 44px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 49;
    background-color: transparent;
    @include screen-width($width-mid) {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}

.headerPc-log {
  @include screen-width($width-mid) {
    flex: 0 0 auto;
    padding: 4px 8px 4px 0;
  }
  @include screen-width($width-xs) {
    padding-right: 4px;
  }
}
.headerPc .link {
  @extend %link-action;
  position: relative;
  margin-left: 8px;
  padding: 10px 12px;
  @include screen-width($width-mid) {
    padding: 10px;
  }
  @include screen-width($width-mobile) {
    margin-left: 0;
  }
  @include screen-width($width-xs) {
    padding: 10px 8px;
  }
  &.space-0 {
    margin-left: 1px;
  }
  &.last {
    padding-right: 2px;
  }
  &--border {
    margin-left: 0;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 12px;
      left: -1px;
      bottom: 12px;
      width: 1px;
      background: #959595;
    }
  }
  &--home {
    margin: 0;
    padding-left: 28px;
    color: #494949;
    background: url(../images/header/head-home.svg) left center no-repeat;
    background-size: 28px;
  }
}

.headerPc .searchInput {
  flex: 1 1 auto;
  max-width: 400px;
  height: 36px;
  margin: 4px 0 0 16px;
  @include screen-width($width-mid) {
    margin-left: 8px;
    border: solid 1px #84C67C;
  }
  @include screen-width($width-mobile) {
    max-width: 263px;
  }
  @include screen-width($width-xs) {
    margin-left: 4px;
  }
  .searchInput-input {
    height: 32px;
    font-size: 16px;
    line-height: 24px;
    @include screen-width($width-mid) {
      height: 26px;
      font-size: 14px;
    }
  }
  .searchInput-btn {
    font-size: 16px;
    line-height: 28px;
  }
}

// 
.headMemberInfo {
  position: relative;
  &-box {
    position: relative;
    z-index: 2;
    // width: 288px;
    padding: 6px 8px 0;
    text-align: right;
    background: #eaeaea;
    @include screen-width($width-mid) {
      padding: 10px 8px;
    }
    @include screen-width($width-mobile) {
      padding-right: 12px;
    }
  }
  &-btn {
    @extend %text-ellipsis;
    width: 126px;
    padding: 4px 28px 4px 8px;
    text-align: right;
    font-weight: 500;
    color: #5bb350;
    background: url(../images/header/headMemberInfo-btn-1.svg) right 8px center no-repeat;
    background-size: 16px;
    border-radius: 8px;
    @include transition();
      @include large-only {
        &:hover, &:active {
          background-color: #fff;
        }
      }
      @include screen-width($width-mid) {
        // background-color: #fff;
      }
  }
  &-hidden {
    position: absolute;
    z-index: 1;
    right: 8px;
    top: -200px;
    transition: 0.4s;
    @include screen-width($width-mobile) {
      right: 10px;
    }
  }
}
// card
.headMemberCard {
  width: 272px;
  background-color: #fff;
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  overflow: hidden;
  @include screen-width($width-mid) {
    width: 355px;
  }
  @include screen-width($width-mobile) {
    width: calc(100vw - 20px);
  }
  &-main {
    position: relative;
  }
  &-info {
    display: flex;
    padding: 24px 16px 8px;
    @include screen-width($width-mid) {
      padding: 16px 16px 8px;
    }
  }
  &-sub {
    padding: 8px 16px;
    .btn {
      max-width: 240px;
      display: block;
      margin: 0 auto;
      padding: 8px;
      font-weight: 500;
      color: #333;
      background-color: #fff;
      &:hover, &:active {
        color: #707070;
        opacity: 1;
      }
    }
  }
  .icon {
    flex: 0 0 auto;
    width: 48px;
    height: 48px;
    margin-right: 8px;
  }
  .infotext {
    font-size: 16px;
    line-height: 24px;
    color: #333;
  }
  .name {
    font-weight: 500;
  }
  .link {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    @include screen-width($width-mid) {
      position: static;
    }
  }
  &-mBtn {
    display: none;
    @extend %link-action;
    @include screen-width($width-mid) {
      display: block;
    }
  }
  .link , &-mBtn {
    margin: 0;
    padding: 10px 16px;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    font-weight: 400;
  }
  &-mBtn.logout {
    margin-bottom: 5px;
    font-weight: 500;
    text-align: center;
    color: #EF5A5A;
  }
}
@for $i from 0 through 4 {
  .headMemberCard.level-#{$i} {
    .headMemberCard-info .icon {
      background: url(../images/header/headMemberInfo-head-#{$i}.png);
      background-size: 100% 100%;
    }
    .headMemberCard-sub {
      background: url(../images/header/headMemberInfo-bg-#{$i}.jpg);
      background-size: 100% 100%;
    }
  }
  @include screen-width($width-mobile) {
    .openScroll .headMemberInfo .headMemberInfo-btn.level-#{$i} {
      background: url(../images/header/headMemberInfo-head-#{$i}.png);
      background-size: 100% 100%;
    }
  }
}

// scroll
.headerPc.openScroll {
  .headerPc-head { display: none; }
  .headerPc-scroll { display: block; }
  @include screen-width($width-mobile) {
    .headMemberInfo-box {
      padding: 8px 12px 8px 8px;
    }
    .headMemberInfo-btn {
      display: block;
      width: 36px;
      height: 36px;
      border-radius: 18px;
      span {
        display: none;
      }
    }
  }
}

// open
.headMemberInfo.open {
  .headMemberInfo-hidden {
    top: 48px;
    @include screen-width($width-mid) {
      top: 60px;
    }
  }
  .headMemberInfo-btn {
    background: #fff url(../images/header/headMemberInfo-btn-2.svg) right 8px center no-repeat;
    background-size: 16px;
  }
}

// fix z-index
@include screen-width($width-mobile) {
  .headerPc.hide { z-index: 2; }
}


/*------------------------------------*\
  header - mobile & pad
\*------------------------------------*/
.headerM { display: none; }
// RWD
@include screen-width($width-mid) {
  .headArea.m-none {
    display: none;
  }
  .headerM { display: block; }
}



/*------------------------------------*\
  header 搜尋介面 wrapper--search
\*------------------------------------*/
.wrapper--search {
  padding-top: 140px;
  .container-cover {
    content: "";
    display: block;
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.16);
  }
  .header-top {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 84px;
    background: #f2f2f2;
    @include transition();
  }
  .header-searchHot {
    display: none;
  }
  .headArea-search {
    position: fixed;
    z-index: 101;
    top: 84px;
    left: 50%;
    transform: translateX(-50%);
    width: 815px;
    max-width: calc(100% - 60px);
    background: #f2f2f2;
    border-radius: 0 0 16px 16px;
  }
  @include screen-width($width-mid) {
    .container-cover,
    .headArea-search {
      display: none;
    }
  }
}
// 搜尋 - 自動完成
.searchCorrect {
  padding-bottom: 12px;
  &-item {
    .itembox {
      display: flex;
      align-items: center;
      padding: 10px 20px;
    }
  }
  &-icon {
    width: 28px;
    height: 28px;
    margin-right: 8px;
  }
  .icon-find {
    background: url(../images/inner/inner-search-2.svg) center center;
    background-size: 100%;
  }
  .icon-log {
    background: url(../images/inner/inner-search-log-1.svg) center center;
    background-size: 100%;
  }
  &-text {
    padding: 2px 0;
  }
}
// 搜尋 - 自動完成 小網
.container-finding .searchCorrect {
  padding: 4px 0;
  background-color: #fff;
  &-item {
    border-bottom: solid 1px #d9d9d9;
    @extend %last-no-border;
  }
  &-icon {
    width: 24px;
    height: 24px;
    margin-right: 2px;
  }
  &-text {
    padding: 2px 0;
    font-size: 14px;
    line-height: 20px;
  }
  .itembox {
    padding: 8px 4px;
  }
}
// 搜尋 - TAG
.searchTag {
  &-area {
    padding: 16px 32px;
    &.searchTag-log {
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 32px;
        right: 32px;
        bottom: 0;
        height: 1px;
        background: #b7b7b7;
      }
    }
    &.searchTag-hot {
      padding-bottom: 32px;
    }
  }
  &-title {
    margin-bottom: 12px;
    font-weight: 500;
  }
  &-delete {
    @extend %link-action;
    margin-left: 7px;
    padding-left: 28px;
    color: #959595;
    background: url(../images/inner/inner-search-delete-1.svg) left center no-repeat;
  }
  .chip-box {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px -12px 0;
  }
  .chip {
    flex: 0 0 auto;
    margin: 0 12px 12px 0;
  }
}
// 搜尋 - TAG 小網
.container-finding .searchTag {
  padding: 20px 16px;
  &-area {
    padding: 12px;
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    &.searchTag-log {
      margin-bottom: 12px;
      &::after {
        content: none;
      }
    }
  }
  &-title {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    span {
      flex: 1 1 auto;
    }
  }
  .searchTag-delete {
    flex: 0 0 auto;
    padding-left: 24px;
    font-size: 14px;
    background-size: auto 24px;
  }
  .chip-box {
    margin-right: -8px;
  }
  .chip {
    margin-right: 8px;
  }
}












/*------------------------------------*\
  公告bar
\*------------------------------------*/
.headArea-annouce {
  .pagesize {
    height: 96px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
.annouceBar {
  margin-bottom: 30px;
  &-link {
    @extend .fs-h3;
    display: flex;
    height: 44px;
    background: #FFEFAF;
    border-radius: 22px;
  }
  &-icon {
    flex: 0 0 auto;
    line-height: 44px;
    padding: 0 12px 0 40px;
    color: #fff;
    background: #FFBD35 url(../images/index-annouceBar/index-annouceBar-icon.svg) left 12px center no-repeat;
    border-radius: 22px;
  }
  &-text {
    flex: 1 1 auto;
    @extend %text-ellipsis;
    padding: 6px 42px 6px 8px;
    background: url(../images/index-annouceBar/index-annouceBar-goto.svg) right 8px center no-repeat;
  }
    @include screen-width($width-mid) {
      margin-bottom: 16px;
      &-link {
        height: 32px;
      }
      &-icon {
        padding: 0 12px 0 30px;
        line-height: 32px;
        background-position: left 4px center;
      }
      &-text {
        padding: 6px 53px 6px 4px;
        background-size: 28px;
        background-position: right center;
      }
    }
}



// header-廣告開關-RWD
.headArea-ad {
  display: none;
  position: absolute;
  left: calc(50% + 384px);
  bottom: 30px;
  width: 272px;
  height: 138px;
  img {
    width: 100%;
  }
  @media all and (max-width: 1360px) {
    left: auto;
    right: 16px; //20
  }
}
.headArea--ad {
  .pagesize-inner {
    padding-right: 203px; //265
    @media all and (max-width: 1360px) {
      padding-right: 282px;
    }
  }
  .headArea-ad {
    display: block;
  }
}

@media all and (max-width: 1360px) {
  .headArea {
  }
  .headArea-annouce {
    position: relative;
  }
  .headArea .pagesize {
    position: static;
    max-width: 100%;
  }
  .headArea--ad .pagesize-inner {
    padding-right: 279px;
  }
  .headArea-ad {
    bottom: 30px;
  }
}
@include screen-width($width-max) {
  .header-top {
    position: relative;
    .pagesize {
      padding: 0 232px;
    }
    .header-logo {
      position: absolute;
      top: 15px;
      left: 33px;
    }
  }
  .headArea-annouce .pagesize {
    max-width: 934px;
  }
  .headArea--ad {
    .pagesize-inner {
      padding-right: 0;
    }
    .headArea-ad {
      display: none;
    }
  }
}
// RWD
@include screen-width($width-mid) {
  .header-top {
    height: auto;
    position: relative;
    background: #5bb350;
    .pagesize {
      padding: 0 16px;
    }
    .pagesize-inner {
      display: block;
      padding: 0;
    }
    .header-logo {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      margin: 0;
      padding: 8px;
      background: #5bb350;
      &-img {
        display: block;
        width: 200px;
        height: 28px;
        margin: 0 auto;
        background: url(../images/header/header-logo-m.png) center center no-repeat;
        background-size: auto;
      }
    }
  }
  .header-search {
    padding: 16px 0;
  }
  .header-searchHot {
    display: none;
  }
  .headArea-annouce {
    height: auto;
    .pagesize {
      height: auto;
    }
  }
}
@include screen-width($width-mobile) {
  .header-top {
    height: auto;
  }
}



/*------------------------------------*\
  container
\*------------------------------------*/
.container-index {
  margin-top: -3px;
  max-width: 100%;
  overflow-x: hidden;
}
.container-index,
.container-menu {
  & > .pagesize {
    max-width: 1320px;
    display: flex;
    justify-content: center;
    @media all and (max-width: 1350px) {
      padding: 0 110px;
    }
    @include screen-width($width-max) {
      padding: 0;
    }
  }
  .contentSide{
    display: none;
    width: 82px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    &--menu {
      left: calc(50% + 578px);
      text-align: center;
      @media all and (max-width: 1350px) {
        left: auto; right: 16px;
      }
      @include screen-width($width-max) {
        z-index: 20;
        right: 8px;
        top: auto;
        bottom: 20px;
        transform: translateY(0%);
        width: auto;
      }
    }
    &--promo {
      right: calc(50% + 578px);
      @media all and (max-width: 1350px) {
        right: auto; left: 16px;
      }
      @include screen-width($width-max) {
        display: none !important;
      }
      .link {
        display: block;
        margin-bottom: 12px;
        @extend %link-action, %last-no-margin;
        img {
          display: block;
          width: 100%;
        }
      }
      
    }
  }
  .contentInner {
    flex: 0 1 auto;
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1132px;
  }
  .contentArea {
    @extend .contentInner;
    background: linear-gradient(to top, #F1F1F1 7.44%, #FFFFFF 98.9%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    &-inner {
      position: relative;
      z-index: 3;
      padding-top: 24px;
    }
    @include screen-width($width-max) {
      max-width: 100%;
      &-inner {
        padding-top: 12px;
      }
    }
    @include screen-width($width-mobile) {
      border-radius: 0;
      background: #f2f2f2;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 400px;
        background: linear-gradient(to bottom, #FFFFFF 0%, #F2F2F2 100%);
      }
      & > div {
        position: relative;
        z-index: 2;
      }
    }
  }
}
@include screen-width($width-max) {
  .container-menu > .pagesize {
    padding: 0 30px;
  }
}
// link
.contentSide-links {
  background: #fff;
  margin-bottom: 8px;
  padding: 8px 0;
  border-radius: 16px;
  .contentSide-btn {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    margin-bottom: 17px;
    padding-top: 56px;
    @extend %link-action;
    &:hover {
      color: #5bb350;
      border-color: #5bb350;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 9px;
      bottom: -8px;
      width: 64px;
      height: 1px;
      background: #EAEAEA;
    }
    &:nth-last-child(1) {
      margin: 0;
      &::after { content: none; }
    }
  }
    @include screen-width($width-max) {
      display: none !important;
    }
}
@for $i from 1 through 5 {
  .contentSide-btn.icon-#{$i} {
    background: url(../images/index-contentSide/index-contentSide-icon-#{$i}.svg) center top 8px no-repeat;
    background-size: 40px;
  }
  .contentSide-btn:hover.icon-#{$i},
  .contentSide-btn:active.icon-#{$i} {
    background: url(../images/index-contentSide/index-contentSide-icon-#{$i}-on.svg) center top 8px no-repeat;
    background-size: 40px;
  }
}
// to top
.contentSide-top {
  display: inline-block;
  padding-top: 34px;
  background: url(../images/index-contentSide/index-contentSide-icon-top.svg) center top 8px no-repeat;
  background-size: auto;
  @extend %link-action;
    @include screen-width($width-max) {
      width: 44px;
      height: 44px;
      padding-top: 22px;
      font-size: 12px;
      line-height: 16px;
      color: #707070;
      background: rgba(255, 255, 255, 0.8) url(../images/index-contentSide/index-contentSide-icon-top-m.svg) center top 6px no-repeat;
      background-size: 16px auto;
      border-radius: 22px;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08);
    }
}



/*------------------------------------------------------*/
/*------------------------------------*\
  popup
\*------------------------------------*/
.popup + .popup-panel {
  display: none;
}
.popupopen {
  opacity: 1;
}
.popupopen + .popup-panel {
  display: block;
}
.pop-fullpage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.2s;
}
.pop-fullpage.popupopen {
  display: block;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.3);
}
.popup-panel {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 201;
  width: 100%;
  transition: 0.2s;
  max-width: 540px;
  padding: 32px 24px;
  background: #fff;
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  @include screen-width($width-mid) {
    max-width: 300px;
    padding: 16px 24px 20px;
  }
}

.popup-level {
  max-width: 289px;
  padding: 0;
}


/*------------------------------------*\
  loading
\*------------------------------------*/
.container.container-loading {
  margin: 0;
  padding: 0;
  position: relative;
  @include screen-width($width-mid) {
    position: absolute;
    z-index: 99;
    width: 100%;
  }
}
.container-loading {
  &-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 144px;
    height: 144px;
    transform: translate(-50%,-50%);
  }
  &-border,
  &-text {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &-border {
    background: url(../images/loading-1.png) center center no-repeat;
    animation: loading_spin .8s linear 0s infinite;
  }
  &-text {
    background: url(../images/loading-2.svg) center center no-repeat;
  }
  @include screen-width($width-mid) {
    background-color: rgba(0, 0, 0, 0.5);
    &-box {
      width: 120px;
      height: 120px;
    }
    &-border {
      background: url(../images/loading-3.png) center center no-repeat;
    }
    &-text {
      background: url(../images/loading-4.svg) center center no-repeat;
    }
  }
}
@keyframes loading_spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(-359deg);
  }
}



/*------------------------------------*\
  items
\*------------------------------------*/
// img
%imgbox {
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
%img--contain {
  img { object-fit: contain; }
}
.imgbox {
  @extend %imgbox;
  .w-auto {
    width: auto;
    height: auto;
    max-width: 100%;
  }
  &.tC img {
    margin: 0 auto;
  }
}
// 圖片停留放大
.imgbox--scale {
  overflow: hidden;
  img {
    @include transition(transform);
    transform-origin: center center;
  }
  &:hover img {
    transform: scale(1.1);
  }
}
// 圖片不放大
.imgbox--noscale {
  img { transition: none; }
  &:hover img { transform: none; }
}

// hami point icon
.icon-hami {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url(../images/hamipoint.svg) center center no-repeat;
  background-size: 100%;
}

// link
.link-goto {
  padding-right: 32px;
  background: url(../images/icon-link-2.svg) right center no-repeat;
  background-size: 28px;
  .text {
    border-bottom: solid 1px transparent;
    @include transition(border);
  }
  &:hover .text {
    border-bottom: solid 1px;
  }
}

// text
.text-point {
  font-weight: 500;
  color: #5bb350;
  padding-left: 1.6em;
  background: url(../images/hamipoint.svg) left 0.2em center no-repeat;
  background-size: 1.2em;
  .origin {
    margin-left: 2px;
    font-weight: 400;
    color: #959595;
    text-decoration: line-through;
  }
  &-eng {
    @extend .font-eng;
    &.fs-32 {
      font-size: 32px;
      line-height: 24px;
      font-weight: 700;
      padding-left: 24px;
      background-size: 20px 20px;
      background-position: left center;
      @include screen-width($width-mid) {
        font-size: 20px;
        line-height: 24px;
        padding-left: 20px;
        background-size: 16px 16px;
      }
    }
  }
}
.text-price {
  .num {
    color: #F98116;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    @include screen-width($width-mid) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  .point {
    color: #5bb350;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    padding-left: 1.5em;
    background: url(../images/hamipoint.svg) left 0.2em center no-repeat;
    background-size: 1.1em;
    @include screen-width($width-mid) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  .origin {
    padding-left: 2px;
    font-size: 14px;
    line-height: 20px;
    color: #959595;
    text-decoration-line: line-through;
    @include screen-width($width-mid) {
      font-size: 12px;
      line-height: 20px;
    }
    @include screen-width($width-mobile) {
      display: inline-block;
      line-height: 16px;
      transform-origin: left center;
      transform: scale(0.6667) translateY(1px); // font-size 8
    }
  }
}

// ------------------------------------
// 排行 chip
.hotSale-chip {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 57px;
  height: 40px;
  background: url(../images/index-hotSale/index-hotSale-chip-normal.svg) top left no-repeat;
  background-size: 100%;
  span {
    display: block;
    width: 32px;
    height: 32px;
    text-align: center;
    color: #fff;
    font-weight: 500;
  }
    @include screen-width($width-mid) {
      width: 36px;
      height: 24px;
      span {
        width: 20px;
        height: 20px;
        font-size: 14px;
        line-height: 20px;
      }
    }
}
@for $i from 1 through 3 {
  .hotSale-chip.chip-#{$i} {
    background: url(../images/index-hotSale/index-hotSale-chip-#{$i}.svg) top left no-repeat;
    background-size: 100%;
  }
}

// ------------------------------------
// 商品區塊
.prodBox {
  @extend .imgbox--scale;
  @include transition(opacity);
  .imgbox {
    overflow: hidden;
  }
  &-name {
    @extend %text-ellipsis;
    font-weight: 500;
  }
  .name {
    box-sizing: border-box;
    text-decoration: underline;
    -webkit-text-underline-position: under;
    -ms-text-underline-position: below;
    text-underline-position: under;
    text-decoration-color: transparent;
    @include transition();
  }
  &:hover .name {
    text-decoration-color: currentcolor;
  }
  &:active {
    opacity: 0.6;
  }
  .notice {
    color: #959595;
    @include screen-width($width-mid) {
      font-size: 14px;
      line-height: 20px;
    }
    @include screen-width($width-mobile) {
      font-size: 12px;
      line-height: 1.6em;
      transform: scale(0.833);
      transform-origin: left center;
    }
  }
}


// ------------------------------------
// 標題變化
.indexTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding-left: 4px;
  h2 {
    padding-left: 12px;
    font-weight: 500;
  }
  h2.title-icon {
    padding-left: 40px;
  }
}
.indexTitle--sub {
  padding-left: 0;
}
$title-icon:('hot', 'catalog' );
@each $name in $title-icon {
  .indexTitle .title-icon.icon-#{$name} {
    background: url(../images/index-title-#{$name}.svg) left 8px top 4px no-repeat;
    background-size: 28px;
    @include screen-width($width-mid) {
      background-position: left 12px top;
      background-size: 24px;
    }
  }
}
@include screen-width($width-mid) {
  .indexTitle {
    min-height: 44px;
    padding-left: 0;
  }
}


/*------------------------------------*\
  分類收合  menuFold
\*------------------------------------*/
.menuFold {
  position: sticky;
  top: 69px;
  z-index: 10;
  background-color: #fff;
  &-hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background-color: #fff;
  }
  &-title {
    @extend .fs-h3;
    height: 56px;
    padding: 12px 32px 12px 16px;
    color: #707070;
  }
  &-menu {
    min-height: 56px;
    padding: 8px 32px 8px 0;
    background-color: #fff;
    .swiper-slide {
      width: auto;
    }
  }
  &-menuAll {
    display: none;
    .menuAll-box {
      display: flex;
      flex-wrap: wrap;
      padding: 12px;
    }
    .btn {
      flex: 0 0 auto;
      margin: 0 12px 12px 0;
    }
  }
  &-btn {
    @extend %test;
    display: block;
    width: 32px;
    height: 56px; 
    position: absolute;
    top: 0;
    right: 0;
    z-index: 12;
    background: #fff url(../images/index-slide-down.svg) center center no-repeat;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.12);
  }
  &--flex {
    .menuFold-menu {
      padding: 0;
    }
    @include screen-width($width-mobile) {
      .swiper-slide {
        width: 50%;
        text-align: center;
      }
    }
  }
    @include screen-width($width-mid) {
      &-menu {
        min-height: 44px;
      }
      &-title,
      &-btn {
        height: 44px;
      }
      &-menuAll {
        .menuAll-box {
          padding: 8px 12px;
        }
        .btn {
          margin: 0 8px 12px 0;
        }
      }
    }
}
.menuFold.open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .menuFold-hidden {
    z-index: 51;
    box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.08);
    .menuFold-title {
    }
  }
  .menuFold-btn {
    box-shadow: none;
    transform: scale(-1);
  }
  & + .indexRecommend-inner {
    padding-top: 76px;
  }
    @include screen-width($width-mid) {
      &+.indexRecommend-inner {
        padding-top: 56px;
      }
    }
}
// btn
.menuAll-box,
.indexRecommend .menuFold {
  .btn {
    @extend .fs-h3;
    display: inline-block;
    position: relative;
    padding: 3px 16px;
    border: solid 1px;
    border-radius: 20px;
    &:hover {
      background: rgba(51, 51, 51, 0.35);
    }
  }
  .btn:active,
  .on {
    color: #fff;
    border-color: #333;
    opacity: 1;
  }
  .on, .on:hover, .btn:active {
    background: #333;
  }
}
.indexRecommend .menuFold {
  .swiper {
    padding: 0 12px;
  }
}



/*------------------------------------*\
  timer 倒數計時
\*------------------------------------*/
.timer {
  display: flex;
  &.mr {
    margin-right: 16px;
  }
  span {
    display: block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 20px;
    color: #333;
    background: #FFFFFF;
    border-radius: 2.375px; 
    box-sizing: border-box;
  }
  .timer-hr,
  .timer-min {
    position: relative;
    margin-right: 12px;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 4px;
      height: 4px;
      position: absolute;
      right: -8px;
      background: #fff;
      border-radius: 2px;
    }
    &::before {
      top: 9px; 
    }
    &::after {
      top: 17px;
    }
  }
  &--border {
    span {
      background-color: #fff;
      border: solid 1px #d9d9d9;
      border-radius: 2px;
    }
    .timer-hr,
    .timer-min {
      &::before,
      &::after {
        background-color: #494949;
      }
    }
  }
    @include screen-width($width-mid) {
      &.mr {
        margin-right: 8px;
      }
      span {
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
      }
      .timer-hr,
      .timer-min {
        margin-right: 15px;
        &::before,
        &::after {
          width: 3px;
          height: 3px;
        }
        &::before {
          top: 6px; 
        }
        &::after {
          top: 12px;
        }
      }
      &--border {
        span {
          line-height: 18px;
          border-width: 0.4px;
        }
      }
    }
}





// ------------------------------------------------------
/*------------------------------------*\
  JS
\*------------------------------------*/
// Swiper
.swiper {
  position: relative;
}
.swiper-button-prev,
.swiper-button-next {
  width: 42px;
  height: 90px;
  top: calc(50% - 45px);
  margin: 0;
  background: rgba(51, 51, 51, 0.6) url(../images/index-slideNext.svg) center center no-repeat;
    border-radius: 16px 0px 0px 16px;
  @include transition();
  &::after {
    content: none;
  }
  &.swiper-button-disabled {
    display: none;
  }
  @include screen-width($width-mid){
    display: none;
  }
}
.swiper-button-prev {
  left: -45px;
  transform: rotate(180deg);
}
.swiper-button-next {
  right: -45px;
}
.swiper:hover {
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
}
// 
.swiper-pagination.swiper-pagination-horizontal {
  top: auto;
  bottom: 0;
  line-height: 6px;
  .swiper-pagination-bullet {
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #EAEAEA;
    opacity: 1;
    margin: 0 3px 0 0;
  }
  .swiper-pagination-bullet-active {
    background: #5bb350;
  }
}


