/*------------------------------------*\
  font face
\*------------------------------------*/
/* noto-sans-tc */
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&family=Play:wght@400;700&display=swap');


/*------------------------------------*\
  reset
\*------------------------------------*/
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, select, textarea, label, p, blockquote, th, td, iframe, button, a, header, footer {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
}
html {
  // safari內網頁的字體不會無緣無故變大
  -webkit-text-size-adjust: 100%;
  // safari內網頁滑動起來不會卡卡的
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  touch-action: none;
}
body {
  font: 16px/150% 'PingFang TC', 'Noto Sans TC', Helvetica, '微軟正黑體', sans-serif;
  font-weight: 400;
  letter-spacing: 0.25px;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  color: inherit;
  background: none;
  outline: none;
  cursor: pointer;
}
table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
}
input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: none;
}
img {
  // 防止chrome將圖片縮放時平滑化處理
  image-rendering: -webkit-optimize-contrast;
}


