@charset "UTF-8";
/*------------------------------------*\
  _variables.scss
  基礎全站設定
\*------------------------------------*/


/*------------------------------------*\
  RWD尺寸標準
\*------------------------------------*/
$width-max: 1199px;
$width-large: 1023px;
$width-mid: 991px;
$width-mobile: 767px;
$width-small: 540px;
$width-xs: 374px;
@mixin screen-width($screensize) {
  @media all and (max-width: $screensize) {
    @content;
  }
}
// 使用範例 @include screen-width($width-mid) {}
@mixin web-only {
  @media all and (min-width: 768px) {
    @content;
  }
}
@mixin large-only {
  @media all and (min-width: 992px) {
    @content;
  }
}
@mixin mid-only {
  @media only screen and (max-width: 991px) and (min-width: 768px) {
    @content;
  }
}

/*------------------------------------*\
  大小網
\*------------------------------------*/
.web { display: block; }
.mobile, .md-block { display: none; }
@include screen-width($width-mid) {
  .md-none { display: none; }
  .md-block { display: block; }
}
@include screen-width($width-mobile) {
	.web { display: none; }
	.mobile { display: block; }
}



/*------------------------------------*\
  使用顏色設定_文字及背景顏色
\*------------------------------------*/
$set-colors: (
  "gray-6": #818181,
  "gray-7": #777,
  // inner 內頁
  // "default": $text-default,
  // "default-dark": #333,
  // 主題
  "primary": #5bb350,
  "secondary": #FFBD35,
  // 其他
  "error": #EF5A5A,
  "none": #707070,
);
// 主題顏色設定-產生顏色
@each $name,
$color in $set-colors {
  .color-#{$name} {
    color: $color;
  }
}
.bg-white {
  background-color: #fff;
}
@include screen-width($width-mid) {
  .md-bg-white {
    background-color: #fff;
  }
}

// 行銷主題顏色
$themePromoColor:(
  none: (
    main: #fff,
    text: #333,
    bg: #fff,
  ),
  1: (
    main: #FF9F2D,
    text: #B57120,
    bg: #FFE1BE,
  ),
  2: (
    main: #FFBD35,
    text: #B9863A,
    bg: #FFEFAF,
  ),
  3: (
    main: #168FFF,
    text: #1066B5,
    bg: #B7DCFF,
  ),
  4: (
    main: #127C2F,
    text: #0D5821,
    bg: #B6D6BF,
  ),
  5: (
    main: #D13A3A,
    text: #942929,
    bg: #F1C2C2,
  ),
  6: (
    main: #9754F0,
    text: #663CAA,
    bg: #E5DAF6,
  ),
  7: (
    main: #7789BC,
    text: #303F68,
    bg: #D6DAE7,
  ),
  8: (
    main: #158D8A,
    text: #19546F,
    bg: #B7E8E1,
  ),
  9: (
    main: #CD6A60,
    text: #9D5353,
    bg: #FFD9C6,
  ),
  10: (
    main: #323F5C,
    text: #1E2536,
    bg: #EFF5F8,
  ),
);

// VIP主題顏色
$vipColor: (
  0: (
    deco: #B58653,
    bg: #ECCAA4,
  ),
  1: (
    deco: #EBBF50,
    bg: #EFD7A6,
  ),
  2: (
    deco: #8F8896,
    bg: #D9D8DB,
  ),
  3: (
    deco: #1860A2,
    bg: #BCD7EF,
  ),
  4: (
    deco: #724418,
    bg: #ECCAA4,
  ),
);

// 漸層色
%primary-gradient {
  background: radial-gradient(56.98% 474.16% at 44.87% 0%, #FEFFE1 0%, #D6ECD3 54.31%, #ABECA3 100%);
}

// 商品分類名稱
$catalogName: (
  'all',
  '3c',
  'appliance',
  'baby',
  'computer',
  'daily',
  'food',
  'makeup',
  'phone',
  'ticket',
  'health'
);


/*------------------------------------*\
  base extend
\*------------------------------------*/
// transition
@mixin transition($value: all) {
  transition: $value 0.2s;
}
// 預設使用         @include transition();
// 加入需要的項目    @include transition(變數);

// 最後一個margin 0
%last-no-margin {
  &:nth-last-child(1) {
    margin: 0;
  }
}
// 最後一個border 0
%last-no-border {
  &:nth-last-child(1) {
    border: none;
  }
}
// 單行省略
%text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// 連結動作
%link-action {
  @include transition();
  &:hover { opacity: 0.8; }
  &:active { opacity: 0.6; }
}

// ------------------------------------
// test
%test {
  background-color: rgba($color: #f00, $alpha: 0.2);
}