@charset "UTF-8";
/*------------------------------------*\
  color
\*------------------------------------*/


/*------------------------------------*\
  使用顏色設定_主要
\*------------------------------------*/
// 黑白
$white: #fff;
$black: #000;

$text-color: #42515b;
$text-dark: #141a26;

$text-gray: #686868;

// 主色 
$color-main: #b3000e;
$bg-main: #ffeff0;
// 輔色
$color-second-light: #747f86;
$color-second: #3c6784;
$color-second-dark: #42515b;
$bg-second: #f8f9fb;
// 點綴色
$color-third: #e4851f;

$color-gray: #bdb8b8;


/*------------------------------------*\
  使用顏色設定_文字及背景顏色
\*------------------------------------*/
$set-colors: (
  "text": $text-color,
  "text-dark": $text-dark,
  "black": #000,
  "gray": $text-gray,
  "gray-mid": #999,
  "main": $color-main,
  "second": $color-second,
  "third": $color-third,
);
$set-colors-bg:(
  "white": #fff,
  "second": $bg-second,
);
@each $name,$color in $set-colors {
  .color-#{$name} {
    color: $color;
  }
}
@each $name,$color in $set-colors-bg {
  .bg-#{$name} {
    background-color: $color;
  }
}



/*------------------------------------*\
  使用顏色設定_按鈕顏色
\*------------------------------------*/
$btn-theme :(
  line: (
    class: 'line',
    color: $text-color,
    bg: #fff,
    border: #e4e9ec,
  ),
  main: (
    class: 'main',
    color: $white,
    bg: $color-main,
    border: $color-main,
  ),
  line-main: (
    class: 'line-main',
    color: $color-main,
    bg: #fff,
    border: $color-main,
  ),
  cancel: (
    class: 'cancel',
    color: $text-color,
    bg: #e4e9ec,
    border: #e4e9ec,
  ),
);



/*------------------------------------*\
  使用顏色設定_chip顏色
\*------------------------------------*/
$chip:(
  "highlight-1": #f76985,
  "highlight-2": #c057d3,
  "highlight-3": $color-third,
  "highlight-4": #1e8dda,
);



/*------------------------------------*\
  RWD尺寸標準
\*------------------------------------*/
$width-max: 1440px;
$width-xl: 1280px;
$width-large: 1100px;
$width-mid: 1024px;
$width-mobile: 799.9px; //767
$width-small: 540px;
$width-xs: 374px;
@mixin screen($screensize) {
  @media all and (max-width: $screensize) {
    @content;
  }
}
// 使用範例
// @include screen($width-mobile) {
// }
@mixin web-only {
  @media all and (min-width: 800px) {
    @content;
  }
}

/*------------------------------------*\
  大小網
\*------------------------------------*/
.m-show {
  display: none; 
  @include screen($width-mobile) { display: block; }
}
@include screen($width-mobile) {
	.m-hide { display: none; }
}


/*------------------------------------*\
  頁面寬度
\*------------------------------------*/
$pagesize-width: 1360px;
$pagesize-padding: 40px;
$pagesize-max: calc($pagesize-width + $pagesize-padding * 2);



/*------------------------------------*\
  base extend
\*------------------------------------*/
// transition
@mixin transition($value: all) {
  transition: $value 0.2s ease-in-out;
}
// 預設使用         @include transition();
// 加入需要的項目    @include transition(變數);

// 最後一個margin 0
%last-no-margin {
  &:nth-last-child(1) {
    margin: 0;
  }
}
// 最後一個border 0
%last-no-border {
  &:nth-last-child(1) {
    border: none;
  }
}
// border dotted
%border-bottom-dot {
  border-bottom: dotted 2px #dad2c1;
}

// btn hover transition
%btnHover {
  @include transition(opacity);
  &:hover, &:focus {
    opacity: 0.75;
  }
}



/*------------------------------------*\
  a
\*------------------------------------*/
.a-line {
  @extend %btnHover;
  line-height: 1.5em;
  color: $color-main;
  padding-bottom: 1px;
  border-bottom: solid 1px;

  &.color-text {
    color: $text-color;
  }

  &.color-text-dark {
    color: $text-dark;
  }
}


