@charset "UTF-8";
/*------------------------------------*\
  color
\*------------------------------------*/
// 主色 
$color-main: #007D7D;
$color-accent: #FFAE05;





// 這邊以下沒用到都可以刪


// 黑白
$white: #fff;
$black: #000;

$text-color: #42515b;
$text-dark: #141a26;

$text-gray: #686868;

// 主色 
$color-main: #007D7D;
$bg-main: #ffeff0;
// 輔色
$color-second-light: #747f86;
$color-second: #3c6784;
$color-second-dark: #42515b;
$bg-second: #f8f9fb;
// 點綴色
$color-third: #e4851f;

$color-gray: #bdb8b8;




/*------------------------------------*\
  RWD尺寸標準
\*------------------------------------*/
$width-max: 1440px;
$width-xl: 1280px;
$width-large: 1100px;
$width-mid: 1024px;
$width-mobile: 799.9px; //767
$width-small: 540px;
$width-xs: 374px;
@mixin screen($screensize) {
  @media all and (max-width: $screensize) {
    @content;
  }
}
// 使用範例
// @include screen($width-mobile) {
// }
@mixin web-only {
  @media all and (min-width: 800px) {
    @content;
  }
}

/*------------------------------------*\
  大小網
\*------------------------------------*/
.m-show {
  display: none; 
  @include screen($width-mobile) { display: block; }
}
@include screen($width-mobile) {
	.m-hide { display: none; }
}



/*------------------------------------*\
  base extend
\*------------------------------------*/
// // transition
// @mixin transition($value: all) {
//   transition: $value 0.2s ease-in-out;
// }
// // 預設使用         @include transition();
// // 加入需要的項目    @include transition(變數);

// // 最後一個margin 0
// %last-no-margin {
//   &:nth-last-child(1) {
//     margin: 0;
//   }
// }
// // 最後一個border 0
// %last-no-border {
//   &:nth-last-child(1) {
//     border: none;
//   }
// }

// // btn hover transition
// %btnHover {
//   @include transition(opacity);
//   &:hover, &:focus {
//     opacity: 0.75;
//   }
// }


