/*------------------------------------*\
  天地
\*------------------------------------*/



/*------------------------------------*\
  天地框架及popup
\*------------------------------------*/
body {
  max-width: 100%;
  color: #333;
  background-color: #fff;
}
.page {
  background-color: #fff;
}
.wrapper {
  // background: url(../images/bg.png) center 0 no-repeat; background-size: 100% auto;
}
@include screen($width-mobile) {
  .page--hasheadDlApp .wrapper {
    padding-top: 110px;
  }
}

.pagesize {
  margin-left: auto;
  margin-right: auto;
  max-width: 1480px;
  padding: 0 20px;
}



/*------------------------------------*\
  header
\*------------------------------------*/
header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-top {
  color: #fff;
  background-color: #007D7D;
  padding: 3px 0;
  .pagesize { 
    display: flex;
    justify-content: flex-end;
    gap: 4px;
  }
  a {
    font-size: 14px;
    font-weight: 500;
    padding: 4px 12px;
  }
}

.header-main {
  color: #393939;
  background-color: #FFFFFF;
  padding: 12px 0;
  .pagesize {
    display: flex;
    align-items: center;
    gap: 0 16px;
  }
}

.header-logo {
  a {
    display: block;
    width: 150px; height: 48px;
    background: url(../images/logo.png) left center no-repeat;
    background-size: auto 100%;
  }
}

.header-nav {
  flex: 1 1 auto;
  display: flex; justify-content: center;
  gap: 0 8px;
  a {
    font-size: 18px;
    font-weight: 500;
    padding: 4px 12px;
    color: #393939;
    &.c-main{color: $color-main;}
    &.c-accent{color: $color-accent;}
  }
}


.header-func {
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.headerBtn {
  display: block;
  text-align: center;
  font-weight: 500;
  color: $color-main;
  min-width: 100px;
  padding: 6px 12px 6px 8px;
  border-radius: 8px;
  border: 1px solid $color-main;
  &-member {
    color: $color-main; position: relative; padding-left: 30px;
    &::before{content: ''; width: 30px; height: 36px;background: url(../images/header-btn-user.svg) center no-repeat;
      background-size: 16px auto; position: absolute; top: 0; left: 2px;}
  }
  &:hover{background-color: $color-main; color: #fff;
  &::before{ filter: grayscale(100%) brightness(1000%);}
  }
}
.headerSearch-btn {
  display: block;
  width: 36px;
  height:36px;
  background: url(../images/header-search.svg) center no-repeat;
  background-size:24px auto;
}


// 字體放大縮小
.fsZoom-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include screen($width-mobile) {
    justify-content: center;
    text-align: center;
    margin-left: 0;
  }
  p {
    display: inline-block;
    line-height: 2.25em;
    font-weight: 500;
    vertical-align: middle;
    @include screen($width-mobile) {
      padding: 0;
    }
  }
}
.fsZoom-switch {
  display: flex;
  overflow: hidden; margin-left: 10px;
  & > a{border: 1px solid #888888; color: #888; display: flex; justify-content: center; align-items: center;
  &:first-child{border-top-left-radius: 8px; border-bottom-left-radius: 8px; border-right: none;}
  &:last-child{border-top-right-radius: 8px; border-bottom-right-radius: 8px; border-left: none;}
  &.on, &:hover{background-color: $color-main; color: #fff; border-color: $color-main;}
  }
}
.fsZoom {
  display: inline-block;
  text-align: center;
  font-size: 1rem;  
  width: 38px;
  height: 34px;
  vertical-align: middle;
  @include screen($width-xs) {
    margin-left: 0;
  }
}
.fsZoom-title {
  font-size: 18px;
  font-weight: 500;
}


/*------------------------------------*\
  footer
\*------------------------------------*/
footer {
  position: relative;
  z-index: 3;
  color: #555555;
  background-color: #EBF4F4;
  .color-hl {
    color: $color-main;
  }
  .badge {
    height: 50px;
  }
}

.footer-main {
  padding: 20px 0;
  .pagesize {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px 60px;
  }
}

.footer-logo {
  width: 180px; height: 58px;
}

.footer-inner {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  gap: 0 12px;
}

.footerLink {
display: flex; flex-wrap: wrap; width: 100%;
  &-box {
 flex: 1 0 200px;
  }
  &-inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px 0;
    a{
    font-size: 16px;
    color: #555555;
    &:hover{color: #393939; }
    }
  }
  .ty-row {
    display: flex;
    justify-content: space-between;
    gap: 0 4px;
    max-width: 200px;
  }
}
.footerLink-box.ty-more {
  grid-column-start: 1;
  grid-column-end: 4;
      flex: 1 0 auto;
  .footerLink-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px 16px;
  }
}

.footer-title {
  font-size: 18px; font-weight: 500;
  color: $color-main;
  margin-bottom: 8px;
  &.ty-icon {
    padding-left: 24px;
    &.contact {
      background-image: url(../images/footer-contact.svg);
    }
    &.follow {
      background-image: url(../images/footer-follow.svg);
    }
    background-size: auto 16px;
    background-position: left center;
    background-repeat: no-repeat;
  }
}
.footer-info {
  width: 100%;
  font-size: 14px;
  color: #94A3B8;
  display: flex; justify-content: space-between;
  &-item{
    display: flex; align-items: center; flex-wrap: wrap; gap: 12px;
    .footerCont {
flex: 1 0 calc(33% - 24px); text-align: left;
}

  }
}
.f-line{
  border-bottom: 1px solid #D7DFEA; width: 100%; height: 1px;
}

.footer-social {
  display: flex;
  gap: 0 12px;
  &-btn {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: $color-main;
    &.fb { background-image: url(../images/footer-social-fb.svg); }
    &.line { background-image: url(../images/footer-social-line.svg); }
    &.yt { background-image: url(../images/footer-social-yt.svg); }
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}


// sub
.footer-sub {
  font-size: 14px;
  color: #fff;
  background-color: $color-main;
  padding: 8px 0;
  .pagesize {
    display: flex;
    justify-content: center;
  }
}


