/*------------------------------------*\
  _calendar.scss
  ___
  月曆
\*------------------------------------*/

// nav
.calendarNav {
  &-inner {
    margin-bottom: 30px;
  }
  &-title {
    position: relative;
    margin-bottom: 30px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #e4e9ec;
      @include screen($width-mid) {
        content: none;
      }
    }
  }
  &-title-inner {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 6px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    .year {
      font-size: 20px;
      line-height: 1.2em;
      font-weight: 500;
      color: #949494;
      text-align: right;
      span {
        display: block;
      }
    }
    .month {
      font-size: 40px;
      line-height: 1.2em;
      font-weight: 700;
      color: $color-main;
      .num {
        position: relative;
        top: 3px;
        font-size: 60px;
        line-height: 0.8em;
      }
    }
    @include screen($width-mid) {
      .year {
        font-size: 26px;
      }
      .month {
        font-size: 52px;
        .num {
          font-size: 78px;
        }
      }
    }
  }
}

.calendar-type {
  @extend .btn-box;
  gap: 15px;
  @include screen($width-xs) {
    gap: 10px;
  }
  .btn {
    @extend .btn-iconText;
    min-width: 140px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
    background-color: #e4e9ec;
    @include screen($width-xs) {
      min-width: 130px;
    }
    .text {
      padding: 0 0 0 30px;
    }
    .icon-date {
      background: url(../images/btn-icon-calander-date.png) left center no-repeat;
      background-size: auto 100%;
    }
    .icon-list {
      background: url(../images/btn-icon-calander-list.png) left center no-repeat;
      background-size: auto 100%;
    }
    &.on {
      color: #fff;
      background-color: $color-main;
      .icon-date {
        background: url(../images/btn-icon-calander-date-on.png) left center no-repeat;
        background-size: auto 100%;
      }
      .icon-list {
        background: url(../images/btn-icon-calander-list-on.png) left center no-repeat;
        background-size: auto 100%;
      }
    }
  }
}

.calendarNav-switch {
  display: flex;
  gap: 32px;
  padding: 32px 76px;
  background-color: $bg-main;
  @include screen($width-xl) {
    padding: 32px;
    gap: 24px;
  }
  @include screen($width-mid) {
    flex-direction: column;
    padding: 15px;
  }
  .switchbox {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    gap: 0 24px;
    &-title {
      min-width: 100px;
      font-size: 20px;
      font-weight: 700;
      color: $color-second-dark;
    }
    .inputmain {
      flex: 1 1 auto;
      background-color: #fff;
    }
    @include screen($width-xl) {
      gap: 0 12px;
    }
    @include screen($width-mid) {
      flex-direction: column;
      align-items: stretch;
      gap: 16px;
      .inputmain {
        font-size: 1rem;
      }
    }
  }
}



// 行事曆_表格
.calendarTable {
  width: 100%;
  border-top: solid 1px #fff;
  thead {
    th {
      line-height: 40px;
      color: #fff;
      font-weight: 700;
      background-color: #cd545e;
      &:nth-child(even) {
        background-color: #d7767e;
      }
      @include screen($width-mid) {
        font-size: 15px;
        line-height: 30px;
      }
    }
  }  
  td {
    height: 150px;
    vertical-align: top;
    border-right: solid 1px #e8e8e8;
    border-bottom: solid 1px #e8e8e8;
    &:nth-last-child(1) {
      border-right: none;
    }
    &.disabled {
      background: $bg-second;
    }
    @include screen($width-mid) {
      height: auto;
    }
  }
  tr:nth-last-child(1) td {
    border-bottom: solid 1px #cd545e;
  }
  // date 
  .dateTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #949494;
    font-weight: 500;
    padding: 12px 10px 12px 15px;
    .date {
      font-size: 22px;
      color: $text-dark;
    }
    .notice {
      text-align: right;
    }
    .num {
      padding: 0 3px;
    }
    @include screen($width-xl) {
      padding: 8px 5px 8px 8px;
      .date {
        font-size: 20px;
      }
      .notice {
        font-size: 15px;
      }
      .num {
        padding: 0;
      }
    }
    @include screen($width-large) {
      .notice {
        font-size: 14px;
      }
    }
    @include screen($width-mid) {
      justify-content: center;
      padding: 10px 5px;
      .date {
        font-size: 25px;
        line-height: 1em;
      }
      &.haslink {
        background: $color-third;
        .date {
          color: #fff;
        }
      }
      .day {
        flex: 1 1 auto;
        text-align: center;
      }
      .notice {
        display: none;
      }
    }
  }
  // event
  .eventbox {
    padding: 1px;
    a {
      @include transition(background-color);
      line-height: 20px;
      font-size: 15px;
      font-weight: 700;
      padding: 4px;
      color: $white;
      display: none;
    }
    a:nth-child(1) {
      margin-bottom: 1px;
      background-color: $color-third;
      display: block;
      &:hover {
        background-color: lighten($color-third, $amount: 15%);
      }
    }
    a:nth-child(2) {
      background: #eca151;
      display: block;
      &:hover {
        background: lighten($color: #eca151, $amount: 10%);
      }
    }
    span {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
    }
    @include screen($width-mid) {
      display: none;
    }
  }
}



// 行事曆_清單
.calendarList {
  &-inner {
    color: #000;
  }
  &-box {
    display: flex;
    align-items: center;
    color: $black;
    border-bottom: solid 1px #e8e8e8;
    &:nth-child(even) {
      background-color: #fcfcfc;
    }
    @include screen($width-mid) {
      display: block;
    }
  }
  .titlebox {
    flex: 0 0 auto;
    width: 250px;
    text-align: center;
    font-size: 18px;
    @include screen($width-xl) {
      width: 180px;
    }
    @include screen($width-mid) {
      width: 100%;
      padding: 5px 0;
      color: $white;
      font-weight: 700;
      background: #cd545e;
    }
  }
  .textbox {
    flex: 1 1 auto;
    list-style: none;
    padding: 20px 0;
    li {
      display: flex;
      gap: 0 12px;
    }
    li:nth-last-child(1) div {
      border-bottom: none;
    }
    @include screen($width-mid) {
      padding: 0;
      li {
        align-items: center;
        gap: 0;
        border-bottom: solid 1px #e8e8e8;
        &:nth-last-child(1) {
          border-bottom: none;
        }
      }
    }
  }
  
  .name,
  .inner {
    padding: 8px 0;
    @extend %border-bottom-dot;
    @include screen($width-mid) {
      padding: 10px 12px;
      border-bottom: none;
    }
  }
  .name {
    flex: 0 0 auto;
    width: 238px;
    @include screen($width-xl) {
      width: 178px;
    }
    @include screen($width-mid) {
      width: 90px;
      text-align: center;
    }
  }
  .inner {
    flex: 1 1 auto;
    @include screen($width-mid) {
      border-left: solid 1px #e8e8e8;
    }
  }
}
.calendarList-head {
  @include screen($width-mid) {
    display: none;
  }
  .calendarList-box {
    color: #fff;
    background-color: #cd545e;
  }
  .titlebox,
  .textbox {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    padding: 0;
  }
  .textbox li { gap: 0; }
  .name {
    width: 250px;
    background-color: #d7767e;
    @include screen($width-xl) {
      width: 180px;
    }
  }
}