/*------------------------------------*\
  _inner.scss
  內頁樣式
\*------------------------------------*/



/*------------------------------------*\
  frame change
\*------------------------------------*/
.wrapper {
  padding-top: 80px;
  @include screen-width($width-mobile) {
    padding-top: 52px;
  }
}

header {
  @extend %shadow;
  background-color: #910f0f;
  .pagesize {
    height: 80px;
  }
  @include screen-width($width-mobile) {
    .pagesize {
      height: 52px;
    }
  }
}

.container {
  &-inner {
    padding: 48px 0;
    @include screen-width($width-mobile) {
      padding: 24px 0;
    }
    .pagesize {
      position: relative;
      z-index: 3;
    }
  }
}

.pagesize--dragon,
.pagesize--m {
  max-width: 1352px;
  
}

.pagesize--dragon {
  position: relative;
  padding-left: 195px;
  padding-right: 195px;
  @include screen-width($width-large) {
    padding: 192px 40px 0;
  }
  @include screen-width($width-mid) { 
    padding-left: 24px; padding-right: 24px;
  }
  @include screen-width($width-mobile) {
    padding-left: 16px; padding-right: 16px;
  }
  &::before,
  &::after {
    content: "";
    display: block;
    width: 480px;
    height: 432px;
    position: absolute;
    z-index: 2;
    bottom: 195px;
    background: url(../images/kv-dragon.png);
    background-size: contain;
  }
  &::before {
    left: -85px;
    transform: scaleX(-1);
    @include screen-width($width-large) {
      content: none;
    }
  }
  &::after {
    right: -85px;
    @include screen-width($width-large) {
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      width: 370px;
    }
    @include screen-width($width-mobile) {
      top: -12px;
      width: 320px;
    }
  }
  .mainBlock {
    position: relative;
    z-index: 3;
  }
}


/*------------------------------------*\
  inner
\*------------------------------------*/
.mainBlock-head {
  position: relative;
  .text-cube {
    padding: 0 38px;
    @include screen-width($width-mobile) {
      padding: 0 26px;
    }
  }
  .text-link {
    @extend .fs-l;
    position: absolute;
    top: calc(50% - 17px);
    right: 80px;
    font-weight: 700;
    color: $color-primary;
    @include screen-width($width-mid) { 
      right: 24px;
    }
    @include screen-width($width-mobile) {
      top: calc(50% - 11px);
      right: 15px;
      font-size: 1rem;
      line-height: 1.45em;
    }
    @include screen-width($width-xs) {
      right: 10px;
      font-size: 14px;
    }
  }
}
.mainBlock-inner {
  padding: 40px 80px;
  @include screen-width($width-mid) {
    padding: 40px;
  }
  @include screen-width($width-mobile) {
    padding: 24px 16px;
  }
  &.inner--hr {
    border-bottom: solid 1px #505050;
  }
  &.pt-m {
    padding-top: 24px;
  }
}



/*------------------------------------*\
  抽獎
\*------------------------------------*/
.drawBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px 2px;
  background-color: #323c69;
  border-bottom: solid 2px #323c69;
  @include screen-width($width-mobile) {
    grid-template-columns: repeat(2, 1fr);
  }
  &-item {
    @extend .fs-l;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: 700;
    color: #1e274e;
    background-color: #ffcaa9;
    padding: 4px 16px 16px;
    &.lighten {
      background-color: #ffd53f;
      box-shadow: inset 0 0 16px 0 rgba(0, 0, 0, 0.64);
    }
    @include screen-width($width-mobile) {
      padding: 4px 8px 8px;
      font-size: 14px;
      line-height: 1.42em;
      font-weight: 500;
    }
  }
  &-icon {
    flex: 0 0 auto;
    max-width: 100%;
    @include screen-width($width-mid) {
      width: 140px;
    }
    @include screen-width($width-mobile) {
      width: 100px;
    }
  }
  &-text {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 34px;
  }
}

// 抽獎結果
.prizeResult {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  margin-bottom: 24px;
  padding: 48px;
  background: #ffdac2;
  border-radius: 24px;
  box-shadow: inset 0 4px 16px 0 rgba(0, 0, 0, 0.4);
  @include screen-width($width-mobile) {
    display: block;
    min-height: auto;
    padding: 8px 24px 24px;
  }
  &-img {
    flex: 0 0 auto;
    margin-right: 64px;
    @include screen-width($width-mobile) {
      margin: 0;
    }
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
      @include screen-width($width-mobile) {
        width: 154px;
      }
    }
  }
  .videoImg {
    max-width: 224px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24);
    @include screen-width($width-mobile) {
      margin: 24px auto 10px;
    }
  }
  &-inner {
    flex: 0 1 400px;
    text-align: center;
  }
  .text {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    &::before,
    &::after {
      content: "";
      display: block;
      flex: 1 1 auto;
      width: 100%;
      min-width: 20px;
      height: 1px;
      background-color: #505050;
    }
  }
  .text-cube {
    @extend .fs-xl;
    flex: 0 0 auto;
    padding: 0 32px;
    font-weight: 700;
    color: #505050;
    &::before,&::after {
      width: 12px;
      height: 12px;
      background-color: #505050;
    }
    &::before {
      left: 8px;
    }
    &::after {
      right: 8px;
    }
    @include screen-width($width-mobile) {
      font-size: 1.125rem;
      line-height: 1.45em;
      &::before,&::after {
        width: 11px; height: 11px;
      }
    }
  }
  .name {
    @extend .fs-xxl;
    font-weight: 700;
    color: $color-tertiary;
    @include screen-width($width-mobile) {
      font-size: 20px;
      line-height: 1.45em;
    }
  }
  &-title {
    display: none;
    margin-bottom: 16px;
    text-align: center;
    font-size: 20px;
    line-height: 1.45em;
    font-weight: 700;
    @include screen-width($width-mobile) {
      display: block;
    }
  }
}
// 序號
.serialBox {
  @extend .mb-m;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-num {
    @extend .fs-xl, .tB;
    flex: 1 1 auto;
    margin-right: 8px;
    @include screen-width($width-mobile) {
      font-size: 1rem;
      line-height: 1.45em;
    }
  }
  &-link {
    flex: 0 0 auto;
    @include screen-width($width-mobile) {
      padding-left: 8px;
      border-left: solid 1px #505050;
    }
  }
  .text-link {
    @extend .text-link, .fs-xl;
    color: $color-secondary;
    font-weight: 700;
    @include screen-width($width-mobile) {
      font-size: 1rem;
      line-height: 1.45em;
    }
  }
  .btn {
    @extend .btn-m, .btn-line, .btn-secondary;
    flex: 0 0 auto;
    @include screen-width($width-mobile) {
      min-width: 68px;
      padding: 8px 16px;
      font-size: 1rem;
      line-height: 1.45em;
      color: #ffdc64;
      background: linear-gradient(to bottom, #3e3e3e 0%, #000 100%);
      border: none;
      border-radius: 20px;
    }
  }
}



/*------------------------------------*\
  紀錄
\*------------------------------------*/
.recordTable {
  width: 100%;
  thead {
    color: #fff;
    background-color: #1e274e;
    th {
      @extend .fs-xl;
      padding: 8px;
      text-align: left;
      font-weight: 700;
      &:nth-child(1) {
        padding-left: 40px;
      }
      @include screen-width($width-mid) {
        font-size: 1.125rem;
        line-height: 1.45em;
      }
    }
  }
  tbody {
    tr:nth-child(even) {
      background-color: #ffdac2;
    }
    td {
      @extend .fs-l;
      padding: 16px 8px;
      font-weight: 700;
      &:nth-child(1) {
        padding-left: 40px;
      }
      @include screen-width($width-mid) {
        font-size: 1rem;
        line-height: 1.45em;
      }
    }
  }
  .link {
    a {
      @include web-only {
        border-bottom: solid 1px transparent;
        transition: border-color 0.2s;
        &:hover {
          border-color: #000;
        }
      }
    }
  }
  
  @include screen-width($width-mobile) {
    border-bottom: solid 1px #505050;
    &, tbody, tr {
      display: block;
    }
    thead {
      display: none;
    }
    tbody {
      padding: 16px;
      tr {
        margin-bottom: 16px;
        padding: 0 8px;
        border: solid 1px #505050;
        border-radius: 8px;
        &:nth-child(even) {
          background: none;
        }
        &:nth-last-child(1) {
          margin-bottom: 0;
        }
      }
      td {
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
        font-weight: 500;
        text-align: right;
        border-bottom: solid 1px #505050;
        &:nth-child(1) {
          padding-left: 0;
        }
        &:nth-last-child(2) {
          border-bottom: 0;
        }
        &::before {
          content: attr(data-th);
          flex: 0 0 4em;
          margin-right: 8px;
          text-align: left;
        }
      }
    }
    .link {
      margin: 0 -8px;
      padding: 0;
      font-weight: 700;
      color: $color-primary;
      background-color: #000;
      border: none;
      border-radius: 0 0 8px 8px;
      &::before {
        content: none;
      }
      a {
        display: block;
        flex: 1 1 auto;
        padding: 8px;
        text-align: center;
      }
    }
  }
}
.recordTable-notice {
  padding: 4px;
  text-align: center;
  background-color: #a0a0a0;
  @include screen-width($width-mobile) {
    display: none;
  }
}



/*------------------------------------*\
  兌換說明
\*------------------------------------*/
.noticeArea {
  border-bottom: solid 1px #505050;
  &-head {
    @extend .fs-xl;
    padding: 8px 40px;
    font-weight: 700;
    color: #fff;
    background-color: #1e274e;
    @include screen-width($width-mobile) {
      display: none;
    }
  }
  &-title {
    @extend .fs-l;
    padding: 19px 90px 19px 40px;
    font-weight: 700;
    background-image: url(../images/noticeArea-arrow.svg);
    background-position: right 40px center;
    background-repeat: no-repeat;
    transition: 0.2s;
    cursor: pointer;
    @include screen-width($width-mobile) {
      padding: 8px 48px 8px 16px;
      font-size: 18px;
      line-height: 1.45em;
      background-size: 16px 16px;
      background-position: right 16px center;
    }
  }
  &-item {
    &:nth-child(even) {
      background-color: #ffdac2;
    }
  }
  &-hidden {
    display: none;
  }
  &-inner {
    padding: 16px 40px;
    @include screen-width($width-mobile) {
      padding: 8px 16px;
    }
  }
  &-item.open {
    .noticeArea-title {
      color: #910f0f;
      background-image: url(../images/noticeArea-arrow-on.svg);
    }
  }
}


