/*------------------------------------*\
  _input.scss
  ___
  inputbox - 基本輸入框
  form - 表單單組項目(標題+內容為一組)
  驗證碼、檔案上傳等
\*------------------------------------*/

/*------------------------------------*\
  input
\*------------------------------------*/
.inputbox {
  input,
  select,
  textarea {
    width: 100%;
    min-width: 0;
    height: 50px;
    line-height: 48px;
    font-weight: 500;
    border: solid 1px #d4d4d4;
    border-radius: 8px;
    padding: 0 12px;
    background-color: #fff;
    &:disabled {
      background-color: #d4d4d4;
    }
    // @include screen-width($width-mobile) {
    //   height: 42px;
    //   line-height: 40px;
    //   border-radius: 5px;
    // }
  }

  // input
  input::placeholder { color: #999; }
  input::-webkit-input-placeholder { color: #999; }
  input::-moz-placeholder { color: #999; }
  input:-ms-input-placeholder { color: #999; }
  input:-moz-placeholder { color: #999; }

  // select
  select { 
    padding-right: 35px;
    // color: #999;
    appearance:none; 
    -moz-appearance:none; 
    -webkit-appearance:none;
    background-image: url(../images/inner/input-select.svg); 
    background-size: 18px auto; 
    background-repeat: no-repeat; 
    background-position: right 10px center; 
  }
  select::-ms-expand { display: none; }
  option:not(first-child) {
    color: #4c4c4c;
  }

}

/*------------------------------------*\
  checkbox  radio
\*------------------------------------*/
$md-radio-checked-color: #caaf6b;
$md-radio-border-color: #d4d4d4;
$md-radio-size: 18px;
$md-radio-checked-size: 10px;
$md-radio-ripple-size: 15px;
.radio {
  input[type="radio"] {
    display: none;
    &:checked + label:before {
      border-color: $md-radio-checked-color;
    }
    &:checked + label:after {
      transform: scale(1);
    }
  }
  label {
    display: inline-block;
    min-height: $md-radio-size;
    position: relative;
    padding: 0 0 0 ($md-radio-size + 6px);
    margin-bottom: 0;
    cursor: pointer;
    &:before, &:after {
      position: absolute;
      content: '';
      margin-top: 0.25em;
      transition: all .3s ease;
      transition-property: transform, border-color;
    }
    &:before {
      left: 0;
      top: 0;
      width: $md-radio-size;
      height: $md-radio-size;
      background: #fff;
      border: 1px solid $md-radio-border-color;
      border-radius: 50%;
    }
    &:after {
      top: calc($md-radio-size / 2) - calc($md-radio-checked-size / 2) + 1;
      left: calc($md-radio-size / 2) - calc($md-radio-checked-size / 2) + 1;
      width: $md-radio-checked-size;
      height: $md-radio-checked-size;
      transform: scale(0);
      background: $md-radio-checked-color;
      border-radius: 50%;
    }
  }
}

/*checkbox*/
$md-checkbox-border-color: #d4d4d4;
$md-checkbox-checked-color: #caaf6b;
$md-checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-size: 20px;
$md-checkbox-padding: 5px;
$md-checkbox-border-width: 2px;
$md-checkbox-border-radius: 4px;
$md-checkmark-width: 0.125em;
$md-checkmark-color: #fff; //tick-color

.checkbox {
  text-align: left;
  label {
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    clear: both;
    &:not(:empty) {
      padding-left: 24px;
      &:before, &:after {
        // top: -2px;
      }
    }
    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 2px;
      box-sizing: border-box;
    }
    &::before {
      // box
      width: $md-checkbox-size;
      height: $md-checkbox-size;
      background: #fff;
      border: 1px solid $md-checkbox-border-color;
      border-radius: $md-checkbox-border-radius;
      cursor: pointer;
      transition: background .3s;
    }
    &::after {} // checkmark
    &.d-block {
      display: block;
    }
  }
  &.d-inblock {
    label:not(:empty) {
      &:before, &:after {
        // top: -2px;
      }
    }
  }
  input[type="checkbox"] {
    flex: 0 0 auto;
    outline: 0;
    visibility: hidden;
    width: 0;
    margin: 0;
    display: block;
    float: left;
    font-size: inherit;
    &:checked {
      + label::before {
        background: $md-checkbox-checked-color;
        border-color: $md-checkbox-checked-color;
      }
      + label::after {
        $md-checkmark-size: $md-checkbox-size - 1.6 * $md-checkbox-padding;
        transform: translate(calc($md-checkbox-size / 5), calc($md-checkbox-size / 4)) rotate(-45deg); 
        width: $md-checkmark-size;
        height: calc($md-checkmark-size / 2); 
        border: $md-checkmark-width solid $md-checkmark-color;
        border-top-style: none;
        border-right-style: none;
      }
    }
    &:disabled {
      + label:before {
        background-color: #fdfdfd;
        border-color: $md-checkbox-border-color-disabled;
      }
      &:checked {
        + label:before {
          // background: $md-checkbox-checked-color-disabled;
        }
      }
    }
  }
}

.radio.d-inblock,
.checkbox.d-inblock {
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 10px;
}




// /*textarea*/
textarea {
  width: 100%; min-height: 120px; padding: 10px 10px; overflow-y: auto; resize: none; }



/*------------------------------------*\
  表單
\*------------------------------------*/
.form {
  display: flex;
  @include screen-width($width-mobile) {
    display: block;
  }
  &.w-m {
    max-width: 512px;
    margin-right: auto;
    margin-left: auto;
  }
  &.w-l {
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
  }
  &-title {
    flex: 0 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 140px;
    margin-right: 12px;
    font-weight: 500;
    &.w-l {
      min-width: 240px;
    }
    @include screen-width($width-mobile) {
      margin: 0;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  &-inner {
    flex: 1 1 auto;
  }

  .radio,
  .checkbox {
    padding-top: 10px;
  }
  
}



/*------------------------------------*\
  驗證碼
\*------------------------------------*/
.input-verify {
  display: flex;
  align-items: center;
  @include screen-width($width-small) {
    flex-wrap: wrap;
  }
  .inputbox {
    flex: 0 0 200px;
    margin-right: 15px;
    @include screen-width($width-mid) {
      flex: 0 0 150px;
    }
    @include screen-width($width-mobile) {
      flex: 1 1 auto;
    }
    @include screen-width($width-small) {
      flex: 0 0 100%;
      margin: 0 0 10px;
    }
  }
  img {
    flex: 0 0 auto;
    display: block;
    width: auto;
    height: 50px;
    margin-right: 15px;
  }
  a {
    display: inline-block;
    line-height: 1.2em;
    font-weight: 700;
    color: $secondary;
    border-bottom: solid 1px;
    @include screen-width($width-mobile) {
      flex: 0 0 auto;
    }
  }
}


/*------------------------------------*\
  上傳檔案
\*------------------------------------*/
.input-file {
  position: relative;
  display: flex;
  .inputbox {
    flex: 1 1 auto;
    margin-right: 15px;
  }
  @include screen-width($width-small) {
    .btn {
      min-width: 90px;
    }
  }
}
.input-file__file {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  cursor: pointer;
}