/*------------------------------------*\
  _innerheader
  內頁header、麵包屑
\*------------------------------------*/



/*------------------------------------*\
  innerheader
\*------------------------------------*/
.innerheader {
  padding: 50px 0 190px;
  background-color: #f6f6f6;
  @include screen($width-mobile) {
    padding: 40px 0;
  }
  .pageTitle {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 20px;
    overflow-wrap: anywhere;
    @include screen($width-mobile) {
      margin-bottom: 0;
      &.m-pd-s {
        padding: 10px 0;
      }
    }
  }
  &.m-pd-s {
    .pageTitle { padding: 0; }
    @include screen($width-mobile) {
      padding: 20px 0;
      .pageTitle { padding: 20px 0; }
    }
  }
  .pagesize {
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    @include screen($width-mobile) {
      min-height: 70px;
    }
  }
  .chip {
    min-width: 75px;
  }
  &--bg {
    position: relative;
    @include screen($width-mobile) {
      padding-bottom: 240px;
    }
    @include screen($width-small) {
      padding-bottom: 200px;
    }
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
        @include screen($width-mobile) {
          object-position: center bottom;
        }
      }
    }
    .pagesize {
      position: relative;
      z-index: 2;
    }
    & + .innerContent {
      margin-top: -110px;
      @include screen($width-mobile) {
        margin-top: 0;
      }
      .innerContent-box {
        position: relative;
        z-index: 2;
      }
    }
  }
}

.innerContent {
  position: relative;
  overflow-x: hidden;
  margin-top: -190px;
  @include screen($width-mobile) {
    margin-top: 0;
  }
  .pagesize {
    display: flex;
    gap: 0 20px;
    @include screen($width-mid){
      gap: 0;
    }
    @include screen($width-mobile) {
      display: block;
      padding: 0;
    }
  }
  &-main {
    flex: 1 1 auto;
    max-width: 100%;
  }
  &-box {
    min-height: 150px;
    background-color: #fff;
    border-radius: 60px 60px 0 0;
    @include screen($width-mobile) {
      border-radius: 0;
    }
  }
  &-inner {
    position: relative;
    z-index: 2;
    padding: 60px 40px 80px;
    @include screen($width-mid){
      padding-left: 20px;
      padding-right: 20px;
    }
    @include screen($width-mobile) {
      padding: 30px 20px 60px;
    }
    &.pt-0 {
      padding-top: 0;
    }
  }
  &-nav {
    flex: 0 0 auto;
    width: 300px;
    @include screen($width-mid){
      width: 260px;
    }
    & + .innerContent-main {
      max-width: calc(100% - 320px);
      @include screen($width-mid){
        max-width: calc(100% - 260px);
      }
      @include screen($width-mobile) {
        max-width: 100%;
      }
      .innerContent-box {
        position: relative;
        border-radius: 0;
        &::before,
        &::after {
          content: "";
          display: block;
          position: absolute;
          z-index: 1;
          top: 0;
          background: #fff;
          height: 150px;
          @include screen($width-mobile) {
            content: none;
          }
        }
        &::before {
          left: -100px;
          width: 100px;
          border-top-left-radius: 60px;
        }
        &::after {
          width: 100%;
          left: 50%;
        }
      }
      .innerContent-inner {
        padding-right: 0;
        @include screen($width-mobile) {
          padding: 30px 20px 60px;
        }
      }
    }
  }
  &-switch {
    display: none;
    @include screen($width-mobile) {
      display: block;
      position: relative;
      z-index: 2;
      top: -22px;
      padding: 0 20px;
      &.open {
        z-index: -2;
      }
      & + .innerContent {
        margin-top: -23px;
      }
    }
    a {
      display: block;
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
      color: $color-main;
      padding: 10px 50px 10px 18px;
      background: #fff url(../images/innerContent-switch.png) right 20px center no-repeat;
      background-size: 20px auto;
      border-radius: 30px;
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    }
  }
}
@include screen($width-mobile) {
  .m-innerContent-pd {
    padding: 30px 20px 40px;
  }
}

.innerContent-nav {
  padding: 36px 0 100px;
  .title {
    @extend .borderTitle, .mb-3;
    font-size: 30px;
    color: $color-main;
    @include screen($width-mobile) {
      font-size: 22px;
      padding-left: 0;
      margin-bottom: 0;
      &::after {
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #ddd;
      }
      .text {
        position: relative;
        z-index: 2;
        display: inline-block;
        padding: 10px 0 16px;
        border-bottom: solid 2px;
      }
    }
  }
  .nav-inner {
    position: relative;
    z-index: 2;
    background-color: #fff;
    padding: 40px 28px;
    border-top-right-radius: 40px;
    box-shadow: 0 0 40px 0 rgba(0,0,0,0.1);
  }
  .nav-list {
    padding-left: 0;
    list-style: none;
    li {
      border-bottom: solid 2px #f0f0f0;
      @extend %last-no-border;
    }
    a {
      display: block;
      font-size: 20px;
      line-height: 1.5em;
      padding: 15px 0;
      @include transition(color);
      &:hover {
        color: $color-main;
      }
      &.on {
        color: $color-main;
      }
    }
  }
  .nav-list-2 {
    list-style: none;
    li {
      display: block;
      margin-bottom: 8px;
      border: none;
    }
    a {
      font-size: 1rem;
      line-height: 24px;
      padding: 4px 10px;
    }
    .open .fold-btn {
      background-color: #f6f6f6;
    }
  }
  .nav-list-3 {
    background-color: #fafafa;
    li {
      margin-bottom: 4px;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 12px;
        top: 12px;
        width: 6px;
        height: 6px;
        background-color: $text-color;
        border-radius: 50%;
      }
      a {
        padding: 4px 10px 4px 26px;
      }
    }
  }
  .inputmain {
    margin-bottom: 12px;
    input {
      line-height: 50px;
      height: 50px;
    }
    .search {
      width: 50px;
      margin-right: 5px;
      background: url(../images/innerContent-input-search.png) center center no-repeat;
      background-size: 100% auto;
    }
  }
  .btn-close {
    display: none;
    @extend .popup-close;
    top: 55px;
    right: 5px;
  }
  @include screen($width-mobile) {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    padding: 70px 20px 40px;
    &.open {
      display: block;
      z-index: 1000;
      // -webkit-transform: translateZ(1px);
      // -webkit-backface-visibility: hidden; fail
    }
    
    &::before {
      content: "";
      display: block;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      height: 100dvh;
      background-color: rgba(0,0,0,0.4);
    }
    .inner {
      position: relative;
      z-index: 2;
      max-height: calc(100vh - 100px);
      padding: 20px;
      background: #fff;
      overflow-y: auto;
      border-radius: 20px;
      -webkit-transform: translateZ(1px);
      -webkit-backface-visibility: hidden;
    }
    .nav-inner {
      padding: 0;
      box-shadow: none;
    }
    .btn-close {
      display: block;
    }
  }
}



/*------------------------------------*\
  麵包屑
\*------------------------------------*/
.breadcrumbs {
  position: relative;
  z-index: 2;
  overflow: hidden;
  white-space : nowrap;
  text-overflow : ellipsis;
  line-height: 32px;
  font-weight: 500;
  color: #666;
  margin-bottom: 12px;
  padding-left: 40px;
  @include screen($width-mid) {
    padding-left: 20px;
  }
  @include screen($width-mobile) {
    display: none;
  }
  a, span {
    vertical-align: middle;
  }
  a {
    position: relative;
    // display: inline-block;
    margin-right: 18px;
    &::after {
      content: "";
      position: absolute;
      right: -18px;
      top: calc(50% - 9px);
      display: block;
      width: 18px;
      height: 18px;
      background: url(../images/frame/pagemenu-arrow.png) center center no-repeat;
      background-size: auto 12px;
      transform: rotate(-90deg);
    }
  }
  .home {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 0;
    background: url(../images/breadcrumbs-home.png) center center;
    background-size: 100%;
  }
}
.breadcrumbs-row {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 0 32px;
  @include screen($width-mobile) {
    display: none;
  }
  .breadcrumbs {
    flex: 1 1 auto;
    margin-bottom: 0;
  }
  &-text {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding-right: 40px;
    @include screen($width-mid) {
      padding-right: 20px;
    }
    @include screen($width-mobile) {
      flex-wrap: wrap;
      justify-content: center;
      padding-right: 0;
      gap: 8px 0;
    }
    .chipbox {
      display: flex;
      gap: 0 6px;
    }
    .time {
      line-height: 1rem;
      color: #999;
      &.bor-l {
        position: relative;
        padding-left: 12px;
        margin-left: 12px;
        border-left: solid 1px;
      }
    }
  }  
}


