/*------------------------------------*\
  _common.scss
  基礎全站變數
\*------------------------------------*/
/*------------------------------------*\
  使用顏色設定_主要
\*------------------------------------*/
// 文字顏色
$text-500: #505050;

// 主色 黃
$color-primary: #ffdc64;
$color-secondary: #323c69;
$color-tertiary: #640000;


/*------------------------------------*\
  RWD尺寸標準
\*------------------------------------*/
$width-max: 1440px;
$width-xl: 1360px;
$width-large: 1280px;
$width-mid: 1024px;
$width-mobile: 767px;
$width-small: 540px;
$width-xs: 374px;
@mixin screen-width($screensize) {
  @media all and (max-width: $screensize) {
    @content;
  }
}
// 使用範例 @include screen-width($width-mid) {}
@mixin web-only {
  @media all and (min-width: 768px) {
    @content;
  }
}



/*------------------------------------*\
  頁面寬度
\*------------------------------------*/
$pagesize: 1600px;
$pagesize-padding: 80px;


/*------------------------------------*\
  大小網
\*------------------------------------*/
.web { display: block; }
.mobile { display: none; }
@media screen and (max-width: 767px) {
	.web { display: none; }
	.mobile { display: block; }
}


/*------------------------------------*\
  extend
\*------------------------------------*/
// transition
@mixin transition($value: all) {
  transition: $value 0.2s;
}

%shadow {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.4);
}


/*------------------------------------*\
  color
\*------------------------------------*/
// text
.color-primary {
  color: $color-primary;
}
.color-secondary {
  color: $color-secondary;
}
.color-tertiary {
  color: $color-tertiary;
}
.color-gray {
  color: #505050;
}

.box-radius {
  // border-radius: 40px; 
  // @include screen-width($width-mobile) {
  //   border-radius: 8px;
  // }
}
.box-radius--s { 
  // border-radius: 20px;
}



/*------------------------------------*\
  margin
\*------------------------------------*/
.mb-0 { margin-bottom: 0 !important; }
.mb-s { margin-bottom: 16px; }
.mb-m { margin-bottom: 24px; }
.mb-l { margin-bottom: 40px; }
.mb-xl { margin-bottom: 48px; }
.mb-xxl { margin-bottom: 64px; }
// 40 48 64

@include screen-width($width-mobile) {
  .mb-s { margin-bottom: 8px; }
  .mb-m,.m-mb-m { margin-bottom: 16px; }
  
}

/*------------------------------------*\
  text
\*------------------------------------*/
.fs-l { 
  font-size: 1.5rem; line-height: 2.125rem; // 24
}
.fs-xl { font-size: 2rem; line-height: 2.875rem; // 32
}
.fs-xxl { font-size: 2.5rem; line-height: 3.5rem; // 40
}

@include screen-width($width-mobile) {
  .m-fs-m {
    font-size: 1rem !important; line-height: 1.45em; //16
  }
  .m-fs-l {
    font-size: 1.125rem; line-height: 1.45em; //18
  }
  .m-fs-xl {
    font-size: 1.25rem; line-height: 1.45em; //20
  }
}

.text-dele { text-decoration: line-through; }
.text-line { border-bottom: solid 1px; }
.text-link {
  word-break: break-all;
  color: #910f0f;
  border-bottom: solid 1px;
}

.tB { font-weight: bold; }

.tC { text-align: center; }

.nowrap { white-space: nowrap; }

@include screen-width($width-mobile) {
  .m-tN { font-weight: 500 !important; }
}


/*------------------------------------*\
  imgbox
\*------------------------------------*/
.imgbox {
  img { display: block; max-width: 100%; margin: 0 auto; }
}
.imgbox--full {
  img { display: block; width: 100%; }
}
.imgTC {
  display: block; max-width: 100%; margin: 0 auto;
}

// 影片封面
.videoImg {
  @extend %shadow;
  display: block;
  overflow: hidden;
  max-width: 240px;
  border-radius: 16px;
  @include screen-width($width-mobile) {
    max-width: 144px;
    border-radius: 10px;
  }
}



/*------------------------------------*\
  btn
\*------------------------------------*/
.btnbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.btn {
  @extend %shadow;
  display: inline-block;
  text-align: center;
  margin-right: 18px;
  font-weight: 700;
  &:nth-last-child(1) {
    margin-right: 0;
  }
  // size
  &-s {
    min-width: 68px;
    padding: 4px 16px;
    border-radius: 17px;
  }
  &-m {
    @extend .fs-l;
    min-width: 144px;
    padding: 16px 48px;
    border-radius: 33px;
    &.btn-line {
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }
  &-l {
    @extend .fs-xl;
    min-width: 256px;
    padding: 32px 96px;
    border-radius: 55px;
    @include screen-width($width-mobile) {
      min-width: 176px;
      font-size: 20px;
      line-height: 1.4em;
      padding: 16px;
    }
  }
  // color
  &-primary {
    background: linear-gradient(to bottom, #fff5d2 0%, #ffa215 100%);
  }
  &-secondary {
    color: #fff;
    background: linear-gradient(to bottom, #323c69 0%, #0a0f3e 100%);
  }
  &-block {
    color: #ffdc64;
    background: linear-gradient(to bottom, #3e3e3e 0%, #000 100%);
  }
  &-line {
    color: #fff;
    border: solid 2px #fff;
    &.btn-secondary {
      color: $color-secondary;
      background: none;
      border-color: $color-secondary;
    }
  }
}


.btn.disabled {
  color: #505050;
  background: #a0a0a0;
  cursor: not-allowed;
}

@include screen-width($width-mobile) {
  .btn.m-block {
    width: 100%;
    margin: 0 0 16px;
    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}




/*------------------------------------*\
  ul ol
\*------------------------------------*/
ul,ol {
  padding-left: 1.4em;
}

ol ol {
  list-style: none;
  position: relative;
  li {
    counter-increment: num;
    &::before {
      content: "(" counter(num) ")";
      position: absolute;
      left: 0;
      text-align: right;
    }
  }
}

/*------------------------------------*\
  title
\*------------------------------------*/
.text-cube {
  display: inline-block;
  position: relative;
  padding: 0 50px;
  color: $color-primary;
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 16px;
    height: 16px;
    background-color: $color-primary;
    transform: translateY(-50%) rotate(45deg);
  }
  &::before {
    left: 3px;
  }
  &::after {
    right: 3px;
  }
  @include screen-width($width-mobile) {
    padding: 0 28px;
    &::before,
    &::after {
      width: 8px;
      height: 8px;
    }
  }
}

.title-cube {
  @extend .fs-xl;
  text-align: center;
  font-weight: 700;
}


/*------------------------------------*\
  box
\*------------------------------------*/
%mainBlock-title {
  font-size: 40px;
  line-height: 1.45em;
  font-weight: 700;
  @include screen-width($width-mobile) {
    font-size: 20px;
    line-height: 1.4em;
  }
}
.mainBlock {
  @extend %shadow;
  border-radius: 24px;
  &-head {
    text-align: center;
    color: $color-primary;
    background-color: $color-secondary;
    border-radius: 24px 24px 0 0;
  }
  &-body {
    background-color: #ffcaa9;
    border-radius: 0 0 24px 24px;
    &.body--light {
      background-color: #ffdac2;
    }
    &.body--deco {
      padding-bottom: 40px;
      background-image: url(../images/mainBlock-in-bg.svg);
      background-position: center bottom;
      background-repeat: repeat-x;
      @include screen-width($width-mobile) {
        padding-bottom: 24px;
        background-size: 48px auto;
      }
    }
  }
  // title
  .title {
    @extend %mainBlock-title;
    padding: 24px;
    @include screen-width($width-mobile) {
      padding: 8px;
    }
  }
  .title--m {
    @extend %mainBlock-title;
    padding: 16px;
  }
  .title--s {
    padding: 16px;
    font-size: 32px;
    line-height: 1.4375em;
    font-weight: 700;
    @include screen-width($width-mobile) {
      font-size: 20px;
      line-height: 1.4em;
    }
  }
}











