@use '../base/variables' as *;


/* --------------------------------------- */
// pagemenu 變數
// 牽涉較多的變數建議從這邊修改
// 其餘CSS可直接覆蓋
/* --------------------------------------- */

// menu寬度
$pagemenu_width: 100%;

// 開關動畫的transition time
%pagemenu_transition-time {
  transition: 0.2s;
}

/* --------------------------------------- */
/* page */
/* --------------------------------------- */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.page {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  @extend %pagemenu_transition-time;
  z-index: 2;
}
.page_cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  background: rgba(3, 2, 1, 0.3);
  z-index: -2;
}
.openmenu {
  // position: fixed;
  transform: translateX(260px);
}
.page.openmenu .page_cover {
  z-index: 1001;
  top: 0;
  // background: rgba(3, 2, 1, 0.8);
  // backdrop-filter:blur(24px);
  transition: background-color 0.2s;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  background: #fff;
}

/* --------------------------------------- */
/* menu */
/* --------------------------------------- */
#pageMenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
  opacity: 0;
  width: 0;
  max-height: 100vh;
  background: #fff;
  @extend %pagemenu_transition-time;
}
// .page--hasheadDlApp ~ #pageMenu {
//   top: 110px;
//   max-height: calc(100vh - 110px);
// }

//menu長出
.openmenu ~ #pageMenu {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  left: 0;
  width: 260px;
  display: none;
  overflow-y: auto;
}
.openmenu ~ #pageMenu {
  display: block;
}
.show-up.openmenu {
  
}



/* menu_按鈕 */
.pageMenu-btn {
  // display: block;
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  @extend %pagemenu_transition-time;
}
$line-width: 24px;
$line-height: 3px;
$line-space: 5px;
.pageMenu-btn .line {
  display: block;
  position: absolute;
  left: calc(50% - $line-width / 2);
  width: $line-width;
  height: $line-height;
  background-color: $color-main;
  border-radius: 2px;
  @extend %pagemenu_transition-time;
}
.pageMenu-btn .line01 {
  top: calc(50% - $line-height * 1.5 - $line-space);
}
.pageMenu-btn .line02 {
  top: calc(50% - $line-height / 2);
}
.pageMenu-btn .line03 {
  top: calc(50% + $line-height / 2 + $line-space);
}
.openmenu .pageMenu-btn {
  // left: -50px;
}

// close
.pageMenu-close {
  position: absolute;
  top: 0;
  right: 3px;
  z-index: 2;
  width: 50px;
  height: 50px;
  background: url(../images/head-pagemenu-close.svg) center center no-repeat;
  background-size: auto;
  @extend %pagemenu_transition-time;
}
.openmenu .pageMenu-close {
  z-index: 2;
}


/* --------------------------------------- */
.pageMenu-nav {
  display: flex;
  gap: 0 12px;
  padding: 0 20px;
  // background-color: $bg-main;
  @include screen($width-small) {
    gap: 0 6px;
  }
  @include screen($width-xs) {
    gap: 0 3px;
    padding: 0 12px;
  }
  a {
    flex: 1 1 auto;
    display: block;
    height: 56px;
    line-height: 56px;
    font-size: 18px;
    letter-spacing: 0;
    text-align: center;
    border-bottom: solid 4px transparent;
    @include screen($width-xs) {
      font-size: 17px;
    }
    &.open {
      font-weight: 500;
      color: $color-main;
      border-bottom-color: $color-main;
    }
  }
}


/* menu_清單 */
.pageMenu-list {
  padding-left: 0;
  list-style: none;
  & > li {
    list-style: none;
  }
  .first {
    display: block;
    position: relative;
    z-index: 2;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 500;
    padding: 0 16px;
    text-decoration: none;
  }
  .list-sub {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    // background-color: $bg-second;
    a {
      display: block;
      height: auto;
      line-height: 1.5em;
      padding: 4px 24px;
      border-bottom: none;
    }
  }
}


/* --------------------------------------- */
//第二層選單
/* --------------------------------------- */
.pageMenu-list .hasSub {
  position: relative;
  
  .hasSub-btn {
  }
  button {
    position: absolute;
    top: 0;
    right: 3px;
    z-index: 3;
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
    background: url(../images/header-arrow-down.svg) center center no-repeat;
    border: none;
    @extend %pagemenu_transition-time;
  }
  &.open {
    background-color: #E6F0F1;
    .hasSub-btn button {
      transform: scaleY(-1);
    }
    .list-sub {
      padding: 4px 0;
    }
  }
}