$green: (
	"100": #E9FFEC,
	"200": #CCFFD4,
	"600": #2FAB48,
	"700": #3F854D
);

$gray: (
	"900": #000000,
	"800": #333333,
	"700": #555555,
	"600": #888888,
	"500": #A6A6A6,
	"400": #CCCCCC,
	"300": #EBEBEB,
	"200": #FAFAFA,
	"100": #FFFFFF
);

$gold: (
	"900": #322614,
	"800": #5B4625,
	"700": #856637,
	"600": #AE8648,
	"500": #D8A65A,
	"400": #E0B87B,
	"300": #E8CA9C,
	"200": #F3E4CE,
	"100": #FFF5E5
);

$orange: (
	"700": #D17315,
	"600": #F08519,
	"200": #FFE8CF,
	"100": #FFEDD9
);

$red: (
	"600": #DC3545,
	"500": #ED5565,
	"100": #FFF0F0
);

$color-map: (
	"green": $green,
	"gray": $gray,
	"gold": $gold,
	"orange": $orange,
	"red": $red,
);

@mixin border-class($name, $level, $color) {
	.border-#{$name}-#{$level} {
		border-color: $color !important;
	}
}

@mixin background-class($name, $level, $color) {
	.bg-#{$name}-#{$level} {
		background-color: $color !important;
	}
}

@mixin text-class($name, $level, $color) {
	.text-#{$name}-#{$level} {
		color: $color !important;
	}
}

@mixin svg-fill-class($name, $level, $color) {
	.fill-#{$name}-#{$level} {
		fill: $color !important;
	}
}

:root {
	@each $name, $mapping in $color-map {
		@each $level, $color in $mapping {
			--tss-#{$name}-#{$level}: #{$color};
		}
	}
}

@each $name, $mapping in $color-map {
	@each $level, $color in $mapping {
		@include border-class($name, $level, $color);
		@include background-class($name, $level, $color);
		@include text-class($name, $level, $color);
		@include svg-fill-class($name, $level, $color);
	}
}