/*------------------------------------*\
  common
\*------------------------------------*/
.tC { text-align: center; }
.tB { font-weight: bold; }



/*------------------------------------*\
  內容樣式
\*------------------------------------*/


.pageTitle {
  position: relative;
  img {
    display: block;
    width: 100%;
  }
  &-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .pagesize {
      flex: 1 1 auto;
      font-size: 54px;
      font-weight: 700;
      letter-spacing: 2px;
      color: #fff;
      @include screen-width($screen-mobile) {
        font-size: 27px;
      }
    }
  }
}


// tab
.tabBox {
  padding-top: 18px;
}

.tabSelect{
  position: relative;
  display: block;
  width: 100%;
  padding-top: 18px;
  vertical-align: middle;
  text-align: left;
  user-select: none;
  -webkit-touch-callout: none;
  .placeholder{
    position: relative;
    display: block;
    z-index: 1;
    padding: 0 12px;
    font-size: 18px;
    line-height: 36px;
    color: #000;
    border: solid 1px #8b6e5c;
    border-radius: 4px;
    cursor: pointer;
    &::after{
      content: "";
      position: absolute;
      right: 10px;
      top: calc(50% - 9px);
      width: 18px;
      height: 18px;
      background: url(../images/inner/select-arrow.png);
      background-size: 100%;
    }
  }
  &.is-open{
    .placeholder::after{
      transform: rotate(180deg);
    }
    ul{ display: block; }
  }
  ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    overflow: hidden;
    width: 100%;
    background: $primary-200;
    border: solid 1px #8b6e5c;
    border-radius: 4px;
    list-style: none;
    li{
      position: relative;
      font-size: 18px;
      line-height: 30px;
      color: #111;
      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 12px;
        right: 12px;
        bottom: 0;
        height: 1px;
        background-color: #8b6e5c;
      }
      &:last-child::after {
        content: none;
      }
      &:hover{
        background: darken($primary-200, 5%);
      }
    }
    a {
      display: block;
      padding: 0 12px;
    }
  }
}




/*------------------------------------*\
  團隊
\*------------------------------------*/
.groupArea {
  &.bg {
    background-color: $primary-200;
  }
  .pagesize {
    display: flex;
    padding-top: 50px;
    @include screen-width($screen-mobile) {
      display: block;
      padding-top: 18px;
      padding-bottom: 12px;
    }
  }
  &-title {
    position: relative;
    flex: 0 0 auto;
    padding: 0 72px 0 40px;
    @include screen-width($screen-lg) {
      padding-left: 0;
    }
    @include screen-width($screen-mobile) {
      margin-bottom: 10px;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 40px;
      top: 110px;
      bottom: 0;
      width: 1px;
      background-color: #a7978b;
      @include screen-width($screen-lg) {
        left: 0;
      }
      @include screen-width($screen-mobile) {
        content: none;
      }
    }
    h3 {
      font-size: 36px;
      line-height: 48px;
      font-weight: 700;
      color: $primary-700;
      @include screen-width($screen-mobile) {
        font-size: 30px;
        line-height: 36px;
      }
      span {
        display: block;
      }
    }
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 65px;
    padding-bottom: 72px;
    @include screen-width($screen-lg) {
      gap: 60px 40px;
    }
    @include screen-width($screen-mobile) {
      grid-template-columns: repeat(2, 1fr);
      padding-bottom: 20px;
      gap: 24px;
      padding-left: 20px;
      border-left: solid 1px #a7978b;
    }
    @include screen-width($screen-xs) {
      padding: 12px 16px;
    }
  }
}
.groupItem {
  &-img {
    @extend .imgbox--full;
    margin-bottom: 16px;
  }
  &-text {
    @extend %fs-2l;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    @include screen-width($screen-mobile) {
      -webkit-line-clamp: 8;
      font-size: 1rem;
      line-height: 30px;
    }
    @include screen-width($screen-xs) {
      line-height: 28px;
    }
    .title {
      font-size: 30px;
      font-weight: 700;
      color: $primary-800;
      @include screen-width($screen-mobile) {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 8px;
      }
      @include screen-width($screen-xs) {
        font-size: 18px;
      }
      span { display: inline-block; }
    }
  }
}




/*------------------------------------*\
  成員
\*------------------------------------*/
.memberHead {
  background-color: $primary-200;
  .pagesize {
    position: relative;
    display: flex;
    padding-top: 64px;
    @include screen-width($screen-mobile) {
      display: block;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
  &-img {
    @extend .imgbox--full;
    flex: 0 0 auto;
    max-width: 50%;
    margin: 0 24px 0 172px;
    @include screen-width($screen-xl) {
      margin-left: 80px;
    }
    @include screen-width($screen-mobile) {
      max-width: 100%;
      margin: 0;
    }
  }
  &-title {
    position: absolute;
    bottom: -130px;
    left: 60px;
    width: 316px;
    min-height: 316px;
    padding: 60px 28px 40px 40px;
    color: #fff;
    background: $secondary;
    @extend %fs-subTit;
    @include screen-width($screen-xl) {
      left: 40px;
    }
    @include screen-width($screen-lg) {
      width: 240px;
      min-height: 240px;
      padding: 40px 24px 32px 32px;
      font-size: 24px;
    }
    @include screen-width($screen-mobile) {
      position: relative;
      width: 160px;
      min-height: 160px;
      left: 0;
      bottom: 80px;
      margin-bottom: -60px;
      padding: 36px 20px 20px;
      font-size: 1rem;
      line-height: 1.5em;
    }
    .head {
      margin-bottom: 32px;
      @include screen-width($screen-mobile) {
        margin-bottom: 16px;
      }
    }
    .title {
      font-weight: 700;
      @include screen-width($screen-mobile) {
        font-size: 18px;
        line-height: 30px;
      }
      span {
        display: block;
      }
      .name {
        font-size: 48px;
        line-height: 1.3em;
        @include screen-width($screen-lg) {
          font-size: 36px;
        }
        @include screen-width($screen-mobile) {
          font-size: 26px;
        }
      }
    }
  }
  &-text {
    @extend %fs-2l;
    flex: 1 1 auto;
    font-weight: 500;
    @include screen-width($screen-lg) {
      font-size: 20px;
      line-height: 30px;
    }
    @include screen-width($screen-mobile) {
      font-size: 20px;
      line-height: 28px; 
    }
    .title {
      margin-bottom: 8px;
      font-weight: 700;
      color: $primary-600;
    }
  }
  &-list {
    list-style: none;
    margin-bottom: 32px;
    @include screen-width($screen-lg) {
      margin-bottom: 20px;
    }
    @include screen-width($screen-mobile) {

    }
    li {
      margin-bottom: 8px;
      @include screen-width($screen-mobile) {
        margin-bottom: 4px;
      }
    }
  }
}
.memberInner {
  padding: 56px 0 60px;
  @include screen-width($screen-mobile) {
    padding: 0 0 24px;
  }
  &-box {
    margin-left: 314px;
    padding-left: 36px;
    border-left: solid 2px $secondary;
    @include screen-width($screen-lg) {
      margin-left: 238px;
    }
    @include screen-width($screen-mobile) {
      margin: 0;
      padding: 16px 0 0 24px;
    }
  }
  .memberHead-list > li {
    position: relative;
    padding-left: 1em;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    @include screen-width($screen-mobile) {
      font-size: 18px;
      line-height: 30px;
    }
    &::before {
      content: '‧';
      position: absolute;
      left: 0;
      top: 0;
      color: #a7978b;
    }
  }
}



/*------------------------------------*\
  news
\*------------------------------------*/
.newsItem {
  &-inner {
    color: #000;
    text-align: justify;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    @extend %fs-l;
    @include screen-width($screen-mobile) {
      font-size: 16px;
      line-height: 1.5em;
    }
  }
  .time {
    color: #8c8c8c;
  }
  .tag {
    display: inline-block;
    padding: 0 18px;
    color: #fff;
    @include screen-width($screen-mobile) {
      padding: 0 16px;
    }
  }
  &-text {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-height: 36px;
    @include screen-width($screen-lg) {
      -webkit-line-clamp: 6;
      line-height: 30px;
    }
  }
  .title {
    font-size: 24px;
    font-weight: 500;
    @include screen-width($screen-lg) {
      font-size: 20px;
    }
    @include screen-width($screen-mobile) {
      font-size: 18px;
      line-height: 30px;
    }
  }
  .text {
    font-size: 22px;
    @include screen-width($screen-lg) {
      font-size: 18px;
    }
    @include screen-width($screen-mobile) {
      font-size: 18px;
      line-height: 30px;
    }
  }
  &-goto {
    font-size: 24px;
    line-height: 1em;
    font-weight: 700;
    text-align: right;
    @include screen-width($screen-mobile) {
      display: none;
    }
    span {
      border-bottom: solid 2px;
    }
  }
}
.newsList {
  list-style: none;
  &.pt {
    padding-top: 40px;
  }
  @include screen-width($screen-mobile) {
    padding-top: 24px;
  }
  li {
    margin-bottom: 40px;
    @include screen-width($screen-mobile) {
      margin-bottom: 20px;
    }
  }
  .newsItem{
    display: flex;
    padding: 30px 40px;
    background-color: #f5f5f5;
    @include screen-width($screen-mobile) {
      padding: 16px;
      display: block;
    }
    &-img {
      flex: 0 0 auto;
      width: 440px;
      height: 240px;
      position: relative;
      margin-right: 20px;
      overflow: hidden;
      @include screen-width($screen-lg) {
        width: 400px;
      }
      @include screen-width($screen-mobile) {
        width: 100%;
        height: 0;
        padding-top: 54.54%;
        margin-bottom: 8px;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        transform: scale(1);
        @include transition(transform);
      }
    }
    &:hover, &:focus {
      .newsItem-img img {
        transform: scale(1.1);
      }
    }
  }
}

$newsTagColor: (
  'news': $primary,
  'pro': #9e180f,
  'case': #a7978b
);
@each $name, $color in $newsTagColor{
  .newsItem-info .tag--#{$name} {
    background-color: $color;
  }
}
/*pager*/
.pager {
  margin-bottom: 40px;
  text-align: center;
}
.pager li { 
  display: inline-block; 
  margin: 0 4px; 
}
.pager a {
  display: inline-block; 
  min-width: 30px;
  vertical-align: middle; 
  font-size: 24px;
  line-height: 30px;
  color: #bbb;
  font-weight: 500;
  @include screen-width($screen-mobile) {
    min-width: 24px;
    font-size: 1rem;
    line-height: 1.5em;
  }
  &:hover, &:focus {
    color: #ae8a6e;
  }
}
.pager a.on { 
  padding: 0 5px; 
  color: $primary; 
  border-radius: 2px;
  &:hover, &:focus {
    color: $primary;
  }
}
.pager_icon { 
  width: 30px; 
  height: 30px;
  background: url(../images/inner/pager-arrow.png) center center no-repeat;
  background-size: 60%;
  @include transition(opacity);
  &:hover, &:focus {
    opacity: 0.7;
  }
  @include screen-width($screen-mobile) {
    width: 24px;
    height: 24px;
  }
}
.pager_icon.prev { transform: rotate(180deg); }


/*------------------------------------*\
  news 內頁
\*------------------------------------*/
.newsHead {
  background-color: $primary-200;
  @include screen-width($screen-mobile) {
    .pagesize {
      padding: 0;
    }
  }
  .newsItem {
    display: flex;
    align-items: center;
    padding: 36px 0;
    @include screen-width($screen-mobile) {
      display: block;
      padding: 0;
    }
    &-img {
      order: 2;
      flex: 0 0 auto;
      display: block;
      width: 100%;
      max-width: 60%;
      @include screen-width($screen-mobile) {
        max-width: 100%;
      }
    }
    &-inner {
      order: 1;
      flex: 1 1 auto;
      margin-right: 32px;
      @include screen-width($screen-mobile) {
        padding: 18px 18px 30px;
      }
    }
    .time {
      font-size: 22px;
      @include screen-width($screen-mobile) {
        font-size: 1rem;
      }
    }
    .title {
      font-size: 30px;
      line-height: 1.6em;
      font-weight: 700;
      @include screen-width($screen-lg) {
        font-size: 24px;
      }
      @include screen-width($screen-mobile) {
        line-height: 1.33em;
      }
    }
  }
}
.newsInner {
  padding: 32px 0 54px;
  @include screen-width($screen-mobile) {
    padding: 12px 0 36px;
  }
}



/*------------------------------------*\
  關於
\*------------------------------------*/
// 首內頁皆有
.msgArea {
  padding-bottom: 160px;
  @include screen-width($screen-xl) {
    padding-bottom: 100px;
  }
}
.featureArea {
  overflow: hidden;
  background: url(../images/inner/about-feature-bg.jpg) bottom center;
  background-size: cover;
  @include screen-width($screen-mobile) {
    background: #8c5831 url(../images/inner/about-feature-bg-m.jpg) top center no-repeat;
    background-size: 100% auto;
  }
  &::after {
    background: url(../images/inner/about-feature-deco.png) center center no-repeat;
    background-size: 100% auto;
    opacity: 0.7;
    @include screen-width($screen-mobile) {
      opacity: 0.4;
    }
  }
}
.featureList {

}

.about-inner {
  font-size: 22px;
  line-height: 48px;
  @include screen-width($screen-lg) {
    font-size: 18px;
    line-height: 32px;
  }
  @include screen-width($screen-mobile) {
    line-height: 30px;
  }
}
// about-1
.about-1 {
  margin-top: -160px;
  @include screen-width($screen-xl) {
    margin-top: -100px;
  }
  .pagesize {
    display: flex;
    align-items: flex-end;
    @include screen-width($screen-pad) {
      display: block;
    }
  }
  .about-img {
    flex: 0 0 auto;
    width: 500px;
    margin-right: 68px;
    @include screen-width($screen-lg) {
      width: 400px;
      margin-right: 48px;
    }
    @include screen-width($screen-pad) {
      width: 100%;
      margin: 0;
    }
    img {
      display: block;
      width: 100%;
    }
  }
  .about-inner {
    padding: 40px 0 80px;
    @include screen-width($screen-mx) {
      padding-bottom: 60px;
    }
    @include screen-width($screen-lg) {
      padding: 60px 0 40px;
    }
    @include screen-width($screen-pad) {
      padding: 40px 0 60px;
    }
    @include screen-width($screen-mobile) {
      padding: 20px 0 30px;
    }
  }
  .blockTitle {
    color: $primary-700;
  }
}
.about-2 {
  position: relative;
  color: #fff;
  background: $secondary;
  .about-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 760px;
    height: 100%;
    @include screen-width($screen-xl) {
      width: 480px;
    }
    @include screen-width($screen-pad) {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 40%;
    }
    @include screen-width($screen-mobile) {
      position: static;
      height: auto;
      padding: 0;
    }
    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center bottom;
      @include screen-width($screen-mobile) {
        position: static;
      }
    }
  }
  .pagesize {
    display: flex;
    align-items: center;
    min-height: 440px;
    @include screen-width($screen-pad) {
      display: block;
      height: auto;
      min-height: 0;
    }
  }
  .about-inner {
    flex: 1 1 auto;
    padding: 90px calc(900px - calc(50vw - 700px)) 100px 0;
    @include screen-width($screen-xl) {
      padding: 40px 500px 40px 0;
    }
    @include screen-width($screen-pad) {
      padding: 40px 0 60px;
    }
    @include screen-width($screen-mobile) {
      padding: 24px 0;
    }
  }
}






