/*------------------------------------*\
  _common.scss
  基礎全站變數
\*------------------------------------*/
@use 'variables' as *;

:root{
  --space: 8px;
}

/*------------------------------------*\
  間距
\*------------------------------------*/
.mb-0 { margin-bottom: 0; }
.mb-0x5 { margin-bottom: calc(var(--space)*0.5); }
.mb-1x { margin-bottom: calc(var(--space)*1); }
.mb-2x { margin-bottom: calc(var(--space)*2); }
.mb-3x { margin-bottom: calc(var(--space)*3); }
.mb-5x { margin-bottom: calc(var(--space)*4); }

.pl-3x { padding-left: calc(var(--space)*3); }

@include screen($width-mobile) {
  .m-mb-1 { margin-bottom: 10px !important; }
  .m-mb-1x { margin-bottom: calc(var(--space)*1); }
  .m-mb-3x { margin-bottom: calc(var(--space)*3); }
}


/*------------------------------------*\
  font-size
\*------------------------------------*/
.fs-s { font-size: 0.875em; } // 14
.fs-ms { font-size: 0.937rem; } // 15
.fs-m { font-size: 1em; } // 16
.fs-l { font-size: 1.125em; } // 18
.fs-xl { font-size: 1.25em; } // 20
.fs-xxl { font-size: 1.5em; } // 24

.lh-s { line-height: 1.25; }
.lh-m { line-height: 1.5; }
.lh-l { line-height: 1.875; }

@include screen($width-mobile) {
  // .fs-l { font-size: 1em; }
  // .fs-xl { font-size: 1.125em; }
}


// font-weight
.fw-normal { font-weight: 400; }
.fw-mid { font-weight: 500; }
.fw-bold { font-weight: 700; }
@include screen($width-mobile) {
  .m-fw-mid { font-weight: 500; }
}

// align
.tL { text-align: left; }
.tR { text-align: right; }
.tC { text-align: center; }
@include screen($width-mid) {
  .mid-tC { text-align: center; }
}

.v-m { vertical-align: middle; }

.text-nowarp { white-space: nowrap; }

.text-ellipsis {
  overflow: hidden; 
  text-overflow : ellipsis; 
  white-space : nowrap;
}



/*------------------------------------*\
  a
\*------------------------------------*/
.a-line {
  @extend %btnHover;
  line-height: 1.5em;
  color: $color-main;
  padding-bottom: 1px;
  border-bottom: solid 1px;

  &.color-text {
    color: $text-color;
  }

  &.color-text-dark {
    color: $text-dark;
  }
}

.linkCover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.more {
  @extend %btnHover;
  display: block;
  font-weight: 500; color: $color-main;
  .text {
    padding-right: 24px;
    background: url(../images/indextitle-more.svg) right center no-repeat;
    background-size: auto 1em;
  }
}


/*------------------------------------*\
  img
\*------------------------------------*/
.imgbox {
  display: block;
  img {
    display: block;
    max-width: 100%;
  }
  &--full {
    display: block;
    img {
      width: 100%;
    }
  }
  &.tC {
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.round img {
    border-radius: 16px;
  }
}

.imgCover {
  img {
    display: block;
    object-fit: cover;
    object-position: center center;
  }
}
.imgCover--float { //要另設定高度 or padding-top
  position: relative;
  overflow: hidden;
  img {
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

// lock
.cover-lock {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  .text {
    color: #fff;
    font-weight: 700;
    padding-top: 32px;
    background: url(../images/icon-lockCover.svg) center top no-repeat;
    background-size: 24px auto;
    @include screen($width-mobile) {
      font-size: 14px;
      padding-top: 28px;
    }
  }
}

.topBn .cover-lock,
.newestCard.main .cover-lock {
  @include web-only {
    .text {
      font-size: 20px;
      padding-top: 36px;
      background-size: auto 28px;
    }
  }
}



/*------------------------------------*\
  cardInfo
\*------------------------------------*/
.cardInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 1.5em;
  color: $text-gray;
  @include screen($width-mobile) {
    font-size: 13px;
    line-height: 20px;
  }
  .view {
    background-image: url(../images/infobox-view.svg);
  }
  .time {
    background-image: url(../images/infobox-time.svg);
  }
  .star {
    background-image: url(../images/infobox-star.svg);
  }
  .view, .time, .star {
    background-position: left center;
    background-repeat: no-repeat;
    flex: 0 0 auto;
    padding-left: 24px;
    @include screen($width-mobile) {
      padding-left: 20px;
      background-size: 16px 16px;
    }
    @include screen($width-xs) {
      padding-left: 14px;
      background-size: 12px 12px;
    }
  }
}
.articleList .cardInfo {
  .view {
    background-image: url(../images/infobox-view-in.svg);
  }
}



/*------------------------------------*\
  JS元件
\*------------------------------------*/
// JS_swiper
.topBn {
  @extend %swiperPagi;
  max-width: 100vw;
  overflow-x: clip;
  &-item {
    display: block;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
  }
  &-bg {
    @extend .imgCover--float;
    position: relative;
    border-radius: 8px;
    padding-top: 56.23%;
    img {
      display: block;
      width: 100%;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 125, 125, 0) 60%, rgba(0,125,125,0) 60% , rgba(0, 125, 125, 100) 100%);
    }
  }
  .title {
    position: absolute;
    bottom: 16px;
    left: 20px;
    max-width: calc(100% - 40px);
    // font-size: 13px; 
    font-size: 1.125em;
    line-height: 1.5; 
    font-weight: 700;
    color: #fff;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    @include screen($width-mobile) {
      left: 10px;
      max-width: calc(100% - 20px);
      font-size: 13px;
    }
  }
  .swiper-slide {
    max-width: 33%;
    opacity: 0.5;
    @include transition(opacity);
    @include screen($width-mobile) {
      max-width: 84%;
    }
  }
  .swiper-slide-active {
    opacity: 1;
  }
  @include web-only {
    .swiper {
      margin-left: -8vw;
      margin-right: -8vw;
    }
  }
}


.swiper-button-prev, 
.swiper-button-next {
  display: block;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  margin: 0;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 8px);
    width: 16px;
    height: 16px;
    background: url(../images/slide-right.svg) center center no-repeat;
    background-size: 100% 100%;
  }
  &.swiper-button-disabled {
    opacity: 0;
    z-index: -2;
  }
}
.swiper-button-prev {
  background: linear-gradient(to left, rgba(#fff, 0) 0%, rgba(#fff, 1) 70%, rgba(#fff, 1) 100%);
  left: 0;
  &::after {
    left: 4px;
    transform: scaleX(-1);
  }
}
.swiper-button-next {
  background: linear-gradient(to right, rgba(#fff, 0) 0%, rgba(#fff, 1) 70%, rgba(#fff, 1) 100%);
  right: 0;
  &::after {
    right: 4px;
  }
}










