/*------------------------------------*\
  _common.scss
  基礎全站變數
\*------------------------------------*/
/*------------------------------------*\
  使用顏色設定_主要
\*------------------------------------*/
// 文字顏色
$text-800: #252525;
$text-900: #1b1b1b;

// 主色 黃
$primary: #FFC602;



/*------------------------------------*\
  RWD尺寸標準
\*------------------------------------*/
$width-max: 1440px;
$width-xl: 1360px;
$width-large: 1280px;
$width-mid: 1000px;
$width-mobile: 767px;
$width-small: 540px;
$width-xs: 374px;
@mixin screen-width($screensize) {
  @media all and (max-width: $screensize) {
    @content;
  }
}
// 使用範例 @include screen-width($width-mid) {}
@mixin web-only {
  @media all and (min-width: 768px) {
    @content;
  }
}



/*------------------------------------*\
  頁面寬度
\*------------------------------------*/
$pagesize-width: 1360px;


/*------------------------------------*\
  大小網
\*------------------------------------*/
.web { display: block; }
.mobile { display: none; }
@media screen and (max-width: 767px) {
	.web { display: none; }
	.mobile { display: block; }
}


/*------------------------------------*\
  extend
\*------------------------------------*/
// transition
@mixin transition($value: all) {
  transition: $value 0.2s;
}



/*------------------------------------*\
  color
\*------------------------------------*/
// text
.color-primary {
  color: #FFD600;
}


// bg-stripes
.bg-black { background-color: #000; }
.bg-primary { background-color: #FFCF00; }
.bg-stripes {
  background: repeating-linear-gradient(-45deg, #FFC602, #FFC602 10px, #F8E146 10px, #F8E146 20px);
}

.box-radius {
  border-radius: 40px; 
  @include screen-width($width-mobile) {
    border-radius: 8px;
  }
}
.box-radius--s { border-radius: 20px; }






/*------------------------------------*\
  text
\*------------------------------------*/
.lh-m { line-height: 1.875rem; }
.lh-l { line-height: 2.25rem; }

.tB { font-weight: bold; }

.tC { text-align: center; }

.nowrap { white-space: nowrap; }

/*------------------------------------*\
  imgbox
\*------------------------------------*/
.imgbox {
  img { display: block; max-width: 100%; margin: 0 auto; }
}
.imgbox--full {
  img { display: block; width: 100%; }
}
.imgTC {
  display: block; max-width: 100%; margin: 0 auto;
}



/*------------------------------------*\
  title
\*------------------------------------*/
.mainTitle {
  text-align: center;
  &-text {
    position: relative;
    display: inline-block;
    padding: 0 38px;
    font-size: 3.125rem;
    line-height: 1.2em;
    font-weight: 900;
    @include screen-width($width-large) {
      font-size: 2.5rem;
    }
    @include screen-width($width-mobile) {
      padding: 0 11px;
      font-size: 1.25rem;
    }
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: calc(50% - 18px);
      width: 18px;
      height: 38px;
      background: url(../images/title-deco-black-left.svg) top center no-repeat;
      background-size: 100% 100%;
      @include screen-width($width-mobile) {
        top: calc(50% - 3px);
        width: 6px;
        height: 10px;
      }
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
      transform: rotateY(180deg);
    }
    img {
      display: block;
      max-width: 100%;
      @include screen-width($width-mobile) {
        max-height: 24px;
      }
    }
    
  }
  &.white {
    color: #fff;
    .mainTitle-text {
      &::before,
      &::after {
        background-image: url(../images/title-deco-white-left.svg);
      }
    }
  }
}
.subTitle {
  text-align: center;
  font-size: 1.625rem;
  line-height: 1.2em;
  font-weight: 900;
  @include screen-width($width-mobile) {
    font-size: 0.8125rem;
  }
}

.noticeBox {
  position: relative;
  z-index: 2;
  width: fit-content;
  margin: 0 auto;
  padding: 8px 36px;
  font-size: 1.375rem;
  line-height: 1.4em;
  text-align: center;
  color: #fff;
  font-weight: 600;
  background-color: #000;
  clip-path: polygon(0 0, 100% 0, 98.5% 100%,
    1.5% 100%);
  @include screen-width($width-mobile) {
    padding: 5px 16px;
    font-size: 0.75rem;
  }
  img {
    display: inline-block;
    position: relative;
    top: 4px;
    height: 30px;
    vertical-align: baseline;
    @include screen-width($width-mobile) {
      top: 2px;
      height: 16px;
    }
  }
}


/*------------------------------------*\
  btn
\*------------------------------------*/
.btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // &.tL { justify-content: flex-start; }
  // &.tR { justify-content: flex-end; }
}



/*------------------------------------*\
  box
\*------------------------------------*/
.contentBox {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 40px;
  color: #fff;
  @include screen-width($width-mobile) {
    border-radius: 20px;
  }
}


/*------------------------------------*\
  hr
\*------------------------------------*/
.hr-line {
  height: 1px;
  border: none;
  background: url(../images/hr-black.png) left center repeat-x;
  &.white {
    background: url(../images/hr-white.png) left center repeat-x;
  }
}



/*------------------------------------*\
  轉輪
\*------------------------------------*/
.spinWheel {
  filter: drop-shadow(0 -18px 44px rgba(0,0,0,0.4));
  .wheel {
    filter: drop-shadow(0 -8px 0 #5501ad);
    img {
      display: block;
      width: 100%;
    }
  }
  .tick {
    position: absolute;
    top: -3%;
    left: calc(50% - 3.5%);
    width: 7%;
    height: 16%;
    background: url(../images/spin-tick.png) center top no-repeat;
    background-size: 100% auto;
  }
  .go {
    position: absolute;
    top: calc(50%);
    left: 50%;
    width: 21.739%;
    height: 21.739%;
    transform: translate(-50%, -50%);
    background: url(../images/spin-go.png) center top no-repeat;
    background-size: 100% 100%;
  }
}








