@charset "UTF-8";
/*font_Noto Sans TC*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700,900&display=swap&subset=chinese-traditional');
/*font_Century Gothic*/
@font-face {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(../css/font/Century_Gothic_400.otf);
}
@font-face {
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(../css/font/Century_Gothic_700.otf);
}
/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,iframe,button,a{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	vertical-align: baseline;
	font: inherit;
	/*line-height: 150%;*/
	letter-spacing: 0.2px;
	text-decoration: none;
	border: 0;
}

html, body { height: 100%; }
body {
	color: #313131;
	background:#f2f3f7; 
	font: 16px/150% 'Noto Sans TC','微軟正黑體','Helvetica Neue',sans-serif;
	font-weight: 400;
}

input, button, textarea, select, optgroup, option, a { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; outline: none;}

a { color:#313131; text-decoration:none; }
button{	background: none; }

h1, h2, h3, h4, h5, h6 { font-weight: 700; font-size:1em; line-height: 1.5em; }

/* ol, ul { list-style: none; } */

table { width:auto; border-collapse: collapse; border-spacing: 0; }

/*reset end*/


/* input */
input[type="text"],
input[type="password"],
select, textarea { width: 100%; min-width: 0; height: 40px; line-height: 40px; border-radius: 8px; }

input[type="text"],
input[type="password"], textarea { padding: 0 15px; background: #f2f2f2; }
input::-webkit-input-placeholder { color: #333; }
input::-moz-placeholder { color: #333; }
input:-ms-input-placeholder { color: #333; }
input:-moz-placeholder { color: #333; }

input[type="text"]:disabled,
input[type="password"]:disabled,
select:disabled { color: #808080; background: #f0f0f0; border: none;
  -webkit-text-fill-color: #808080;
  opacity: 1; /* required on iOS */
}
input:disabled::-webkit-input-placeholder { color: #808080; }
input:disabled::-moz-placeholder { color: #808080; }
input:disabled:-ms-input-placeholder { color: #808080; }
input:disabled:-moz-placeholder { color: #808080; }

textarea{ height:150px;}

/* select */
select { width: 100%; min-width:265px; appearance:none; -moz-appearance:none; -webkit-appearance:none;
 padding: 0 35px 0 15px; color: #666; background: #f2f2f2 url(../images/arrow_02.png) right 13px center no-repeat; background-size: auto 8px; border: none; }
select::-ms-expand { display: none; }
select option { -moz-appearance: none; -webkit-appearance: none; appearance: none; }
select option:hover { color: #fff; background-color: #666; }

/* checkbox */
input[type="checkbox"] { display:none; }
input[type="checkbox"] + label { display: inline-flex; margin-right: 15px; }
input[type="checkbox"] + label span { vertical-align: middle; }
input[type="checkbox"] + label .icon { flex: 0 0 auto; position: relative; display:inline-block; box-sizing: border-box; width: 24px; height: 24px; vertical-align: middle; margin-right: 5px; background:#fff; background-size:100%; border: solid 2px #008764; border-radius: 4px; }
input[type="checkbox"]:checked + label .icon { background: #008764 url(../images/check_01.png) center no-repeat; background-size: 100%; border: 0; }
input[type="checkbox"]:checked + label .text { font-weight: 700; }
input[type="checkbox"]:disabled + label .text { color: #a0a0a0; }
input[type="checkbox"]:disabled + label .icon { border-color: #a0a0a0; }
input[type="checkbox"]:disabled:checked + label .icon { background: #a0a0a0 url(../images/check_01.png) center no-repeat; background-size: 100%; border: 0; }

/* radio */
input[type="radio"] { display:none;}
input[type="radio"] + label { flex:0 1 auto; display: inline-flex; margin-right: 15px; }
input[type="radio"] + label.input { align-items: center; }
input[type="radio"] + label.last { margin-right: 0;}
input[type="radio"] + label span { flex:0 0 auto; cursor: pointer; vertical-align:middle; word-wrap:break-word;}
input[type="radio"] + label a{ flex:0 0 auto;}
input[type="radio"] + label .icon { flex: 0 0 auto; display:inline-block; position: relative; box-sizing: border-box; width: 24px; height: 24px; box-sizing: border-box; cursor: pointer; margin: 2px 5px 2px 0; background: #fff; background-size:15px; border: solid 2px #008764; border-radius: 24px; }
input[type="radio"] + label .text{ flex:1 1 auto;}
input[type="radio"]:checked + label .text { font-weight: 700; }
input[type="radio"]:checked + label .icon::after { content: ""; display: block; position: absolute; top: 15%; left: 15%; width: 70%; height: 70%; background: #008764; border-radius: 50%; }
input[type="radio"]:disabled + label .icon { background: #f0f0f0; border-color: #a0a0a0; }
input[type="radio"]:disabled:checked + label .icon::after { background: #a0a0a0; }
input[type="radio"]:disabled + label .text { color: #a0a0a0; }


/*
textarea { width: 100%; min-height: 120px; padding: 10px 10px; border: solid 1px #ddd; overflow-y: auto; resize: none; }
*/


/* common use */
.tL { text-align: left; }
.tR { text-align: right; }
.tC { text-align: center; }
.vM { vertical-align: middle; }
.tM { font-weight: 500; }
.tB { font-weight: bold; }
.tLine { border-bottom: solid 1px; }

.fL { float:left; }
.fR { float:right; }

.clr {clear:both;}

.web { display:block; }
.mobile { display:none; }

.tSmall { font-size: 14px; }
.tMid { font-size: 16px; }
.tBig { font-size: 18px; line-height: 1.5em; }
.tBigger { font-size: 20px; line-height: 1.5em; }
.tBiggest { font-size: 24px; line-height: 1.5em; }
.botM0 { margin-bottom: 0 !important; }
.botM1 { margin-bottom: 10px; }
.botM15 { margin-bottom: 15px; }
.botM2 { margin-bottom: 20px; }
.botM3 { margin-bottom: 30px; }
.topM1 { margin-top: 10px; }
.topM2 { margin-top: 20px; }
.topM3 { margin-top: 30px; }
.topM5 { margin-top: 50px; }

.imgbox {  }
.imgbox img { display: block; max-width: 100%; }
.imgbox a { display: block; padding: 0; }
.imgbox.full img { width: 100%; }
.imgbox.tC img { margin: 0 auto; }

.inlineBox { display: inline-block; }

.color_red { color: #e60012; }
.color_reddark { color: #c00000; }
.color_orange { color: #f08300; }
.color_khiki { color: #b5883d; }
.color_green { color: #008764; }
.color_bluedark { color: #2c3e50; }
.color_gray { color:#b5b5b5; }

.bg_white { background: #fff; }
.bg_green { background: #eceddb; }
.bg_gray { background: #f7f7f7; }
.bg_pink { background: #faeded; }


/*-------------------------------- 頁面 --------------------------------*/
.wrapper { min-height: 100vh; position: relative; }
.pagesize { width: 100%; max-width: 1300px; margin: 0 auto; padding: 0 20px; }
.container { position: relative; padding-bottom: 25px; }
.container-vertical { display: flex; flex-direction: column; justify-content: center; }
.container-vertical .pagesize { }

/*header*/
.header {  }
.header .pagesize { display: flex; justify-content: space-between; align-items: center; height: 100px; }
.header .header_logo { display: block; width: 183px; height: 54px; background: url(../images/logo_01.png); background-size: auto 100%; }
.header_inner { display: flex; align-items: center; }
.header_inner.mobile { display: none; }
.btn_header {  }
.btn_header a { display:inline-block; width: 40px; height: 40px; margin-left: 15px; border-radius: 20px; }
.btn_header .option { background: #aba41a url(../images/btn_header_01.png) center; background-size: 100%; }
.btn_header .ring { position:relative; background: #999217 url(../images/btn_header_02.png) center; background-size: 100%; }
.btn_header .ring.new::after{ display:block; position:absolute; top:0; right:-20px; width:35px; height:20px; text-align:center; line-height:17px; content:"new"; color:#fff; font-size:12px; background:#ff3366; border-radius:20px;}
.btn_header .favorite { background: #c2bb00 url(../images/btn_header_05.png) center; background-size: 100%; }
.btn_header .shopping { position: relative; background: #d9d200 url(../images/btn_header_06.png) center; background-size: 100%; }
.btn_header .shopping .num {
  position: absolute;
  top: 0;
  right: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background: #ff3366;
  border-radius: 10px;
}
.btn_header .line { background: url(../images/btn_header_04.png) center; background-size: 100%; }
.header_login { display: flex; align-items: center; }
/* .btn_logout { display: block; width: 22px; height: 22px; background: url(../images/btn_logout_01.png) center; background-size: 100%; } */
.btn_logout {
  flex: 0 0 auto;
  display:inline-block; 
  padding: 0 15px;
  line-height: 32px; 
  text-align: center; color: #fff; 
  background: #008865;
  border-radius: 32px;
}
.loginInfo { margin: 0 28px; }
.loginInfo .name { padding: 0 5px; font-size: 18px; font-weight: 700; }
.loginInfo .countSec { padding: 0 4px; color: #e60012; }
.loginInfo .time { padding-left: 10px; font-weight: 700; color: #008865; }
.favorite{ display:block; width:30px; height:30px; margin:0 auto; border-radius:50%; background:url(../images/btn_header_05_green.png) no-repeat center center;  background-size:100%; border:1px solid #c2bb00;}
.favorite.on, .favorite_box .favorite{ background-image:url(../images/btn_header_05.png); background-color:#ff3366; border-color:#ff3366;}
.fundsArea .favorite{ position:absolute; right:16px; top:10px;}

/*footer*/
.footer { padding: 30px 0; font-size: 14px; color: #93d1c2; background: #005940; }
.footer a { color: #f3f5ea; }
.footer_inner { display: flex; align-items: center; }
.footer_text {  }
.footer_link {  }
.footer_link a { display: inline-block; margin-right: 12px; }
.footer_info {  }
.footer_info span { display: inline-block; line-height: 110%; }
.footer_info span::after { content: ""; display: inline-block; width: 1px; height: 1em; vertical-align: middle; background: #93d1c2; margin: 0 10px; }
.footer_info span:nth-last-child(1)::after { background: #005940; }
.footer_map { flex: 0 0 auto; text-align: right; }
.footer_map a { display: inline-block; margin-left: 15px; padding-left: 15px; background: url(../images/footer_map_01.png) left center no-repeat; }
/* footer_警語 */
.footer_caution { padding-top: 25px; }
.footer_caution .color-danger { color: #ffcb8c; }
.footer_caution_list {
  padding-left: 28px;
}
/*inner*/

/*popup*/
.popup { display: none; }
.popup .pagesize{ overflow:auto; position:fixed; left:0; right:0; top:50%; transform:translateY(-50%); width:520px; margin:0 auto; z-index:51;}
.popup.open { display: block; position: fixed; top: 0; bottom: 0; left: 0; right: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.6); z-index:50; }
.popup_area { position:relative; overflow:auto;  margin:0 auto; padding:20px 30px 30px 30px; line-height: 150%; color:#263348; background:#fff; box-sizing:border-box;}
.popup.open ~ .wrapper { position: fixed; width:100%; }
.popup_list{ list-style:none;}
.popup_list li{ margin:0 0 10px 0;}
.popup_list input[type="radio"] + label span{ flex:1 1 auto;}
.popup_close { position: absolute; top: 40px; right: 40px; display: block; width:30px; height: 30px; background: url(../images/close_01.png) center no-repeat; background-size: auto 20px; }
.popup_area .popup_title { margin:0 0 15px 0; font-size:18px; font-weight:500; }
.popup_area > h4 { margin-bottom: 20px; font-size: 21px; font-weight: 500; }
.popup_area p{ margin:0 0 15px 0;}
.popup_input input + label{ flex:0 0 auto;}
/*popup_fancybox*/
.fancybox-container { font: 18px/130% 'Lato','Noto Sans TC','微軟正黑體','Helvetica Neue',sans-serif; }
/*max*/
.popup.max .pagesize{ width:1300px; height:100%;}
.popup.max .pagesize .popup_area{ max-height:94%; margin:3% 0 0 0;}


@media screen and (max-width: 900px) {
	/* header */
	.btn_header a { margin-left: 8px; }
	.loginInfo { margin: 0 10px; }
	.loginInfo .time { display: block; text-align: right; }

	/* footer */
	.footer_map { flex: 1 1 auto; }

}

/*----------------------------------- 小網 -----------------------------------*/
@media screen and (max-width: 767px) {
	select{ min-width:inherit;}
	.web { display: none; }
	.mobile { display: block; }
	
	.wrapper { padding-top: 60px; }
	.pagesize { padding: 0 15px; }
	.container { padding: 20px 0 40px; }
	
	/* header */
	.header { position: fixed; top: 0; left: 0; z-index: 999; width: 100%; background: #f2f3f7; }
	.header.fixed { box-shadow: 0 0 10px 0 rgba(0,0,0,0.3); }
	.header .pagesize { height: 60px; }
	.header .header_logo { width: 135px; height: 40px; margin-top: 2px; }
	.header_inner.mobile { display: block; }
	.btn_header a { width: 35px; height: 35px; }
	.btn_header .ring { background-color: #c2bb00; }
	.btn_header .ring.new::after{ display:block; position:absolute; top:0; right:0px; width:10px; height:10px; content:""; background:#ff3366; border-radius:10px;}
	.btn_header .menu { background: #aba41a url(../images/btn_header_03.png) center; background-size: 100%; }
	.loginInfo .time {text-align: left; }

	/*  */
	.loginInfoArea { padding: 12px 0; background: #eceddb; }
	.loginInfo { margin: 0; }
	.loginInfo .time { display: block; padding-left: 0; }
	.header_login { justify-content: space-between; align-items: flex-start; }
	

	/* footer */
	.footer { padding: 30px 0; }
	.footer_inner { display: block; }
	.footer_text { text-align: center; }
	.footer_link { margin-bottom: 10px; padding-bottom: 10px; border-bottom: solid 1px rgba(255,255,255,0.3); }
	.footer_info span { display: block; margin-bottom: 8px; }
	.footer_info span::after { content: none; }
	.footer_map { display: none; }

	/* JS */
	/* JS_mmenu */
	.mm-listitem_selected > a.mm-listitem__text { font-weight: 700; color: #008865; background: transparent; }
	
	/*popup*/
	.popup .pagesize, .popup.max .pagesize{ width:100%;}
	.popup_area{ padding:15px;}
	/*max*/
	.popup.max .pagesize .popup_area{ margin:6% 0 0 0;}
	
}