/*------------------------------------*\
  _inner.scss
  內頁樣式
\*------------------------------------*/



/*------------------------------------*\
  display
\*------------------------------------*/
// .d-none { display: none; }
// .d-block { display: block; }
.d-inblock { display: inline-block; }

// flex
.d-flex {
  display: flex;
  gap: 10px;
  &.flex-wrap {
    flex-wrap: wrap;
    gap: 10px;
  }
  &.gap-l { 
    gap: 10px 28px; 
    @include screen($width-mobile) {
      gap: 10px 20px;
    }
  }
  &.a-center { align-items: center; }
  &.a-end { align-items: flex-end; }
  .flex-item { flex: 0 0 auto; }
  .flex-0 { flex: 0 0 auto; }
  .flex-1 { flex: 1 1 auto; }

  &.col-2 {
    & > .flex-item { flex: 1 1 50%; max-width: calc(50% - 5px); }
  }
  &.col-4,
  &.flex-col-4 {
    & > .flex-item { flex: 1 1 25%; max-width: calc(25% - 8px); }
  }
  @include screen($width-xl) {
    .xl-flex-1 { flex: 1 1 auto; }
  }
  @include screen($width-large) {
    .l-flex-1 { flex: 1 1 auto; }
    &.l-col-2 {
      & > .flex-item { flex: 1 1 50%; max-width: calc(50% - 5px); }
    }
  }
  @include screen($width-mid) {
    &.mid-col-1 {
      flex-direction: column;
      align-items: stretch;
      .flex-item {
        max-width: 100%;
      }
    }
  }
  @include screen($width-mobile) {
    &.m-col-1 {
      flex-direction: column;
      align-items: stretch;
      .flex-item {
        max-width: 100%;
      }
    }
    .m-flex-0 { 
      flex: 0 0 auto; 
      width: auto; 
      max-width: 100% !important; 
    }
  }
  @include screen($width-xs) {
    &.xs-col-1 {
      flex-direction: column;
      align-items: stretch;
      .flex-item {
        max-width: 100%;
      }
    }
  }
}

.w-120 { width: 120px; }
.w-200 { width: 200px; }

.w-1-2 { width: 50%; }
.w-1-3 { width: 33.3%; }
.w-full { width: 100%; }
.w-max-full,
.d-flex.flex-wrap .flex-item.w-full,
.d-flex.flex-wrap .flex-item.w-max-full { flex: 1 1 100%; max-width: 100%; }

@include screen($width-xl) {
  .xl-w-full { width: 100%; }
  .xl-flex-wrap { flex-wrap: wrap; }
  .d-flex {
    .xl-flex-1 { flex: 1 1 auto; }
  }
}
@include screen($width-large) {
  .l-w-full { width: 100%; }
}

@include screen($width-mid) {
  .m-flex-wrap { flex-wrap: wrap; }
  .mid-w-full { width: 100%; max-width: 100%; }
}

@include screen($width-mobile) {
  .m-w-full { width: 100%; max-width: 100%; }
  .m-d-inline { display: inline; }

  .d-flex {
    .m-flex-1 { flex: 1 1 auto; }
    .flex-item.m-w-full { flex: 1 1 auto; width: 100%; max-width: 100%; }
  }

  .m-flex-col {
    flex-direction: column;
  }
  
}

// grid
.d-grid {
  display: grid;
  gap: 10px;
  align-items: center;
  &.col-1 {
    grid-template-columns: 1fr;
  }
  &.col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &.col-3 {
    grid-template-columns: repeat(3, 1fr);
    @include screen($width-max) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &.col-4 {
    grid-template-columns: repeat(4, 1fr);
    @include screen($width-max) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @include screen($width-large) {
    &.l-col-1 {
      grid-template-columns: 1fr;
    }
  }
  @include screen($width-mobile) {
    &.m-a-start { align-items: flex-start; }
    &.m-col-1 {
      grid-template-columns: 1fr;
    }
  }
  @include screen($width-xs) {
    &.xs-col-1 {
      grid-template-columns: 1fr;
    }
  }
}



/*------------------------------------*\
  ul
\*------------------------------------*/
// ul
.ul-point {
  padding-left: 0;
  list-style: none;
  & > li {
    position: relative;
    padding: 5px 0 5px 2em;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 13px;
      left: 0.5em;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $color-main;
    }
  }
  &.cols2 {
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
    @include screen($width-mobile) {
      display: block;
    }
    & > li {
      width: calc(50% - 5px);
      @include screen($width-mobile) {
        width: 100%;
      }
    }
    .w-full {
      width: 100%;
    }
  }
  &.d-inline {
    display: flex;
    flex-wrap: wrap;
    gap: 0 40px;
  }
  &.mid-tC {
    @include screen($width-mid) {
      text-align: center;
      list-style: none;
      & > li {
        padding-left: 0;
        &::before { content: none; }
      }
      .text {
        display: inline-block;
        position: relative;
        padding: 0 1.6em;
        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          top: 9px;
          left: calc(0.5em - 2px);
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: $color-main;
        }
      }
    }
  }
  @include screen($width-mobile) {
    &.m-d-block {
      display: block;
    }
  }
}



/*------------------------------------*\
  ol
\*------------------------------------*/
.ol-num {
  list-style-type: decimal-leading-zero;
  padding-left: 2em;
  &.type--decimal {
    list-style-type: decimal;
  }
  & > li {
    margin-bottom: 6px;
    @extend %last-no-margin;
  }
  // 分欄
  &.cols2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 40px;
    & > li {
      margin-bottom: 0;
    }
    @include screen($width-mobile) {
      grid-template-columns: 1fr;
    }
  }
}

// custom
.ol-custom {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 0;
  &.gap { gap: 12px 0; }
  &.gap-2x { gap: 16px 0; }
  & > li {
    display: flex;
    align-items: flex-start;
  }
  li {
    line-height: 1.5;
  }
  &.lh-l li { @extend .lh-l; }
  .num {
    flex: 0 0 auto;
    min-width: calc(2em - 5px);
    text-align: right;
    margin-right: 5px;
  }
  .text {
    flex: 1 1 auto;
  }
  
  &.cols2 {
    grid-template-columns: 1fr 1fr;
    gap: 10px 40px;
  }
}

// line
.ol-steps {
  @extend .ol-custom;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  gap: 30px 0;
  & > li {
    padding: 10px 26px;
    box-shadow: 0 0 20px 0 rgba($color: #681b21, $alpha: 0.2);
    border-radius: 25px;
    margin-bottom: 6px;
    @extend %last-no-margin;
  }
  .num {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: $color-main;
    margin-right: 0;
    &::after {
      content: "/";
      padding: 0 16px;
    }
  }
  .text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }
}



/*------------------------------------*\
  title
\*------------------------------------*/
.pageTitle {
  text-align: center;
  font-size: 40px;
  line-height: 1.5em;
  font-weight: 700;
  color: $color-main;
  @include screen($width-mobile) {
    font-size: 32px;
    line-height: 1.125em;
  }
  &.botline {
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: calc(50% - 50px);
      width: 100px;
      height: 2px;
      background-color: #d8d8d8;
    }
  }
  // 小字
  &-desc {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    @include screen($width-mobile) {
      font-size: 1rem;
      line-height: 28px;
    }
  }
}

.textTitle {
  @extend .mb-2x;
  font-size: 24px;
  line-height: 1.75rem;
  font-weight: 700;
  color: $color-main;
  &.fs-l {
    font-size: 30px;
  }
  @include screen($width-mobile) {
    &,
    &.fs-l {
      font-size: 22px;
    }
  }
  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .textTitle {
      flex: 1 1 auto;
      margin-bottom: 0;
    }
    .actlink {
      flex: 0 0 auto;
    }
  }
}

.lineTitle {
  @extend .mb-box;
  position: relative;
  text-align: center;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(50% - 1px);
    width: 100%;
    height: 2px;
    background-color: $color-main;
  }
  &.mb-2 { @extend .mb-2; }
  .text {
    @extend .pageTitle;
    display: inline-block;
    position: relative;
    font-size: 30px;
    line-height: 40px;
    padding: 0 64px;
    margin: 0 24px;
    background-color: #fff;
  }
  @include screen($width-mobile) {
    .text {
      line-height: 36px;
      padding: 0 24px;
    }
  }
  @media screen and (max-width: 375px) {
    .text {
      padding: 0 15px;
    }
  }
}

.borderTitle {
  @extend .mb-3;
  position: relative;
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 700;
  color: $text-dark;
  padding-left: 20px;
  &::after {
    content: "";
    display: block;
    width: 6px;
    height: 1em;
    position: absolute;
    left: 0;
    top: 0.1em;
    background-color: $color-main;
  }
  @include screen($width-mobile) {
    font-size: 22px;
    line-height: 28px;
    padding-left: 16px;
    margin-bottom: 18px;
  }
  &.fs-xl {
    font-size: 20px;
  }
  &.mb-0 { @extend .mb-0; }
  &.mb-2 { @extend .mb-2; }
  .chip {
    position: relative;
    top: -2px;
    margin: 0 8px;
  }
}
.borderTitle-row {
  display: flex;
  justify-content: space-between;
  gap: 0 8px;
  .borderTitle {
    margin-bottom: 0;
  }
  .text {
    flex: 0 0 auto;
  }
}

.titleNotice {
  @extend .mb-box;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  &.mb-3 { @extend .mb-3; }
}



/*------------------------------------*\
  inner
\*------------------------------------*/

// box
.bgbox {
  padding: 30px;
  background-color: $bg-second;
  @include screen($width-mobile) {
    padding: 16px;
  }
  &.bg-gray {
    background-color: #f3f3f3;
  }
  &.p-s {
    padding: 16px 20px;
  }
  &.p-l {
    padding: 40px 30px;
  }
  .round-10 {
    border-radius: 10px;
  }
}

.mb-box {
  margin-bottom: 40px;
  &--s {
    margin-bottom: 20px;
  }
  &--ml {
    margin-bottom: 60px;
  }
  &--l {
    margin-bottom: 80px;
    @include screen($width-mobile) {
      margin-bottom: 60px;
    }
  }
  &--xl {
    margin-bottom: 110px;
    @include screen($width-mobile) {
      margin-bottom: 60px;
    }
  }
}
@include screen($width-mobile) {
  .m-mb-box {
    margin-bottom: 40px !important;
  }
}

// a
.dlLink-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  a {
    flex: 0 0 auto;
    width: 100%;
    display: block;
    position: relative;
    line-height: 30px;
    padding-left: 20px;
    color: $color-main;
    &::before {
      content: "▶";
      position: absolute;
      top: 0;
      left: 0;
      font-size: 12px;
      vertical-align: middle;
    }
    .text {
      @extend .a-line;
    }
  }
  &.col-2 a {
    width: calc(50% - 10px);
    @include screen($width-mobile) {
      width: 100%;
    }
  }
  &.col-3 a {
    width: calc(33.3% - 14px);
    @include screen($width-mid) {
      width: calc(50% - 10px);
    }
    @include screen($width-mobile) {
      width: 100%;
    }
  }
}
.dlLink {
  .text {
    &::after {
      content: "";
      display: inline-block;
      width: 1.3em;
      height: 1.3em;
      vertical-align: text-bottom;
      margin-left: 4px;
      background: url(../images/icon-download.png) center center no-repeat;
      background-size: 1em 1em;
    }
  }
}



// hr
.hr-gray {
  height: 1px;
  margin: 30px 0;
  background-color: #dfe0e1;
  border: none;
}



/*------------------------------------*\
  換頁
\*------------------------------------*/
.pager { 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  list-style: none;
  @include screen($width-mobile) {
    justify-content: space-between;
  }
  a {
    display: block;
    min-width: 30px;
    height: 32px;
    line-height: 32px;
    font-weight: 700;
    color: #bebebe;
    text-align: center;
    transition: color 0.2s;
    border-bottom: solid 2px transparent;
    &:hover, &:focus {
      color: $color-main;
    }
    &.on {
      color: $color-main;
      border-color: $color-main;
    }
  }
  &-num {
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    list-style: none;
    a {
      flex: 0 0 auto;
      @include screen($width-mobile) {
        min-width: 25px;
      }
    }
  }
  &-func {
    width: 32px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    background: url(../images/slide-arrow.png) center center no-repeat;
    background-size: 16px auto;
    &.disabled {
      background: url(../images/slide-arrow-disabled.png) center center no-repeat;
      background-size: 16px auto;
      cursor: default;
    }
  }
  .prev {
    margin-right: 36px;
    transform: rotate(-180deg);
  }
  .next {
    margin-left: 36px;
  }
  @include screen($width-mobile) {
    .prev, .next {
      margin: 0;
    }
  }
}


/*------------------------------------*\
  搜尋
\*------------------------------------*/
// input
.searchBox {
  @extend .mb-box;
  &-text {
    @extend .fs-l, .fw-mid, .mb-2x;
    padding-left: 20px;
    .num {
      color: $color-main;
      padding: 0 5px;
    }
  }
  &.hasResult {
    @extend .mb-2x;
    .inputmain {
      @extend .mb-2x;
    }
  }
}

// result
.searchResult {
  @extend .mb-box;
  list-style: none;
  padding-left: 0;
  li {
    display: flex;
    align-items: center;
    position: relative;
    gap: 0 30px;
    padding: 20px 0 20px 40px;
    border-bottom: dashed 1px #c9c9c9;
    @include screen($width-mobile) {
      display: block;
      padding: 20px 0 20px 18px;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 32px;
      left: 18px;
      width: 6px;
      height: 6px;
      background-color: $color-main;
      border-radius: 50%;
      @include screen($width-mobile) {
        top: 29px;
        left: 2px;
      }
    }
  }
  &-text {
    flex: 1 1 auto;
    line-height: 30px;
    font-weight: 500;
    color: $text-dark;
    @include screen($width-mobile) {
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 16px;
    }
  }
  .title {
    font-size: 20px;
    @include screen($width-mobile) {
      font-size: 18px;
      margin-bottom: 6px;
    }
  }
  .highlight {
    color: $color-third;
  }
  &-btn {
    flex: 0 0 auto;
  }
  .btn {
    @extend .btn-icon;
    color: $color-main;
    padding: 0 9px;
  }
}



/*------------------------------------*\
  QA
\*------------------------------------*/
// QA box
.qaBox {
  &-que {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: 20px 50px 20px 4px;
    border-bottom: solid 1px #d8d8d8;
    @include screen($width-mobile) {
      padding-right: 40px;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 14px;
      top: 20px;
      width: 36px;
      height: 36px;
      background: url(../images/slide-arrow.png) center center no-repeat;
      background-size: 20px 20px;
      transform: rotate(90deg);
      @include screen($width-mobile) {
        right: 0;
      }
    }
    .text {
      flex: 1 1 auto;
      font-size: 20px;
      line-height: 1.4em;
      font-weight: 500;
      color: $text-dark;
      padding: 4px 0;
      @include transition(color);
    }
  }
  .number {
    flex: 0 0 auto;
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 500;
    color: $color-main;
    background-color: $bg-main;
    margin-right: 12px;
    border-radius: 50%;
    @include transition();
  }
  
  &-ans {
    @extend .bgbox;
    .bgbox {
      background-color: #f1f3f7;
    }
  }
}
.qaBox.open {
  .qaBox-que {
    border-color: #fff;
    .text {
      color: $color-main;
    }
  }
  a::after {
    background: url(../images/slide-arrow-on.png) center center no-repeat;
    background-size: 20px 20px;
    transform: rotate(-90deg);
  }
  .number {
    color: #fff;
    background-color: $color-main;
  }
}

// QA block
.qaBlock {
  &-que {
    display: block;
    color: $text-dark;
    background: #f9f9f9 url(../images/fold-open.png) right 20px center no-repeat;
    background-size: 22px;
    padding: 16px 50px 16px 20px;
    border: solid 1px #ddd;
    border-top: 0;
    @include transition(background-image);
    @include screen($width-mobile) {
      padding-left: 10px;
      padding-right: 40px;
      background-position: right 10px center;
    }
    .text {
      font-size: 20px;
      font-weight: 700;
    }
  }
  &.open {
    .qaBlock-que {
      background-image: url(../images/fold-close.png);
    }
  }
  &-ans {
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    &.pd {
      padding: 24px;
      border: solid 1px #ddd;
      border-top: none;
      @include screen($width-mobile) {
        padding: 18px;
      }
    }
  }
  
  .qaBox:nth-last-child(1).open {
    border-bottom: solid 1px #ddd;
  }
  .qaBox-que {
    padding-left: 20px;
  }

  &:nth-child(1) {
    .qaBlock-que {
      border-top: solid 1px #ddd;
    }
  }
  &:nth-last-child(1) {
    .qaBlock-ans {
      border-bottom: solid 1px #ddd;
    }
    .qaBox:nth-last-child(1).open {
      border-bottom: none;
    }
    .qaBox:nth-last-child(1) .qaBox-que {
      border-bottom: none;
    }
  }
}


/*------------------------------------*\
  img
\*------------------------------------*/
// 並排圖文
.imgRow {
  display: flex;
  align-items: center;
  gap: 0 32px;
  &.reverse {
    flex-direction: row-reverse;
  }
  @include screen($width-mid) {
    display: block;
    margin-bottom: 40px;
  }
  &-text {
    flex: 1 1 auto;
    font-size: 20px;
    line-height: 1.5em;
    @include screen($width-mid) {
      text-align: center;
      margin-bottom: 24px;
    }
  }
  &-img {
    @extend .imgbox;
    flex: 0 0 auto;
    width: 500px;
    max-width: 50%;
    @include screen($width-mid) {
      width: 400px;
      max-width: calc(100% - 100px);
      margin: 0 auto;
    }
  }
  .title {
    @extend .innerTitle--xl;
    margin-bottom: 16px;
    @include screen($width-mid) {
      font-size: 24px;
      line-height: 1.25em;
    }
  }
}


// video
.videoBox {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
.video {
  position: relative; 
  width: 100%;
  height: 0; 
  padding-top: 56.25%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(104,27,33,0.3);
  iframe { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
  }
}
.videolink {
  display: block;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  img {
    display: block;
    max-width: 100%;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(104, 27, 33, 0.3);
  }
}

// 手機圖
.mobileBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  min-height: 400px;
  @include screen($width-mid) {
    min-height: 300px;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: $bg-main;
    @include screen($width-xl) {
      width: 30vw;
      height: 30vw;
    }
    @include screen($width-mid) {
      width: 300px;
      height: 300px;
    }
    @include screen($width-xs) {
      width: 240px;
      height: 240px;
    }
  }
  .imgbox {
    display: inline-block;
    position: relative;
    z-index: 2;
    background-color: #fff;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #ffb6bb;
    border-radius: 24px;
    img {
      border-radius: 16px;
    }
    @include screen($width-xl) {
      max-width: 20vw;
    }
    @include screen($width-mid) {
      max-width: 170px;
      padding: 5px;
    }
  }
  &.upper {
    &::after {
      top: auto;
      bottom: -70px;
      width: 150px;
      height: 150px;
    }
    .imgbox {
      padding-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: none;
      img {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}
.mobileBox.double {
  display: flex;
  justify-content: center;
  gap: 0 30px;
  padding: 46px 0;
  @include screen($width-mid) {
    gap: 0 20px;
  }
  .imgbox {
    position: relative;
    margin: 0;
    @include screen($width-xl) {
      max-width: 16vw;
    }
    @include screen($width-mid) {
      max-width: 150px;
    }
  }
  .left {
    top: -46px;
  }
  .right {
    top: 46px;
  }
}
.mobileBox.deco {
  img {
    width: 320px;
  }
  .imgbox {
    max-width: 400px;
    background-color: transparent;
    padding: 40px;
    border: 0;
    @include screen($width-xl) {
      max-width: 30vw;
    }
    @include screen($width-mid) {
      max-width: 300px;
    }
    @include screen($width-xs) {
      max-width: 240px;
    }
  }
}

.mobileBox.pc {
  .pcbox {
    padding: 0 6%;
  }
  img {
    width: 324px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .imgbox {
    position: relative;
    padding: 12px 12px 0;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: -10%;
      bottom: -25px;
      width: 120%;
      height: 25px;
      background: url(../images/mobileBox-pc.png) center top no-repeat;
      background-size: 100% auto;
    }
    @include screen($width-xl) {
      max-width: 100%;
    }
    @include screen($width-mid) {
      max-width: 300px;
      padding: 10px 10px 0;
    }
  }
}

.mobileRow {
  @extend .imgRow, %last-no-margin;
  margin-bottom: 100px;
  @include screen($width-mid) {
    margin-bottom: 100px;
  }
  .mobileBox {
    flex: 1 1 50%;
    justify-content: center;
  }
  &-text {
    flex: 1 1 50%;
    position: relative;
    font-size: 18px;
    line-height: 30px;
    padding-left: 38px;
    @include screen($width-mid) {
      margin-bottom: 40px;
      padding-left: 0;
      text-align: center;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 8px;
      height: 100%;
      background: linear-gradient(to bottom, #ff293e 0%, #b3000e 100%);
      border-radius: 4px;
      @include screen($width-mid) {
        content: none;
      }
    }
    .ul-point {
      @extend .mid-tC;
    }
  }
  @include screen($width-mid) {
    .title {
      position: relative;
      font-size: 30px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: calc(50% - 25px);
        width: 50px;
        height: 6px;
        background: linear-gradient(to left, #ff293e 0%, #b3000e 100%);
        border-radius: 3px;
      }
    }
  }
}

// 手機圖 - 02-3 list
.mobilePoint {
  display: flex;
  justify-content: space-around;
  gap: 36px;
  @extend .mb-box--xl;
  @include screen($width-mid) {
    flex-wrap: wrap;
  }
  &-item {
    text-align: center;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 700;
    color: $text-dark;
  }
  &-text {
    position: relative;
    z-index: 2;
    min-height: 70px;
    padding-top: 10px;
  }
}



/*------------------------------------*\
  stepList
\*------------------------------------*/
.featureList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  @include screen($width-mid) {
    flex-direction: column;
    align-items: stretch;
    gap: 40px 0;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  .item {
    flex: 1 1 calc(33% - 17px);
    position: relative;
    text-align: center;
    @include screen($width-mid) {
      // margin-bottom: 40px;
    }
  }
  .iconbox {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    padding: 24px;
    margin: 0 auto 30px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    img {
      text-align: center;
      max-width: 100%;
    }
    @include screen($width-xl) {
      width: 180px;
      height: 180px;
    }
    @include screen($width-mid) {
      margin-bottom: 20px;
    }
  }
  .numtext {
    font-size: 18px;
    font-weight: 700;
    color: $color-main;
    .num {
      font-size: 24px;
    }
    @include screen($width-mobile) {
      font-size: 1rem;
      .num {
        font-size: 18px;
      }
    }
  }
  .textbox {
    @include screen($width-mid) {
      flex: 1 1 auto;
    }
  }
  .title {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 700;
    color: $text-dark;
    @include screen($width-mobile) {
      br {
        display: none;
      }
    }
  }
  // icon--s
  &.icon--s {
    @include screen($width-mid) {
      flex-direction: row;
      gap: 20px;
      max-width: 100%;
    }
    .item {
      flex: 0 1 calc(20% - 20px);
      @include screen($width-xl) {
        flex: 0 1 calc(33% - 17px);
      }
      @include screen($width-mobile) {
        flex: 0 1 calc(50% - 20px);
      }
    }
    .iconbox {
      width: 124px;
      height: 124px;
      padding: 16px;
    }
    .title {
      font-size: 18px;
      font-weight: 500;
      .d-inblock {
        @include web-only {
          display: block;
        }
      }
    }
  }
}
// 有arrow
.stepList {
  @extend .featureList;
  flex-wrap: nowrap;
  @include screen($width-xl) {
    gap: 0 8px;
  }
  @include screen($width-mid) {
    max-width: 400px;
  }
  &-next {
    display: block;
    flex: 0 0 auto;
    width: 22px;
    height: 22px;
    margin-top: 50px;
    background: url(../images/slide-arrow.png) center center no-repeat;
    background-size: auto 100%;
    @include screen($width-xl) {
      width: 16px;
      height: 16px;
      margin-top: 36px;
    }
    @include screen($width-mid) {
      margin: 16px 0 16px 56px;
      transform: rotate(90deg);
    }
    @include screen($width-xs) {
      margin-left: 36px;
    }
  }
  .item {
    &.on .iconbox {
      background-color: $color-main;
      &, .numtext {
        color: #fff;
      }      
    }
    @include screen($width-mid) {
      display: flex;
      align-items: center;
      text-align: left;
    }
  }
  .iconbox {
    max-width: 120px;
    height: auto;
    padding: 15px;
    margin-bottom: 20px;
    @include screen($width-xl) {
      max-width: 90px;
      padding: 10px;
    }
    @include screen($width-mid) {
      max-width: 90px;
      padding: 15px;
      margin: 0 20px;
    }
    @include screen($width-xs) {
      margin-left: 0;
    }
  }
  .title {
    font-size: 18px;
    font-weight: 500;
  }
  &.shadow {
    padding-bottom: 30px;
    box-shadow: 0px 30px 30px -16px rgba(100, 100, 100, 0.08);
  }
  &.item--l {
    gap: 0 40px;
    .item {
      flex: 0 1 auto;
    }
    .iconbox {
      max-width: 200px;
      width: 200px;
      height: 200px;
    }
    .stepList-next {
      margin-top: 92px;
    }
    @include screen($width-large) {
      gap: 0 16px;
      .item {
        flex: 1 1 auto;
      }
    }
    @include screen($width-mid) {
      flex-direction: row;
      .item {
        display: block;
        text-align: center;
      }
      .iconbox {
        width: 180px;
        height: 180px;
        margin: 0 auto 20px;
      }
      .stepList-next {
        margin: 92px auto 0 auto;
        transform: revert;
      }
    }
    @include screen($width-mobile) {
      gap: 0 6px;
      max-width: 100%;
      .item {
        max-width: calc(33% - 21px);
      }
      .iconbox {
        max-width: 100%;
        width: 100%;
        height: auto;
        border-radius: 20px;
        img {
          max-width: 60px;
        }
      }
      .stepList-next {
        width: 20px;
        height: 20px;
        margin-top: 48px;
      }
    }
    @include screen($width-xs) {
      gap: 0 4px;
      .iconbox {
        border-radius: 16px;
      }
      .title {
        font-size: 1rem;
      }
      .stepList-next {
        width: 16px;
        height: 16px;
      }
    }
  }
}



/*------------------------------------*\
  appList
\*------------------------------------*/
.borderTitleList {
  padding-left: 0;
  list-style: none;
  @extend .mb-box--xl;
  li {
    @extend .bgbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 14px;
    &:nth-child(even) {
      background-color: #fff;
    }
    @include screen($width-xl) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @include screen($width-mid) {
      display: block;
    }
  }
  .borderTitle {
    flex: 0 0 auto;
    min-width: 260px;
    margin-bottom: 0;
    @include screen($width-xl) {
      margin-bottom: 20px;
    }
  }
  .text {
    flex: 1 1 auto;
    @include screen($width-mid) {
      text-align: center;
      margin-bottom: 20px;
    }
  }
  .btn-box {
    flex: 0 0 auto;
    gap: 8px;
    justify-content: flex-end;
    @include screen($width-xl) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    @include screen($width-mid) {
      justify-content: center;
    }
  }
}



// linkCard
.linkCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  position: relative;
  padding: 40px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 3px 8px 20px 2px rgba(100,100,100,0.1);
  @include screen($width-large) {
    flex: 0 0 auto;
    width: calc(50% - 20px);
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
    padding: 40px 24px;
  }
  @include screen($width-mid) {
    width: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 140px 160px 0 0;
    border-color: $bg-main transparent transparent transparent;
    transform: rotate(0deg);
  }
  // list
  &-list {
    display: flex;
    flex-direction: column;
    gap: 40px 0;
    @include screen($width-large) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
    }
  }
  // inner
  &-img {
    @extend .imgbox,.tC;
    flex: 0 0 auto;
    width: 220px;
    position: relative;
    z-index: 2;
    img {
      max-width: 180px;
    }
    @include screen($width-xl) {
      width: 160px;
    }
    @include screen($width-large) {
      width: 100%;
    }
  }
  .textbox {
    flex: 1 1 auto;
    &-inner {
      padding-left: 28px;
    }
  }
  .borderTitle {
    @extend .mb-2;
  }
  &-func {
    flex: 0 0 auto;
    .qrbox {
      margin: 0 auto;
    }
  }
}



/*------------------------------------*\
  活動
\*------------------------------------*/
.eventLink {
  .cover {
    // padding-top: 56%;
  }
  // .name {
    // min-height: 64px;
  // }
}
// list
.eventLink-list {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  @include screen($width-large) {
    grid-template-columns: repeat(2,1fr);
  }
  @include screen($width-mobile) {
    grid-template-columns: repeat(2,1fr);
  }
  @include screen($width-small) {
    grid-template-columns: 1fr;
  }
}
.eventLink-slide {
  position: relative;
  padding: 0 60px;
  @include screen($width-mobile) {
    padding: 0;
  }
  .swiper {
    padding-bottom: 16px;
  }
  .swiper-pagination {
    position: relative;
    top: auto;
    bottom: auto;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 6px;
  }
  .swiper-pagination-bullet-active {
    background-color: $text-dark;
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: calc(28% - 20px);
    @include screen($width-mid) {
      top: calc(28% - 10px);
    }
    @include screen($width-mobile) {
      top: calc(28% - 5px);
    }
  }
  .swiper-button-prev {
    left: 0;
    @include screen($width-mobile) {
      left: -15px;
    }
  }
  .swiper-button-next {
    right: 0;
    @include screen($width-mobile) {
      right: -15px;
    }
  }
}



// 內頁錨點
.anchorNav {
  margin: 80px 0;
  @include screen($width-mobile) {
    margin: 40px 0;
  }
  a {
    @extend %btnHover;
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 1.6em;
    font-weight: 500;
    padding: 0 30px;
    transition: 0.2s;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: calc(50% - 10px);
      right: 0;
      width: 1px;
      height: 20px;
      background-color: $text-dark;
    }
    &:hover, &:focus {
      font-weight: 700;
      color: $color-main;
    }
    .actlink-goout {
      &:hover, &:focus {
        background-image: url(../images/actlink-goout-main.png);
      }
    }
    @include screen($width-mobile) {
      font-size: 1rem;
      line-height: 1.5em;
      padding: 13px 16px;
    }
  }
  .swiper-slide {
    width: auto;
    &:nth-last-child(1) a::after {
      content: none;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  @include screen($width-mobile) {
    .swiper {
      padding: 0 10px;
      background-color: #f8f9fb;
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: block;
      width: 50px;
      height: 50px;
      top: 0;
      background: linear-gradient(to right, rgba(248,249,251,0.2) 0%,rgba(248,249,251,1) 60% ,rgba(248,249,251,1) 100%);
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../images/slide-arrow-gray.png) center center no-repeat;
        background-size: 20px auto;
      }
    }
    .swiper-button-prev {
      left: 0;
    }
    .swiper-button-next {
      right: 0;
    }
    .swiper-button-disabled {
      display: none;
    }
  }
}

// 內頁分頁
.tabNav {
  .swiper-slide {
    width: auto;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    width: 40px;
    height: 40px;
    top: 0;
    background: linear-gradient(to right, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.8) 50% ,rgba(255,255,255,1) 100%);
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../images/slide-arrow-gray.png) center right no-repeat;
      background-size: 20px auto;
    }
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-disabled {
    display: none;
  }
  .btn {
    @extend .btn, .btn--line-main;
    transition: color 0.2s, background-color 0.2s;
    &:hover, &:focus {
      color: #fff;
      background-color: $color-main;
      opacity: 1;
    }
    &.on {
      @extend .btn--main;
      &:hover, &:focus {
        opacity: 1;
      }
    }
  }
}




// innerPageTab
.innerPageTab {
  display: flex;
  justify-content: center;
  gap: 0 20px;
  max-width: 1024px;
  margin: 40px auto;
  &.m-show { display: none; }
  @include screen($width-mid) {
    gap: 0 10px;
  }  
  @include screen($width-mobile) {
    margin-left: -10px;
    margin-right: -10px;
    &.m-hide {
      display: none;
    }
    &.m-show {
      display: flex;
      margin: 0 -10px;
    }
  }
  @include screen($width-xs) {
    gap: 0 6px;
  }
  a {
    @extend .btn, .btn-chk;
    flex: 1 1 auto;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    min-width: 0;
    background-color: #fff;
    border: solid 2px #e4e9ec;
    .icon {
      display: inline;
      width: 24px;
      margin-right: 6px;
      vertical-align: text-bottom;
    }
    &:hover, &:focus {
      color: $color-main;
    }
    &.on {
      color: #fff;
      background-color: $color-main;
      border-color: $color-main;
    }
    @include screen($width-mobile) {
      font-size: 1rem;
      line-height: 1.25rem;
      padding: 14px 8px;
      border-width: 1px;
      border-radius: 6px;
      .icon {
        width: 32px;
        margin: 0 0 7px;
      }
      .text {
        display: block;
      }
    }
    @include screen($width-xs) {
      font-size: 15px;
      padding: 14px 4px;
    }
  }
}



/*------------------------------------*\
  連結清單
\*------------------------------------*/
.linkList {
  @extend .mb-box;
  padding-left: 0;
  list-style: none;
  &-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0 20px;
    position: relative;
    padding: 24px 0 24px 36px;
    border-bottom: dashed 2px #b5b5b5;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 34px;
      left: 15px;
      width: 8px;
      height: 8px;
      background-color: $color-main;
      border-radius: 50%;      
    }
    &:hover, &:focus {
      .text {
        color: $color-main;
      }
    }
    @include screen($width-mobile) {
      display: block;
      padding: 16px;
      border-width: 1px;
      &::after {
        top: 24px;
        left: 0;
        width: 7px;
        height: 7px;
      }
    }
  }
  .text {
    flex: 1 1 auto;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: $text-dark;
    @include transition(color);
    @include screen($width-mobile) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 4px;
    }
  }
  .time {
    flex: 0 0 auto;
    font-size: 18px;
    line-height: 30px;
    color: #b5b5b5;
    @include screen($width-mobile) {
      font-size: 1rem;
      line-height: 20px;
    }
  }
  .chip {
    min-width: 70px;
    margin-top: 4px;
  }
}
.linkList--btn {
  li {
    @extend %last-no-margin;
    margin-bottom: 20px;
    @include screen($width-mobile) {
      margin-bottom: 16px;
    }
  }
  .linkList-box {
    padding-left: 36px;
    padding-right: 60px;
    border-radius: 40px;
    border: solid 1px #ddd;
    @include transition();
    &::after {
      left: auto;
      top: calc(50% - 10px);
      right: 26px;
      width: 20px;
      height: 20px;
      background: transparent url(../images/slide-arrow-second.png) center center no-repeat;
      background-size: auto 20px;
      @include transition(background-image);
    }
    &:hover, &:focus {
      border-color: rgba($color-main,0.1);
      box-shadow: 0 0 10px 0 rgba($color-main,0.4);
      &::after {
        background-image: url(../images/slide-arrow-on.png);
      }
      .time {
        color: $color-main;
        @include transition(color);
      }
    }
    @include screen($width-mid) {
      gap: 0 12px;
    }
    @include screen($width-mobile) {
      padding: 15px 40px 15px 15px;
      border-radius: 10px;
      &::after {
        right: 16px;
      }
    }
  }
  .chip {
    flex: 0 0 auto;
    min-width: 76px;
  }
  .text {
    @extend .text-ellipsis;
    margin-bottom: 0;
    @include screen($width-mobile) {
      overflow: auto;
      text-overflow: revert;
      white-space: normal;
      margin-bottom: 4px;
    }
  }
  .time {
    color: #999;
  }
  .linkList-box.haschip {
    padding-left: 20px;
    @include screen($width-mobile) {
      padding: 15px 40px 12px 15px;
      .chip {
        margin: 0 0 10px;
      }
    }
  }
}



/*------------------------------------*\
  公告內文章
\*------------------------------------*/
.postText-desc {
  @extend .fs-l, .lh-l, .color-black, .fw-mid;
  @include screen($width-mobile) {
    background-color: $bg-second;
    color: $text-color;
    line-height: 1.5rem;
    padding: 16px;
  }
}

.postText-paraText {
  @extend .fs-xl, .lh-l, .color-text-dark;
  @include screen($width-mobile) {
    font-weight: 700;
    line-height: 1.5rem;
  }
}



/*------------------------------------*\
  linkBlock
\*------------------------------------*/
.linkBlock {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 240px;
  text-align: center;
  padding: 30px 16px;
  border: solid 1px #ddd;
  border-radius: 10px;
  overflow: hidden;
  @include screen($width-mobile) {
    padding: 30px 12px 20px;
    border-radius: 5px;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(-100% + 120px);
    left: 50%;
    width: 200%;
    height: 100%;
    background-color: $bg-second;
    transform-origin: center bottom;
    transform: translateX(-50%) rotate(-10deg);
    @include transition(transform);
  }
  &-img, &-in {
    position: relative;
    z-index: 2;
  }
  &-img {
    flex: 0 0 auto;
    margin-bottom: 24px;
    img {
      max-height: 50px;
    }
    @include screen($width-mobile) {
      margin-bottom: 20px;
      img {
        max-height: 40px;
      }
    }
  }
  &-in {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    &-head,
    &-foot {
      flex: 0 0 auto;
      &.d-flex {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px 16px;
        .actlink {
          flex: 0 0 auto;
        }
      }
    }
    &-text {
      flex: 1 1 auto;
      margin-bottom: 30px;
      @include screen($width-mobile) {
        margin-bottom: 20px;
      }
      &.empty {
        margin-bottom: 0;
      }
    }
  }
  .title {
    font-size: 20px;
    font-weight: 700;
    color: $color-second;
    margin-bottom: 30px;
    &.fs-xl {
      font-size: 30px;
      line-height: 1.2em;
      margin-bottom: 20px;
    }
    @include screen($width-mobile) {
      margin-bottom: 20px;
    }
  }
}
.linkBlock-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 48px;
  .linkBlock {
    flex: 0 0 auto;
    width: calc(33.3% - 32px);
    max-width: 300px;
  }
  @include screen($width-large) {
    gap: 20px;
    .linkBlock {
      width: calc(50% - 20px);
      max-width: 100%;
    }
  }
  @include screen($width-small) {
    .linkBlock {
      width: 100%;
    }
  }
  &.center {
    justify-content: center;
  }
  &.col-4 {
    gap: 40px;
    .linkBlock {
      width: calc(25% - 30px);
    }
    @include screen($width-xl) {
      gap: 20px;
      .linkBlock {
        width: calc(25% - 15px);
      }
    }
    @include screen($width-large) {
      .linkBlock {
        width: calc(50% - 10px);
      }
    }
    @include screen($width-small) {
      .linkBlock {
        width: 100%;
      }
    }
  }
}




/*------------------------------------*\
  客服
\*------------------------------------*/
.partRowBox {
  display: flex;
  overflow-x: hidden;
  @include screen($width-mid) {
    overflow: visible;
  }
  &-top-in {
    padding: 20px;
  }
  &-bottom {
    @extend .bgbox;
    position: relative;
    @include screen($width-mid) {
      padding-bottom: 0;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      background-color: $bg-second;
      @include screen($width-mid) {
        content: none;
      }
    }
  }
  @include screen($width-mid) {
    &-bottom-in {
      margin-bottom: 16px
    }
  }
  &-img {
    @extend .imgbox;
    flex: 0 0 auto;
    max-width: 40%;
    position: relative;
    z-index: 2;
    img {
      width: 360px;
      @include screen($width-mid) {
        width: auto;
        margin: 0 auto;
      }
    }
    &.mobile { display: none; }
    @include screen($width-mid) {
      position: relative;
      bottom: -24px;
      max-width: 100%;
      &.mobile { display: block; }
      &.web { display: none; }
    }
  }
  .textbox--customer {
    @extend .ol-custom;
    li {
      align-items: flex-start;
      @extend .mb-2x;
    }
    .num {
      margin: 0;
    }
    .text--1 {
      padding-right: 16px;
    }
    .text--2 {
      flex: 0 0 auto;
      max-width: 50%;
      padding-left: 24px;
      border-left: solid 1px $text-color;
    }
    @include screen($width-large) {
      li {
        display: grid;
        grid-template-columns: 3em auto;
        line-height: 24px;
      }
      .num {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        font-size: 18px;
        font-weight: 500;
      }
      .text--2 {
        padding: 0;
        border: none;
        max-width: 100%;
      }
    }
  }

  // 投顧
  &.type--sim {
    .partRowBox-img {
      order: 1;
      margin: 0 100px 0 120px;
      img {
        width: 410px;
      }
      @include screen($width-xl) {
        margin: 0 80px 0 40px;
      }
      @include screen($width-mid) {
        bottom: 0;
        margin: 0 40px;
        img {
          width: auto;
        }
      }
    }
    .partRowBox-text {
      order: 2;
      flex: 1 1 auto;
    }
    .partRowBox-top-in {
      padding: 0 0 40px;
      @include screen($width-mid) {
        padding-bottom: 20px;
      }
    }
    .partRowBox-bottom {
      padding-left: 20px;
      &::after {
        left: auto;
        right: 100%;
        width: 300%;
      }
      @include screen($width-mid) {
        padding-bottom: 20px;
      }
    }
  }

}



/*------------------------------------*\
  07-3 證券名稱
\*------------------------------------*/
.stockTitle {
  @extend .mb-box;
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding: 36px 30px;
  background-color: #f6f6f6;
  @include screen($width-mobile) {
    padding: 15px;
  }
  &-head, &-func {
    flex: 0 0 auto;
  }
  &-in {
    flex: 1 1 auto;
    color: $text-dark;
    &.d-flex {
      display: flex;
      gap: 0 16px;
      @include screen($width-mobile) {
        flex-direction: column;
        gap: 10px 0;
      }
    }
    .name {
      font-size: 18px;
      line-height: 30px;
      font-weight: 500;
    }
    .text {
      font-size: 24px;
      line-height: 30px;
      font-weight: 700;
    }
  }
  &-item {
    display: flex;
    gap: 0 10px;
    position: relative;
    padding-right: 16px;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: calc(50% - 8px);
      right: 0;
      width: 1px;
      height: 16px;
      background-color: $text-dark;
    }
    &:nth-last-child(1) {
      padding-right: 0;
      &::after { content: none; }
    }
    @include screen($width-mobile) {
      padding: 0;
      &::after { content: none; }
    }
  }
  @include screen($width-large) {
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    &-head {
      flex: 0 0 auto;
      order: 1;
    }
    &-func {
      flex: 1 1 auto;
      order: 2;
      text-align: right;
    }
    &-in {
      width: 100%;
      order: 3;
    }
  }
}



/*------------------------------------*\
  歷史沿革
\*------------------------------------*/
// outer
.historyBlock {
  padding-left: 100px;
  @include screen($width-mobile) {
    padding-left: 0;
  }
  &-head {
    @include web-only {
      .tabNav {
        .swiper {
          padding-left: 42px;
        }
        .swiper-button-prev,
        .swiper-button-next {
          height: 44px;
          background-color: #fff;
        }
        .btn {
          min-width: 120px;
          font-size: 18px;
          font-weight: 500;
          color: $text-dark;
          padding: 8px 15px;
          background-color: #e4e9ec;
          border-radius: 24px 24px 0 0;
          border: none;
          &.on {
            color: #fff;
            background-color: $color-main;
          }
        }
      }
    }
    @include screen($width-mobile) {
      .tabNav {
        margin-bottom: 24px;
        .btn {
          min-width: 100px;
          padding: 5px 10px;
          border-width: 1px;
        }
      }
    }
  }
  &-list {
    position: relative;
    padding-top: 40px;
    border-top-left-radius: 24px;
    box-shadow: -5px -10px 10px 0 rgba(213, 213, 213, 0.2);
    @include screen($width-mobile) {
      padding-top: 30px;
      box-shadow: -5px -6px 6px 0 rgba(213, 213, 213, 0.2);
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 2;
      top: 76px;
      left: 0;
      bottom: 0;
      width: 3px;
      background-color: #ffda75;
      @include screen($width-mobile) {
        top: 64px;
      }
    }
  }
}

// box
.historyBox {
  position: relative;
  padding: 20px 0;
  @include screen($width-mobile) {
    padding: 16px 0;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 3;
    top: 34px;
    left: -7px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #ffda75;
    @include screen($width-mobile) {
      top: 28px;
    }
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 40px;
    bottom: 0;
    right: 0;
    border-bottom: dotted 2px #e1e1e1;
    @include screen($width-mobile) {
      left: 24px !important;
    }
  }
  &:nth-last-child(1)::after {
    content: none;
  }
  &-title {
    position: absolute;
    top: 20px;
    left: -100px;
    width: 100px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 10px 16px;
    background-color: $color-main;
    border-radius: 22px 0 0 22px;
    @include screen($width-mobile) {
      display: inline-block;
      position: static;
      width: auto;
      padding: 8px 15px 8px 24px;
      margin-bottom: 16px;
      border-radius: 0 20px 20px 0;
      .text {
        display: inline;
      }
    }
    .num {
      color: #ffd9dc;
    }
    .to {
      font-weight: 400;
      @include web-only {
        transform: scaleY(2) rotate(90deg);
      }
    }
  }
  &-inner {
    font-size: 18px;
    line-height: 30px;
    padding-left: 40px;
    @include screen($width-mobile) {
      padding-left: 24px;
    }
    .title {
      font-weight: 700;
      padding: 7px 0;
    }
  }
  // &-item {
  // }
  // 月份
  &.style--num {
    &::after {
      left: 92px;
    }
    .historyBox-inner {
      line-height: 24px;
      padding-left: 36px;
      @include screen($width-mobile) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px 0;
        padding-left: 24px;
      }
    }
    .historyBox-item {
      position: relative;
      display: flex;
      padding: 10px 0;
      @include screen($width-mobile) {
        padding: 0;
      }
      .title {
        flex: 0 0 40px;
        padding: 0;
        margin-right: 16px;
        text-align: right;    
        font-weight: 500;
        color: $color-main;
        @include screen($width-mobile) {
          flex: 0 0 45px;
          text-align: center;
          font-size: 20px;
        }
      }
      .text {
        flex: 1 1 auto;
      }
    }
  }
}



/*------------------------------------*\
  imgArticle
\*------------------------------------*/
.imgArticle {
  position: relative;
  padding: 45px 0 0 36px;
  @include screen($width-large) {
    padding: 0;
  }
  &-block {
    background-color: $bg-second;
  }
  &-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 260px;
    border-top-right-radius: 80px;
    border: solid 1px #f5f2ea;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
    @include screen($width-large) {
      position: static;
      border-radius: 0;
      width: 100%;
      height: auto;
      img {
        display: block;
        height: auto;
      }
    }
  }
  &-inner {
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    line-height: 30px;
    padding: 30px 30px 30px 360px;
    @include screen($width-large) {
      display: block;
      min-height: 0;
      padding: 30px;
    }
    @include screen($width-mobile) {
      line-height: 24px;
      padding: 24px 16px 16px;
    }
  }
  &.style--2 {
    @include web-only {
      .imgArticle-img {
        height: 360px;
        // img {
          
        // }
      }
      .imgArticle-inner {
        min-height: 360px;
      }
    }
    @include screen($width-large) {
      .imgArticle-img {
        height: auto;
      }
    }
  }
}



/*------------------------------------*\
  新聞
\*------------------------------------*/
.postNav {
  display: flex;
  justify-content: space-between;
  gap: 0 40px;
  margin-top: 10px;
  padding-top: 30px;
  border-top: solid 1px $bg-second;
  @include screen($width-mobile) {
    gap: 0 12px;
    margin-top: 20px;
    padding-top: 18px;
  }
  .postNav-prev,
  .postNav-next {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 0 16px;
    max-width: 50%;
    &:hover, &:focus {
      .postNav-btn {
        background: url(../images/slide-arrow.png) center center no-repeat;
        background-size: auto 14px;
      }
    }
    @include screen($width-mobile) {
      gap: 0 6px;
    }
  }
  .postNav-prev {
    .postNav-btn { 
      order: 1; 
      transform: rotate(180deg);
    }
    .textbox { order: 2; }
  }
  .postNav-next {
    text-align: right;
  }
  
  &-btn {
    flex: 0 0 auto;
    display: block;
    width: 32px;
    height: 32px;
    background: url(../images/slide-arrow-disabled.png) center center no-repeat;
    background-size: auto 14px;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    @include transition(background-image);
    @include screen($width-mobile) {
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    }
    @include screen($width-xs) {
      width: 24px;
      height: 24px;
      background-size: auto 12px;
    }
  }
  .textbox {
    flex: 1 1 auto;
  }
  .time {
    display: block;
    color: $color-main;
    margin-bottom: 4px;
    @include screen($width-xs) {
      font-size: 14px;
    }
  }
  .name {
    display: block;
    font-size: 18px;
    @include screen($width-xs) {
      font-size: 1rem;
    }
  }
}



/*------------------------------------*\
  termbox
\*------------------------------------*/
.termbox {
  &-title {
    display: block;
    line-height: 30px;
    color: $color-main;
    padding-left: 30px;
    margin-bottom: 6px;
    background: url(../images/input-arrow.png) left top 8px no-repeat;
    background-size: 14px auto;
    &:hover, &:focus {
      background: url(../images/input-arrow-main.png) left top 8px no-repeat;
      background-size: 14px auto;
    }
    @include screen($width-mobile) {
      line-height: 24px;
      background-position: left top 3px;
      background-size: 16px auto;
    }
  }
  &-inner {
    overflow-y: auto;
    max-height: 240px;
    background-color: #fff;
    padding: 30px 20px 30px 30px;
    margin-bottom: 20px;
    @include screen($width-mobile) {
      padding: 15px;
    }
    .mCSB_inside > .mCSB_container {
      margin-right: 15px;
    }
  }
  &.open {
    .termbox-title {
      background: url(../images/input-arrow-up-main.png) left top 8px no-repeat;
      background-size: 14px auto;
      @include screen($width-mobile) {
        background-position: left top 3px;
        background-size: 16px auto;
      }
    }
  }
}



/*------------------------------------*\
  for 後台編輯器
\*------------------------------------*/
.mce-content-body {
  ul, ol {
    padding-left: 2em;
  }
}


