/*思源黑體*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
/*reset*/
body,header,footer, section, article, picture,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,
input,textarea,p,blockquote,iframe,button,a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  letter-spacing: 0.1px;
  text-decoration: none;
  border: 0;
  word-break: break-all; 
}

html,
body {
  height: 100%;
  /*DIV列印表格的背景顏色*/
  -webkit-print-color-adjust: exact;
    /*safari內網頁的字體不會無緣無故變大*/
    -webkit-text-size-adjust: 100%;
    /*safari內網頁滑動起來不會卡卡的*/
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

body {
  color: #1a1b29;
  background-color: #444;
  font:normal 16px/140%  "Arial","Noto Sans TC","微軟正黑體",sans-serif;
}

input,button,textarea,select,optgroup,option,a,button {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: none;
}

a,
button {
  color: inherit;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
 /* font-size: 1em;
  line-height: 1.5em;*/
}

ul { 
  margin: 0;
  list-style: none;
  padding: 0;
  li {
    padding: 0;
    list-style: none;
  }
}
ol {
  margin: 0;
  padding: 0; list-style: none;
}

table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
}
:hover{transition-duration: 0.3s;}
a{color:#bb1100;
&:hover{ color: #e49347;}
}
img{
  max-width: 100%; height: auto;
}

/*reset end*/
