/*------------------------------------*\
  _index_promoCredit.scss
  ___
  index頁 信用卡回饋
\*------------------------------------*/

.promoCredit {
  padding: 16px;
  &-area {
    display: flex;
    align-items: stretch;
    border-radius: 16px;
    overflow: hidden;
  }
  &-title {
    flex: 0 0 auto;
    width: 164px;
  }
  &-inner {
    flex: 1 1 auto;
    width: calc(100% - 164px);
  }
    @include screen-width($width-mid) {
      padding: 12px 8px;
      &-area {
        display: block;
        border-radius: 8px;
      }
      &-title,&-inner { width: 100%; }
    }
}

.promoCredit-title {
  padding: 16px;
  background-color: #959595;
  .title {
    margin-bottom: 12px;
    text-align: center;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
  }
  @include large-only {
    .btn {
      display: block;
      background-color: #eaeaea;
      .btn-more, .btn-more:hover {
        display: inline-block;
        color: #5bb350;
        background: url(../images/icon-link-3.svg) right 8px center no-repeat;
        background-size: 28px;
      }
    }
  }
  @include screen-width($width-mid) {
    display: flex;
    justify-content: space-between;
    padding: 0;
    .title {
      margin: 0 0 0 0;
      padding: 8px;
      font-size: 16px;
      line-height: 24px;
    }
    .btn-more {
      display: inline-block;
    }
    .btn-more, .btn-more:hover {      
      color: #fff;
      background: url(../images/icon-link-2.svg) right 8px center no-repeat;
      background-size: 24px;
    }
  }
  @include screen-width($width-mobile) {
    .title {
      padding: 4px 8px;
      font-size: 14px;
      line-height: 20px;
    }
    .btn-more {
      padding: 4px 32px 4px 0;
    }
  }
}

.promoCredit-inner {
  background-color: #fff;
  .swiper {
    padding: 16px;
    @include screen-width($width-mid) {
      padding: 8px;
    }
  }
  .swiper-slide {
    width: auto;
  }
}

// 信用卡區塊
.promoCreditItem {
  display: flex;
  align-items: stretch;
  width: 345px;
  border-radius: 8px;
  border: solid 1px #eaeaea;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.08);
  @include transition(box-shadow);
  &:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
  }
  .imgbox {
    flex: 0 0 auto;
    width: 112px;
    height: 120px;
    border-right: solid 1px #eaeaea;
    img {
      object-fit: contain;
    }
  }
  .textbox {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
  }
  .desc {
    margin-bottom: 4px;
    color: #707070;
  }
  .sub {
    @extend .fs-h3;
    font-weight: 500;
  }
  @include screen-width($width-mid) {
    width: 291px;
    .imgbox {
      width: 96px;
      height: 96px;
    }
    .textbox {
      padding: 10px 10px 10px 8px;
    }
    .desc {
      font-size: 14px;
      line-height: 20px;
    }
    .sub {
      font-size: 16px;
      line-height: 24px;
    }
  }
  @include screen-width($width-mobile) {
    width: 248px;
    .imgbox {
      width: 80px;
      height: 80px;
    }
    .textbox {
      padding: 8px;
    }
  }
}
















