/*------------------------------------*\
  _inner_filter.scss
  ___
  搜尋篩選、編輯收藏
\*------------------------------------*/

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  .icon {
    position: relative;
    flex: 0 0 auto;
    width: 44px;
    height: 44px;
    @include transition();
    &.bg-white {
      background-color: transparent;
      &::before {
        background-color: #fff;
      }
    }
    &::before {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      z-index: 2;
      position: absolute;
      top: calc(50% - 9px);
      left: calc(50% - 9px);
      border: 1px solid #B7B7B7;
      border-radius: 4px;
      @include transition();
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: calc(50% - 13px);
      left: calc(50% - 13px);
      width: 28px;
      height: 28px;
      border-radius: 50%;
      opacity: 0.6;
      @include transition();
    }
  }
  // checked
  input[type="checkbox"]:checked + .icon {
    &::before {
      background: url(../images/inner/checkbox-1.svg) center center no-repeat;
      border-color: #6ccf53;
    }
  }
  // hover 
  &:hover {
    .icon {
      &::after {
        background: #d4d4d4;
      }
    }
  }
  &:hover input[type="checkbox"]:checked + .icon {
    &::after {
      background: #add9a7;
    }
  }
  // active
  &:active .icon::after {
    background: #eaeaea;
  }
  &:active input[type="checkbox"]:checked + .icon::after {
    background: #d6ecd3;
  }
  // disabled
  input[type="checkbox"]:disabled + .icon {
    opacity: 0.35;
    &::after {
      content: none;
    }
  }
  // 部分選取
  &.check--half {
    .icon::before {
      background: url(../images/inner/checkbox-2.svg) center center no-repeat;
      border-color: #6ccf53;
    }
  }
}
.checkbox--inline {
  display: inline-flex;
  vertical-align: middle;
}



/*------------------------------------*\
  搜尋結果篩選
\*------------------------------------*/
// 排序按鈕 asc desc
.btn-sort {
  margin-right: 20px;
  padding: 4px 24px 4px 4px;
  font-size: 16px;
  line-height: 24px;
  background: url(../images/inner/searchFunc-sort-1.svg) right 4px center no-repeat;
  @include transition(color);
  &.asc {
    background: url(../images/inner/searchFunc-sort-2.svg) right 4px center no-repeat;
  }
  &.desc {
    background: url(../images/inner/searchFunc-sort-3.svg) right 4px center no-repeat;
  }
  // rwd
  @include large-only {
    &:hover {
      color: #5bb350;
    }
  }
  @include screen-width($width-mid) {
    margin-right: 8px;
    padding-right: 18px;
    font-size: 14px;
    line-height: 20px;
    background-size: 10px auto;
    background-position: right 4px center;
  }
  @include screen-width($width-xs) {
    margin-right: 4px;
  }
}
.headerM {
  .btn-sort {
    background: url(../images/inner/searchFunc-sort-4.svg) right 4px center no-repeat;
    background-size: 10px auto;
    &.asc {
      background: url(../images/inner/searchFunc-sort-5.svg) right 4px center no-repeat;
      background-size: 10px auto;
    }
    &.desc {
      background: url(../images/inner/searchFunc-sort-6.svg) right 4px center no-repeat;
      background-size: 10px auto;
    }
  }
}

// 排列方式切換按鈕 - 格線 - 清單
.btn-listType {
  display: flex;
  margin-right: 8px;
  border: 1px solid #B7B7B7;
  border-radius: 8px;
  overflow: hidden;
  button {
    width: 30px;
    height: 30px;
    @include transition();
  }
  &-grid {
    background: url(../images/inner/searchFunc-type-grid-1.svg) center center no-repeat;
    &:hover,&.open {
      background-image:  url(../images/inner/searchFunc-type-grid-2.svg);
      background-position: center center;
    }
  }
  &-list {
    background: url(../images/inner/searchFunc-type-list-1.svg) center center no-repeat;
    &:hover,&.open {
      background-image:  url(../images/inner/searchFunc-type-list-2.svg);
      background-position: center center;
    }
  }
  .open { background-color: #eaeaea; }

  @include screen-width($width-mid) {
    border-radius: 4px;
    button {
      width: 26px;
      height: 26px;
      background-size: 28px;
    }
    
  }
}
.headerM {
  .btn-listType {
    border-color: #fff;
    &-grid {
      background: url(../images/inner/searchFunc-type-grid-3.svg) center center no-repeat;
      background-size: 28px;
      &.open {
        background: #fff url(../images/inner/searchFunc-type-grid-4.svg) center center;
        background-size: 28px;
      }
    }
    &-list {
      background: url(../images/inner/searchFunc-type-list-3.svg) center center no-repeat;
      background-size: 28px;
      &.open {
        background: #fff url(../images/inner/searchFunc-type-list-4.svg) center center;
        background-size: 28px;
      }
    }
  }
}
// 篩選按鈕
.btn-filter {
  flex: 0 0 auto;
  padding: 3px 0 3px 32px;
  font-size: 16px;
  line-height: 24px;
  background: url(../images/inner/searchFunc-filter-1.svg) left center no-repeat;
  border: 1px solid #B7B7B7;
  border-radius: 8px;
  @include transition();
  &.open {
    color: #494949;
    background: #EAEAEA url(../images/inner/searchFunc-filter-3.svg) left center no-repeat;
  }
  .num {
    padding-right: 8px;
  }

  @include large-only {
    &:hover {
      color: #5bb350;
      border-color: #5bb350;
      background: url(../images/inner/searchFunc-filter-2.svg) left center no-repeat;
    }
    &:active {
      color: #494949;
      border-color: #b7b7b7;
      background: #EAEAEA url(../images/inner/searchFunc-filter-3.svg) left center no-repeat;
    }
  }
  @include screen-width($width-mid) {
    height: 28px;
    line-height: 26px;
    padding: 0 0 0 28px;
    font-size: 14px;
    line-height: 20px;
    background-size: 28px;
    border-radius: 4px;
  }
}
.headerM {
  .btn-filter {
    border-color: #fff;
    background: url(../images/inner/searchFunc-filter-4.svg) left center no-repeat;
    background-size: 28px;
    &.open {
      background: #fff url(../images/inner/searchFunc-filter-5.svg) left center no-repeat;
      background-size: 28px;
      .num { display: none; }
    }
    .text {
      display: none;
    }
    .num {
      padding-right: 3px;
    }
  }
}


/*------------------------------------*\
  搜尋結果篩選 - bar searchFunc
\*------------------------------------*/
.searchFunc {
  display: flex;
  align-items: center;
  height: 44px;
  padding: 0 12px;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3840px;
    transform: translateX(-50%);
    height: 0;
    @include transition();
  }
  .searchFunc-sec.sec-1 {
    flex: 1 1 auto;
  }
  .searchFunc-sec.sec-2 {
    display: flex;
  }
    @include screen-width($width-mid) {
      height: 40px;
      padding: 0 12px 0 8px;
      &::after {
        content: none;
      }
    }
    @include screen-width($width-xs) {
      padding: 0 8px 0 4px;
    }
}
.scrollfix-top .searchFunc {
  &::after {
    height: 1px;
    background: #d4d4d4;
  }
}
// 小網
.headerM .searchFunc {
    color: #fff;
    background: #5bb350;
}




/*------------------------------------------------------------------------*/
/*------------------------------------*\
  搜尋 側邊欄
\*------------------------------------*/
.filterNav {
  width: 284px;
  // height: 100%;
  // overflow-y: auto;
  &-title {
    padding: 10px 12px;
    font-weight: 500;
  }
  &-hr {
    position: relative;
    height: 1px;
    margin: 6px 8px 5px;
    background: #eaeaea;
    border: none;
  }
  &-head, &-foot {
    display: none;
  }
  &-inner {
    overflow-y: auto;
  }
  // RWD
  @include large-only {
    .btn-box {
      padding: 4px 12px;
    }
    .btn {
      flex: 1 1 auto;
      display: block;
      padding: 6px;
      border-radius: 8px;
    }
  }
  @include screen-width($width-mid) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    &-head, &-foot {
      flex: 0 0 auto;
      display: block;
      position: relative;
      z-index: 5;
    }
    &-head {
      height: 40px;
      padding: 10px;
      text-align: center;
    }
    &-inner {
      flex: 1 1 auto;
      // height: auto;
      overflow-y: auto;
      .btn-box { display: none; }
    }
  }
  @include screen-width($width-mobile) {
    max-height: 100vh;
  } 
}
// head
.filterNav-head {
  .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}
.filterNav-close {
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 6px;
  right: 16px;
  background: url(../images/inner/filterNav-close.svg) center center no-repeat;
  background-size: 28px;
}
// foot
.filterNav-foot {
  height: 56px;
  padding: 8px 16px;
  background-color: #fff;
  border-top: solid 1px #d4d4d4;
  .btn {
    flex: 1 1 calc(50% - 4px);
    display: block;
    margin-right: 8px;
    height: 40px;
    line-height: 40px;
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}



/*------------------------------------*\
  價格區間
\*------------------------------------*/
// 價格區間
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.inputRange-box {
  .color-error {
    padding: 4px 12px 8px 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}
.inputRange-num {
  display: flex;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 8px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: calc(50% - 4px);
    background: #b7b7b7;
  }
  .inputbox {
    flex: 1 1 50%;
    max-width: calc(50% - 14px);
    &:nth-child(1) {
      margin-right: 28px;
    }
  }
  input {
    width: 100%;
    height: 32px;
    padding: 0 8px;
    border: solid 1px #b7b7b7;
    border-radius: 8px;
    @include transition(border-color);
    &:focus {
      border-color: #6CCF53;
    }
  }
  input::placeholder { color: #b7b7b7; }
  // 前面有$
  &--price {
    input {
      padding-left: 22px;
    }
    .inputbox {
      position: relative;
      &::before {
        content: "$";
        color: #b7b7b7;
        position: absolute;
        top: 4px;
        left: 9px;
        z-index: 2;
      }
    }
  }
}
.filterNav .inputRange-num {
  padding: 6px 12px;
}
@include screen-width($width-mid) {
  .inputRange-area {
    display: flex;
    .filterNav-title {
      flex: 0 0 140px;
    }
  }
  .inputRange-box {
    width: calc(100% - 140px);
  }
  .inputRange-box .color-error {
    font-size: 12px;
    line-height: 1.6em;
    transform: scale(0.833);
    transform-origin: left center;
  }
}



/*------------------------------------*\
  選擇條件
\*------------------------------------*/
%filterNum {
  display: flex;
  align-items: center;
  margin: 0 4px;
  .text {
    @extend %text-ellipsis;
    flex: 1 1 auto;
    margin-right: 4px;
    font-size: 16px;
    line-height: 24px;
  }
  .num {
    flex: 0 0 auto;
    font-size: 14px;
    line-height: 20px;
    color: #707070;
  }
    @include large-only {
      border-radius: 8px;
      &:hover {
        background: #F9F9F9;
      }
    }
    @include screen-width($width-mid){
      .text {
        font-size: 14px;
        line-height: 20px;
      }
      .num {
        font-size: 12px;
      }
    }
}
// checkbox
.filterNum-check {
  @extend %filterNum, .checkbox;
  padding: 8px 8px 8px 4px;
  .icon {
    width: 28px;
    height: 28px;
    margin-right: 3px;
  }
}
// 分類折疊標題
.filterNum-title {
  @extend %filterNum;
  padding: 10px 0 10px 8px;
  .text {
    font-weight: 500;
  }
  .icon {
    flex: 0 0 auto;
    width: 28px;
    height: 28px;
    background: url(../images/index-slide-down.svg) center center;
  }
  &.open {
    background: #eaeaea;
    .icon {
      transform: scale(-1);
    }
  }
}

// 搜尋 分類摺疊
.filterFold-inner {
  display: none;
}








