/*------------------------------------*\
  _input.scss
  ___
  inputbox - 基本輸入框
  form - 表單單組項目(標題+內容為一組)
  驗證碼、檔案上傳等
\*------------------------------------*/
@use '../base/variables' as *;

/*------------------------------------*\
  input
\*------------------------------------*/
.inputbox {
  background-color: #fff;
  border: solid 1px #d9d9d9;
  border-radius: 6px;
  input,
  select,
  textarea {
    width: 100%;
    min-width: 0;
    height: 38px;
    line-height: 38px;
    padding: 0 10px;
    background-color: transparent;
    &:disabled {
      background-color: #f0f0f0;
    }
    // @include screen($width-mobile) {
    //   height: 42px;
    //   line-height: 40px;
    //   border-radius: 5px;
    // }
  }

  input::placeholder { color: $text-notice; }
  textarea::placeholder { color: $text-notice; }

  select { 
    padding-right: 40px;
    // color: #999;
    appearance:none; 
    -moz-appearance:none; 
    -webkit-appearance:none;
    background: url(../images/select.svg) right 10px center no-repeat; 
    background-size: 24px auto; 
    &:not(:open) { //未選擇
      color: $text-notice;
    }
    &:has(option:not([hidden]):checked) { //已選擇
      color: #333;
    }
  }
  select::-ms-expand { display: none; }

  &.inline {
    display: inline-block;
  }
}

.inputbox.ty-setNum {
  display: flex;
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    appearance: none;
  }
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  .btn {
    position: relative;
    flex: 0 0 auto;
    display: block;
    width: 38px;
    height: 38px;
    background: #E6F0F1;
    &.btn-minus, &.btn-add {
      &::after {
        content: "";
        display: block;
        width: 14px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-main;
      }
    }
    &.btn-add {
      &::before {
        content: "";
        display: block;
        width: 2px;
        height: 14px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-main;
      }
    }
  }
}

.inputbox.ty-date {
  background-image: url(../images/inputbox-date.svg);
  background-size: auto 24px;
  background-position: right 10px center;
  background-repeat: no-repeat;
}

.inputNotice {
  padding-top: 8px;
}

/*------------------------------------*\
  checkbox  radio
\*------------------------------------*/
$md-radio-checked-color: $text-placeholder;
$md-radio-border-color: $text-placeholder;
$md-radio-size: 24px;
$md-radio-checked-size: 16px;
$md-radio-ripple-size: 15px;
.radio {
  input[type="radio"] {
    display: none;
    &:checked + label {
      font-weight: 700;
      color: $color-main;
    }
    &:checked + label:before {
      border-color: $md-radio-checked-color;
    }
    &:checked + label:after {
      transform: scale(1);
    }
  }
  label {
    display: inline-block;
    min-height: $md-radio-size;
    position: relative;
    padding: 0 0 0 32px;
    margin-bottom: 0;
    cursor: pointer;
    transition: color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
    &::before, &::after {
      position: absolute;
      content: '';
      // margin-top: 0.25em;
      transition: all .3s ease;
      transition-property: transform, border-color;
    }
    &::before {
      left: 0;
      top: calc(50% - 12px);
      box-sizing: border-box;
      width: $md-radio-size;
      height: $md-radio-size;
      background: #fff;
      border: 1px solid $md-radio-border-color;
      border-radius: 50%;
    }
    &::after {
      top: calc(50% - calc($md-radio-checked-size / 2)) ;
      left: calc($md-radio-size / 2) - calc($md-radio-checked-size / 2) ;
      width: $md-radio-checked-size;
      height: $md-radio-checked-size;
      transform: scale(0);
      background: $md-radio-checked-color;
      border-radius: 50%;
    }
  }
  @include screen($width-mobile) {
    label {
      &:not(:empty) {
        padding-left: 30px;
      }
      &::before { top: 0; }
      &::after { top: calc($md-radio-size / 2) - calc($md-radio-checked-size / 2); }
    }
    &.m-icon--center label {
      &::before { top: revert; }
      &::after { top: revert; }
    }
  }
}

/*checkbox*/
// $md-checkbox-border-color: #ddd;
// $md-checkbox-checked-color: #fff;
// $md-checkbox-border-color-disabled: $color-main;
// $md-checkbox-checked-color-disabled: $color-main;
// $md-checkbox-size: 20px;
// $md-checkbox-padding: 6px;
// $md-checkbox-border-width: 2px;
// $md-checkbox-border-radius: 4px;
// $md-checkmark-width: 0.2em;
// $md-checkmark-color: $color-main; //tick-color

// .checkbox {
//   position: relative;
//   text-align: left;
//   label {
//     display: inline-block;
//     position: relative;
//     cursor: pointer;
//     vertical-align: top;
//     clear: both;
//     &:not(:empty) {
//       vertical-align: middle;
//       padding-left: 30px;
//       &::before, &::after {
//         // top: -2px;
//       }
//     }
//     &::before, &::after {
//       content: "";
//       position: absolute;
//       left: 0;
//       top: calc(50% - 11px);
//       box-sizing: border-box;
//     }
//     &::before {
//       width: $md-checkbox-size;
//       height: $md-checkbox-size;
//       background: #fff;
//       border: 2px solid $md-checkbox-border-color;
//       border-radius: $md-checkbox-border-radius;
//       cursor: pointer;
//       transition: border-color .2s;
//     }
//     &::after { // checkmark
//       $md-checkmark-size: $md-checkbox-size - 1.6 * $md-checkbox-padding;
//       transform: translate(calc($md-checkbox-size / 4), calc($md-checkbox-size / 4)) rotate(-45deg); 
//       width: $md-checkmark-size;
//       height: calc($md-checkmark-size / 1.5); 
//       border: $md-checkmark-width solid transparent;
//       border-top-style: none;
//       border-right-style: none;
//       transition: border-color .2s;
//     }
//   }
//   &.iconOnly {
//     display: inline-block;
//     width: 24px;
//     height: 24px;
//     label {
//       top: -3px;
//     }
//   }
//   input[type="checkbox"] {
//     outline: 0;
//     visibility: hidden;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 0;
//     margin: 0;
//     display: block;
//     float: left;
//     font-size: inherit;
//     &:checked {
//       + label::before {
//         background: $md-checkbox-checked-color;
//         border-color: $md-checkmark-color;
//       }
//       + label::after {
//         border-color: $md-checkmark-color;
//       }
//     }
//     &:disabled {
//       + label:before {
//         background-color: #fafafa;
//         border-color: $md-checkbox-border-color-disabled;
//       }
//       &:checked {
//         + label:after {
//            border-color: $md-checkbox-checked-color-disabled;
//         }
//       }
//     }
//   }
//   @include screen($width-mobile) {
//     label {
//       &:not(:empty) {
//         padding-left: 30px;
//       }
//       &::before, &::after {
//         top: 0;
//       }
//     }
//     &.m-icon--center label {
//       &::before { top: revert; }
//       &::after { top: calc(50% - 11px); }
//     }
//   }
// }

// .radio,
// .checkbox {
//   .label--input {
//     display: flex;
//     // flex-wrap: wrap;
//     align-items: center;
//     gap: 10px;
//     .text {
//       flex: 0 0 auto;
//     }
//   }
// }

// .radio.d-inblock,
// .checkbox.d-inblock {
//   display: inline-block;
//   margin-right: 25px;
//   margin-bottom: 10px;
// }




/*textarea*/
// textarea {
//   width: 100%; min-height: 140px; padding: 16px; overflow-y: auto; resize: none; 
// }



// fill
// .input-fill {
//   padding-left: 16px;
//   background: url(../images/input-fill.png) left top calc(0.6em - 5px) no-repeat;
//   background-size: 10px auto;
// }



/*------------------------------------*\
  表單
\*------------------------------------*/
// .formlist {
//   border-top: solid 2px #ababab;
//   &.gap-s {
//     border: none;
//     .form {
//       padding: 6px 0;
//       border: none;
//     }
//   }
// }
// .form {
//   display: flex;
//   align-items: center;
//   padding: 16px 0;
//   border-bottom: solid 1px #ddd;
//   @include screen($width-mobile) {
//     display: block;
//     padding: 16px;
//     &.m-d-flex {
//       display: flex;
//       justify-content: space-between;
//       gap: 0 16px;
//       .form-title {
//         flex: 0 1 auto;
//         width: auto;
//         margin-bottom: 0;
//       }
//       .form-inner {
//         flex: 0 0 auto;
//         text-align: right;
//       }
//     }
//   }
//   &-title {
//     flex: 0 0 auto;
//     align-self: center;
//     width: 300px;
//     font-size: 18px;
//     font-weight: 500;
//     color: $text-dark;
//     padding: 0 18px;
//     @include screen($width-xl) {
//       width: 200px;
//     }
//     @include screen($width-mobile) {
//       width: 100%;
//       padding: 0;
//       margin-bottom: 10px;
//     }
//   }
//   &-inner {
//     flex: 1 1 auto;
//     &.type--text {
//       flex: 1 1 auto;
//       padding: 12px 0;
//       @include screen($width-mobile) {
//         padding: 0;
//       }
//     }
//   }
//   &-notice {
//     padding-top: 8px;
//     // font-size: 14px;
//     color: $color-main;
//   }
// }



/*------------------------------------*\
  驗證碼
\*------------------------------------*/
// .input-verify {
//   display: flex;
//   align-items: center;
//   gap: 10px;
//   .inputbox {
//     flex: 1 1 auto;
//     max-width: 200px;
//     &.w-full {
//       max-width: 100%;
//     }
//   }
//   img {
//     flex: 0 0 auto;
//     width: 120px;
//     height: 44px;
//   }
//   .actlink {
//     @extend .a-line !optional;
//     flex: 0 0 auto;
//   }
//   @include screen($width-mid) {
//     flex-wrap: wrap;
//     .inputbox {
//       width: 100%;
//       max-width: 100%;
//     }
//   }
// }




// searchBox
.searchBox {
  max-width: 590px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 4px 10px 4px 20px;
  border: solid 2px $text-placeholder;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  @include screen($width-mobile) {
    height: 40px;
    padding: 6px 6px 6px 20px;
  }
  &-btn {
    @extend %btnHover;
    flex: 0 0 auto;
    width: 38px;
    height: 38px;
    background: $color-main url(../images/input-search.svg) center center no-repeat;
    border-radius: 50%;
    @include screen($width-mobile) {
      width: 28px;
      height: 28px;
      background-size: 18px;
    }
  }
  input {
    flex: 1 1 auto;
    font-size: 1.25em;
    line-height: 38px;
    @include screen($width-mobile) {
      font-size: 1em;
      line-height: 28px;
    }
  }
  ::placeholder {
    color: $text-placeholder;
  }
  &--nobor {
    border: none;
  }
  &.ty--result {
    margin-bottom: 16px;
    @include screen($width-mobile) {
      margin-bottom: 10px;
    }
  }
}

.searchBox-result {
  text-align: center;
  color: #000;
}



/*------------------------------------*\
  form
\*------------------------------------*/
.formbox {
  max-width: 600px;
  margin: 0 auto 40px;
  &.mb-0 { margin-bottom: 0; }
  @include screen($width-mobile) {
    max-width: 100%;
  }
  &-item {
    display: flex;
    gap: 0 10px;
    margin-bottom: 16px;
    &:last-child { margin-bottom: 0; }
    @include screen($width-mobile-m) {
      flex-direction: column;
      gap: 10px 0;
    }
  }
  &-title {
    min-width: 120px;
    font-weight: 500;
    padding: 8px 0;
    @include screen($width-mobile-m) {
      padding: 0;
    }
  }
  &-inner {
    flex: 1 1 auto;
  }
  .textbox {
    padding: 8px 0;
    @include screen($width-mobile) {
      padding: 0;
    }
  }
}

.formbox-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  .formbox {
    display: flex;
    flex: 0 1 auto;
    max-width: unset;
    margin: 0;
    gap: 0 33px;
  }
  .formbox-item {
    flex: 1 1 auto;
    flex-direction: row;
    gap: 0 10px;
    position: relative;
    margin: 0;
    &::after {
      content: "";
      display: block;
      position: absolute;
      right: -16px;
      width: 1px;
      height: 100%;
      background-color: $color-devider;
    }
    &:last-child::after {
      content: none;
    }
  }
  .formbox-title {
    flex: 0 0 auto;
    min-width: 0;
    padding: 8px 0;
  }
  .inputbox {
    flex: 1 1 auto;
    width: 200px;
  }
  .btn--main {
    min-width: 150px;
  }
  .viewSwitch a {
    white-space: nowrap;
  }
  @include screen($width-mid) {
    .inputbox {
      width: auto;
    }
  }
  @include screen($width-mobile) {
    display: grid;
    grid-template-columns: 1fr;
    .formbox-item::after {
      content: none;
    }
    .formbox {
      display: grid;
      grid-template-columns: 1fr;
      gap: 16px 0;
    }
    .inputbox {
      width: 100%;
    }
    .btn--main {
      margin-left: auto;
      margin-right: auto;
    }
    .viewSwitch {
      width: 100%;
      &-inner {
        flex: 1 1 auto;
        max-width: 400px;
      }
      a {
          flex: 1 1 auto;
        }
    }
  }
  @include screen($width-small) {
    .viewSwitch-inner {
      max-width: 100%;
    }
  }
}



