/*------------------------------------*\
  font face
\*------------------------------------*/
/* noto-sans-tc */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Open+Sans:wght@400;500;700&display=swap');

/*------------------------------------*\
  reset
\*------------------------------------*/
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, select, textarea, label, p, blockquote, th, td, iframe, button, a, header, footer {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}
body {
  font: 16px/140% 'Open Sans', 'Noto Sans TC', Helvetica, 'PingFang TC', Arial, 'Microsoft JhengHei', Sans-serif;
  font-weight: 400;
  color: #323232;
  background: #fff;
}
html {
  -webkit-text-size-adjust: 100%; /*safari內網頁的字體不會無緣無故變大*/
  -webkit-overflow-scrolling: touch; /*safari內網頁滑動起來不會卡卡的*/
  overflow-scrolling: touch;
}
a {
  color: inherit;
  text-decoration: none;
  word-break: break-word;
}
h2,h3,h4,h5,h6 { line-height: 1.4em; }
button {
  color: inherit;
  background: none;
  outline: none;
  cursor: pointer;
}
table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
}
input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: none;
}
img {
  image-rendering: -webkit-optimize-contrast; /*防止chrome將圖片縮放時平滑化處理*/
}



/*------------------------------------*\
  variables
\*------------------------------------*/
/*--------------------------*/
// color
$black: #000;

$primary-200: #f4ece7; //bg
$primary-300: #ffe2c6; //index text
$primary-400: #dba979; //index text
$primary: #8c5831; //bg
$primary-600: #5e3c22; //bg
$primary-700: #452e1c; //footer bg ,text
$primary-800: #432711;

$secondary: #79241e; //text

$tertiary: #1c2630; //title

$highlight: #f4e869; // index highlight

.text-primary { color: $primary-700; }
.text-secondary { color: $secondary; }
.text-tertiary { color: $tertiary; }
.text-highlight { color: $highlight; }

/*--------------------------*/
// font-size
%fs-l { //18 lh30
  font-size: 1.125rem; line-height: 1.875rem;
}
%fs-xl { //22 lh40
  font-size: 1.375rem; line-height: 2.5rem;
}
%fs-2l { //24 lh40
  font-size: 1.5rem; line-height: 2.5rem;
}
%fs-subTit { //30
  font-size: 1.875rem; line-height: 1.6em;
}

/*--------------------------*/
// 定義rwd尺寸設定
$screen-mx: 1520px;
$screen-xl: 1440px;
$screen-lg: 1200px;
$screen-md: 1024px;
$screen-pad: 992px;
$screen-mobile: 767px;
$screen-s: 580px;
$screen-xs: 374px;
// 函式
@mixin screen-width($screensize) {
  @media all and (max-width: $screensize) {
    @content;
  }
}

/*--------------------------*/
// 函式
// transition
@mixin transition($value: all) {
  transition: $value 0.25s;
}
// 預設使用         @include transition();
// 加入需要的項目    @include transition(變數);



/*------------------------------------*\
  setting
\*------------------------------------*/
$headerHeight: 130px;
$headerHeight-m: 60px;



